@use "@oblique/oblique/src/styles/scss/core/mixins/typography";

.ob-h1 {
	@include typography.ob-h1();
}

.ob-h2 {
	@include typography.ob-h2();
}

.ob-h3 {
	@include typography.ob-h3();
}

.ob-h4 {
	@include typography.ob-h4();
}

.ob-h5 {
	@include typography.ob-h5();
}

.ob-h6 {
	@include typography.ob-h6();
}

.ob-subtitle1 {
	@include typography.ob-subtitle1();
}

.ob-subtitle2 {
	@include typography.ob-subtitle2();
}

.ob-body1 {
	@include typography.ob-body1();
}

.ob-body2-line-height-letter-spacing {
	@include typography.ob-body2-line-height-letter-spacing();
}

.ob-body2 {
	@include typography.ob-body2();
}

.ob-button {
	@include typography.ob-button();
}

.ob-caption {
	@include typography.ob-caption();
}

.ob-overline {
	@include typography.ob-overline();
}

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 3px solid #374151;
	border-radius: 5px;
	min-height: 7rem;
	min-width: 20rem;
}
