<div class="default-layout">
	<h2>Stepper</h2>
	<ol class="nav nav-stepper" role="menu">
		<li class="nav-item valid" role="presentation">
			<a href="#nav-stepper-1" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item" role="presentation">
			<a href="#nav-stepper-2" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item active" role="presentation">
			<a href="#nav-stepper-3" class="nav-link" role="menuitem">Active</a>
		</li>
		<li class="nav-item disabled" role="presentation">
			<a href="#nav-stepper-4" class="nav-link" role="menuitem">Disabled</a>
		</li>
	</ol>
	<h2>Table</h2>
	<table class="table table-hover table-sm table-collapse-sm">
		<caption>Table caption</caption>
		<thead>
			<tr>
				<th>Table header 1</th>
				<th class="active">Table header 2</th>
				<th>Table header 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
		</tbody>
	</table>
</div>

