<div class="default-layout">
	<h1>H1 Heading</h1>
	<h2>H2 Heading</h2>
	<h3>H3 Heading</h3>
	<h4>H4 Heading</h4>
	<h5>H5 Heading</h5>
	<h6>H6 Heading</h6>
	<div class="subtitle1">Subtitle 1</div>
	<div class="body1">Body 1</div>
	<div class="overline">Overline</div>
	<div class="subtitle2">Subtitle 2</div>
	<div class="button">Button</div>
	<div class="body2">Body 2</div>
	<div class="caption">Caption</div>

	<h2 class="title">Paragraphs</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu nulla lacinia, porttitor leo eu, molestie erat. Aliquam quis eros quis lorem porta
		consectetur ut vel ex. Fusce ullamcorper id lorem nec eleifend. Morbi eget tempor tellus. Phasellus enim erat, posuere et ipsum vel, porttitor
		consectetur velit. Integer tincidunt ex a mauris dictum, a rutrum dolor dapibus. Donec egestas, quam vitae viverra vehicula, enim eros tincidunt eros,
		quis tincidunt nibh magna et libero. Sed felis diam, maximus id urna ut, efficitur malesuada nibh. Orci varius natoque penatibus et magnis dis
		parturient montes, nascetur ridiculus mus. Ut pellentesque neque et eros finibus finibus. Suspendisse potenti. Nam hendrerit metus in ligula malesuada
		semper.</p>
	<p>Example text with <a href="#">link</a>, <strong>strong</strong>, <b>bold</b>, <i>italic</i>, <em>emphasized</em>, <cite>cite</cite>, <q>quote</q>,
		<dfn>definition</dfn>, <var>variable</var>, <small>small</small>, <s>strike through</s>, <del>deleted</del>, <u>underlined</u>, <mark>marked</mark>,
		<ins>inserted</ins>, <kbd>keyboard input</kbd>, <code>code</code>, <samp>sample output</samp>, <abbr title="abbreviation">abbreviated</abbr>,
		<sup>sup</sup> and <sub>sub</sub> inline text.
	</p>

	<h2 class="title">lists</h2>
	<ul>
		<li>Amet ea est labore et anim.</li>
		<li>Ex enim mollit veniam laboris laboris.
			<ul>
				<li>Nisi ex dolore esse reprehenderit laboris dolore consectetur duis labore.</li>
				<li>Ut incididunt eiusmod nostrud laborum tempor est sunt cupidatat quis.</li>
			</ul>
		</li>
		<li>Anim eiusmod veniam mollit sunt pariatur ullamco est et cupidatat.</li>
	</ul>
	<ol>
		<li>Deserunt reprehenderit commodo pariatur officia enim cupidatat nisi magna.</li>
		<li>Sunt culpa cillum nostrud laboris irure.
			<ul>
				<li>Tempor consequat commodo exercitation labore.</li>
				<li>Elit commodo nostrud magna proident cupidatat minim est ea.</li>
			</ul>
		</li>
		<li>Tempor id aliquip in ad est et officia nisi.</li>
	</ol>
	<dl>
		<dt>Description lists</dt>
		<dd>A description list is perfect for defining terms.</dd>
		<dt>Euismod</dt>
		<dd>In excepteur fugiat irure in esse.</dd>
		<dd>In quis aliqua laboris tempor nulla sunt Lorem aute aliquip.</dd>
		<dt>Malesuada porta</dt>
		<dd>Culpa duis incididunt labore ullamco amet do cillum.</dd>
	</dl>

	<h2 class="title">Address</h2>
	<address>
		<strong>Federal Office of Information Technology, Systems and Telecommunication FOITT</strong><br>
		Eichenweg 1<br>
		3052 Zollikofen<br>
		<abbr title="Phone">P:</abbr> 058 465 90 11
	</address>

	<h2 class="title">Blockquote</h2>
	<blockquote class="blockquote">
		<p>Dolore sunt Lorem magna reprehenderit commodo sunt amet elit.</p>
		<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
	</blockquote>

	<h2>Preformatted text</h2>
	<pre>
.example-selector {{'{'}}
	margin-bottom: 1rem;
}</pre>

	<h2 class="title">Stepper</h2>
	<ol class="nav-stepper" role="menu">
		<li class="nav-item valid" role="presentation">
			<a href="#nav-stepper-1" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item" role="presentation">
			<a href="#nav-stepper-2" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item active" role="presentation">
			<a href="#nav-stepper-3" class="nav-link" role="menuitem">Active</a>
		</li>
		<li class="nav-item disabled" role="presentation">
			<a href="#nav-stepper-4" class="nav-link" role="menuitem">Disabled</a>
		</li>
	</ol>
	<ol class="nav-stepper nav-stepper-sm" role="menu">
		<li class="nav-item valid" role="presentation">
			<a href="#nav-stepper-1" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item" role="presentation">
			<a href="#nav-stepper-2" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item active" role="presentation">
			<a href="#nav-stepper-3" class="nav-link" role="menuitem">Active</a>
		</li>
		<li class="nav-item disabled" role="presentation">
			<a href="#nav-stepper-4" class="nav-link" role="menuitem">Disabled</a>
		</li>
	</ol>
	<ol class="nav-stepper nav-stepper-lg" role="menu">
		<li class="nav-item valid" role="presentation">
			<a href="#nav-stepper-1" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item" role="presentation">
			<a href="#nav-stepper-2" class="nav-link" role="menuitem">Step</a>
		</li>
		<li class="nav-item active" role="presentation">
			<a href="#nav-stepper-3" class="nav-link" role="menuitem">Active</a>
		</li>
		<li class="nav-item disabled" role="presentation">
			<a href="#nav-stepper-4" class="nav-link" role="menuitem">Disabled</a>
		</li>
	</ol>
	<h2 class="title">Table</h2>
	<table class="table table-hover table-sm table-collapse-sm">
		<caption>Table caption</caption>
		<thead>
		<tr>
			<th>Table header 1</th>
			<th class="active">Table header 2</th>
			<th>Table header 3</th>
		</tr>
		</thead>
		<tbody>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		</tbody>
	</table>

	<h2 class="title">tabs</h2>
	<ul class="nav nav-tabs" id="myTab" role="tablist">
		<li class="nav-item">
			<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
		</li>
	</ul>
	<div class="default-layout" id="myTabContent">
		<div role="tabpanel" aria-labelledby="home-tab">
			Tab Home
		</div>
	</div>

	<h2 class="title">Fieldset & legend</h2>
	<fieldset>
		<legend>legend</legend>
	</fieldset>
</div>

