h2.title {
	margin-top: 1rem;
}

.ml + .ml {
	margin-left: 1rem;
}


.subtitle1 {
	font-size: 16px;
	font-weight: 500;
}
.body1 {
	font-size: 16px;
	font-weight: 400;
}
.overline {
	font-size: 14px;
	font-weight: 500;
}
.subtitle2 {
	font-size: 14px;
	font-weight: 500;
}
.body2 {
	font-size: 14px;
	font-weight: 400;
}
.caption {
	font-size: 14px;
	font-weight: 400;
}
.button {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}
