@use "@angular/material" as mat;
@use "core/variables" as core-variables;
@use "material/material-palette";
@use "material/variables";
@use "material/mat-typography" as typo;

$legacy-theme: (
	color: (
		primary: mat.define-palette(material-palette.$oblique-legacy-primary),
		accent: mat.define-palette(material-palette.$oblique-legacy-accent),
		warn: mat.define-palette(material-palette.$oblique-legacy-warn),
	),
	typography: typo.$custom-typography,
);
$theme: (
	color: (
		primary: mat.define-palette(material-palette.$oblique-primary),
		accent: mat.define-palette(material-palette.$oblique-accent),
		warn: mat.define-palette(material-palette.$oblique-warn),
	),
	typography: typo.$custom-typography,
);
$theme-alt-500: (
	color: (
		primary: mat.define-palette(material-palette.$oblique-primary-alt-500),
		accent: mat.define-palette(material-palette.$oblique-primary-alt-500),
		warn: mat.define-palette(material-palette.$oblique-warn),
	),
	typography: typo.$custom-typography,
);

@include mat.legacy-core();

@include mat.legacy-chips-theme(mat.define-light-theme($legacy-theme));
@include mat.legacy-list-theme(mat.define-light-theme($legacy-theme));
@include mat.legacy-menu-theme(mat.define-light-theme($legacy-theme));
@include mat.legacy-slide-toggle-theme(mat.define-light-theme($legacy-theme));
@include mat.legacy-tabs-theme(mat.define-light-theme($legacy-theme));

@include mat.autocomplete-theme(mat.define-light-theme($theme));
@include mat.badge-theme(mat.define-light-theme($theme-alt-500));
@include mat.button-theme(mat.define-light-theme($theme));
@include mat.button-toggle-theme(mat.define-light-theme($theme));
@include mat.card-theme(mat.define-light-theme($theme));
@include mat.checkbox-theme(mat.define-light-theme($theme));
@include mat.datepicker-theme(mat.define-light-theme($theme-alt-500));
@include mat.dialog-theme(mat.define-light-theme($theme));
@include mat.expansion-theme(mat.define-light-theme($theme));
@include mat.fab-theme(mat.define-light-theme($theme));
@include mat.form-field-theme(mat.define-light-theme($theme));
@include mat.icon-theme(mat.define-light-theme($theme));
@include mat.input-theme(mat.define-light-theme($theme));
@include mat.radio-theme(mat.define-light-theme($theme));
@include mat.paginator-theme(mat.define-light-theme($theme));
@include mat.progress-bar-theme(mat.define-light-theme($theme));
@include mat.slider-theme(mat.define-light-theme($theme-alt-500));
@include mat.sort-theme(mat.define-light-theme($theme));
@include mat.stepper-theme(mat.define-light-theme($theme));
@include mat.table-theme(mat.define-light-theme($theme));
@include mat.tooltip-theme(mat.define-light-theme($theme));

// import to overwrite mat-component-specifics
@import "material/mat-autocomplete";
@import "material/mat-button";
@import "material/mat-card";
@import "material/mat-checkbox-radio";
@import "material/mat-chip";
@import "material/mat-datepicker";
@import "material/mat-dialog";
@import "material/mat-expansion-panel";
@import "material/mat-form";
@import "material/mat-form-field";
@import "material/mat-icon";
@import "material/mat-list";
@import "material/mat-paginator";
@import "material/mat-progress-bar";
@import "material/mat-slider";
@import "material/mat-select";
@import "material/mat-stepper";
@import "material/mat-table";
@import "material/mat-tab";
@import "material/mat-tooltip";
