/*!
 * @deprecated since version 8.0.0. It will be removed in Oblique 10, as by then Bootstrap will no longer be supported by Oblique.
 */
@use "core/mixins/layout";
@use "core/mixins/nav";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/grid";

.text-ellipsis {
	width: 100%;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.d-layout-collapsed {
	@include layout.ob-media-breakpoint-up(md) {
		display: none;
	}
}

.d-layout-expanded {
	@include layout.ob-media-breakpoint-down(md) {
		display: none;
	}
}

.hover-effect {
	> * {
		@include nav.ob-nav-hover();
	}
}
