@use "@angular/material" as mat;
@use "./core/variables" as core-variables;
@use "./material/material-palette";
@use "./material/variables";
@use "./material/mat-typography" as typo;

// import to overwrite mat-component-specifics
@use "./material/mat-badge";
@use "./material/mat-button";
@use "./material/mat-card";
@use "./material/mat-autocomplete";
@use "./material/mat-checkbox-radio";
@use "./material/mat-chip";
@use "./material/mat-datepicker";
@use "./material/mat-dialog";
@use "./material/mat-expansion-panel";
@use "./material/mat-form";
@use "./material/mat-form-field";
@use "./material/mat-icon";
@use "./material/mat-list";
@use "./material/mat-menu";
@use "./material/mat-paginator";
@use "./material/mat-progress-bar";
@use "./material/mat-slide-toggle";
@use "./material/mat-slider";
@use "./material/mat-select";
@use "./material/mat-sort";
@use "./material/mat-stepper";
@use "./material/mat-table";
@use "./material/mat-tab";
@use "./material/mat-tooltip";

$theme: (
	color: (
		primary: mat.m2-define-palette(material-palette.$oblique-primary, 600, 100, 700),
		accent: mat.m2-define-palette(material-palette.$oblique-primary, 600, 100, 700),
		warn: mat.m2-define-palette(material-palette.$oblique-warn, 800, 100, 900),
	),
	typography: typo.$custom-typography,
);
$theme-alt-500: (
	color: (
		primary: mat.m2-define-palette(material-palette.$oblique-primary, 400, 100, 700),
		accent: mat.m2-define-palette(material-palette.$oblique-primary, 400, 100, 700),
		warn: mat.m2-define-palette(material-palette.$oblique-warn, 800, 100, 900),
	),
	typography: typo.$custom-typography,
);
$theme-slide-toggle: (
	color: (
		primary: mat.m2-define-palette(material-palette.$oblique-primary-slide-toggle),
		accent: mat.m2-define-palette(material-palette.$oblique-primary-slide-toggle),
		warn: mat.m2-define-palette(material-palette.$oblique-warn-slide-toggle),
	),
	typography: typo.$custom-typography,
);
$theme-tabs: (
	color: (
		primary: mat.m2-define-palette(material-palette.$oblique-primary-tabs),
		accent: mat.m2-define-palette(material-palette.$oblique-primary-tabs),
		warn: mat.m2-define-palette(material-palette.$oblique-warn),
	),
	typography: typo.$custom-typography,
);

@include mat.elevation-classes();
@include mat.app-background();

@include mat.tree-theme(mat.m2-define-light-theme($theme));
@include mat.toolbar-theme(mat.m2-define-light-theme($theme));
@include mat.bottom-sheet-theme(mat.m2-define-light-theme($theme));
@include mat.snack-bar-theme(mat.m2-define-light-theme($theme));
@include mat.autocomplete-theme(mat.m2-define-light-theme($theme));
@include mat.badge-theme(mat.m2-define-light-theme($theme-alt-500));
@include mat.button-theme(mat.m2-define-light-theme($theme));
@include mat.button-toggle-theme(mat.m2-define-light-theme($theme));
@include mat.card-theme(mat.m2-define-light-theme($theme));
@include mat.checkbox-theme(mat.m2-define-light-theme($theme));
@include mat.chips-theme(mat.m2-define-light-theme($theme));
@include mat.datepicker-theme(mat.m2-define-light-theme($theme-alt-500));
@include mat.timepicker-theme(mat.m2-define-light-theme($theme-alt-500));
@include mat.dialog-theme(mat.m2-define-light-theme($theme));
@include mat.expansion-theme(mat.m2-define-light-theme($theme));
@include mat.fab-theme(mat.m2-define-light-theme($theme));
@include mat.form-field-theme(mat.m2-define-light-theme($theme));
@include mat.icon-theme(mat.m2-define-light-theme($theme));
@include mat.input-theme(mat.m2-define-light-theme($theme));
@include mat.list-theme(mat.m2-define-light-theme($theme));
@include mat.menu-theme(mat.m2-define-light-theme($theme));
@include mat.paginator-theme(mat.m2-define-light-theme($theme));
@include mat.progress-bar-theme(mat.m2-define-light-theme($theme-alt-500));
@include mat.progress-spinner-theme(mat.m2-define-light-theme($theme));
@include mat.radio-theme(mat.m2-define-light-theme($theme));
@include mat.ripple-theme(mat.m2-define-light-theme($theme));
@include mat.slide-toggle-theme(mat.m2-define-light-theme($theme-slide-toggle));
@include mat.slider-theme(mat.m2-define-light-theme($theme-alt-500));
@include mat.sort-theme(mat.m2-define-light-theme($theme));
@include mat.stepper-theme(mat.m2-define-light-theme($theme));
@include mat.table-theme(mat.m2-define-light-theme($theme));
@include mat.tabs-theme(mat.m2-define-light-theme($theme-tabs));
@include mat.tooltip-theme(mat.m2-define-light-theme($theme));
@include mat.option-theme(mat.m2-define-light-theme($theme));
@include mat.pseudo-checkbox-theme(mat.m2-define-light-theme($theme));
