<h2 class="page-header">{{ "i18n.routes.samples.sticky.title" | translate }}</h2>
<sc-description component="sticky"></sc-description>
<ob-column-layout [left]="false">
	<ob-sticky [headerSize]="headerSize" [footerSize]="footerSize" [noLayout]="noLayout" column-main-content>
		<ng-template #obStickyHeader *ngIf="stickyHeader">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-secondary">Left</button>
				<button type="button" class="btn btn-secondary">Middle</button>
				<button type="button" class="btn btn-secondary">Right</button>
			</div>
		</ng-template>
		<ng-template #obStickyMain>
			<h1>Default Layout</h1>
			<div class="card mb-3">
				<div class="card-header">Featured</div>
				<div class="card-body">
					<h4 class="card-title">Special title treatment</h4>
					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
			<span class="ob-screen-reader-only">Message</span>
			<strong>Ok!</strong> You read <a href="#">this default callout message</a>.
		</ng-template>
		<ng-template #obStickyFooter *ngIf="stickyFooter">
			<div class="ob-sticky-actions">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-secondary">Left</button>
					<button type="button" class="btn btn-secondary">Middle</button>
					<button type="button" class="btn btn-secondary">Right</button>
				</div>
			</div>
		</ng-template>
	</ob-sticky>
	<div column-right-content>
		<div class="form-check">
			<input type="checkbox" id="or-sticky-header" class="form-check-input" [(ngModel)]="stickyHeader" />
			<label class="form-check-label" for="or-sticky-header">Sticky header?</label>
		</div>
		<div class="form-group">
			<label for="headerSize">Header size</label>
			<select type="number" id="headerSize" [(ngModel)]="headerSize" class="form-control" [disabled]="!stickyHeader">
				<option *ngFor="let size of sizes" [ngValue]="size.num">{{ size.name }}</option>
			</select>
		</div>
		<div class="form-check">
			<input type="checkbox" id="or-sticky-footer" class="form-check-input" [(ngModel)]="stickyFooter" />
			<label class="form-check-label" for="or-sticky-footer">Sticky footer?</label>
		</div>
		<div class="form-group">
			<label for="headerSize">Footer size</label>
			<select type="number" id="footerSize" [(ngModel)]="footerSize" class="form-control" [disabled]="!stickyFooter">
				<option *ngFor="let size of sizes" [ngValue]="size.num">{{ size.name }}</option>
			</select>
		</div>
		<div class="form-check">
			<input type="checkbox" id="or-sticky-layout" class="form-check-input" [(ngModel)]="noLayout" />
			<label class="form-check-label" for="or-sticky-layout">remove main content layout?</label>
		</div>
	</div>
</ob-column-layout>
<sc-api component="sticky"></sc-api>
