<div class="default-layout">
	<h2>{{'i18n.routes.samples.filter-box.title' | translate}}</h2>
	<or-description component="filter-box"></or-description>
	<or-column-layout [left]="false" [right]="true">
		<div column-main-content>
			<or-filter-box [(pattern)]="patterns[0]" placeholder="{{placeholder}}" (patternClear)="incrementCleared()" (patternChange)="incrementChanged()">
			</or-filter-box>
			<ul>
				<li *ngFor="let item of items | patternFilter:patterns[0]">{{item}}</li>
			</ul>
		</div>
		<div class="default-layout" column-right-content>
			<h3>Controls</h3>
			<div>
				<label>Placeholder</label>
				<input type="text" [(ngModel)]="placeholder">
			</div>
			<p>cleared: {{cleared}}</p>
			<p>cleared: {{changed}}</p>
		</div>
	</or-column-layout>
	<or-api component="filter-box"></or-api>
</div>

