<p>
	Reduce your browser's window size in order to see the section's background color changing from red to blue. Or increase it for the
	opposite effect.
</p>
<p>
	The <code>ob-media-breakpoint-down</code> mixin is used to define CSS rules that are only applied when the size of the viewport is smaller
	than the value passed as parameter (in this example, the <code>md</code> value).
</p>
<p>The <dfn>viewport</dfn> is the portion of the browser's window where the application is rendered.</p>

<section>
	<p class="sm"><strong>Blue</strong> background for small screens</p>
	<p class="lg"><strong>Red</strong> background for large screens</p>
</section>
