@use "@oblique/oblique/src/styles/scss/core/palette";
@use "@oblique/oblique/src/styles/scss/core/mixins/layout";

section {
	background-color: palette.$ob-red-600;
	@include layout.ob-media-breakpoint-down(md) {
		background-color: palette.$ob-blue-600;
	}

	.sm {
		display: none;

		@include layout.ob-media-breakpoint-down(md) {
			display: inline;
		}
	}

	.lg {
		display: inline;

		@include layout.ob-media-breakpoint-down(md) {
			display: none;
		}
	}
}
