<h3>Address: <code>&lt;address&gt;...&lt;/address&gt;</code></h3>
<address>
	The Oblique Team <br />
	Eidgenössisches Finanzdepartement EFD<br />
	Bundesamt für Informatik und Telekommunikation BIT<br />
	Chapter Entwicklung 4 (BS-BSC-EN4)<br />

	Standortadresse: Eichenweg 1, 3052 Zollikofen<br />
	<a href="mailto:oblique@bit.admin.ch">oblique&#64;bit.admin.ch</a><br />
</address>
<hr />

<h3>Blockquotes: <code>&lt;blockquote&gt;...&lt;/blockquote&gt;</code></h3>
<blockquote>
	"I love deadlines. I like the whooshing sound they make as they fly by."
	<footer>— Douglas Adams, author of "The Hitchhiker's Guide to the Galaxy"</footer>
</blockquote>
<hr />

<h3>Fieldset: <code>&lt;fieldset&gt;&lt;legend&gt;...&lt;/legend&gt; ...&lt;fieldset&gt;</code></h3>
<form class="flex-row space-around">
	<fieldset>
		<legend>The Quest for the Perfect Emoji</legend>
		<p>Choose your emoji companion:</p>

		<label for="happy"> <input type="radio" id="happy" name="emoji" value="😄" /> 😄 Happy </label><br />

		<label for="cool"> <input type="radio" id="cool" name="emoji" value="😎" /> 😎 Cool </label><br />

		<label for="alien"> <input type="radio" id="alien" name="emoji" value="👽" /> 👽 Alien </label><br />

		<p>Remember, your choice determines your mood for the day! 😄✨</p>
	</fieldset>
	<fieldset disabled>
		<legend>The Monster Mashup: Pick Your Favorite Creatures</legend>
		<input type="radio" id="sasquatch" name="monster" value="sasquatch" />
		<label for="sasquatch"> Sasquatch</label><br />

		<input type="radio" id="kraken" name="monster" value="kraken" />
		<label for="kraken"> Kraken</label><br />

		<input type="radio" id="unicorn" name="monster" value="unicorn" checked="true" />
		<label for="unicorn"> Unicorn (because they're real in our hearts)</label><br />
		<p>This fieldset disables its inputs</p>
	</fieldset>
</form>
<hr />

<h3>Paragraphs: <code>&lt;p&gt;...&lt;/p&gt;</code></h3>
<p>
	Did you know that ducks make echo songs that are inaudible to human ears? Imagine, there might be a duck opera
	happening right now, and we're totally missing out! While we're here learning HTML tags, ducks could be quacking their
	way through "The Magic Flute" in duck language. Quack on!
</p>

<hr />

<h3>Preformatted text: <code>&lt;pre&gt;...&lt;/pre&gt;</code></h3>
<div class="flex-row">
	<pre role="img" aria-label="ASCII COW">
      ________
       Mooooohw
      ________
          \   ^__^
           \  (oo)\_______
              (__)\       )\/\
                  ||----w |
                  ||     ||
</pre
	>
	<pre>
Roses are red,
Violets are blue,
This text keeps its format,
From the first line to the last, phew!
	</pre
	>
</div>
