/*
This file is used to enhance the appearance of one or more of the Oblique code examples.
It is NOT required in order to use any Oblique features.
*/
hr {
	margin-top: 2em;
	margin-bottom: 2em;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.space-around {
	justify-content: space-around;
}
