<table class="ob-table ob-table-plain">
	<caption>
		HTML table with the
		<code>ob-table-plain</code>
		class.
	</caption>
	<thead>
		<tr>
			<th>NO.</th>
			<th>NAME</th>
			<th>WEIGHT</th>
			<th>SYMBOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td>Hydrogen</td>
			<td>1.0079</td>
			<td>H</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td>Helium</td>
			<td>4.0026</td>
			<td>He</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td>Lithium</td>
			<td>6.941</td>
			<td>Li</td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td>Beryllium</td>
			<td>9.0122</td>
			<td>Be</td>
		</tr>
		<tr>
			<th scope="row">5</th>
			<td>Boron</td>
			<td>10.811</td>
			<td>B</td>
		</tr>
		<tr>
			<th scope="row">6</th>
			<td>Carbon</td>
			<td>12.0107</td>
			<td>C</td>
		</tr>
		<tr>
			<th scope="row">7</th>
			<td>Nitrogen</td>
			<td>14.0067</td>
			<td>N</td>
		</tr>
		<tr>
			<th scope="row">8</th>
			<td>Oxygen</td>
			<td>15.9994</td>
			<td>O</td>
		</tr>
		<tr>
			<th scope="row">9</th>
			<td>Fluorine</td>
			<td>18.9984</td>
			<td>F</td>
		</tr>
		<tr>
			<th scope="row">10</th>
			<td>Neon</td>
			<td>20.1797</td>
			<td>Ne</td>
		</tr>
	</tbody>
</table>
