<h2 class="page-header">{{ "i18n.routes.samples.nav-tree.title" | translate }}</h2>
<ob-description component="nav-tree"></ob-description>
<ob-column-layout [left]="false" [right]="true">
	<ob-nav-tree
		#obNavTree
		column-main-content
		[items]="items"
		[prefix]="'nav-tree-sample'"
		[filterPattern]="filter.pattern"
		[activateAncestors]="activateAncestors"
		[variant]="variant"
		[obNavTreeFakeFocus]="useFakeFocus ? obFilterBox : null"
	>
		<li class="nav-item nav-header" role="presentation">
			<h3 class="nav-header-title" *ngIf="!filter.pattern">Menu Sample</h3>
			<h3 class="nav-header-title" *ngIf="filter.pattern">{{ "i18n.common.filter.results" | translate }}</h3>
		</li>
	</ob-nav-tree>
	<div column-right-content>
		<h2>Controls</h2>
		<div class="form-group row">
			<label class="col-3 col-form-label">Filter</label>
			<div class="col-9">
				<input class="form-control" [(ngModel)]="filter.pattern" #obFilterBox />
			</div>
		</div>
		<div class="form-group row">
			<label class="col-3 col-form-label">Toggle</label>
			<div class="col-9">
				<div class="btn-group">
					<button class="btn btn-secondary" role="button" (click)="obNavTree.collapseAll()">
						<span class="fa fa-compress"></span> {{ "i18n.common.collapseAll" | translate }}
					</button>
					<button class="btn btn-secondary" role="button" (click)="obNavTree.expandAll()">
						<span class="fa fa-expand"></span> {{ "i18n.common.expandAll" | translate }}
					</button>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-3 col-form-label">Variant</label>
			<div class="col-9">
				<div [(ngModel)]="variant" ngbRadioGroup name="variant" class="btn-group-toggle">
					<!-- TODO: remove `(click)` when https://github.com/ng-bootstrap/ng-bootstrap/issues/1125 -->
					<label class="btn btn-secondary" ngbTooltip=".nav-bordered.nav-hover" (click)="variant = 'nav-bordered nav-hover'">
						<input type="radio" value="nav-bordered nav-hover" /> Default
					</label>
					<label class="btn btn-secondary" ngbTooltip=".nav-hover" (click)="variant = 'nav-hover'">
						<input type="radio" value="nav-hover" /> Hover only
					</label>
					<label class="btn btn-secondary" ngbTooltip=".nav-bordered" (click)="variant = 'nav-bordered'">
						<input type="radio" value="nav-bordered" /> Bordered only
					</label>
					<label class="btn btn-secondary" (click)="variant = ''"> <input type="radio" value="" /> None </label>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-3 col-form-label">Route options</label>
			<div class="col-9">
				<div class="form-check">
					<input type="checkbox" id="nav-tree-sample-router-rla-exact" class="form-check-input" [(ngModel)]="activateAncestors" />
					<label class="form-check-label" for="nav-tree-sample-router-rla-exact">Exact router link for active menu?</label>
				</div>
			</div>
		</div>
		<div class="form-group row">
			<label class="col-3 col-form-label">Keyboard Navigation</label>
			<div class="col-9">
				<div class="form-check">
					<input type="checkbox" id="nav-tree-sample-use-fake-focus" class="form-check-input" [(ngModel)]="useFakeFocus" />
					<label class="form-check-label" for="nav-tree-sample-use-fake-focus">Use Fake Focus?</label>
				</div>
			</div>
		</div>
	</div>
</ob-column-layout>
<ob-api component="nav-tree"></ob-api>
