<h2>{{ "i18n.routes.samples.column-layout.title" | translate }}</h2>
<sc-description component="column-layout"></sc-description>
<ob-column-layout [left]="false" [right]="true">
	<ob-column-layout [left]="left" [right]="right" [noLayout]="noLayout" [wider]="wider" #obColumnLayout column-main-content>
		<ng-container column-left-content>
			<h3 class="nav-header-title">Left Column</h3>
		</ng-container>
		<ng-container column-main-content>
			<h1>Three-Column Layout</h1>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fringilla finibus obci, vitae sollicitudin massa laoreet vel. Donec
				libero quam, dictum quis obci ac, hendrerit egestas urna. Ut cursus euismod leo ut vulputate. Vestibulum luctus sapien a finibus
				ornare. Integer bibendum dui eu lacus tempor, eget mollis turpis pharetra. Ut nec nulla nec justo ultricies tempor at non ante.
				Aliquam diam turpis, tincidunt sit amet tincidunt viverra, suscipit sed metus. Fusce et rhoncus tortor.
			</p>
			<p>
				Mauris facilisis leo eu convallis luctus. Sed vel est porta, tempor ex vel, finibus arcu. Suspendisse id consectetur leo. Ut at enim
				eget magna pellentesque posuere. Nam id elementum est, ac consequat nulla. Nam consectetur maximus sodales. In placerat pharetra
				imperdiet.
			</p>
			<p>
				Curabitur lacinia, odio at semper tempor, massa tellus tempus dolor, id malesuada nibh nisi in nulla. Nulla ipsum neque, tincidunt a
				orci quis, ultricies maximus tellus. Aenean ut purus non nisl hendrerit mollis. Nunc viverra nisi erat, ac vehicula justo tincidunt
				eget. Proin nec accumsan odio, nec vehicula mauris. Fusce quam metus, vestibulum vel congue eu, eleifend quis mauris. Nulla blandit
				eu nisl at vulputate.
			</p>
			<p>
				Aenean sagittis eu magna a mollis. Nullam ultrices massa a tempor ultricies. Nulla sit amet malesuada justo, id placerat nisi.
				Aliquam in ipsum hendrerit, maximus ex vitae, semper ex. Maecenas porttitor, enim ut pellentesque malesuada, ligula arcu malesuada
				magna, nec laoreet dui risus vitae libero. Mauris sit amet fringilla lectus, nec molestie libero. Integer tincidunt in nulla eget
				placerat. Sed et enim sed nibh vestibulum dignissim. Nunc posuere facilisis erat. Nam id sem sollicitudin, scelerisque ligula a,
				fermentum turpis.
			</p>
			<p>
				Nullam euismod ipsum posuere iaculis accumsan. Nam at tellus ultricies, dignissim dolor sit amet, imperdiet turpis. Donec magna
				erat, pulvinar id mauris eget, commodo sodales augue. Cras placerat sodales metus. In nec erat efficitur, vehicula lacus at,
				convallis enim. Ut eleifend rhoncus urna, at lobortis elit maximus id. Suspendisse potenti. Phasellus elit magna, congue sed elit a,
				dictum convallis lacus. Nulla facilisi.
			</p>
		</ng-container>
		<ng-container column-right-content>
			<h3 class="nav-header-title">Right Column</h3>
		</ng-container>
	</ob-column-layout>
	<ng-container column-right-content>
		<h3>Controls</h3>
		<div>
			<div class="form-check form-check-inline">
				<input type="checkbox" id="or-column-layout-left" class="form-check-input" [(ngModel)]="left" />
				<label class="form-check-label" for="or-column-layout-left">Left column?</label>
			</div>
			<button (click)="obColumnLayout.toggleLeft()" *ngIf="left">Toggle</button>
		</div>
		<div>
			<div class="form-check form-check-inline">
				<input type="checkbox" id="or-column-layout-right" class="form-check-input" [(ngModel)]="right" />
				<label class="form-check-label" for="or-column-layout-right">Right column?</label>
			</div>
			<button (click)="obColumnLayout.toggleRight()" *ngIf="right">Toggle</button>
		</div>
		<div>
			<div class="form-check form-check-inline">
				<input type="checkbox" id="or-column-layout-no" class="form-check-input" [(ngModel)]="noLayout" />
				<label class="form-check-label" for="or-column-layout-no">Remove layout</label>
			</div>
			<button (click)="noLayout = !noLayout" *ngIf="right">Toggle</button>
		</div>
		<div>
			<div class="form-check form-check-inline">
				<input type="checkbox" id="or-column-layout-wide" class="form-check-input" [(ngModel)]="wider" />
				<label class="form-check-label" for="or-column-layout-wide">Wider columns</label>
			</div>
		</div>
	</ng-container>
</ob-column-layout>
<sc-api component="column-layout"></sc-api>
