<div class="default-layout">
	<h2 class="page-header">{{'i18n.routes.samples.column-layout.title' | translate}}</h2>
	<p class="lead">
		Disposes content within collapsible/expansible columns. Click on the column toggle buttons to collapse the side columns.
	</p>
	<div class="row">
		<div class="col-md-9">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title mb-0">Preview <small>(using <code>or-column-layout</code> component with content projection)</small></h3>
				</div>
				<or-column-layout [left]="left" [right]="right" #orColumnLayout>
					<div column-left-content class="default-layout">
						<h3 class="nav-header-title">Left Column</h3>
						<div class="sample mt-3">
							<div class="callout callout-default">
								<p>Nulla consectetur nulla reprehenderit dolore cillum ea.</p>
							</div>
							<div class="callout callout-default">
								<p>Eiusmod do est non velit velit.</p>
							</div>
						</div>
					</div>
					<div column-main-content class="default-layout">
						<h1>Three-Column Layout</h1>
						<div class="sample mt-3">
							<or-search-box [items]="searchItems" [slide]="false" class="mb-3"></or-search-box>
							<div class="callout callout-default">
								<p>Nulla consectetur nulla reprehenderit dolore cillum ea.</p>
							</div>
							<div class="callout callout-default">
								<p>Eiusmod do est non velit velit.</p>
							</div>
						</div>
					</div>
					<div column-right-content class="default-layout">
						<h3 class="nav-header-title">Right Column</h3>
						<div class="sample mt-3">
							<div class="callout callout-default">
								<p>Nulla consectetur nulla reprehenderit dolore cillum ea.</p>
							</div>
							<div class="callout callout-default">
								<p>Eiusmod do est non velit velit.</p>
							</div>
						</div>
					</div>
				</or-column-layout>
			</div>
		</div>
		<div class="col-md-3">
			<div class="card h-100">
				<h3 class="card-header">Controls</h3>
				<div class="card-body">
					<div class="d-flex">
						<div class="form-check">
							<input type="checkbox" id="or-column-layout-left" class="form-check-input"
								   [(ngModel)]="left">
							<label class="form-check-label" for="or-column-layout-left">Left column?</label>
						</div>
						<div class="ml-auto" *ngIf="left">
							<button class="btn btn-sm btn-secondary" (click)="orColumnLayout.toggleLeft()">Toggle</button>
						</div>
					</div>
					<div class="d-flex">
						<div class="form-check">
							<input type="checkbox" id="or-column-layout-right" class="form-check-input"
								   [(ngModel)]="right">
							<label class="form-check-label" for="or-column-layout-right">Right column?</label>
						</div>
						<div class="ml-auto" *ngIf="right">
							<button class="btn btn-sm btn-secondary" (click)="orColumnLayout.toggleRight()">Toggle</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card mt-3">
		<div class="card-header">
			<h3 class="card-title mb-0">Preview (using <code>orColumnPanel</code> and <code>orColumnToggle</code> directives)</h3>
		</div>
		<div class="column-layout">
			<div class="column-left d-print-none" role="complementary" orColumnPanel>
				<button type="button" class="column-toggle-left" orColumnToggle>
					<span class="sr-only">{{'i18n.oblique.column.left.toggle' | translate}}</span>
				</button>
				<div class="column-content">
					<div class="default-layout">
						<h3 class="nav-header-title">Left Column</h3>
						<div class="sample mt-3">
							<div class="callout callout-default">
								<p>Nulla consectetur nulla reprehenderit dolore cillum ea.</p>
							</div>
							<div class="callout callout-default">
								<p>Eiusmod do est non velit velit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="column-main">
				<div class="default-layout">
					<h1>Three-Column Layout</h1>
					<div class="sample mt-3">
						<div class="callout callout-default">
							<p>Nulla consectetur nulla reprehenderit dolore cillum ea.</p>
						</div>
						<div class="callout callout-default">
							<p>Eiusmod do est non velit velit.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="column-right" role="complementary" orColumnPanel>
				<button type="button" class="column-toggle-right" orColumnToggle>
					<span class="sr-only">{{'i18n.oblique.column.right.toggle' | translate}}</span>
				</button>
				<div class="column-content">
					<div class="default-layout">
						<h3 class="nav-header-title">Right Column</h3>
						<div class="sample mt-3">
							<div class="callout callout-default">
								<p>Nulla consectetur nulla reprehenderit dolore cillum ea.</p>
							</div>
							<div class="callout callout-default">
								<p>Eiusmod do est non velit velit.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


