<h2 class="page-header">Nested form</h2>
<form obParentFormDirective [formGroup]="parentForm" (submit)="validateForm(parentForm.valid)" (reset)="resetForm()">
	<h3>Reactive form</h3>
	<ob-nested-form formControlName="child" [nestedForm]="child.nestedForm">
		<sb-nested-form-child-sample #child />
	</ob-nested-form>
	<mat-form-field obErrorMessages>
		<mat-label>Reactive Material Parent</mat-label>
		<input matInput formControlName="parent" />
		<mat-error />
	</mat-form-field>
	<div class="form-actions">
		<button mat-flat-button type="reset">{{ "i18n.common.reset" | translate }}</button>
		<button mat-flat-button type="submit" color="primary">{{ "i18n.common.save" | translate }}</button>
	</div>
</form>
<h4>Form value</h4>
<pre>{{ parentForm.value | json }}</pre>

<form #ngForm obParentFormDirective (submit)="validateForm(ngForm.valid)">
	<h3>Template driven form</h3>
	<ob-nested-form name="child" [nestedForm]="childTD.ngForm.control" [(ngModel)]="model.child">
		<sb-nested-form-child-td-sample #childTD />
	</ob-nested-form>
	<mat-form-field obErrorMessages>
		<mat-label>Template Material Parent</mat-label>
		<input matInput name="parent" required [(ngModel)]="model.parent" />
		<mat-error />
	</mat-form-field>
	<div class="form-actions">
		<button mat-flat-button type="reset">{{ "i18n.common.reset" | translate }}</button>
		<button mat-flat-button type="submit" color="primary">{{ "i18n.common.save" | translate }}</button>
	</div>
</form>
<h4>Form value</h4>
<pre>{{ model | json }}</pre>
