<div ngForm>
	<mat-form-field obErrorMessages>
		<mat-label>Template Material Child 1</mat-label>
		<input matInput name="field1" required [(ngModel)]="field1" />
		<mat-error />
	</mat-form-field>
	<mat-form-field obErrorMessages>
		<mat-label>Template Material Child 2</mat-label>
		<input matInput name="field2" required [(ngModel)]="field2" />
		<mat-error />
	</mat-form-field>
	<ob-nested-form name="grandchild" [nestedForm]="grandChildTD.ngForm().control" [(ngModel)]="grandchild">
		<sb-nested-form-grandchild-td-sample #grandChildTD />
	</ob-nested-form>
</div>
