@use "../../../styles/scss/core/variables";

:host {
	display: flex;
	flex-direction: column;
	width: 100%;

	&::ng-deep app-tabs {
		box-shadow: 0 0 10px rgba(0, 0, 0, 35%);
	}
}

.tabs-container {
	display: flex;
	text-wrap: nowrap;
	overflow: auto;
}

.tabs-content-container {
	padding: 1rem;
	border-radius: 0 4px 4px;
}

button {
	border: none;
	padding: 10px 25px;
	background: #ffffff;
	cursor: pointer;
	color: variables.$inactive;
	font-weight: bold;

	&.active {
		border-bottom: 3px solid variables.$active;
		color: variables.$active;
	}
}

button ~ button {
	margin-left: 1px;
}
