@use "projects/oblique/src/styles/scss/core/mixins/typography";
@use "projects/oblique/src/styles/scss/core/mixins/layout";
@use "projects/oblique/src/styles/scss/core/variables";

.wrapper {
	display: flex;
	gap: variables.$ob-spacing-default;

	@include layout.ob-media-breakpoint-down(sm) {
		flex-direction: column;
	}
}

.subtitle1 {
	@include typography.ob-subtitle1();
}

.subtitle2 {
	@include typography.ob-subtitle2();
}

.body1 {
	@include typography.ob-body1();
}

.body2 {
	@include typography.ob-body2();
}

.overline {
	@include typography.ob-overline();
}

.caption {
	@include typography.ob-caption();
}

.button {
	@include typography.ob-button();
}
