/*
These styles are exclusively used for content from Directus in the Banner API
*/
@use "@oblique/oblique/src/styles/scss/core/variables";

.banner {
	padding: variables.$ob-spacing-default;
	border-radius: variables.$ob-border-radius-base;
	display: flex;
	justify-content: center;
	align-items: center;

	&.local {
		background-color: variables.$ob-env-local;
	}

	&.dev {
		background-color: variables.$ob-env-dev;
	}

	&.ref {
		background-color: variables.$ob-env-ref;
	}

	&.test {
		background-color: variables.$ob-env-test;
	}

	&.abn {
		background-color: variables.$ob-env-abn;
	}
}
