@use "@oblique/oblique/src/styles/scss/core/variables" as oblique-variables;
@use "variables";

h1:not(:first-child) {
	margin-top: oblique-variables.$ob-spacing-xxl;
}

h2:not(:first-child) {
	margin-top: oblique-variables.$ob-spacing-xl +
		((oblique-variables.$ob-spacing-xxl - oblique-variables.$ob-spacing-xl) * calc(2 / 3));
}

h3:not(:first-child) {
	margin-top: oblique-variables.$ob-spacing-xl +
		((oblique-variables.$ob-spacing-xxl - oblique-variables.$ob-spacing-xl) * calc(1 / 3));
}

h4 {
	margin-top: oblique-variables.$ob-spacing-xl;
}

h5 {
	margin-top: oblique-variables.$ob-spacing-lg;
}

h6 {
	margin-top: oblique-variables.$ob-spacing-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	& + div {
		border-color: variables.$hr-color;

		hr {
			border-color: inherit;
		}
	}
}
