$active: rgb(30, 167, 253);
$hr-color: rgba(0, 0, 0, 12%);
$inactive: rgb(153, 153, 153);
$main-background-color: rgb(246, 249, 252);
$ob-grid-breakpoints: (
	xs: 0,
	sm: 600px,
	md: 905px,
	lg: 1240px,
	xl: 1440px,
) !default;
