<p>The most important files to look at in the StackBlitz Breadcrumb example are:</p>
<ul>
	<li><code>app-routing.module.ts</code></li>
	<li><code>breadcrumb-sample/breadcrumb-sample.component.html</code></li>
</ul>
<p>
	The url of the following link is configured to open in editor mode with
	<code>breadcrumb-sample.component.html</code> displayed next to the application preview.
</p>
<a
	href="https://stackblitz.com/github/oblique-bit/oblique-stackblitz/tree/master/oblique-breadcrumb?file=src%2Fapp%2Fbreadcrumb-sample%2Fbreadcrumb-sample.component.html"
	mat-button
	obButton="primary"
	>Stackblitz Example</a
>
