<ob-column-layout left="NONE">
	<ng-container column-main-content>
		<h1>Form</h1>
		<form [ngClass]="size" [class.ob-inline-form]="inline">
			<label>Label</label>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					type="text"
					matInput
					placeholder="Default"
					name="field1"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field1"
				/>
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					type="text"
					matInput
					placeholder="Text prefix & suffix"
					name="field2"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field2"
				/>
				<span matTextPrefix>abc</span>
				<span matTextSuffix>abc</span>
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					type="text"
					matInput
					placeholder="Text prefix"
					name="text"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field3"
				/>
				<span matTextPrefix>abc</span>
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					type="text"
					matInput
					placeholder="Text suffix"
					name="field4"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field4"
				/>
				<span matTextSuffix>abc</span>
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					type="text"
					matInput
					placeholder="Icon prefix & suffix"
					name="field5"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field5"
				/>
				<mat-icon svgIcon="person" matIconPrefix />
				<mat-icon svgIcon="star" matIconSuffix />
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					type="text"
					matInput
					placeholder="Icon prefix"
					name="field6"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field6"
				/>
				<mat-icon svgIcon="person" matIconPrefix />
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					type="text"
					matInput
					placeholder="Icon suffix"
					name="field7"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field7"
				/>
				<mat-icon svgIcon="star" matIconSuffix />
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<mat-select name="field8" required [disabled]="disabled" [(ngModel)]="longLabelsForm.field8">
					<mat-option [value]="1">One</mat-option>
					<mat-option [value]="2">Two</mat-option>
					<mat-option [value]="3">Three</mat-option>
					<mat-option [value]="4">Four</mat-option>
					<mat-option [value]="5">Five</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="ms-fix">
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<input
					matInput
					name="field9"
					required
					[disabled]="disabled"
					[matDatepicker]="picker"
					[(ngModel)]="longLabelsForm.field9"
				/>
				<mat-datepicker-toggle matSuffix [for]="picker" />
				<mat-datepicker #picker />
			</mat-form-field>
			<mat-form-field>
				<mat-label> {{ labelText.repeat(labelRepeater) }}</mat-label>
				<textarea
					matInput
					placeholder="Default"
					name="field10"
					required
					[disabled]="disabled"
					[(ngModel)]="longLabelsForm.field10"
				></textarea>
			</mat-form-field>
		</form>
	</ng-container>
	<ng-container column-right-content>
		<mat-form-field>
			<mat-label>Size</mat-label>
			<mat-select [(ngModel)]="size">
				<mat-option value="ob-form-sm">Small</mat-option>
				<mat-option value="">Default</mat-option>
				<mat-option value="ob-form-lg">large</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-slide-toggle [(ngModel)]="inline">Inline</mat-slide-toggle>
		<mat-slide-toggle [(ngModel)]="disabled">Disabled</mat-slide-toggle>
		<mat-slide-toggle (change)="toggleLabelsRepeater()">Long labels</mat-slide-toggle>
	</ng-container>
</ob-column-layout>
