<ob-column-layout [left]="false">
	<ng-container column-main-content>
		<form [ngClass]="size" [class.ob-inline-form]="inline">
			<label>Label</label>
			<mat-form-field>
				<mat-label>Default</mat-label>
				<input type="text" matInput placeholder="Default" ngModel name="default" required />
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Text prefix & suffix</mat-label>
				<input type="text" matInput placeholder="Text prefix & suffix" ngModel name="text" required />
				<span matTextPrefix>Text Prefix</span>
				<span matTextSuffix>Text Suffix</span>
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Icon prefix & suffix</mat-label>
				<input type="text" matInput placeholder="Icon prefix & suffix" ngModel name="icon" required />
				<mat-icon svgIcon="user" matIconPrefix></mat-icon>
				<mat-icon svgIcon="star" matIconSuffix></mat-icon>
				<mat-hint>test</mat-hint>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Default</mat-label>
				<mat-select>
					<mat-option [value]="1">One</mat-option>
					<mat-option [value]="2">Two</mat-option>
					<mat-option [value]="3">Three</mat-option>
					<mat-option [value]="4">Four</mat-option>
					<mat-option [value]="5">Five</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field class="ms-fix">
				<mat-label>Datepicker</mat-label>
				<input matInput [matDatepicker]="picker" />
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Default</mat-label>
				<textarea matInput placeholder="Default"></textarea>
			</mat-form-field>
			<mat-checkbox>Default</mat-checkbox>
			<mat-radio-group>
				<mat-radio-button value="1">Default</mat-radio-button>
			</mat-radio-group>
		</form>
	</ng-container>
	<ng-container column-right-content>
		<mat-form-field>
			<mat-label>Size</mat-label>
			<mat-select [(ngModel)]="size">
				<mat-option value="ob-form-sm">Small</mat-option>
				<mat-option value="">Default</mat-option>
				<mat-option value="ob-form-lg">large</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-slide-toggle [(ngModel)]="inline">Inline</mat-slide-toggle>
	</ng-container>
</ob-column-layout>
