<ng-template #previewInfo>
	<app-alert-example-info-preview></app-alert-example-info-preview>
</ng-template>
<app-code-example
	[example]="exampleInfo"
	[id]="componentId | id : ['info']"
	[idPrefix]="componentId"
	[preview]="previewInfo"
></app-code-example>

<ng-template #previewSuccess>
	<app-alert-example-success-preview></app-alert-example-success-preview>
</ng-template>
<app-code-example
	[example]="exampleSuccess"
	[id]="componentId | id : ['success']"
	[idPrefix]="componentId"
	[preview]="previewSuccess"
></app-code-example>
