<header class="mobile-header">
	<app-image
		alt="Swiss Confederation Logo"
		ngSrc="../assets/images/SwissConfederationLogo.svg"
		[idPrefix]="componentId"
		[height]="64"
		[width]="259"
		[id]="componentId | id: ['logo']"
	/>
	<button
		type="button"
		class="hamburger-button"
		[class.has-opened-mobile-navigation]="displayMobileNavigation"
		(click)="toggleMobileNavigation()"
	>
		<span class="hamburger">
			<span class="first-line"></span>
			<span class="second-line"></span>
			<span class="third-line"></span>
		</span>
		<span class="ob-screen-reader-only" aria-controls="side-navigation" [attr.aria-expanded]="displayMobileNavigation ? 'open' : 'close'"
			>Toggle side navigation</span
		>
	</button>
</header>
<div class="side-navigation" id="side-navigation">
	<app-image
		alt="Swiss Confederation Logo"
		ngSrc="../assets/images/SwissConfederationLogo.svg"
		[idPrefix]="componentId"
		[height]="64"
		[width]="259"
		[id]="componentId | id: ['logo']"
	/>
	<app-version
		[isDisabled]="(urlParamVersion$ | async) ? true : false"
		[id]="componentId | id: ['version']"
		[idPrefix]="componentId"
		(versionChanged)="updateVersion($event)"
	/>
	<mat-form-field class="search-field">
		<mat-label>Filter</mat-label>
		<input #searchInput matInput type="search" [id]="componentId | id: ['search-input']" [formControl]="search" />
		<mat-icon svgIcon="search" matIconPrefix />
		<mat-hint>Focus with <kbd>Ctrl</kbd> + <kbd>K</kbd></mat-hint>
	</mat-form-field>
	<app-accordion-links
		#accordionLinks
		[accordions]="(filteredAccordions$ | async) ?? []"
		[idPrefix]="componentId"
		[selectedSlug]="(selectedSlug$ | async) ?? ''"
		[urlParamVersion]="(urlParamVersion$ | async) ?? null"
		[id]="componentId | id: ['accordion-links']"
		(linkClicked)="toggleMobileNavigation()"
	/>
</div>
