<header class="mobile-header">
	<app-image
		alt="Swiss Confederation Logo"
		ngSrc="../assets/images/SwissConfederationLogo.svg"
		[idPrefix]="componentId"
		[height]="64"
		[width]="259"
		[id]="componentId | id: ['logo']"
	/>
	<button
		type="button"
		class="hamburger-button"
		[class.has-opened-mobile-navigation]="displayMobileNavigation"
		(click)="toggleMobileNavigation()"
	>
		<span class="hamburger">
			<span class="first-line"></span>
			<span class="second-line"></span>
			<span class="third-line"></span>
		</span>
		<span class="ob-screen-reader-only" aria-controls="side-navigation" [attr.aria-expanded]="displayMobileNavigation ? 'open' : 'close'"
			>Toggle side navigation</span
		>
	</button>
</header>
<div class="side-navigation" id="side-navigation">
	<app-image
		alt="Swiss Confederation Logo"
		ngSrc="../assets/images/SwissConfederationLogo.svg"
		[idPrefix]="componentId"
		[height]="64"
		[width]="259"
		[id]="componentId | id: ['logo']"
	/>
	<app-version
		[isDisabled]="(urlParamVersion$ | async) ? true : false"
		[id]="componentId | id: ['version']"
		[idPrefix]="componentId"
		(versionChanged)="updateVersion($event)"
	/>
	<mat-form-field class="search-field">
		<mat-label>Filter</mat-label>
		<input #searchInput matInput type="search" [id]="componentId | id: ['search-input']" [formControl]="search" />
		<mat-icon svgIcon="search" matIconPrefix />
		<mat-hint>Focus with <kbd>Ctrl</kbd> + <kbd>K</kbd></mat-hint>
	</mat-form-field>
	<app-accordion-links
		#accordionLinks
		[accordions]="(filteredAccordions$ | async) ?? []"
		[idPrefix]="componentId"
		[selectedSlug]="(selectedSlug$ | async) ?? ''"
		[urlParamVersion]="(urlParamVersion$ | async) ?? null"
		[id]="componentId | id: ['accordion-links']"
		(linkClicked)="toggleMobileNavigation()"
	/>
	<footer>
		<button type="button" mat-button obButton="primary" appFeedbackTrigger>
			<img ngSrc="./assets/images/mail.svg" width="21" height="21" alt="mail" />Feedback
		</button>
		<a href="https://github.com/oblique-bit/oblique" mat-button obButton="tertiary" target="_blank" rel="noopener noreferrer">
			<img ngSrc="assets/images/github_logo.svg" width="21" height="21" alt="logo github" />GitHub
			<span class="ob-screen-reader-only">- opens in a new tab</span>
		</a>
		<a href="https://www.figma.com/@bitux" mat-button obButton="tertiary" target="_blank" rel="noopener noreferrer">
			<img ngSrc="assets/images/figma_logo.svg" width="14" height="20" alt="logo figma" />Figma
			<span class="ob-screen-reader-only">- opens in a new tab</span>
		</a>
	</footer>
</div>
