@use "../../styles/scss/core/variables";

app-image {
	padding: 20px 20px 0;
	display: flex;
	align-items: center;
}

input {
	margin-left: 26px;
	margin-top: 20px;
	border: 1px solid variables.$inactive;
	padding: 9px 4px 9px 44px;
	background: transparent url("../../assets/images/Search.svg") no-repeat 10px center;
	border-radius: 4px;
	font-size: 15px;
}
