@use "../../styles/scss/core/variables";

app-image {
	padding: 20px 20px 0;
	display: flex;
	align-items: center;
}

.mat-mdc-form-field {
	margin-left: 26px;
	width: calc(100% - 54px);
}

:host {
	overflow-y: scroll;
}
