@import "../../../../projects/oblique/src/styles/scss/core/variables";

.list-group-item {
	display: flex;
}

.list-group-header {
	background-color: $gray-darker;
	border-color: $gray-darker;
	color: $white;
}
