<h2 class="page-header">External Link</h2>
<sc-description component="external-link"></sc-description>
<ob-column-layout [left]="false">
	<ng-container column-main-content>
		<a href="http://www.google.ch" [icon]="iconPosition">External Link</a>
	</ng-container>

	<div column-right-content>
		<mat-radio-group [(ngModel)]="iconPosition">
			<mat-radio-button *ngFor="let variant of iconPositions" [value]="variant.value">{{ variant.viewValue }}</mat-radio-button>
		</mat-radio-group>
	</div>
</ob-column-layout>
<sc-api component="external-link"></sc-api>
