<div class="ob-grid">
	<div class="ob-quarter">
		<ob-nav-tree [items]="items" />
	</div>
	<div class="ob-three-quarters">
		<h1>Page title H1</h1>
		<a
			href="https://www.figma.com/file/18g1sNXxLDEuZcENyegMhb/OB-Project-Starter-Kit-V11.0.0-%E2%80%93-F1.1?type=design&node-id=0-1&mode=design&t=fs75ubd3lBaCvmrr-0"
			>Figma</a
		>
		<table mat-table class="ob-table" [dataSource]="dataSource">
			<caption>
				Characteristics of periodical elements
			</caption>
			<ng-container matColumnDef="select">
				<td mat-cell *matHeaderCellDef>
					<mat-checkbox
						(change)="$event ? toggleAllRows() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
					/>
				</td>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox
						(click)="$event.stopPropagation()"
						(change)="$event ? selection.toggle(row) : null"
						[checked]="selection.isSelected(row)"
					/>
				</td>
			</ng-container>
			<ng-container matColumnDef="position">
				<th *matHeaderCellDef mat-header-cell scope="col">No.</th>
				<td *matCellDef="let element" mat-cell>{{ element.position }}</td>
			</ng-container>

			<ng-container matColumnDef="name">
				<th *matHeaderCellDef mat-header-cell scope="col">Name</th>
				<th *matCellDef="let element" mat-header-cell scope="row">{{ element.name }}</th>
			</ng-container>

			<ng-container matColumnDef="weight">
				<th *matHeaderCellDef mat-header-cell scope="col">Weight</th>
				<td *matCellDef="let element" mat-cell>{{ element.weight }}</td>
			</ng-container>

			<ng-container matColumnDef="symbol">
				<th *matHeaderCellDef mat-header-cell scope="col">Symbol</th>
				<td *matCellDef="let element" mat-cell>{{ element.symbol }}</td>
			</ng-container>

			<ng-container matColumnDef="actions">
				<th *matHeaderCellDef mat-header-cell scope="col">Actions</th>
				<td *matCellDef="let element" mat-cell>
					<div class="actions">
						<button type="button" mat-icon-button obButton="secondary" matTooltip="Edit this row">
							<mat-icon svgIcon="pen" />
						</button>
						<button type="button" mat-icon-button obButton="secondary" matTooltip="Remove this row">
							<mat-icon svgIcon="trash" />
						</button>
					</div>
				</td>
			</ng-container>

			<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
			<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
		</table>
	</div>
</div>
