<div class="container">
	<h3>Default</h3>
	<form>
		<mat-form-field>
			<mat-label>Default</mat-label>
			<input type="text" matInput placeholder="Default" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default</mat-label>
			<textarea matInput placeholder="Default"></textarea>
		</mat-form-field>
	</form>
</div>
<div class="container">
	<h3>Large</h3>
	<form class="ob-form-lg">
		<mat-form-field>
			<mat-label>Large</mat-label>
			<input type="text" matInput placeholder="Large" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large</mat-label>
			<textarea matInput placeholder="Large"></textarea>
		</mat-form-field>
	</form>
</div>
<div class="container">
	<h3>Small</h3>
	<form class="ob-form-sm">
		<mat-form-field>
			<mat-label>Small</mat-label>
			<input type="text" matInput placeholder="Small" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small</mat-label>
			<textarea matInput placeholder="Small"></textarea>
		</mat-form-field>
	</form>
</div>
