<div class="container">
	<h3>Default</h3>
	<form>
		<mat-form-field>
			<mat-label>Default Input</mat-label>
			<input type="text" matInput placeholder="Default Input" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default Select</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default Multiselect</mat-label>
			<mat-select multiple>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default Textarea</mat-label>
			<textarea matInput placeholder="Default Textarea"></textarea>
		</mat-form-field>
	</form>
</div>
<div class="container">
	<h3>Large</h3>
	<form class="ob-form-lg">
		<mat-form-field>
			<mat-label>Large Input</mat-label>
			<input type="text" matInput placeholder="Large Input" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large Select</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large Multiselect</mat-label>
			<mat-select multiple>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large Textarea</mat-label>
			<textarea matInput placeholder="Large Textarea"></textarea>
		</mat-form-field>
	</form>
</div>
<div class="container">
	<h3>Small</h3>
	<form class="ob-form-sm">
		<mat-form-field>
			<mat-label>Small Input</mat-label>
			<input type="text" matInput placeholder="Small Input" />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small Select</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small Multiselect</mat-label>
			<mat-select multiple>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small Textarea</mat-label>
			<textarea matInput placeholder="Small Textarea"></textarea>
		</mat-form-field>
	</form>
</div>
