<div class="container">
	<h3>Default</h3>
	<form>
		<mat-form-field>
			<mat-label>Default Input</mat-label>
			<input type="text" matInput placeholder="Default Input" />
		</mat-form-field>
		<mat-checkbox>Default Checkbox</mat-checkbox>
		<mat-radio-group>
			<mat-radio-button value="1">Default Radio Button</mat-radio-button>
		</mat-radio-group>
		<mat-form-field>
			<mat-label>Default Datepicker</mat-label>
			<input matInput [matDatepicker]="defaultDatepicker" />
			<mat-datepicker-toggle matIconSuffix [for]="defaultDatepicker" />
			<mat-datepicker #defaultDatepicker />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default Select</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default Multiselect</mat-label>
			<mat-select multiple>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Default Textarea</mat-label>
			<textarea matInput placeholder="Default Textarea"></textarea>
		</mat-form-field>
	</form>
</div>
<div class="container">
	<h3>Large</h3>
	<form class="ob-form-lg">
		<mat-form-field>
			<mat-label>Large Input</mat-label>
			<input type="text" matInput placeholder="Large Input" />
		</mat-form-field>
		<mat-checkbox>Large Checkbox</mat-checkbox>
		<mat-radio-group>
			<mat-radio-button value="1">Large Radio Button</mat-radio-button>
		</mat-radio-group>
		<mat-form-field>
			<mat-label>Large Datepicker</mat-label>
			<input matInput [matDatepicker]="largeDatepicker" />
			<mat-datepicker-toggle matIconSuffix [for]="largeDatepicker" />
			<mat-datepicker #largeDatepicker />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large Select</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large Multiselect</mat-label>
			<mat-select multiple>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Large Textarea</mat-label>
			<textarea matInput placeholder="Large Textarea"></textarea>
		</mat-form-field>
	</form>
</div>
<div class="container">
	<h3>Small</h3>
	<form class="ob-form-sm">
		<mat-form-field>
			<mat-label>Small Input</mat-label>
			<input type="text" matInput placeholder="Small Input" />
		</mat-form-field>
		<mat-checkbox>Small Checkbox</mat-checkbox>
		<mat-radio-group>
			<mat-radio-button value="1">Small Radio Button</mat-radio-button>
		</mat-radio-group>
		<mat-form-field>
			<mat-label>Small Datepicker</mat-label>
			<input matInput [matDatepicker]="smallDatepicker" />
			<mat-datepicker-toggle matIconSuffix [for]="smallDatepicker" />
			<mat-datepicker #smallDatepicker />
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small Select</mat-label>
			<mat-select>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small Multiselect</mat-label>
			<mat-select multiple>
				<mat-option [value]="1">One</mat-option>
				<mat-option [value]="2">Two</mat-option>
				<mat-option [value]="3">Three</mat-option>
				<mat-option [value]="4">Four</mat-option>
				<mat-option [value]="5">Five</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Small Textarea</mat-label>
			<textarea matInput placeholder="Small Textarea"></textarea>
		</mat-form-field>
	</form>
</div>
