<ob-collapse>
	<span obCollapseHeader>
		Behold the enigmatic "Title" heading, ready to captivate your attention. Is it here? Is it there? Only a click away from unraveling the
		mystery!
	</span>
	<div obCollapseMain>
		<p>
			Ah, the main content, where secrets are hidden, and surprises await. What could be concealed within this empty space? It's like
			opening a treasure chest and finding... well, that's up to you!
		</p>
		<p>
			With the ob-collapse component, you hold the power to make content appear and disappear with just a click, adding a touch of magic to
			your web development adventures. So, what will you reveal today? The choice is yours!
		</p>
	</div>
</ob-collapse>
