<h2 class="page-header">Language</h2>
<ob-column-layout left="NONE" right="OPENED">
	<div column-main-content>
		<mat-form-field>
			<mat-label>Datepicker</mat-label>
			<input matInput [matDatepicker]="picker" [(ngModel)]="date" />
			<mat-datepicker-toggle matSuffix [for]="picker" />
			<mat-datepicker #picker />
		</mat-form-field>

		<dl class="ob-horizontal">
			<dt>ObDatePipe</dt>
			<dd>{{ date | obDate: formatPipe : timezone }}</dd>
			<dt>ObDateComponent</dt>
			<dd><ob-date [date]="date" [format]="formatComponent" /></dd>
		</dl>
	</div>

	<div column-right-content>
		<h2>Controls</h2>
		<mat-form-field>
			<mat-label>Pipe format</mat-label>
			<mat-select [(ngModel)]="formatPipe">
				@for (format of formatsPipe; track format) {
					<mat-option [value]="format">{{ format }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Component format</mat-label>
			<mat-select [(ngModel)]="formatComponent">
				@for (format of formatsComponent; track format) {
					<mat-option [value]="format">{{ format }}</mat-option>
				}
			</mat-select>
		</mat-form-field>
		<mat-form-field>
			<mat-label>Timezone</mat-label>
			<input matInput [(ngModel)]="timezone" />
			<mat-hint>+1 winter time / +2 summer time</mat-hint>
		</mat-form-field>
	</div>
</ob-column-layout>
