<h2 class="page-header">Language</h2>
<ob-column-layout [left]="false" [right]="true">
	<div column-main-content>
		{{ 0 | obDate: format : timezone }}
		<mat-form-field class="ms-fix">
			<mat-label>Datepicker</mat-label>
			<input matInput [matDatepicker]="picker" [value]="today" />
			<mat-datepicker-toggle matSuffix [for]="picker" />
			<mat-datepicker #picker />
		</mat-form-field>
	</div>
	<div column-right-content>
		<h2>Controls</h2>
		<input [(ngModel)]="format" />
		<input [(ngModel)]="timezone" />
	</div>
</ob-column-layout>

<h2 class="page-header">ObDateComponent</h2>
<table class="ob-table">
	<caption>
		Examples of the ObDateComponent showing different inputs and formats.
	</caption>
	<thead>
		<tr>
			<th scope="col">Format</th>
			<th scope="col">Input</th>
			<th scope="col">Example</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row" data-title="FORMAT">shortDate</th>
			<td data-title="INPUT">2025-05-12</td>
			<td data-title="EXAMPLE">
				<ob-date date="2025-05-12" format="shortDate" />
			</td>
		</tr>
		<tr>
			<th scope="row" data-title="FORMAT">mediumDate</th>
			<td data-title="INPUT">2025-05-12</td>
			<td data-title="EXAMPLE">
				<ob-date date="2025-05-12" format="mediumDate" />
			</td>
		</tr>
		<tr>
			<th scope="row" data-title="FORMAT">longDate</th>
			<td data-title="INPUT">2025-05-12</td>
			<td data-title="EXAMPLE">
				<ob-date date="2025-05-12" format="longDate" />
			</td>
		</tr>
		<tr>
			<th scope="row" data-title="FORMAT">fullDate</th>
			<td data-title="INPUT">2025-05-12</td>
			<td data-title="EXAMPLE">
				<ob-date date="2025-05-12" format="fullDate" />
			</td>
		</tr>
		<tr>
			<th scope="row" data-title="FORMAT">yyyy-MM-dd</th>
			<td data-title="INPUT">2025-05-12</td>
			<td data-title="EXAMPLE">
				<ob-date date="2025-05-12" format="yyyy-MM-dd" />
			</td>
		</tr>
		<tr>
			<th scope="row" data-title="FORMAT">isoDate</th>
			<td data-title="INPUT">2025-05-12</td>
			<td data-title="EXAMPLE">
				<ob-date date="2025-05-12" format="isoDate" />
			</td>
		</tr>
		<tr>
			<th scope="row" data-title="FORMAT">default</th>
			<td data-title="INPUT">new Date('2025-05-12')</td>
			<td data-title="EXAMPLE">
				<ob-date [date]="exampleDate" />
			</td>
		</tr>
		<tr>
			<th scope="row" data-title="FORMAT">default</th>
			<td data-title="INPUT">31.12.2025</td>
			<td data-title="EXAMPLE">
				<ob-date date="31.12.2025" />
			</td>
		</tr>
	</tbody>
</table>
