@use "../core/variables";
@use "../core/mixins/shadow";

.mat-mdc-paginator {
	color: variables.$ob-secondary-600;

	.mat-mdc-paginator-icon > path {
		display: none;
	}

	.mat-mdc-paginator-navigation-next,
	.mat-mdc-paginator-navigation-previous,
	.mat-mdc-paginator-navigation-first,
	.mat-mdc-paginator-navigation-last {
		border: 1px solid variables.$ob-black;
		width: 30px;
		height: 30px;
		margin: 10px;

		/*
SVG icon colors cannot be changed in scss. The icons are black and in this use case, they are needed in the color gray and red.
To achieve this, filters are used.
*/
		// Filters $ob-black to $ob-secondary-600
		filter: invert(22%) sepia(14%) saturate(1462%) hue-rotate(168deg) brightness(93%) contrast(86%);
	}

	.mat-mdc-paginator-navigation-next {
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><title>ChevronRight</title><polygon points='10.051 21.375 8.752 20.625 13.732 12 8.752 3.375 10.051 2.625 15.464 12 10.051 21.375' fill='%23171717'/></svg>");
	}

	.mat-mdc-paginator-navigation-previous {
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><title>ChevronLeft</title><polygon points='13.949 21.375 8.536 12 13.949 2.625 15.248 3.375 10.268 12 15.248 20.625 13.949 21.375' fill='%23171717'/></svg>");
	}

	.mat-mdc-paginator-navigation-first {
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><title>ChevronLineLeft</title><polygon points='17.2 3.375 15.901 2.625 10.489 12 15.901 21.375 17.2 20.625 12.221 12 17.2 3.375' fill='%23171717'/><rect x='6.05371' y='3.00025' width='1.5' height='18' fill='%23171717'/></svg>");
	}

	.mat-mdc-paginator-navigation-last {
		background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><title>ChevronLineRight</title><polygon points='6.154 3.375 11.134 12 6.154 20.625 7.453 21.375 12.866 12 7.453 2.625 6.154 3.375' fill='%23171717'/><rect x='15.80078' y='3' width='1.5' height='18' fill='%23171717'/></svg>");
	}

	.mat-mdc-paginator-navigation-next[disabled],
	.mat-mdc-paginator-navigation-last[disabled],
	.mat-mdc-paginator-navigation-first[disabled],
	.mat-mdc-paginator-navigation-previous[disabled] {
		// Filters $ob-black to $ob-secondary-300
		filter: invert(64%) sepia(7%) saturate(675%) hue-rotate(169deg) brightness(86%) contrast(89%);
	}

	button {
		&:focus {
			outline: none;
		}

		// Results in a color close to $ob-purple-500 after above filter is applied, but it is not an exact match
		@include shadow.ob-focus-visible-tab-focus-box-shadow(#28361e);
	}

	.mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
		padding-top: variables.$ob-spacing-sm * 1.75;
	}

	.ob-outline & .mat-mdc-form-field-type-mat-select.mat-focused .mdc-notched-outline {
		@include shadow.ob-tab-focus-box-shadow();
	}

	.mat-mdc-button-ripple:not(:empty) {
		border-radius: variables.$ob-border-radius-button;
		background: variables.$ob-black;
		transform: scale(0);
		animation: ripple 0.1s ease-out forwards;
		opacity: 0.1;
	}

	@keyframes ripple {
		to {
			transform: scale(1);
		}
	}
}
