@use "../core/variables";

/**
 * @deprecated since Oblique 10. This SCSS file will no longer be distributed with Oblique 11.
 */
.mat-expansion-panel-header {
	height: 48px;

	&:hover,
	&.mat-expanded:hover:not([aria-disabled="true"]) {
		background: variables.$ob-gray-lighter;
	}

	&:hover:not([aria-disabled="true"]) {
		.mat-expansion-panel:not(.mat-expanded) & {
			background: variables.$ob-gray-lighter;
		}
	}
}
