@import "variables";

.ob-inline-form {
	> label {
		margin-top: $ob-form-field-label-height;
		line-height: 1;
		padding-top: $ob-form-field-label-padding-top;
	}

	&.ob-form-sm {
		> label {
			padding-top: $ob-form-field-label-padding-top-sm;
		}
	}

	&.ob-form-lg {
		> label {
			padding-top: $ob-form-field-label-padding-top-lg;
		}
	}
}
