@use "sass:selector";
@use "../core/variables" as core-variables;
@use "../core/mixins/tab-outline";

/**
 * @deprecated since Oblique 10. This SCSS file will no longer be distributed with Oblique 11.
 */
.mat-mdc-button-base {
	&.ob-button {
		color: core-variables.$ob-secondary-800;
		line-height: 34px; // material design height
		border: 1px solid transparent;

		.mat-mdc-button-focus-overlay {
			display: none;
		}

		&.ob-external-link {
			display: inline-flex;
		}

		&.mat-mdc-primary:not(.ob-button-card) {
			.mat-mdc-button-wrapper {
				// so that it appears before the ripple effect (mat-mdc-button-icon have z-index: 2)
				position: relative;
				z-index: 2;
			}

			.mat-ripple-element {
				background-color: core-variables.$ob-primary-300;
				opacity: 1;
			}
		}

		$button-height: 36px;

		&.mat-mdc-icon-button {
			padding: 0.3896em; // (mat-mdc-button-height - mat-mdc-button-font-size * ob-icon-font-size) / 2 = (34px - 14px * 1.65) / 2 = (2.4286em - 1.65em) / 2
			line-height: 1;

			&.mat-mdc-button-base {
				height: $button-height;
				width: $button-height;
				display: flex;
				justify-content: center;
				align-items: flex-start;
			}

			svg {
				height: 16px;
				width: 16px;
			}
		}

		&[disabled] {
			cursor: not-allowed;
		}

		&.mat-mdc-button {
			.mat-mdc-button-persistent-ripple::before {
				background-color: unset;
			}

			&.mat-mdc-button-base {
				height: $button-height;
			}
		}

		&[class*="ob-button-"] {
			&:not([disabled]) {
				&:hover {
					.mat-mdc-button-focus-overlay {
						opacity: 0;
					}
				}

				&:focus {
					&:not(.ob-button-card) {
						box-shadow: 0 0 0 3px core-variables.$ob-purple-300;
					}
				}

				.mat-ripple {
					&.mat-mdc-button-ripple {
						.mat-ripple-element {
							opacity: 1;
						}
					}
				}

				.mat-icon {
					z-index: 1;
				}
			}
		}

		&.ob-button-secondary,
		&.ob-button-tertiary {
			&:not([disabled]) {
				.mat-ripple {
					&.mat-mdc-button-ripple {
						.mat-ripple-element {
							background-color: core-variables.$ob-red-50;
						}
					}
				}
			}

			&[disabled] {
				color: core-variables.$ob-secondary-300;
			}
		}

		&.ob-button-primary {
			&:not([disabled]) {
				background-color: core-variables.$ob-secondary-400;
				color: core-variables.$ob-white;

				&:hover {
					color: core-variables.$ob-text-300;
				}

				.mat-ripple {
					&.mat-mdc-button-ripple {
						.mat-ripple-element {
							background-color: core-variables.$ob-secondary-300;
						}
					}
				}
			}

			&[disabled] {
				background-color: core-variables.$ob-secondary-200;
				color: core-variables.$ob-white;
			}
		}

		&.ob-button-secondary {
			&:not([disabled]) {
				border-color: core-variables.$ob-red-600;
				color: core-variables.$ob-red-600;

				&:hover {
					border-color: core-variables.$ob-red-700;
					color: core-variables.$ob-red-700;
				}

				&:focus {
					background-color: core-variables.$ob-white;
					border-color: core-variables.$ob-red-700;
					color: core-variables.$ob-red-700;
				}
			}

			&[disabled] {
				background-color: core-variables.$ob-white;
				border-color: core-variables.$ob-secondary-300;
			}
		}

		&.ob-button-tertiary {
			&:not([disabled]) {
				color: core-variables.$ob-secondary-800;

				&:hover {
					color: core-variables.$ob-red-600;
				}

				&:focus {
					background-color: core-variables.$ob-white;
					color: core-variables.$ob-red-600;
				}
			}
		}
	}

	&.mat-mdc-button,
	&.mat-mdc-stroked-button,
	&.mat-mdc-flat-button,
	&.mat-mdc-raised-button,
	&.mat-mdc-icon-button {
		border-radius: core-variables.$ob-border-radius-button;
	}

	// the only targets svg icons, i.e. Oblique ones, no default material ones
	.mat-mdc-icon[data-mat-mdc-icon-type="svg"] {
		font-size: core-variables.$ob-font-size-biggest;
		line-height: 1;

		@at-root #{selector.append(":not(.mat-mdc-icon-button)", &)} {
			margin-top: -0.1537em; // (mat-mdc-text-height - ob-icon-font-size) / 2 = (16px - 1em) / 2 = (0.6926em - 1em) / 2
		}
	}
}

button {
	&:focus {
		outline: none;
	}
}
