@use "./variables";

.ob-inline-form {
	> label {
		margin-top: variables.$ob-form-field-label-height;
		line-height: 1;
		padding-top: variables.$ob-form-field-label-padding-top;
	}

	.ob-button {
		margin-top: 4px; // empiric value
	}

	&.ob-form-sm {
		> label {
			padding-top: variables.$ob-form-field-label-padding-top-sm;
		}
	}

	&.ob-form-lg {
		> label {
			padding-top: variables.$ob-form-field-label-padding-top-lg;
		}

		.ob-button {
			margin-top: 13px; // empiric value
		}
	}
}
