@use "sass:map";
@use "../core/variables";

$oblique-primary: (
	50: variables.$ob-secondary-50,
	100: variables.$ob-secondary-100,
	200: variables.$ob-secondary-200,
	300: variables.$ob-secondary-300,
	400: variables.$ob-secondary-400,
	500: variables.$ob-secondary-500,
	600: variables.$ob-secondary-600,
	700: variables.$ob-secondary-700,
	800: variables.$ob-secondary-800,
	900: variables.$ob-secondary-900,
	contrast: (
		50: variables.$ob-default,
		100: variables.$ob-default,
		200: variables.$ob-default,
		300: variables.$ob-default,
		400: variables.$ob-white,
		500: variables.$ob-white,
		600: variables.$ob-white,
		700: variables.$ob-white,
		800: variables.$ob-white,
		900: variables.$ob-white,
	),
) !default;
$oblique-primary-slide-toggle: map.merge(
	$oblique-primary,
	(
		300: variables.$ob-secondary-700,
		600: variables.$ob-white,
		900: variables.$ob-white,
	)
) !default;
$oblique-primary-tabs: map.merge(
	$oblique-primary,
	(
		500: variables.$ob-black,
	)
) !default;
$oblique-warn: (
	50: variables.$ob-red-50,
	100: variables.$ob-red-100,
	200: variables.$ob-red-200,
	300: variables.$ob-red-300,
	400: variables.$ob-red-400,
	500: variables.$ob-red-500,
	600: variables.$ob-red-600,
	700: variables.$ob-red-700,
	800: variables.$ob-red-800,
	900: variables.$ob-red-900,
	contrast: (
		50: variables.$ob-default,
		100: variables.$ob-default,
		200: variables.$ob-default,
		300: variables.$ob-white,
		400: variables.$ob-white,
		500: variables.$ob-white,
		600: variables.$ob-white,
		700: variables.$ob-white,
		800: variables.$ob-white,
		900: variables.$ob-white,
	),
) !default;
$oblique-warn-slide-toggle: map.merge(
	$oblique-warn,
	(
		300: variables.$ob-red-800,
		600: variables.$ob-white,
		900: variables.$ob-white,
	)
) !default;
