@use "../core/variables";
@use "../core/mixins/shadow";
@use "../core/mixins/typography";
@use "mixins/mat-card.scss";

.mat-mdc-button-base.ob-button.mat-mdc-button.mat-mdc-button-base.ob-button-card {
	height: initial;
}

.mat-mdc-card {
	&.mdc-card {
		border: 1px solid variables.$ob-secondary-100;
	}

	&:not([class*="mat-elevation-z"]) {
		@include shadow.ob-shadow-lg();
	}

	.mat-mdc-card-header {
		&:first-child {
			padding-top: variables.$ob-spacing-xs;
		}

		.mat-mdc-card-title {
			@include typography.ob-h5();
			margin-bottom: 0;
			color: variables.$ob-secondary-800;
		}

		.mat-mdc-card-subtitle {
			&,
			&:not(:first-child) {
				margin-top: 2px;
				margin-bottom: 0;
			}
		}
	}

	.mat-mdc-card-avatar {
		margin-top: variables.$ob-spacing-xs;
		border-radius: variables.$ob-border-radius-base;
	}

	.mat-mdc-card-header-text:first-child {
		margin-left: 0;
	}

	.mat-mdc-card-subtitle,
	.mat-mdc-card-content {
		@include typography.ob-body2();
		color: variables.$ob-secondary-600;
	}

	.mat-mdc-card-header + .mat-mdc-card-content {
		margin-top: variables.$ob-spacing-default;
	}

	.mat-mdc-card-actions {
		text-align: right;
		justify-content: flex-end;
		column-gap: variables.$ob-spacing-default;
		padding: variables.$ob-spacing-default;
	}

	&.ob-selectable {
		&.ob-selected:not(:focus-visible) {
			@include shadow.ob-shadow-xl();
			background-color: variables.$ob-secondary-100;
			border: 1px solid variables.$ob-secondary-200;
		}

		&:hover:not(:focus-visible, [disabled]) {
			@include shadow.ob-shadow-xl();
			@include mat-card.focus-highlight();
		}

		&:focus-visible:not([disabled]) {
			@include mat-card.focus-highlight();
		}

		& > *:not(img):first-child {
			margin-top: variables.$ob-spacing-xl + variables.$ob-spacing-default;
		}

		&::before {
			position: absolute;
			top: variables.$ob-spacing-default;
			right: variables.$ob-spacing-default;
			width: variables.$ob-spacing-default;
			height: variables.$ob-spacing-default;
			background-color: variables.$ob-white;
			border: 1px solid variables.$ob-default;
			z-index: 1;
		}

		&[role="checkbox"] {
			&::before {
				content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPkNoZWNrbWFyazwvdGl0bGU+PHBvbHlnb24gcG9pbnRzPSIyMC40NyA1LjM5MSA4Ljg0MiAxNy4wMTkgMy41MyAxMS43MDYgMi40NyAxMi43NjcgOC44NDIgMTkuMTQgMjEuNTMgNi40NTEgMjAuNDcgNS4zOTEiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
				border-radius: variables.$ob-border-radius-button;
				line-height: 1;
			}

			&.ob-selected::before {
				background-color: variables.$ob-primary;
				border-color: variables.$ob-primary;
			}
		}

		&[role="radio"] {
			&::before {
				content: "";
				border-radius: 50%;
			}

			&.ob-selected::before {
				border-color: variables.$ob-primary;
			}

			&.ob-selected::after {
				content: "";
				position: absolute;
				top: 19px;
				right: 19px;
				left: initial; // to cancel a material rule
				width: 10px;
				height: 10px;
				border-radius: 50%;
				background-color: variables.$ob-primary;
				z-index: 1;
			}
		}
	}

	.ob-alert {
		margin: variables.$ob-spacing-default;

		& + .mat-mdc-card-header {
			padding-top: 0;
		}
	}

	.ob-alert-content {
		color: variables.$ob-secondary-800;
	}

	.mat-mdc-card-content .ob-signature {
		display: flex;
		justify-content: space-between;
		margin: 0;
	}

	&.ob-selectable[disabled],
	[disabled] & {
		.mat-mdc-card-header .mat-mdc-card-title,
		.mat-mdc-card-header .mat-mdc-card-subtitle,
		.mat-mdc-card-content {
			color: variables.$ob-secondary-300;
		}

		.mat-mdc-card-image,
		.mat-mdc-card-avatar {
			opacity: 0.4;
		}
	}

	.mat-mdc-card-image,
	.mdc-card__media {
		width: 100%;
	}
}

.ob-link-card {
	text-decoration: none;
}

.ob-button-card {
	&,
	&.mat-mdc-button {
		padding: 0;
		text-align: unset;
		white-space: unset;
		border: 0 none;
		background-color: unset;
		box-shadow: none;
		align-items: unset;
		display: block;
		font-size: variables.$ob-font-size-base;

		&.mat-mdc-button-base.ob-button {
			line-height: inherit;
		}
	}
}

.ob-button-card,
.ob-link-card {
	&:hover:not(:focus-visible, [disabled]) .mat-mdc-card.mdc-card {
		@include shadow.ob-shadow-xl();
		@include mat-card.focus-highlight();
	}

	&:focus-visible:not([disabled]) .mat-mdc-card.mdc-card {
		@include mat-card.focus-highlight();
	}
}
