@use "../core/variables";
@use "../core/mixins/shadow";
@use "../core/mixins/typography";

.mat-mdc-dialog-container.mdc-dialog {
	@include shadow.ob-shadow-lg();

	.mat-mdc-dialog-title.mdc-dialog__title {
		@include typography.ob-h2();
	}

	.mat-mdc-dialog-content.mdc-dialog__content {
		@include typography.ob-body1();
	}

	.mat-mdc-dialog-surface {
		padding: variables.$ob-spacing-lg variables.$ob-spacing-lg variables.$ob-spacing-lg
			variables.$ob-spacing-lg;
	}

	.mat-mdc-dialog-title {
		padding: 0 0 variables.$ob-spacing-sm 0;
	}

	.mat-mdc-dialog-content {
		padding: 0 0 variables.$ob-spacing-sm 0;
	}

	.mat-mdc-dialog-actions {
		padding: 0;
		justify-content: flex-end;
		min-height: unset;
	}
}
