@use "../core/variables" as core-variables;
@use "../core/mixins/shadow";
@use "../core/mixins/typography";

.mat-dialog-container {
	box-shadow: none;
	@include shadow.ob-drop-shadow($color: core-variables.$ob-gray-dark);

	.mat-dialog-title {
		@include typography.ob-h6();
		position: relative;
		margin-bottom: core-variables.$ob-spacing-default + core-variables.$ob-spacing-sm;
	}

	.mat-dialog-content {
		@include typography.ob-body1();

		.ob-form-field:first-of-type {
			margin-top: 3px;
		}
	}

	.mat-dialog-actions {
		margin-top: core-variables.$ob-spacing-default + core-variables.$ob-spacing-sm;
		justify-content: flex-end;

		.mat-button + .mat-button {
			margin-left: core-variables.$ob-spacing-default;
		}
	}
}
