/**
 * @deprecated since Oblique 10. This SCSS file will no longer be distributed with Oblique 11.
 */
.mat-icon {
	.ob-external-link &,
	&[data-mat-icon-type="svg"] {
		width: 1em;
		height: 1em;
	}

	&[data-mat-icon-type="svg"].ob-icon-text {
		position: relative;
		top: 0.15em; // empiric value
	}

	svg {
		display: block;
	}
}
