@use "sass:selector";
@use "../core/variables" as core-variables;
@use "../core/mixins/tab-outline";

/**
 * @deprecated since Oblique 10. This SCSS file will no longer be distributed with Oblique 11.
 */
.mat-button-base {
	&.ob-button {
		color: core-variables.$ob-secondary-800;
		line-height: 34px; // material design height
		border: 1px solid transparent;

		.mat-button-focus-overlay {
			display: none;
		}

		&.ob-external-link {
			display: inline-flex;
		}

		&.mat-primary:not(.ob-button-card) {
			.mat-button-wrapper {
				// so that it appears before the ripple effect (mat-button-icon have z-index: 2)
				position: relative;
				z-index: 2;
			}

			.mat-ripple-element {
				background-color: core-variables.$ob-primary-300;
				opacity: 1;
			}
		}

		&.mat-icon-button {
			height: unset;
			width: unset;
			padding: 0.3896em; // (mat-button-height - mat-button-font-size * ob-icon-font-size) / 2 = (34px - 14px * 1.65) / 2 = (2.4286em - 1.65em) / 2
			line-height: 1;
		}

		&.mat-button-disabled {
			cursor: not-allowed;
		}

		&[obbutton$="ary"] {
			&:not(.mat-button-disabled) {
				&:hover {
					.mat-button-focus-overlay {
						opacity: 0;
					}
				}

				&:focus {
					box-shadow: 0 0 0 3px core-variables.$ob-purple-300;
				}
			}
		}

		&[obbutton="secondary"],
		&[obbutton="tertiary"] {
			&:not(.mat-button-disabled) {
				.mat-ripple {
					&.mat-button-ripple {
						.mat-ripple-element {
							background-color: core-variables.$ob-red-50;
						}
					}
				}
			}

			&.mat-button-disabled {
				color: core-variables.$ob-secondary-300;
			}
		}

		&[obbutton="primary"] {
			&:not(.mat-button-disabled) {
				background-color: core-variables.$ob-secondary-400;
				color: core-variables.$ob-white;

				&:hover {
					color: core-variables.$ob-text-300;
				}

				.mat-ripple {
					&.mat-button-ripple {
						.mat-ripple-element {
							background-color: core-variables.$ob-secondary-300;
						}
					}
				}
			}

			&.mat-button-disabled {
				background-color: core-variables.$ob-secondary-200;
				color: core-variables.$ob-white;
			}
		}

		&[obbutton="secondary"] {
			&:not(.mat-button-disabled) {
				border-color: core-variables.$ob-red-600;
				color: core-variables.$ob-red-600;

				&:hover {
					border-color: core-variables.$ob-red-700;
					color: core-variables.$ob-red-700;
				}

				&:focus {
					background-color: core-variables.$ob-white;
					border-color: core-variables.$ob-red-700;
					color: core-variables.$ob-red-700;
				}
			}

			&.mat-button-disabled {
				background-color: core-variables.$ob-white;
				border-color: core-variables.$ob-secondary-300;
			}
		}

		&[obbutton="tertiary"] {
			&:not(.mat-button-disabled) {
				color: core-variables.$ob-secondary-800;

				&:hover {
					color: core-variables.$ob-red-600;
				}

				&:focus {
					background-color: core-variables.$ob-white;
					color: core-variables.$ob-red-600;
				}
			}
		}
	}

	&.mat-button,
	&.mat-stroked-button,
	&.mat-flat-button,
	&.mat-raised-button,
	&.mat-icon-button {
		border-radius: core-variables.$ob-border-radius-button;
	}

	// the only targets svg icons, i.e. Oblique ones, no default material ones
	.mat-icon[data-mat-icon-type="svg"] {
		font-size: core-variables.$ob-font-size-biggest;
		line-height: 1;

		@at-root #{selector.append(":not(.mat-icon-button)", &)} {
			margin-top: -0.1537em; // (mat-text-height - ob-icon-font-size) / 2 = (16px - 1em) / 2 = (0.6926em - 1em) / 2
		}
	}
}

button {
	&:focus {
		outline: none;
	}
}
