@use "sass:selector";
@use "../core/variables" as core-variables;
@use "../core/mixins/tab-outline";
@use "../core/mixins/shadow";

.mat-mdc-button-base {
	&.ob-button {
		color: core-variables.$ob-secondary-800;
		line-height: 34px; // material design height
		border: 1px solid transparent;

		&:focus {
			outline: none;
		}

		.mat-mdc-button-focus-overlay {
			display: none;
		}

		&.ob-external-link {
			display: inline-flex;
		}

		&.mat-mdc-primary:not(.ob-button-card) {
			.mat-mdc-button-wrapper {
				// so that it appears before the ripple effect (mat-mdc-button-icon have z-index: 2)
				position: relative;
				z-index: 2;
			}

			.mat-ripple-element {
				background-color: core-variables.$ob-primary-300;
				opacity: 1;
			}
		}

		$button-height: 36px;

		&.mat-mdc-icon-button {
			padding: 0.3896em; // (mat-mdc-button-height - mat-mdc-button-font-size * ob-icon-font-size) / 2 = (34px - 14px * 1.65) / 2 = (2.4286em - 1.65em) / 2
			line-height: 1;
			display: flex;
			justify-content: center;
			align-items: flex-start;

			&:not(.ob-close) {
				&.mat-mdc-button-base {
					height: $button-height;
					width: $button-height;
				}

				svg {
					height: 16px;
					width: 16px;
				}
			}

			&.ob-close {
				align-items: center;
			}
		}

		&[disabled] {
			cursor: not-allowed;
		}

		&.mat-mdc-button {
			.mat-mdc-button-persistent-ripple::before {
				background-color: unset;
			}

			&.mat-mdc-button-base {
				height: $button-height;
			}
		}

		&[class*="ob-button-"] {
			&:not([disabled]) {
				&:hover {
					.mat-mdc-button-focus-overlay {
						opacity: 0;
					}
				}

				@include shadow.ob-focus-visible-tab-focus-box-shadow();

				.mat-ripple {
					&.mat-mdc-button-ripple {
						.mat-ripple-element {
							opacity: 0;

							@at-root #{selector.append(".cdk-focused", &)} {
								opacity: 1;
							}
						}
					}
				}

				.mat-icon {
					z-index: 1;
				}
			}

			&.ob-external-link {
				&.mat-mdc-icon-button {
					display: flex;
					align-items: center;
					justify-content: center;
					font-size: unset;

					.mat-icon {
						height: unset;
						width: unset;
						margin-right: -4px;
					}
				}

				&.mat-mdc-button {
					.mat-icon {
						margin-bottom: -1px;
					}
				}
			}

			mat-icon[svgicon="external"].mat-icon {
				margin-left: -1px;
			}
		}

		&.ob-button-secondary:not(.ob-button-card),
		&.ob-button-tertiary:not(.ob-button-card) {
			&:hover,
			&:focus-visible {
				background-color: core-variables.$ob-secondary-50;
			}

			.mat-ripple {
				&.mat-mdc-button-ripple {
					.mat-ripple-element {
						background-color: core-variables.$ob-secondary-100;
					}
				}
			}

			&[disabled] {
				color: core-variables.$ob-secondary-300;
			}
		}

		&.ob-button-primary:not(.ob-button-card) {
			color: core-variables.$ob-white;
			background-color: core-variables.$ob-secondary-400;
			@include shadow.ob-shadow-default();

			&:hover,
			&:focus-visible {
				background-color: core-variables.$ob-secondary-500;
			}

			.mat-ripple {
				&.mat-mdc-button-ripple {
					.mat-ripple-element {
						background-color: core-variables.$ob-secondary-600;
					}
				}
			}

			&[disabled] {
				background-color: core-variables.$ob-secondary-200;
			}
		}

		&.ob-button-secondary:not(.ob-button-card) {
			border-color: core-variables.$ob-secondary-600;
			background-color: core-variables.$ob-white;

			&[disabled] {
				border-color: core-variables.$ob-secondary-300;
			}
		}
	}

	&.mat-mdc-button,
	&.mat-mdc-stroked-button,
	&.mat-mdc-flat-button,
	&.mat-mdc-raised-button,
	&.mat-mdc-icon-button {
		border-radius: core-variables.$ob-border-radius-button;
	}

	// the only targets svg icons, i.e. Oblique ones, no default material ones
	.mat-mdc-icon[data-mat-mdc-icon-type="svg"] {
		font-size: core-variables.$ob-font-size-biggest;
		line-height: 1;

		@at-root #{selector.append(":not(.mat-mdc-icon-button)", &)} {
			margin-top: -0.1537em; // (mat-mdc-text-height - ob-icon-font-size) / 2 = (16px - 1em) / 2 = (0.6926em - 1em) / 2
		}
	}
}
