@use "../core/mixins/shadow";
@use "../core/variables" as core-variables;

.mat-mdc-select {
	.mat-mdc-select-arrow {
		color: core-variables.$ob-default;
	}

	.mat-mdc-select-arrow-wrapper,
	.mat-mdc-select-value {
		z-index: 1;
	}
}

:not(.mat-mdc-select-panel-above) {
	.mat-mdc-select-panel {
		&.mat-mdc-select-panel.mdc-menu-surface {
			margin-top: 0.75 * core-variables.$ob-spacing-xs;

			&.ob-select-panel-sm {
				margin-top: 6px;
			}
		}
	}
}

.mat-mdc-select-panel {
	.mat-mdc-option {
		&:hover:not(.mat-mdc-option-active) {
			background-color: core-variables.$ob-secondary-50;
		}

		&.mat-mdc-option-active,
		&:focus {
			&.mdc-list-item {
				background-color: core-variables.$ob-secondary-100;
			}
		}
	}

	.mat-mdc-option,
	&.mat-mdc-select-panel {
		background-color: core-variables.$ob-white;
	}

	&.mat-mdc-select-panel {
		@include shadow.ob-default-panel-box-shadow();
	}
}
