@use "sass:selector";
@use "../core/variables";
@use "../core/mixins/layout";

@mixin ob-table-collapse($breakpoint) {
	@include layout.ob-media-breakpoint-down($breakpoint) {
		.mat-mdc-row,
		.mat-mdc-header-row,
		.mat-mdc-footer-row {
			height: auto;
		}

		.mdc-data-table__cell {
			overflow: visible;
		}
	}
}

.mat-mdc-table.ob-table {
	--mat-table-header-headline-color: #{variables.$ob-default};
	--mat-table-row-item-outline-color: #{variables.$ob-secondary-200};

	.mat-sort-header-arrow {
		color: variables.$ob-default;
	}

	&.ob-table-collapse {
		@include ob-table-collapse(md);
	}

	&.ob-table-collapse-sm {
		@include ob-table-collapse(sm);
	}

	&.ob-table-collapse-md {
		@include ob-table-collapse(md);
	}
}
