@use "../core/variables";

/**
 * This SCSS file will not be distributed with Oblique 11.
 */
.mat-mdc-progress-bar {
	background-color: transparent;

	.mdc-linear-progress__buffer-bar {
		background-color: variables.$ob-secondary-100;
	}
}

.mat-mdc-progress-bar.mat-warn {
	background-color: transparent;

	.mdc-linear-progress__buffer-bar {
		background-color: variables.$ob-red-200;
	}
}
