@use "sass:selector";
@use "../core/variables";
@use "../core/mixins/layout";

@mixin ob-table-collapse($breakpoint) {
	@include layout.ob-media-breakpoint-down($breakpoint) {
		.mat-mdc-row,
		.mat-mdc-header-row,
		.mat-mdc-footer-row {
			height: auto;
		}

		.mdc-data-table__cell {
			overflow: visible;
		}
	}
}

.mat-mdc-table.ob-table {
	--mat-table-header-headline-color: #{variables.$ob-default};
	--mat-table-row-item-outline-color: #{variables.$ob-secondary-200};

	.mat-sort-header {
		.mat-sort-header-arrow {
			background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>ArrowUp</title><polygon points="21.035 6.351 12 1.134 2.965 6.351 3.715 7.65 11.25 3.299 11.25 22 12.75 22 12.75 3.299 20.285 7.65 21.035 6.351" fill="currentColor"/></svg>');
		}

		.cdk-keyboard-focused,
		.cdk-program-focused,
		&:hover {
			.mat-sort-header-arrow {
				opacity: 1;
			}
		}
	}

	.mat-sort-header-arrow svg {
		display: none;
	}

	.mat-sort-header-indicator,
	.mat-sort-header-stem {
		display: none;
	}

	&.ob-table-collapse {
		@include ob-table-collapse(md);
	}

	&.ob-table-collapse-sm {
		@include ob-table-collapse(sm);
	}

	&.ob-table-collapse-md {
		@include ob-table-collapse(md);
	}
}
