<p>
	This page has a long text followed by a text intended for screen readers only, i.e. not visible on screen. The goal of this page is to
	ensure this hidden text don't trigger an extra scrollbar when rendered outside of the visible area. Sticky toggles are there to be able to
	test our solution with all for variants that can alter the scrolling element.
</p>
<p>
	<mat-radio-group [formControl]="layout">
		<mat-radio-button value="continuous">Continuous</mat-radio-button>
		<mat-radio-button value="fixed">Fixed</mat-radio-button>
		<mat-radio-button value="stickyHeader">Sticky header</mat-radio-button>
		<mat-radio-button value="stickyFooter">Sticky footer</mat-radio-button>
	</mat-radio-group>
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet maximus nisi. Sed sodales cursus elementum. Donec pharetra id
	magna quis euismod. Nunc at egestas risus. Nullam gravida pellentesque metus id faucibus. Proin facilisis erat ac justo viverra, eu auctor
	orci dictum. Curabitur non diam vitae nisi consequat consequat. Ut eu tempus magna, in congue metus. Lorem ipsum dolor sit amet,
	consectetur adipiscing elit. Fusce pharetra tellus at purus faucibus suscipit. Suspendisse vitae erat et elit ullamcorper posuere.
	Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent et diam condimentum, consectetur ante quis, congue magna.
</p>
<p>
	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et risus quis sapien imperdiet
	gravida. Ut quam sapien, molestie quis gravida non, porta eu tellus. Etiam sapien velit, luctus feugiat turpis in, gravida rutrum diam.
	Sed suscipit lacus nec augue cursus bibendum. Vestibulum metus tortor, pretium eget augue pharetra, iaculis rhoncus felis. Etiam pharetra
	pretium quam, dignissim venenatis tellus elementum eu. Praesent pharetra dui velit, vel fringilla neque feugiat at. Praesent et lorem et
	libero laoreet porta.
</p>
<p>
	Praesent commodo sit amet nunc et blandit. Aliquam semper facilisis finibus. Sed non quam posuere, vulputate nibh ac, imperdiet massa.
	Curabitur scelerisque diam enim, id semper orci gravida quis. Maecenas sapien dolor, condimentum ac lacus a, viverra ullamcorper nibh.
	Fusce a felis felis. Morbi elementum scelerisque nulla et viverra. Nam eu nulla consectetur, consectetur nulla sit amet, condimentum leo.
	Phasellus a fermentum justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed ut diam eu eros
	consequat interdum in vitae neque. Praesent neque dolor, cursus a molestie quis, pellentesque nec sapien.
</p>
<p>
	Aliquam erat volutpat. Etiam mattis orci sit amet dolor dictum cursus. Cras sodales erat lacus, ornare convallis purus rhoncus et. Lorem
	ipsum dolor sit amet, consectetur adipiscing elit. Duis eu eleifend turpis. Mauris pharetra hendrerit nunc ac consectetur. Fusce tellus
	velit, consequat suscipit pulvinar sollicitudin, vehicula nec ex. Maecenas at laoreet dui. Donec ullamcorper, nibh non molestie accumsan,
	sapien orci euismod eros, ut volutpat nulla leo at est.
</p>
<p>
	Integer dictum quam quis mi consequat dictum. Vivamus placerat magna non ante malesuada pharetra sed vitae erat. Maecenas eu laoreet arcu.
	Aliquam sit amet iaculis risus. Integer nec iaculis nunc, et feugiat orci. Aenean accumsan, libero a interdum gravida, felis urna mollis
	velit, quis vulputate quam ex vel erat. In porta molestie ante. Pellentesque ac risus nec leo pellentesque pulvinar. Nam ut posuere nisl.
	Morbi et est eget ipsum lacinia convallis. Ut ac dapibus ex. Cras mi sapien, malesuada nec sodales lacinia, iaculis non nisi.
</p>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet maximus nisi. Sed sodales cursus elementum. Donec pharetra id
	magna quis euismod. Nunc at egestas risus. Nullam gravida pellentesque metus id faucibus. Proin facilisis erat ac justo viverra, eu auctor
	orci dictum. Curabitur non diam vitae nisi consequat consequat. Ut eu tempus magna, in congue metus. Lorem ipsum dolor sit amet,
	consectetur adipiscing elit. Fusce pharetra tellus at purus faucibus suscipit. Suspendisse vitae erat et elit ullamcorper posuere.
	Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent et diam condimentum, consectetur ante quis, congue magna.
</p>
<p>
	Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas et risus quis sapien imperdiet
	gravida. Ut quam sapien, molestie quis gravida non, porta eu tellus. Etiam sapien velit, luctus feugiat turpis in, gravida rutrum diam.
	Sed suscipit lacus nec augue cursus bibendum. Vestibulum metus tortor, pretium eget augue pharetra, iaculis rhoncus felis. Etiam pharetra
	pretium quam, dignissim venenatis tellus elementum eu. Praesent pharetra dui velit, vel fringilla neque feugiat at. Praesent et lorem et
	libero laoreet porta.
</p>
<p>
	Praesent commodo sit amet nunc et blandit. Aliquam semper facilisis finibus. Sed non quam posuere, vulputate nibh ac, imperdiet massa.
	Curabitur scelerisque diam enim, id semper orci gravida quis. Maecenas sapien dolor, condimentum ac lacus a, viverra ullamcorper nibh.
	Fusce a felis felis. Morbi elementum scelerisque nulla et viverra. Nam eu nulla consectetur, consectetur nulla sit amet, condimentum leo.
	Phasellus a fermentum justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed ut diam eu eros
	consequat interdum in vitae neque. Praesent neque dolor, cursus a molestie quis, pellentesque nec sapien.
</p>
<p>
	Aliquam erat volutpat. Etiam mattis orci sit amet dolor dictum cursus. Cras sodales erat lacus, ornare convallis purus rhoncus et. Lorem
	ipsum dolor sit amet, consectetur adipiscing elit. Duis eu eleifend turpis. Mauris pharetra hendrerit nunc ac consectetur. Fusce tellus
	velit, consequat suscipit pulvinar sollicitudin, vehicula nec ex. Maecenas at laoreet dui. Donec ullamcorper, nibh non molestie accumsan,
	sapien orci euismod eros, ut volutpat nulla leo at est.
</p>
<p>
	Integer dictum quam quis mi consequat dictum. Vivamus placerat magna non ante malesuada pharetra sed vitae erat. Maecenas eu laoreet arcu.
	Aliquam sit amet iaculis risus. Integer nec iaculis nunc, et feugiat orci. Aenean accumsan, libero a interdum gravida, felis urna mollis
	velit, quis vulputate quam ex vel erat. In porta molestie ante. Pellentesque ac risus nec leo pellentesque pulvinar. Nam ut posuere nisl.
	Morbi et est eget ipsum lacinia convallis. Ut ac dapibus ex. Cras mi sapien, malesuada nec sodales lacinia, iaculis non nisi.
</p>
<span class="ob-screen-reader-only">Not visible</span>
