@use "@oblique/oblique/src/styles/scss/core/mixins/typography";

.ob-h1 {
	@include typography.ob-h1();
}

.ob-h2 {
	@include typography.ob-h2();
}

.ob-h3 {
	@include typography.ob-h3();
}

.ob-h4 {
	@include typography.ob-h4();
}

.ob-h5 {
	@include typography.ob-h5();
}

.ob-h6 {
	@include typography.ob-h6();
}

.h1-prose {
	@include typography.ob-h1-prose();
}

.h2-prose {
	@include typography.ob-h2-prose();
}

.h3-prose {
	@include typography.ob-h3-prose();
}

.h4-prose {
	@include typography.ob-h4-prose();
}

.h5-prose {
	@include typography.ob-h5-prose();
}

.h6-prose {
	@include typography.ob-h6-prose();
}

.ob-subtitle1 {
	@include typography.ob-subtitle1();
}

.ob-subtitle2 {
	@include typography.ob-subtitle2();
}

.ob-body1 {
	@include typography.ob-body1();
}

.ob-body2 {
	@include typography.ob-body2();
}

.ob-button {
	@include typography.ob-button();
}

.ob-caption {
	@include typography.ob-caption();
}

.ob-overline {
	@include typography.ob-overline();
}

/*
	The rest of this file is used to enhance the appearance of one or more of the Oblique code examples.
	It is NOT required in order to use any Oblique features.
 */

.item {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border: 3px solid #374151;
	border-radius: 5px;
	min-height: 7rem;
	min-width: 20rem;
}

:host {
	gap: 1rem;
	margin-left: 3rem;
	margin-right: 3rem;

	p {
		margin: 0;
	}
}
