<div class="default-layout">
	<h2 class="page-header">Toggles indicators</h2>
	<p class="lead">Indicators that changes on click</p>
	<ul class="list-unstyled">
		<li class="toggle toggle-down-up" orToggle>Toggle (Down-Up, default)</li>
		<li class="toggle toggle-down-right" orToggle>Toggle (Down-Right)</li>
		<li class="toggle toggle-down-left" orToggle>Toggle (Down-Left)</li>
		<li class="toggle toggle-up-down" orToggle>Toggle (Up-Down)</li>
		<li class="toggle toggle-up-right" orToggle>Toggle (Up-Right)</li>
		<li class="toggle toggle-up-left" orToggle>Toggle (Up-Left)</li>
		<li class="toggle toggle-right-left" orToggle>Toggle (Right-Left)</li>
		<li class="toggle toggle-right-down" orToggle>Toggle (Right-Down)</li>
		<li class="toggle toggle-right-up" orToggle>Toggle (Right-Up)</li>
		<li class="toggle toggle-left-right" orToggle>Toggle (Left-Right)</li>
		<li class="toggle toggle-left-down" orToggle>Toggle (Left-Down)</li>
		<li class="toggle toggle-left-up" orToggle>Toggle (Left-Up)</li>
	</ul>
</div>
