<div class="default-layout">
	<h2 class="page-header">Toggles indicators</h2>
	<or-description component="toggle"></or-description>
	<ul class="list-unstyled">
		<li orToggle>Toggle (Down-Up, default)</li>
		<li orToggle="down-right">Toggle (Down-Right)</li>
		<li orToggle="down-left">Toggle (Down-Left)</li>
		<li orToggle="up-down">Toggle (Up-Down)</li>
		<li orToggle="up-right">Toggle (Up-Right)</li>
		<li orToggle="up-left">Toggle (Up-Left)</li>
		<li orToggle="right-left">Toggle (Right-Left)</li>
		<li orToggle="right-down">Toggle (Right-Down)</li>
		<li orToggle="right-up">Toggle (Right-Up)</li>
		<li orToggle="left-right">Toggle (Left-Right)</li>
		<li orToggle="left-down">Toggle (Left-Down)</li>
		<li orToggle="left-up">Toggle (Left-Up)</li>
	</ul>
</div>
<or-api component="toggle"></or-api>
