<mat-form-field>
	<mat-label>Chips autocomplete example</mat-label>
	<mat-chip-grid #chipGrid aria-label="Fruit selection">
		@for (fruit of fruits; track fruit) {
			<mat-chip-row (removed)="remove(fruit)">
				{{ fruit }}
				<button type="button" matChipRemove [attr.aria-label]="'remove ' + fruit">
					<mat-icon svgIcon="xmark_circle" />
				</button>
			</mat-chip-row>
		}
		<input
			#fruitInput
			placeholder="New Fruit..."
			[formControl]="fruitControl"
			[matChipInputFor]="chipGrid"
			[matAutocomplete]="auto"
			[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
			(matChipInputTokenEnd)="add($event)"
		/>
		<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
			@for (fruit of filteredFruits$ | async; track fruit) {
				<mat-option [value]="fruit">
					{{ fruit }}
				</mat-option>
			}
		</mat-autocomplete>
	</mat-chip-grid>
</mat-form-field>
