<mat-form-field appearance="fill">
	<mat-chip-grid #chipGrid aria-label="Fruit selection">
		<mat-chip-row *ngFor="let fruit of fruits" class="warning" (removed)="remove(fruit)">
			{{ fruit }}
			<button type="button" matChipRemove [attr.aria-label]="'remove ' + fruit">
				<mat-icon svgIcon="cancel" />
			</button>
		</mat-chip-row>
	</mat-chip-grid>
	<input
		#fruitInput
		placeholder="New Fruit..."
		[formControl]="fruitControl"
		[matChipInputFor]="chipGrid"
		[matAutocomplete]="auto"
		[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
		(matChipInputTokenEnd)="add($event)"
	/>
	<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
		<mat-option *ngFor="let fruit of filteredFruits$ | async" [value]="fruit">
			{{ fruit }}
		</mat-option>
	</mat-autocomplete>
</mat-form-field>
