@use "@oblique/oblique/src/styles/scss/core/variables";
.buttons {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	padding: 1rem;
	border: 3px solid variables.$ob-gray-darker;
	border-radius: 5px;
	justify-content: center;
}
.container {
	flex-basis: calc(50% - 1.5rem); // 1.5rem is half of parent's column-gap
}
