@use "../../../styles/scss/core/mixins/layout";

:host {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-left: 26px;
	margin-top: 20px;
}

label {
	padding-right: 0.3rem;

	@include layout.ob-media-breakpoint-up(xl) {
		padding-right: 0.5rem;
	}
}

select {
	min-width: 3rem;
	cursor: pointer;

	@include layout.ob-media-breakpoint-up(xl) {
		min-width: 4rem;
	}
}

label,
select {
	@include layout.ob-media-breakpoint-up(xl) {
		font-size: x-large;
	}
}
