@import '../../../../../node_modules/oblique-ui/scss/variables';
@import '../../../../../node_modules/oblique-ui/scss/mixins';

.list-group-item {
	display: flex;
}

.list-group-header {
	background-color: $gray-darker;
	border-color: $gray-darker;
	color: $white;
}
