<h2>{{ "i18n.routes.samples.selected.title" | translate }}</h2>
<sc-description component="selectable"></sc-description>
<ob-column-layout [left]="false" [right]="true">
	<section column-main-content>
		<div obSelectableGroup [mode]="mode" #group="obSelectableGroup">
			<div obSelectable value="cat" [selected]="true">a preselected cat</div>
			<div obSelectable value="bird" [selected]="true">a preselected bird</div>
			<div obSelectable value="dog" [selected]="false">a selectable dog</div>
			<div obSelectable value="horse" [selected]="false">a selectable horse</div>
			<div obSelectable value="cow" [selected]="false">a selectable cow</div>
		</div>
		<br />
		Selected values:
		<ul>
			<li *ngFor="let item of group.selected$ | async">{{ item.value }}</li>
		</ul>
	</section>
	<section column-right-content>
		<mat-radio-group aria-label="Select an option" [(ngModel)]="mode">
			<mat-radio-button value="checkbox">Checkbox</mat-radio-button>
			<br />
			<mat-radio-button value="radio">Radio</mat-radio-button>
			<br />
			<mat-radio-button value="windows">Windows</mat-radio-button>
		</mat-radio-group>
		<div>
			<button mat-flat-button color="primary" (click)="group.selectAll()">Select all</button>
			<button mat-flat-button color="primary" (click)="group.deselectAll()">Deselect all</button>
		</div>
	</section>
</ob-column-layout>
<sc-api component="selectable"></sc-api>
