@import "../../../../projects/oblique/src/styles/scss/core/variables";

.ob-selected {
	background-color: $brand-extra-light;
}

[obselectable]:hover {
	box-shadow: 0 0 5px 5px $brand-extra-light;
}

.selectable-div-example {
	width: 200px;
	border: 1px solid;
	margin: 15px;
}

button {
	margin: $spacing-sm;
}
