<h2 class="page-header">Service navigation</h2>
<ob-column-layout left="NONE">
	<section column-main-content>
		<ob-service-navigation
			[pamsAppId]="eportalAppId"
			[environment]="environment"
			[rootUrl]="rootUrl"
			[returnUrl]="returnUrl"
			[profileLinks]="profileLinks"
			[infoLinks]="infoLinks"
			[infoContactText]="infoContactText"
			[infoContact]="infoContact"
			[infoHelpText]="infoHelpText"
			[infoDescription]="infoDescription"
			[useInfoBackend]="hasInfoBackend"
			[maxFavoriteApplications]="maxFavoriteApplications"
			[displayMessage]="displayMessage"
			[displayInfo]="displayInfo"
			[displayApplications]="displayApplications"
			[displayProfile]="displayProfile"
			[displayAuthentication]="displayAuthentication"
			[displayLanguages]="displayLanguages"
			[eportalLanguageSynchronization]="eportalLanguageSynchronization"
			[handleLogout]="handleLogout"
			(loginState)="loginState = $event"
			(logoutTriggered)="logoutURL = $event"
		>
			@if (hasCustomWidgets) {
				<ng-template #customWidgetTemplate>
					<button type="button" class="ob-widget" mat-icon-button matTooltip="smile" obButton="secondary">
						<mat-icon svgIcon="happy" />
					</button>
				</ng-template>
				<ng-template #customWidgetTemplate>
					<button type="button" class="ob-widget" mat-icon-button matTooltip="thumbs up" obButton="secondary">
						<mat-icon svgIcon="thumbs_up" />
					</button>
				</ng-template>
			}
		</ob-service-navigation>
		<p>
			Current login state: <output>{{ loginState }}</output>
		</p>
		<p>
			Logout triggered with this logoutURL: <output>{{ logoutURL }}</output>
		</p>
	</section>
	<ng-container column-right-content>
		<fieldset class="toggles">
			<legend>Info widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayInfo">toggle info</mat-slide-toggle>
			<mat-slide-toggle [disabled]="!displayInfo" [(ngModel)]="hasInfoLinks">toggle info links</mat-slide-toggle>
			<mat-slide-toggle [disabled]="!displayInfo" [(ngModel)]="hasContactEmail" (change)="handleContactInfo()"
				>toggle contact email</mat-slide-toggle
			>
			<mat-slide-toggle [disabled]="!displayInfo" [(ngModel)]="hasContactPhone" (change)="handleContactInfo()"
				>toggle contact phone</mat-slide-toggle
			>
			<mat-slide-toggle [disabled]="!displayInfo" [(ngModel)]="hasContactFormUrl" (change)="handleContactInfo()"
				>toggle contact form url</mat-slide-toggle
			>
			<mat-slide-toggle [disabled]="!displayInfo" [(ngModel)]="hasInfoBackend" (change)="handleContactInfo()"
				>toggle backend</mat-slide-toggle
			>
		</fieldset>
		<fieldset class="toggles">
			<legend>Profile widget settings</legend>
			<mat-slide-toggle [disabled]="loginState === 'SA'" [(ngModel)]="displayProfile">toggle profile</mat-slide-toggle>
			<mat-slide-toggle [disabled]="!displayProfile || loginState === 'SA'" [(ngModel)]="hasProfileLinks"
				>toggle profile links</mat-slide-toggle
			>
		</fieldset>
		<fieldset class="toggles">
			<legend>Messages widget settings</legend>
			<mat-slide-toggle [disabled]="loginState === 'SA'" [(ngModel)]="displayMessage">toggle message</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Authentication widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayAuthentication">toggle authentication</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="handleLogout">toggle handleLogout</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Languages widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayLanguages">toggle language</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Applications widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayApplications">toggle applications</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Custom widgets settings</legend>
			<mat-slide-toggle [(ngModel)]="hasCustomWidgets">toggle custom widgets</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>ePortal language synchronization</legend>
			<mat-slide-toggle [(ngModel)]="eportalLanguageSynchronization">toggle synchronization</mat-slide-toggle>
		</fieldset>
	</ng-container>
</ob-column-layout>
