@use "sass:map";
@use "../../styles/scss/core/variables";

/*
	 This file can be used to add a flex layout to the host component.
	Its content is NOT needed in order to use the component demonstrated.
*/
:host {
	display: flex;
	flex-wrap: wrap;
	column-gap: 3rem;
	row-gap: 2rem;

	@mixin layout-column() {
		flex-direction: column;
		align-items: flex-start;

		&.flex-end {
			align-items: flex-end;
		}
	}

	@each $name, $breakpoint in variables.$ob-grid-breakpoints {
		@media (max-width: map.get(variables.$ob-grid-breakpoints, $name)) {
			&.layout-breakpoint-#{$name} {
				@include layout-column();
			}
		}
	}

	&.layout-column {
		@include layout-column();
	}
}
