@use "sass:map";

:host {
	display: flex;
	flex-wrap: wrap;
	column-gap: 3rem;
	row-gap: 2rem;

	$ob-grid-breakpoints: (
		sm: 600px,
		md: 905px,
		lg: 1240px,
		xl: 1440px,
	) !default;

	@mixin layout-column() {
		flex-direction: column;
		align-items: flex-start;

		&.flex-end {
			align-items: flex-end;
		}
	}

	@each $name, $breakpoint in $ob-grid-breakpoints {
		@media (max-width: map.get($ob-grid-breakpoints, $name)) {
			&.layout-breakpoint-#{$name} {
				@include layout-column();
			}
		}
	}

	&.layout-column {
		@include layout-column();
	}
}
