<div class="default-layout">
	<div class="headline headline-lg">
		<h1 class="oblique">
			<span class="oblique-logo">
				<img src="./assets/images/oblique-small.png" alt="{{'i18n.application.longName' | translate}}">
				<span class="oblique-addon fa fa-rocket"></span>
			</span>
			<span>Oblique<span>Reactive</span></span>
		</h1>
		<p class="lead">{{'i18n.application.description'| translate }}</p>
		<p>
			<span>2.0.0-alpha.3</span>
			<span> - </span>
			<a href="https://stash.eap.bit.admin.ch/projects/OUI/repos/oblique-reactive/"
			   title="Go to project ObliqueReactive repository on Stash" data-placement="bottom">
				<span class="sr-only">ObliqueReactive GIT repository</span>
				<span class="fa fa-bitbucket"></span>
			</a>
		</p>
	</div>
	<div class="row">
		<div class="col-12">
			<div class="panel text-center">
				<div class="row">
					<div class="col-md-4 col-md-push-4">
						<h2 class="oblique">
							<span class="oblique-logo">
								<img src="./assets/images/oblique-small.png" alt="ObliqueUI Logo"/>
							</span>
							<span>Oblique<span>UI</span></span>
						</h2>
						<p class="lead">The front-end framework for your Swiss branded UI.</p>
						<p>
							<a href="http://vmjeap10i04.bfi.admin.ch/eui/oblique-ui/" class="btn btn-primary btn-lg"
							   title="HTML5 Powered with Connectivity / Realtime, CSS3 / Styling, Performance &amp; Integration, Semantics, and Offline &amp; Storage">
								<span class="fa fa-external-link"></span>
								<span>ObliqueUI</span>
							</a>
						</p>
						<p>
							<span>2.0.0-alpha.1</span>
							<span> - </span>
							<a href="https://stash.eap.bit.admin.ch/projects/OUI/repos/oblique-ui/"
							   title="Go to project ObliqueUI repository on Stash" data-placement="bottom">
								<span class="sr-only">ObliqueUI GIT repository</span>
								<span class="fa fa-bitbucket"></span>
							</a>
						</p>
					</div>
					<div class="col-md-4 col-md-pull-4">
						<h2 class="bootstrap">
							<span class="bootstrap-icon">B</span>
							<span>Bootstrap</span>
						</h2>
						<p class="lead">Designed for everyone, everywhere.</p>
						<p>
							<a href="https://v4-alpha.getbootstrap.com/" class="btn btn-primary btn-lg"
							   title="Bootstrap is the most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.">
								<span class="fa fa-external-link"></span>
								<span>Bootstrap</span>
							</a>
						</p>
						<p>
							<span>4.0.0-alpha.6</span>
							<span> - </span>
							<a href="https://github.com/twbs/bootstrap"
							   title="Go to project Bootstrap repository on GitHub" data-placement="bottom">
								<span class="sr-only">Bootstrap GIT repository</span>
								<span class="fa fa-bitbucket"></span>
							</a>
						</p>
					</div>
					<div class="col-md-4">
						<h2 class="angular">
							<img class="angular-icon" src="./assets/images/angular-logo.png" alt="Angular" />
							<span>Angular</span>
						</h2>
						<p class="lead">One framework. Mobile & desktop.</p>
						<p>
							<a href="https://angular.io" class="btn btn-primary btn-lg"
							   title="One framework. Mobile & desktop.">
								<span class="fa fa-external-link"></span>
								<span>AngularJS</span>
							</a>
						</p>
						<p>
							<span>2.3.1</span>
							<span> - </span>
							<a href="https://github.com/angular/angular/"
							   title="Go to project Angular repository on GitHub" data-placement="bottom">
								<span class="sr-only">Angular GIT repository</span>
								<span class="fa fa-bitbucket"></span>
							</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
