<div class="default-layout">
	<form class="form-horizontal has-validation" name="validationForm" role="form" [orSchemaValidation]="schema"
		  #form="ngForm" orUnsavedChanges>
		<h2 class="page-header">
			<span>Schema validation</span>
			<span class="pull-right">
			<div class="fa fa-check text-success" uib-tooltip="Form is valid" tooltip-placement="bottom"
				 *ngIf="form.valid"></div>
			<span class="fa fa-warning text-danger" uib-tooltip="Form is not valid" tooltip-placement="bottom"
				  *ngIf="!form.valid"></span>
		</span>
		</h2>
		<p class="lead">Use a custom <a href="http://json-schema.org/">JSON schema</a> in order to perform automatic
			form
			control validation.</p>
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Preview</h3>
			</div>
			<div class="card-block">
				<div orFormControlState class="row form-group" [pristineValidation]="true">
					<label class="col-2 col-form-label">Text</label>
					<div class="col-8">
						<input name="text" type="text" class="form-control" ngModel orSchemaValidate/>
						<or-error-messages></or-error-messages>
						<!--<span *ngFor="let error of text.errors" id="text-schema-validation-error" class="help-block">{{error | json}}</span>-->
					</div>
					<div class="col-2">
						<a href="" class="form-control-static" role="button"
						   uib-popover-html="ctrl.jsonSource(ctrl.schema.properties.text)"
						   popover-title="Schema" popover-placement="bottom" popover-trigger="'focus'">
							<span class="fa fa-sitemap"></span>
						</a>
					</div>
				</div>
				<div orFormControlState class="row form-group">
					<label class="col-2 col-form-label">Number</label>
					<div class="col-8">
						<input name="number" type="number" class="form-control" ngModel
							   orSchemaValidate/>
						<or-error-messages></or-error-messages>
					</div>
					<div class="col-1">
						<a href="" class="form-control-static" role="button"
						   uib-popover-html="ctrl.jsonSource(ctrl.schema.properties.number)"
						   popover-title="Schema" popover-placement="bottom" popover-trigger="'focus'">
							<span class="fa fa-sitemap"></span>
						</a>
					</div>
					<div class="col-1">
						<a href="" class="form-control-static" role="button"
						   uib-popover-html="'<ul class=list-unstyled><li><code>input[type=\'text\']</code></li><li><code>[number-format]</code></li></ul>'"
						   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'">
							<span class="fa fa-info-circle"></span>
						</a>
					</div>
				</div>
				<div orFormControlState class="row form-group">
					<label class="col-2 col-form-label">Integer</label>
					<div class="col-8">
						<input name="integer" type="number" class="form-control"
							   ngModel orSchemaValidate/>
						<or-error-messages></or-error-messages>
					</div>
					<div class="col-2">
						<a href="" class="form-control-static" role="button"
						   uib-popover-html="ctrl.jsonSource(ctrl.schema.properties.integer)"
						   popover-title="Schema" popover-placement="bottom" popover-trigger="'focus'">
							<span class="fa fa-sitemap"></span>
						</a>
					</div>
				</div>
				<div orFormControlState class="row form-group">
					<label class="col-2 col-form-label">Date</label>
					<div class="col-8">
						<or-date-picker>
							<input class="form-control" placeholder="yyyy-mm-dd"
								   name="date" ngModel ngbDatepicker required navigation="arrows">
						</or-date-picker>
						<or-error-messages></or-error-messages>
					</div>
					<div class="col-2">
						<a href="" class="form-control-static" role="button"
						   uib-popover-html="ctrl.jsonSource(ctrl.schema.properties.integer)"
						   popover-title="Schema" popover-placement="bottom" popover-trigger="'focus'">
							<span class="fa fa-sitemap"></span>
						</a>
					</div>

				</div>
				<div orFormControlState class="row form-group">
					<label class="col-2 col-form-label">Textarea</label>
					<div class="col-8">
					<textarea name="textarea" type="text" class="form-control"
							  ngModel msd-elastic rows="1" orSchemaValidate></textarea>
						<or-error-messages></or-error-messages>
					</div>
					<div class="col-1">
						<a href="" class="form-control-static" role="button"
						   uib-popover-html="ctrl.jsonSource(ctrl.schema.properties.textarea)"
						   popover-title="Schema" popover-placement="bottom" popover-trigger="'focus'">
							<span class="fa fa-sitemap"></span>
						</a>
					</div>
					<div class="col-1">
						<a href="" class="form-control-static" role="button"
						   uib-popover-html="'<ul class=list-unstyled><li><code>textarea[msd-elastic]</code></li></ul>'"
						   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'">
							<span class="fa fa-info-circle"></span>
						</a>
					</div>
				</div>
				<div class="card" ngModelGroup="name">
					<div class="card-block">
						<h3 class="card-title">Name</h3>
						<div orFormControlState class="row form-group">
							<label class="col-2 col-form-label">Firstname</label>
							<div class="col-10">
								<input type="text" name="firstname" class="form-control" ngModel orSchemaValidate>
								<or-error-messages></or-error-messages>
							</div>
						</div>
						<div orFormControlState class="row form-group">
							<label class="col-2 col-form-label">Lastname</label>
							<div class="col-10">
								<input type="text" name="lastname" class="form-control" ngModel orSchemaValidate>
								<or-error-messages></or-error-messages>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="form-actions">
					<button type="submit" class="btn btn-primary"
							ng-disabled="!validationForm.$valid && validationForm.$submitted">Check
					</button>
				</div>
			</div>
		</div>

	</form>
	<div class="row">
		<div class="col-md-6">
			<h4>Full JSON schema</h4>
			<pre>{{schema | json}}</pre>
		</div>
		<div class="col-md-6">
			<h4>Model data</h4>
			<pre>{{form.value | json}}</pre>
			<h4>Form valid?</h4>
			<pre>{{form.valid | json}}</pre>
		</div>
	</div>
</div>
