<h2>Popover</h2>
<ob-column-layout left="NONE">
	<ng-container column-main-content>
		<div class="large-popover">
			@if (toggleHandle === toggleTypeClick || toggleHandle === undefined) {
				<button
					type="button"
					mat-raised-button
					id="poptest"
					[ngClass]="openPopoverPosition"
					[obPopover]="popover"
					[placement]="placement"
					[toggleHandle]="toggleHandle"
					[closeOnlyOnToggle]="closeOnlyOnToggle"
					[appendToBody]="appendToBody"
					(visibilityChange)="setVisibility($event)"
				>
					{{ popoverVisible ? "Close" : "Open" }} Popover
				</button>
			}
			@if (toggleHandle === toggleTypeHover) {
				<p
					tabindex="0"
					[ngClass]="openPopoverPosition"
					[obPopover]="popover"
					[placement]="placement"
					[toggleHandle]="toggleHandle"
					(visibilityChange)="setVisibility($event)"
				>
					{{ popoverVisible ? "Leave to close" : "Hover to open" }} the Popover
				</p>
			}
			<ng-template #popover>
				<div cdkTrapFocus cdkTrapFocusAutoCapture>
					<p>Popover example. Here goes your content! {{ param }}</p>
					@if (hasScrollBar) {
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare lacus enim, et suscipit neque accumsan
							eget. Phasellus dapibus, dui sed finibus pharetra, urna libero sodales ante, et porta quam tellus ut elit.
							Suspendisse enim nibh, sagittis in pellentesque ut, malesuada vel nisi. Nullam efficitur turpis a egestas
							pellentesque. Curabitur id eros tristique, semper sem vitae, mollis nunc. Cras convallis felis non
							ullamcorper mattis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
							egestas. Nulla vel pretium nulla. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas
							scelerisque nibh suscipit rhoncus. Donec in ipsum vulputate, tempus enim non, consectetur felis. Donec
							libero risus, tristique eget porta ut, efficitur a nisi. Donec malesuada lacus sit amet tellus mattis
							porta.
						</p>
					}
					<button type="button" mat-button>Maybe</button>
					<button type="button" cdkFocusInitial mat-button>Yes</button>
					<button type="button" mat-button>Not sure</button>
				</div>
			</ng-template>
		</div>
		@if (lastVisibilityEventTimestamp) {
			<p>
				Last visibility event emitted at:
				<span class="timestamp">{{ lastVisibilityEventTimestamp | date: "HH:mm:ss.SSS" }}</span>
			</p>
		}
	</ng-container>
	<ng-container column-right-content>
		<fieldset>
			<legend>Alignment</legend>
			<mat-select [(ngModel)]="placement">
				<mat-option value="auto">Auto</mat-option>
				<mat-option value="top-start">Top left</mat-option>
				<mat-option value="top">Top center</mat-option>
				<mat-option value="top-end">Top right</mat-option>
				<mat-option value="right-start">Right top</mat-option>
				<mat-option value="right">Right center</mat-option>
				<mat-option value="right-end">Right bottom</mat-option>
				<mat-option value="bottom-start">Bottom left</mat-option>
				<mat-option value="bottom">Bottom center</mat-option>
				<mat-option value="bottom-end">Bottom right</mat-option>
				<mat-option value="left-start">Left top</mat-option>
				<mat-option value="left">Left center</mat-option>
				<mat-option value="left-end">Left bottom</mat-option>
			</mat-select>
		</fieldset>
		<fieldset>
			<legend>Append to body</legend>
			<mat-slide-toggle [(ngModel)]="appendToBody">Append to Body</mat-slide-toggle>
		</fieldset>
		<fieldset>
			<legend>Has scrollbar</legend>
			<mat-slide-toggle [(ngModel)]="hasScrollBar">Add vertical scrollbar</mat-slide-toggle>
		</fieldset>
		<fieldset>
			<legend>Toggle position</legend>
			<mat-radio-group [(ngModel)]="openPopoverPosition">
				<mat-radio-button value="left">Left</mat-radio-button>
				<mat-radio-button value="center">Center</mat-radio-button>
				<mat-radio-button value="right">Right</mat-radio-button>
			</mat-radio-group>
		</fieldset>
		<fieldset>
			<legend>Toggle handle</legend>
			<mat-radio-group [(ngModel)]="toggleHandle">
				<mat-radio-button [value]="undefined">Not set</mat-radio-button>
				<mat-radio-button [value]="toggleTypeHover">Hover</mat-radio-button>
				<mat-radio-button [value]="toggleTypeClick">Click</mat-radio-button>
			</mat-radio-group>
		</fieldset>
		@if (toggleHandle === toggleTypeClick || toggleHandle === undefined) {
			<fieldset>
				<legend>Close only on toggle</legend>
				<mat-radio-group [(ngModel)]="closeOnlyOnToggle">
					<mat-radio-button [value]="undefined">Not set</mat-radio-button>
					<mat-radio-button [value]="true">true</mat-radio-button>
					<mat-radio-button [value]="false">false</mat-radio-button>
				</mat-radio-group>
			</fieldset>
		}
	</ng-container>
</ob-column-layout>
