<p class="explanation">
	*The <code>box-shadow</code> for the element with the text "focus visible tab focus box" will only be visible if that element is navigated
	to by pressing the tab key.
</p>
<div class="button-container"><button type="button" class="item ob-drop-shadow">drop</button></div>
<div class="button-container"><button type="button" class="item ob-tab-focus-box-shadow">tab focus box</button></div>
<div class="button-container">
	<button type="button" class="item ob-focus-visible-tab-focus-box-shadow">focus visible tab focus box</button>
</div>
<div class="button-container"><button type="button" class="item ob-tab-focus-border">tab focus border</button></div>
<div class="button-container"><button type="button" class="item ob-inner-bottom-shadow">inner bottom</button></div>
<div class="button-container"><button type="button" class="item ob-shadow-sm">sm</button></div>
<div class="button-container"><button type="button" class="item ob-shadow-md">md</button></div>
<div class="button-container"><button type="button" class="item ob-shadow-default">default</button></div>
<div class="button-container"><button type="button" class="item ob-shadow-lg">lg</button></div>
<div class="button-container"><button type="button" class="item ob-shadow-xl">xl</button></div>
<div class="button-container"><button type="button" class="item ob-shadow-2xl">2xl</button></div>
<div class="button-container">
	<button type="button" class="item ob-expanded-active-main-nav-item-box-shadow">expanded active main nav item box</button>
</div>
<div class="button-container"><button type="button" class="item ob-default-panel-box-shadow">default panel box</button></div>
