<h2 class="page-header">External Link</h2>
<sb-description component="external-link"></sb-description>
<ob-column-layout [left]="false">
	<ng-container column-main-content>
		<table class="ob-table">
			<thead>
				<tr>
					<th></th>
					<th>Dynamic</th>
					<th>Auto</th>
					<th>True</th>
					<th>False</th>
					<th>Default</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>External link</th>
					<td><a href="http://www.google.ch" [isExternalLink]="isExternal" [icon]="iconPosition">Link</a></td>
					<td><a href="http://www.google.ch" [isExternalLink]="'auto'" [icon]="iconPosition">Link</a></td>
					<td><a href="http://www.google.ch" [isExternalLink]="true" [icon]="iconPosition">Link</a></td>
					<td><a href="http://www.google.ch" [isExternalLink]="false" [icon]="iconPosition">Link</a></td>
					<td><a href="http://www.google.ch" [icon]="iconPosition">Link</a></td>
				</tr>
				<tr>
					<th>Internal link</th>
					<td><a href="http://localhost:3001" [isExternalLink]="isExternal" [icon]="iconPosition">Link</a></td>
					<td><a href="http://localhost:3001" [isExternalLink]="'auto'" [icon]="iconPosition">Link</a></td>
					<td><a href="http://localhost:3001" [isExternalLink]="true" [icon]="iconPosition">Link</a></td>
					<td><a href="http://localhost:3001" [isExternalLink]="false" [icon]="iconPosition">Link</a></td>
					<td><a href="http://localhost:3001" [icon]="iconPosition">Link</a></td>
				</tr>
				<tr>
					<th>Router link</th>
					<td><a [routerLink]="'/'" [isExternalLink]="isExternal" [icon]="iconPosition">Link</a></td>
					<td><a [routerLink]="'/'" [isExternalLink]="'auto'" [icon]="iconPosition">Link</a></td>
					<td><a [routerLink]="'/'" [isExternalLink]="true" [icon]="iconPosition">Link</a></td>
					<td><a [routerLink]="'/'" [isExternalLink]="false" [icon]="iconPosition">Link</a></td>
					<td><a [routerLink]="'/'" [icon]="iconPosition">Link</a></td>
				</tr>
				<tr>
					<th>Link without href</th>
					<td><a [isExternalLink]="isExternal" [icon]="iconPosition">Link</a></td>
					<td><a [isExternalLink]="'auto'" [icon]="iconPosition">Link</a></td>
					<td><a [isExternalLink]="true" [icon]="iconPosition">Link</a></td>
					<td><a [isExternalLink]="false" [icon]="iconPosition">Link</a></td>
					<td><a [icon]="iconPosition">Link</a></td>
				</tr>
			</tbody>
		</table>

		<p>
			This is an example paragraph that contains an <a href="http://www.google.ch" [icon]="iconPosition">External Link</a>. Lorem ipsum
			dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
			veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
			voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
			deserunt mollit anim id est laborum
		</p>

		<p>
			<a href="http://www.google.ch" class="long-link">An example of a long link text that spans multiple lines.</a>
		</p>
	</ng-container>

	<ng-container column-right-content>
		<fieldset>
			<legend>Icon position</legend>
			<mat-radio-group [(ngModel)]="iconPosition">
				<mat-radio-button *ngFor="let variant of iconPositions" [value]="variant.value">{{ variant.viewValue }}</mat-radio-button>
			</mat-radio-group>
		</fieldset>
		<fieldset>
			<legend>Is link presented as external link</legend>
			<mat-radio-group [(ngModel)]="isExternal">
				<mat-radio-button *ngFor="let variantIsExternal of isLinkExternal" [value]="variantIsExternal.value">{{
					variantIsExternal.viewValue
				}}</mat-radio-button>
			</mat-radio-group>
		</fieldset>
	</ng-container>
</ob-column-layout>
<sb-api component="external-link"></sb-api>
