@use "sass:map";
@use "../styles/scss/core/mixins/layout";
@use "../styles/scss/core/variables";

$banner-height: 50px;

:host.has-banner {
	display: grid;
	grid-template-columns: fit-content(500px) auto;
	grid-template-rows: $banner-height 1fr;

	.main-content {
		height: calc(100vh - $banner-height);
	}
}

.app-banner {
	width: 100%;
	grid-column: 1 / -1;
	grid-row: auto;
	border-radius: 0;
	text-align: center;
}

.main-content {
	grid-column: 1 / -1;
	grid-row: 2;
	display: grid;
	grid-template-columns: fit-content(500px) 30fr;
	height: 100dvh;
	width: 100%;
	max-width: map.get(variables.$ob-grid-breakpoints, xl);
	margin: 0 auto;
}
