<div class="column-layout column-layout-3" orColumn>
	<div class="column-left hidden-print" role="complementary">
		<button type="button" class="toggle-left" orColumnToggle="left">
			<span class="sr-only">Toggle left column</span>
		</button>
		<div class="column-content">
			<div class="default-layout">
				<h3 class="nav-header-title">Navigation header</h3>
			</div>
		</div>
	</div>
	<div class="column-main">
		<div class="default-layout">
			<h1>Three-Column Layout</h1>
			<p class="lead">This directive toggle the side panels.</p>
		</div>
	</div>
	<div class="column-right" role="complementary">
		<button type="button" class="toggle-right" orColumnToggle="right">
			<span class="sr-only">Toggle right column</span>
		</button>
		<div class="column-content">
			<div class="default-layout">
				<div class="panel panel-secondary">
					<div class="panel-heading">
						<h3 class="panel-title">Secondary Panel</h3>
					</div>
					<div class="panel-body">
						<p>Ea magna et nostrud velit.</p>
					</div>
					<div class="panel-footer">Panel footer</div>
				</div>
			</div>
		</div>
	</div>
</div>
