@import '~oblique-ui/scss/variables';
@import '~oblique-ui/scss/mixins/layout';

.headline {
	&.headline-lg {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
}

.oblique {
	> span:not(.vendor-logo) {
		font-weight: bold;
		> span {
			font-weight: normal;
		}
	}

	.oblique-logo {
		width: 10rem;
		max-width: 80%;
	}

	.headline & {
		.oblique-logo {
			width: 32rem;
		}
	}
}

.vendor-logo {
	display: inline-block;
	width: 4rem;

	img {
		width: 100%;
	}

	+ span {
		margin-left: 5px;
	}
}
