<div #group="obSelectableGroup" disabled obSelectableGroup mode="radio">
	<div obSelectable value="cat">a disabled and thus not selectable cat</div>
	<div obSelectable value="bird">a disabled and thus not electable bird</div>
	<div obSelectable value="dog">a disabled and thus not selectable dog</div>
	<div obSelectable value="horse">a disabled and thus not selectable horse</div>
	<div obSelectable value="cow">a disabled and thus not selectable cow</div>
</div>
<hr />
Selected values:
<ul>
	<li *ngFor="let item of group.selected$ | async">{{ item.value }}</li>
</ul>
