<ul id="nav-global" class="nav navbar-nav navbar-primary navbar-fw" role="menu">
	<li role="menuitem" ng-class="{active: state.name === 'home'}">
		<a href="{{assets}}#/home">\{{'states.home.title' | translate}}</a>
	</li>
	<li role="menuitem" ng-class="{active: state.name === 'movies'}">
		<a href="{{assets}}#/movies">\{{'states.movies.title' | translate}}</a>
	</li>
</ul>
