<ul class="nav navbar-nav navbar-right navbar-controls" role="menu">
	{{#each locales}}
		<li role="menuitem" ng-class="{active: appController.locale.current === '{{this.code}}'}">
			<a href="" role="button" ng-click="appController.locale.use('{{this.code}}')">
				<span class="control-widget">{{upperCase this.code}}</span>
			</a>
		</li>
	{{/each}}
	<li role="menuitem">
		<a href="" role="button" ui-sref="login">
			<span class="control-icon fa fa-sign-in"></span>
		</a>
	</li>
</ul>
