<ul id="nav-global" class="nav navbar-nav navbar-primary navbar-fw" role="menu">
	<li role="menuitem" ui-sref-active="active">
		<a href="" ui-sref="home">\{{'states.home.title' | translate}}</a>
	</li>
	<li role="menuitem" ui-sref-active="active" ng-if="appController.user">
		<a href="" ui-sref="movies">\{{'states.movies.title' | translate}}</a>
	</li>
	<li role="menuitem" ui-sref-active="active" ng-if="!appController.user">
		<a href="" ui-sref="auth.login">\{{'states.login.title' | translate}}</a>
	</li>
</ul>
