<table mat-table class="ob-table ob-table-plain" [dataSource]="dataSource">
	<ng-container matColumnDef="position">
		<th *matHeaderCellDef mat-header-cell>No.</th>
		<td *matCellDef="let element" mat-cell>{{ element.position }}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th *matHeaderCellDef mat-header-cell>Name</th>
		<td *matCellDef="let element" mat-cell>{{ element.name }}</td>
	</ng-container>

	<ng-container matColumnDef="weight">
		<th *matHeaderCellDef mat-header-cell>Weight</th>
		<td *matCellDef="let element" mat-cell>{{ element.weight }}</td>
	</ng-container>

	<ng-container matColumnDef="symbol">
		<th *matHeaderCellDef mat-header-cell>Symbol</th>
		<td *matCellDef="let element" mat-cell>{{ element.symbol }}</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
	<caption>
		Material table with the
		<code>ob-table-plain</code>
		class.
	</caption>
</table>

<table mat-table class="ob-table ob-table-cicd" [dataSource]="dataSource">
	<ng-container matColumnDef="position">
		<th *matHeaderCellDef mat-header-cell>No.</th>
		<td *matCellDef="let element" mat-cell>{{ element.position }}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th *matHeaderCellDef mat-header-cell>Name</th>
		<td *matCellDef="let element" mat-cell>{{ element.name }}</td>
	</ng-container>

	<ng-container matColumnDef="weight">
		<th *matHeaderCellDef mat-header-cell>Weight</th>
		<td *matCellDef="let element" mat-cell>{{ element.weight }}</td>
	</ng-container>

	<ng-container matColumnDef="symbol">
		<th *matHeaderCellDef mat-header-cell>Symbol</th>
		<td *matCellDef="let element" mat-cell>{{ element.symbol }}</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
	<caption>
		Material table with the
		<code>ob-table-cicd</code>
		class.
	</caption>
</table>
