<h2>Template-driven form</h2>

<mat-form-field>
	<mat-label>Mandatory</mat-label>
	<input type="text" matInput placeholder="Mandatory" required ngModel />
</mat-form-field>

<mat-form-field>
	<mat-label>Mandatory</mat-label>
	<input type="text" matInput placeholder="Mandatory" required [(ngModel)]="testModel1" #control="ngModel" />
	<button type="button" role="button" [obInputClear]="control">
		<mat-icon svgIcon="cancel-circle"></mat-icon>
		<span class="ob-screen-reader-only">{{ "i18n.common.clear" | translate }}</span>
	</button>
</mat-form-field>

<div class="ob-form-lg">
	<mat-form-field>
		<mat-label>Mandatory LG</mat-label>
		<input type="text" matInput placeholder="Mandatory" required ngModel />
	</mat-form-field>

	<mat-form-field>
		<mat-label>Mandatory LG</mat-label>
		<input type="text" matInput placeholder="Mandatory" required [(ngModel)]="testModel2" #controlLG="ngModel" />
		<button type="button" role="button" [obInputClear]="controlLG">
			<mat-icon svgIcon="cancel-circle"></mat-icon>
			<span class="ob-screen-reader-only">{{ "i18n.common.clear" | translate }}</span>
		</button>
	</mat-form-field>
</div>

<div class="ob-form-sm">
	<mat-form-field>
		<mat-label>Mandatory SM</mat-label>
		<input type="text" matInput placeholder="Mandatory" required ngModel />
	</mat-form-field>

	<mat-form-field>
		<mat-label>Mandatory SM</mat-label>
		<input type="text" matInput placeholder="Mandatory" required [(ngModel)]="testModel3" #controlSM="ngModel" />
		<button type="button" role="button" [obInputClear]="controlSM">
			<mat-icon svgIcon="cancel-circle"></mat-icon>
			<span class="ob-screen-reader-only">{{ "i18n.common.clear" | translate }}</span>
		</button>
	</mat-form-field>
</div>

<mat-form-field>
	<mat-label>Datepicker</mat-label>
	<input matInput [matDatepicker]="picker" #controlD="ngModel" [(ngModel)]="testModel4" />
	<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
	<mat-datepicker #picker></mat-datepicker>
	<button type="button" role="button" [obInputClear]="controlD" [datePickerRef]="picker">
		<mat-icon svgIcon="cancel-circle"></mat-icon>
		<span class="ob-screen-reader-only">{{ "i18n.common.clear" | translate }}</span>
	</button>
</mat-form-field>

<mat-form-field>
	<mat-label>Datepicker</mat-label>
	<input matInput [matDatepicker]="picker2" />
	<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
	<mat-datepicker #picker2></mat-datepicker>
</mat-form-field>

<h2>Reactive form</h2>
<div [formGroup]="testForm">
	<mat-form-field>
		<mat-label>Test input</mat-label>
		<input type="text" matInput formControlName="field1" />
		<button type="button" role="button" [obInputClear]="testForm.get('field1')">
			<mat-icon svgIcon="cancel-circle"></mat-icon>
			<span class="ob-screen-reader-only">{{ "i18n.common.clear" | translate }}</span>
		</button>
	</mat-form-field>
</div>

<h2>Strongly typed reactive form</h2>
<div [formGroup]="stronglyTypedForm">
	<mat-form-field>
		<mat-label>Strongly typed test input</mat-label>
		<input type="text" matInput formControlName="stronglyTypedFormField" />
		<button type="button" role="button" [obInputClear]="stronglyTypedForm.get('stronglyTypedFormField')">
			<mat-icon svgIcon="cancel-circle"></mat-icon>
			<span class="ob-screen-reader-only">{{ "i18n.common.clear" | translate }}</span>
		</button>
	</mat-form-field>
</div>

<h2>HTML input only</h2>
<div>
	<mat-form-field>
		<mat-label>Test input</mat-label>
		<input type="text" matInput #htmlControl />
		<button type="button" role="button" [obInputClear]="htmlControl">
			<mat-icon svgIcon="cancel-circle"></mat-icon>
			<span class="ob-screen-reader-only">{{ "i18n.common.clear" | translate }}</span>
		</button>
	</mat-form-field>
</div>

<sc-api component="input-clear"></sc-api>
