<h4>Fast</h4>
<ob-collapse duration="fast">
	<span obCollapseHeader> Click for fast Animation - Speedy Gonzales Mode </span>
	<div obCollapseMain>
		<p>
			The collapse component is like the Flash of web elements. It shows or hides content faster than you can say 'web development'. It's
			like a box that's in a perpetual race, always expanding and contracting at lightning speed!
		</p>
	</div>
</ob-collapse>
<h4>Slow</h4>
<ob-collapse duration="slow">
	<span obCollapseHeader> Click for slow Animation - The Relaxed Rendezvous </span>
	<div obCollapseMain>
		<p>
			In the world of web components, the collapse component is your zen master. It takes its time, like a gentle breeze on a warm summer
			day, to show or hide content. It's like a box that's practicing the art of expanding and contracting with grace and tranquility. Find
			your inner peace as you click and witness the magic unfold, slowly but surely!
		</p>
	</div>
</ob-collapse>

<h4>Custom in ms</h4>
<ob-collapse [duration]="3000">
	<span obCollapseHeader> Click for custom Animation - The Time Traveler's Toggle </span>
	<div obCollapseMain>
		<p>
			With a custom animation duration of 3,000 milliseconds, you're about to embark on a journey through time itself! The collapse
			component is your trusty time machine, taking you on a slow and deliberate voyage through the expansion and contraction of content.
			It's like a box that's mastered the art of time manipulation, making you savor every moment.
		</p>
	</div>
</ob-collapse>
