<app-tabs [id]="idPrefix | id : [componentId, 'tabs']" [idPrefix]="idPrefix | id : [componentId]">
	<app-tab *ngIf="preview" title="Preview" [id]="idPrefix | id : [componentId, 'preview', 'tab']" [initiallyActive]="true">
		<ng-container *ngIf="preview.createEmbeddedView" [ngTemplateOutlet]="preview"></ng-container>
	</app-tab>

	<app-tab
		*ngFor="let codeSnippet of codeSnippets"
		[title]="codeSnippet.title"
		[id]="idPrefix | id : [componentId, codeSnippet.title, 'tab']"
	>
		<app-highlighted-code [idPrefix]="idPrefix | id : [componentId]" [codeBlock]="codeSnippet.sourceCode"></app-highlighted-code>
	</app-tab>
</app-tabs>
