<div class="default-layout">
	<h1>Table</h1>
	<h2>Standard tables</h2>
	<table class="table table-hover table-plain table-sm table-collapse-sm">
		<caption>Table caption</caption>
		<thead>
			<tr>
				<th>Table header 1</th>
				<th class="active">Table header 2</th>
				<th>Table header 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-hover table-plain table-collapse-sm">
		<caption>Table caption</caption>
		<thead>
			<tr>
				<th>Table header 1</th>
				<th class="active">Table header 2</th>
				<th>Table header 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
		</tbody>
	</table>
	<table class="table table-hover table-plain table-lg table-collapse-sm">
		<caption>Table caption</caption>
		<thead>
			<tr>
				<th>Table header 1</th>
				<th class="active">Table header 2</th>
				<th>Table header 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
		</tbody>
	</table>
	<h2>CI/CD table</h2>
	<table class="table table-cicd table-hover table-collapse-sm">
		<caption>Table caption</caption>
		<thead>
			<tr>
				<th>Table header 1</th>
				<th class="active">Table header 2</th>
				<th>Table header 3</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
			<tr>
				<td title="table header 1">Table cell</td>
				<td title="table header 2">Table cell</td>
				<td title="table header 3">Table cell</td>
			</tr>
		</tbody>
	</table>
</div>
