<h1>Table</h1>
<h2>Standard tables</h2>
<table class="ob-table ob-table-hover ob-table-plain ob-table-sm ob-table-collapse-sm">
	<caption>
		Table caption
	</caption>
	<thead>
		<tr>
			<th>Table header 1</th>
			<th class="active">Table header 2</th>
			<th>Table header 3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
	</tbody>
</table>
<table class="ob-table ob-table-hover ob-table-plain ob-table-collapse-sm">
	<caption>
		Table caption
	</caption>
	<thead>
		<tr>
			<th>Table header 1</th>
			<th class="active">Table header 2</th>
			<th>Table header 3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
	</tbody>
</table>
<table class="ob-table ob-table-hover ob-table-plain ob-table-lg ob-table-collapse-sm">
	<caption>
		Table caption
	</caption>
	<thead>
		<tr>
			<th>Table header 1</th>
			<th class="active">Table header 2</th>
			<th>Table header 3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
	</tbody>
</table>
<h2>CI/CD ob-table</h2>
<table class="ob-table ob-table-cicd ob-table-hover ob-table-collapse-sm">
	<caption>
		Table caption
	</caption>
	<thead>
		<tr>
			<th>Table header 1</th>
			<th class="active">Table header 2</th>
			<th>Table header 3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
		<tr>
			<td title="table header 1">Table cell</td>
			<td title="table header 2">Table cell</td>
			<td title="table header 3">Table cell</td>
		</tr>
	</tbody>
</table>
