<div class="default-layout">
	<h2>{{'i18n.routes.samples.multiselect.title' | translate}}</h2>
	<or-description component="multiselect"></or-description>
	<section>
		<label [for]="'default'">Default multiselect</label>
		<div class="row">
			<div class="col-md-6">
				<or-multiselect [options]="states" [(ngModel)]="model" idPrefix="default"></or-multiselect>
			</div>
			<div class="col-md-6">
				<pre>{{model | json}}</pre>
			</div>
		</div>

		<label [for]="'label'">Multiselect with complex options and <code>labelProperty</code></label>
		<div class="row">
			<div class="col-md-6">
				<or-multiselect [options]="statesComplex"
								[(ngModel)]="labelModel"
								[showCheckAll]="true"
								[showUncheckAll]="true"
								labelProperty="name"
								titleProperty="short"
								idPrefix="label">
				</or-multiselect>
			</div>
			<div class="col-md-6">
				<pre>{{labelModel | json}}</pre>
			</div>
		</div>

		<label [for]="'formatter'">Multiselect with complex options, search filter,
			<code>labelFormatter</code>...</label>
		<div class="row">
			<div class="col-md-6">
				<or-multiselect [options]="statesComplex"
								[(ngModel)]="formatterModel"
								[showCheckAll]="true"
								[showUncheckAll]="true"
								[enableSearch]="true"
								[texts]="{defaultTitle: '... and a custom title'}"
								[labelFormatter]="complexStateLabelFormatter"
								idPrefix="formatter">
				</or-multiselect>
			</div>
			<div class="col-md-6">
				<pre>{{formatterModel | json}}</pre>
			</div>
		</div>

		<label [for]="'dropup'">Dropup variation</label>
		<div class="row">
			<div class="col-md-6">
				<or-multiselect [options]="states" [(ngModel)]="model" [dropup]="true" idPrefix="dropup"></or-multiselect>
			</div>
			<div class="col-md-6">
				<pre>{{model | json}}</pre>
			</div>
		</div>
	</section>
	<or-api component="multiselect"></or-api>
</div>
