<h3>Anchor: <code>&lt;a&gt;...&lt;/a&gt;</code></h3>
<p>A sample <a href="#">anchor</a>.</p>
<hr />

<h3>Abbreviation : <code>&lt;abbr title="..."&gt;...&lt;/abbr&gt;</code></h3>
<p>
	When working in web development, you need to be familiar with various technologies like
	<abbr title="Hypertext Markup Language">HTML</abbr>, <abbr title="Cascading Style Sheets">CSS</abbr>, and
	<abbr title="JavaScript">JS</abbr>. These languages are the foundation for creating websites and web applications. Another important
	standard is <abbr title="Accessible Rich Internet Applications">ARIA</abbr>, which enhances accessibility on the web.
</p>
<hr />

<h3>Bring Attention To element: <code>&lt;b&gt;...&lt;/b&gt;</code></h3>
<p>I told my cat she was <b>not allowed</b> on the table. She showed me her <b>"I don't care"</b> face.</p>
<hr />

<h3>Citation : <code>&lt;cite&gt;...&lt;/cite&gt;</code></h3>
<p>My favorite book is <cite>"How to Train Your Human"</cite> by Whiskers McFluffy.</p>
<hr />

<h3>Code: <code>&lt;code&gt;...&lt;/code&gt;</code></h3>
<code> if (coffeeCup.isEmpty()) {{ refill(); } else { sip(); } </code>
<hr />

<h3>Definition: <code>&lt;dfn&gt;...&lt;/dfn&gt;</code></h3>
<p>The term <dfn>Snaccident</dfn> refers to eating an entire pizza by accident.</p>
<hr />

<h3>Deleted Text: <code>&lt;del&gt;...&lt;/del&gt;</code></h3>
<p><del>Buy more snacks for myself</del> Buy healthy food.</p>
<hr />

<h3>Emphasis: <code>&lt;em&gt;...&lt;/em&gt;</code></h3>
<p>I <em>definitely</em> didn't order online shopping at midnight... it was my cat!</p>
<hr />

<h3>Idiomatic Text element: <code>&lt;i&gt;...&lt;/i&gt;</code></h3>
<p>I'm on a seafood diet. I see food, and <i>I eat it</i>.</p>
<hr />

<h3>Keyboard input: <code>&lt;kbd&gt;...&lt;/kbd&gt;</code></h3>
<p>To escape from reality, press <kbd>Ctrl</kbd> + <kbd>Alt</kbd> + <kbd>Dream</kbd>.</p>
<hr />

<h3>Label for an HTML Element: <code>&lt;label&gt;...&lt;/label&gt;</code></h3>
<label for="catName">Name of your Overlord:</label>
<input type="text" id="catName" name="catName" placeholder="Cats' name" />
<hr />

<h3>Marked or Highlighted Text: <code>&lt;mark&gt;...&lt;/mark&gt;</code></h3>
<p>Do not forget to feed the cat at <mark>6 PM</mark> or face the consequences.</p>
<hr />

<h3>Result of a Calculation or the Outcome of an User Action: <code>&lt;output&gt;...&lt;/output&gt;</code></h3>
<output>42</output> - the answer to life, universe, and everything.
<hr />

<h3>Inline Quotation: <code>&lt;q&gt;...&lt;/q&gt;</code></h3>
<p>As my grandma always says, <q>An apple a day keeps anyone away if you throw it hard enough.</q></p>
<hr />

<h3>Sample Output from a Program: <code>&lt;samp&gt;...&lt;/samp&gt;</code></h3>
<samp>Error 404: Snack not found.</samp>
<hr />

<h3>Small Text: <code>&lt;small&gt;...&lt;/small&gt;</code></h3>
<p>This is some important information but in a <small>very small text</small> to test your eyesight.</p>
<hr />

<h3>Strikethrough: <code>&lt;s&gt;...&lt;/s&gt;</code></h3>
<p>I absolutely <s>hate</s> love doing laundry.</p>
<hr />

<h3>Strong: <code>&lt;strong&gt;...&lt;/strong&gt;</code></h3>
<p>Warning: Do <strong>not</strong> believe the dog when he says he didn't eat your homework.</p>
<hr />

<h3>Subscript Text: <code>&lt;sub&gt;...&lt;/sub&gt;</code></h3>
<p>H<sub>2</sub>O is my favorite beverage.</p>
<hr />

<h3>Superscript Text: <code>&lt;sup&gt;...&lt;/sup&gt;</code></h3>
<p>E=mc<sup>2</sup> and also coffee<sup>2</sup> = happiness.</p>
<hr />

<h3>Variable in Math or Programming Context: <code>&lt;var&gt;...&lt;/var&gt;</code></h3>
<p>In the equation of life, <var>happiness</var> = <var>cats</var> + <var>coffee</var>.</p>
<hr />

<h3>Unarticulated Annotation: <code>&lt;u&gt;...&lt;/u&gt;</code></h3>
<p>Warning: <u>Do not press</u> this button!</p>
<hr />

<h3>Inserted Text: <code>&lt;ins&gt;...&lt;/ins&gt;</code></h3>
<p>I need to buy <ins>chocolate and ice cream</ins> vegetables.</p>
