@import '../../../node_modules/bootstrap/scss/functions';
@import '../../../node_modules/bootstrap/scss/variables';
@import '../../../node_modules/bootstrap/scss/mixins/breakpoints';
@import '../../lib/scss/oblique-reactive';

// Vendor overrides:
@import 'vendor/oblique-ui';

$snippet-default-height: 350px;

// Samples:
.card-footer pre {
	border: 0;
	padding: 0;
	margin: 0;

	code {
		color: #bd4147;
	}
}

.notification-sample .notification-sample-preview {
	position: relative;
	overflow: hidden;
	height: $snippet-default-height + 50;

	.notification-container {
		position: absolute;
		top: 0;
		bottom: 0;

		@include media-breakpoint-down(md) {
			// Remove padding from parent:
			right: -#{$spacing-default};
		}

		@include media-breakpoint-up(md) {
			// Remove padding from parent:
			bottom: -#{$spacing-default};
		}
	}
}

// Vanity:
.oblique {
	font-style: oblique; // ;)

	.oblique-logo {
		position: relative;
		width: 3rem;
		font-size: 1rem;
		display: inline-block;
		vertical-align: middle;

		.oblique-addon {
			position: absolute;
			top: 34%;
			right: 20%;
			font-weight: bold;
			color: white;
		}

		img {
			width: 100%;
		}
	}

	> span:not(.oblique-logo) {
		word-spacing: -16px;
		vertical-align: middle;
		> span {
			font-style: normal;
			font-weight: bold;
		}
	}

	.headline & {
		.oblique-logo {
			font-size: 2.25rem;
			width: 5rem;
		}
	}
}

.bootstrap {
	span {
		vertical-align: middle;
	}

	.bootstrap-icon {
		display: inline-block;
		font-weight: 500;
		color: #fff;
		text-align: center;
		cursor: default;
		background-color: #563d7c;
		border-radius: 15%;
		line-height: 42px;
		font-size: 30px;
		padding: 2px 14px;
	}
}

.angular {
	span {
		vertical-align: middle;
	}

	.angular-icon {
		display: inline-block;
		width: 64px;
		margin-top: -10px;
		margin-bottom: -7px;
	}
}
