<ng-container *ngIf="schema$ | async as schema">
	<h2 class="page-header">
		{{ "i18n.routes.samples.schema-validation.title" | translate }}
	</h2>
	<sb-description component="schema-validation" />
	<form [formGroup]="materialTestForm">
		<mat-form-field class="mat-form-field-sm" obErrorMessages>
			<mat-label>Choose a date</mat-label>
			<input matInput [matDatepicker]="picker" formControlName="dateField" />
			<mat-datepicker-toggle matSuffix [for]="picker" />
			<mat-datepicker #picker />
			<mat-error />
		</mat-form-field>
		<mat-form-field class="mat-form-field-sm" obErrorMessages>
			<mat-label>Enter text</mat-label>
			<input matInput name="text" type="text" placeholder="Text" formControlName="textField" />
			<mat-error />
		</mat-form-field>
	</form>
	<sb-api component="schema-validation" />
</ng-container>
