<div class="default-layout">
	<h2 class="page-header">{{'i18n.routes.samples.multiselect.title' | translate}}</h2>
	<section>
		<h3>Default multiselect</h3>

		<div class="row">
			<div class="col-md-6">
				<multiselect [options]="states"
							 [(ngModel)]="model">
				</multiselect>
			</div>
			<div class="col-md-6">
				<pre>{{model | json}}</pre>
			</div>
		</div>
		<h3>Multiselect with complex options and labelProperty</h3>

		<div class="row">
			<div class="col-md-6">
				<multiselect [options]="statesComplex"
							 [(ngModel)]="labelModel"
							 [settings]="{showCheckAll: true, showUncheckAll: true}"
							 labelProperty="name">
				</multiselect>
			</div>
			<div class="col-md-6">
				<pre>{{labelModel | json}}</pre>
			</div>
		</div>

		<h3>Multiselect with complex options, search, labelFormatter ...</h3>

		<div class="row">
			<div class="col-md-6">
				<multiselect [options]="statesComplex"
							 [(ngModel)]="formatterModel"
							 [settings]="{showCheckAll: true, showUncheckAll: true, enableSearch: true}"
							 [texts]="{defaultTitle: '... and a custom title'}"
							 [labelFormatter]="complexStateLabelFormatter">
				</multiselect>
			</div>
			<div class="col-md-6">
				<pre>{{formatterModel | json}}</pre>
			</div>
		</div>
	</section>
</div>
