<h2 class="page-header">Chips</h2>
<ob-column-layout [left]="false">
	<ng-container column-main-content>
		<mat-list *ngIf="!showAutocompleteForm">
			<mat-list-item>
				<mat-chip-listbox class="mdc-evolution-chip-set" [class.mat-mdc-chip-set-stacked]="stacked">
					<mat-chip-row [ngClass]="variant" [disabled]="disabled" [class.ob-selected]="selected">Default</mat-chip-row>
					<mat-chip-row [color]="color" [ngClass]="variant" [selected]="true" [disabled]="disabled" [class.ob-selected]="selected"
						>Selected</mat-chip-row
					>
				</mat-chip-listbox>
			</mat-list-item>
		</mat-list>
		<mat-form-field *ngIf="showAutocompleteForm">
			<mat-chip-grid #matChipGrid aria-label="Tag selection" [disabled]="disabled">
				<mat-chip-option *ngFor="let tag of tags" class="mat-warning" (removed)="remove(tag)">
					{{ tag }}
					<mat-icon svgIcon="cancel-circle" matChipRemove />
				</mat-chip-option>
				<input
					placeholder="New tag..."
					#tagInput
					[formControl]="tagsCtrl"
					[matAutocomplete]="auto"
					[matChipInputFor]="matChipGrid"
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					[matChipInputAddOnBlur]="true"
					(matChipInputTokenEnd)="add($event)"
				/>

				<mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
					<mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
						{{ tag }}
					</mat-option>
				</mat-autocomplete>
			</mat-chip-grid>
		</mat-form-field>
	</ng-container>
	<ng-container column-right-content>
		<h3>Controls</h3>
		<mat-list>
			<fieldset *ngIf="!showAutocompleteForm">
				<legend>Color</legend>
				<mat-radio-group [(ngModel)]="color">
					<mat-list-item *ngFor="let chipColor of colors">
						<mat-radio-button [value]="chipColor">
							{{ chipColor ? (chipColor | titlecase) : "Default" }}
						</mat-radio-button>
					</mat-list-item>
				</mat-radio-group>
			</fieldset>
			<fieldset *ngIf="!showAutocompleteForm">
				<legend>Variants</legend>
				<mat-radio-group [(ngModel)]="variant">
					<mat-list-item *ngFor="let chipColor of variants">
						<mat-radio-button [value]="chipColor">
							{{ chipColor ? (chipColor | titlecase) : "Default" }}
						</mat-radio-button>
					</mat-list-item>
				</mat-radio-group>
			</fieldset>
			<fieldset>
				<legend>Toggle features</legend>
				<mat-list-item *ngIf="!showAutocompleteForm">
					<mat-slide-toggle (click)="stacked = !stacked" matTooltip="Toggle stacked">Stack</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle (click)="showAutocompleteForm = !showAutocompleteForm" matTooltip="Toggle autocomplete"
						>Autocomplete form</mat-slide-toggle
					>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle (click)="disabled = !disabled">Disabled</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle (click)="selected = !selected">Selected</mat-slide-toggle>
				</mat-list-item>
			</fieldset>
		</mat-list>
	</ng-container>
</ob-column-layout>
