<h2 class="page-header">Chips</h2>
<ob-column-layout [left]="false">
	<ng-container column-main-content>
		@if (!showAutocompleteForm) {
			<mat-list>
				<mat-list-item>
					<mat-chip-listbox class="mdc-evolution-chip-set" [class.mat-mdc-chip-set-stacked]="stacked">
						@if (type === "mat-chip-row") {
							<mat-chip-row [ngClass]="variant" [disabled]="disabled">Chip 1</mat-chip-row>
							<mat-chip-row [ngClass]="variant" [disabled]="disabled">Chip 2</mat-chip-row>
						}
						@if (type === "mat-chip-option") {
							<mat-chip-option [ngClass]="variant" [disabled]="disabled">Chip 1</mat-chip-option>
							<mat-chip-option [ngClass]="variant" [disabled]="disabled">Chip 2</mat-chip-option>
						}
						@if (type === "mat-chip") {
							<mat-chip [ngClass]="variant" [disabled]="disabled">Chip 1</mat-chip>
							<mat-chip [ngClass]="variant" [disabled]="disabled">Chip 2</mat-chip>
						}
					</mat-chip-listbox>
				</mat-list-item>
			</mat-list>
		}
		@if (showAutocompleteForm) {
			<mat-form-field>
				<mat-label>Chips autocomplete</mat-label>
				<mat-chip-grid #matChipGrid aria-label="Tag selection" [disabled]="disabled">
					@if (type === "mat-chip-row") {
						@for (tag of tags; track tag) {
							<mat-chip-row [ngClass]="variant" (removed)="remove(tag)">
								{{ tag }}
								<button type="button" matChipRemove>
									<mat-icon svgIcon="xmark_circle" />
								</button>
							</mat-chip-row>
						}
					}
					@if (type === "mat-chip-option") {
						@for (tag of tags; track tag) {
							<mat-chip-option [ngClass]="variant" (removed)="remove(tag)">
								{{ tag }}
								<button type="button" matChipRemove>
									<mat-icon svgIcon="xmark_circle" />
								</button>
							</mat-chip-option>
						}
					}
					@if (type === "mat-chip") {
						@for (tag of tags; track tag) {
							<mat-chip [ngClass]="variant" (removed)="remove(tag)">
								{{ tag }}
								<button type="button" matChipRemove>
									<mat-icon svgIcon="xmark_circle" />
								</button>
							</mat-chip>
						}
					}
					<input
						#tagInput
						placeholder="New tag..."
						[formControl]="tagsCtrl"
						[matAutocomplete]="auto"
						[matChipInputFor]="matChipGrid"
						[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
						[matChipInputAddOnBlur]="true"
						(matChipInputTokenEnd)="add($event)"
					/>
					<mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event)">
						@for (tag of filteredTags | async; track tag) {
							<mat-option [value]="tag">
								{{ tag }}
							</mat-option>
						}
					</mat-autocomplete>
				</mat-chip-grid>
			</mat-form-field>
		}
	</ng-container>
	<ng-container column-right-content>
		<h3>Controls</h3>
		<mat-list>
			<fieldset>
				<legend>Variants</legend>
				<mat-radio-group [(ngModel)]="variant">
					@for (chipColor of variants; track chipColor) {
						<mat-list-item>
							<mat-radio-button [value]="chipColor">
								{{ chipColor ? (chipColor | titlecase) : "Default" }}
							</mat-radio-button>
						</mat-list-item>
					}
				</mat-radio-group>
			</fieldset>
			<fieldset>
				<legend>Type</legend>
				<mat-radio-group [(ngModel)]="type">
					@for (chipType of types; track chipType) {
						<mat-list-item>
							<mat-radio-button [value]="chipType">
								{{ chipType | titlecase }}
							</mat-radio-button>
						</mat-list-item>
					}
				</mat-radio-group>
			</fieldset>
			<fieldset>
				<legend>Toggle features</legend>
				@if (!showAutocompleteForm) {
					<mat-list-item>
						<mat-slide-toggle matTooltip="Toggle stacked" (click)="stacked = !stacked">Stack</mat-slide-toggle>
					</mat-list-item>
				}
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle autocomplete" (click)="showAutocompleteForm = !showAutocompleteForm"
						>Autocomplete form</mat-slide-toggle
					>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle (click)="disabled = !disabled">Disabled</mat-slide-toggle>
				</mat-list-item>
			</fieldset>
		</mat-list>
	</ng-container>
</ob-column-layout>
