<h2 class="page-header">Buttons</h2>
<table class="ob-table ob-table-plain">
	<thead>
		<tr>
			<th></th>
			<th>Basic</th>
			<th>Primary</th>
			<th>Accent</th>
			<th>Warn</th>
			<th>Disabled</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Basic</th>
			<td>
				<button mat-button><span class="fa fa-edit"></span>test</button>
			</td>
			<td>
				<button mat-button color="primary"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-button color="accent"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-button color="warn"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-button disabled><span class="fa fa-edit"></span></button>
			</td>
		</tr>
		<tr>
			<th>Raised</th>
			<td>
				<button mat-raised-button><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-raised-button color="primary"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-raised-button color="accent"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-raised-button color="warn"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-raised-button color="warn" disabled><span class="fa fa-edit"></span></button>
			</td>
		</tr>
		<tr>
			<th>Stroked</th>
			<td>
				<button mat-stroked-button><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-stroked-button color="primary"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-stroked-button color="accent"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-stroked-button color="warn"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-stroked-button color="warn" disabled><span class="fa fa-edit"></span></button>
			</td>
		</tr>
		<tr>
			<th>Flat</th>
			<td>
				<button mat-flat-button><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-flat-button color="primary"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-flat-button color="accent"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-flat-button color="warn"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-flat-button color="warn" disabled><span class="fa fa-edit"></span></button>
			</td>
		</tr>
		<tr>
			<th>Icon with FA</th>
			<td>
				<button mat-icon-button><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-icon-button color="primary"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-icon-button color="accent"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-icon-button color="warn"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-icon-button color="warn" disabled><span class="fa fa-edit"></span></button>
			</td>
		</tr>
		<tr>
			<th>Icon with mat-icon and FA</th>
			<td>
				<button mat-icon-button>
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="primary">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="accent">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="warn">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="warn" disabled>
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<th>Icon with mat-icon</th>
			<td>
				<button mat-icon-button>
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="primary">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="accent">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="warn">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-icon-button color="warn" disabled>
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<th>Fab with FA</th>
			<td>
				<button mat-fab><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-fab color="primary"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-fab color="accent"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-fab color="warn"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-fab color="warn" disabled><span class="fa fa-edit"></span></button>
			</td>
		</tr>
		<tr>
			<th>Fab with mat-icon and FA</th>
			<td>
				<button mat-fab>
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="primary">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="accent">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="warn">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="warn" disabled>
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<th>Fab with mat-icon</th>
			<td>
				<button mat-fab>
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="primary">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="accent">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="warn">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-fab color="warn" disabled>
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<th>Mini fab with FA</th>
			<td>
				<button mat-mini-fab><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-mini-fab color="primary"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-mini-fab color="accent"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-mini-fab color="warn"><span class="fa fa-edit"></span></button>
			</td>
			<td>
				<button mat-mini-fab color="warn" disabled><span class="fa fa-edit"></span></button>
			</td>
		</tr>
		<tr>
			<th>Mini fab with mat-icon and FA</th>
			<td>
				<button mat-mini-fab>
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="primary">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="accent">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="warn">
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="warn" disabled>
					<mat-icon><span class="fa fa-edit"></span></mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<th>Mini fab with mat-icon</th>
			<td>
				<button mat-mini-fab>
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="primary">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="accent">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="warn">
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
			<td>
				<button mat-mini-fab color="warn" disabled>
					<mat-icon fontSet="fa" fontIcon="fa-edit"></mat-icon>
				</button>
			</td>
		</tr>
	</tbody>
</table>
