<div class="default-layout">
	<h2 class="page-header">Collapse</h2>
	<ob-column-layout [left]="false">
		<ob-collapse column-main-content [duration]="duration.value" [iconPosition]="iconPosition.value" [(active)]="active">
			<span obCollapseHeader [id]="collapseTitle + '_title'">
				{{ collapseTitle }}
			</span>
			<p obCollapseMain>
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam
				erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus
				est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
				labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
				gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
				nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
				dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
			</p>
		</ob-collapse>
		<div column-right-content>
			<mat-form-field>
				<mat-label>animate duration</mat-label>
				<mat-select [(value)]="duration">
					@for (variant of durations; track variant) {
						<mat-option [value]="variant">
							{{ variant.viewValue }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>

			<mat-form-field>
				<mat-label>iconPositions</mat-label>
				<mat-select [(value)]="iconPosition">
					@for (variant of iconPositions; track variant) {
						<mat-option [value]="variant">
							{{ variant.viewValue }}
						</mat-option>
					}
				</mat-select>
			</mat-form-field>

			<div mat-dialog-actions>
				<button type="button" mat-button (click)="active = !active"><mat-icon svgIcon="collapse" /> collapse</button>
			</div>
		</div>
	</ob-column-layout>
</div>
