<div ngForm>
	<ng-container  *ngIf="material | async else bootstrap">
		<mat-form-field obErrorMessages>
			<mat-label>Template Material Child 1</mat-label>
			<input matInput name="field1" [(ngModel)]="field1" required/>
			<mat-error></mat-error>
		</mat-form-field>
		<mat-form-field obErrorMessages>
			<mat-label>Template Material Child 2</mat-label>
			<input matInput name="field2" [(ngModel)]="field2" required/>
			<mat-error></mat-error>
		</mat-form-field>
	</ng-container>
	<ng-template #bootstrap>
		<div class="form-group" obFormControlState>
			<label class="control-label">Template Bootstrap Child 1</label>
			<input class="form-control" type="text" name="field1" [(ngModel)]="field1" required/>
			<ob-error-messages></ob-error-messages>
		</div>
		<div class="form-group" obFormControlState>
			<label class="control-label">Template Bootstrap Child 2</label>
			<input class="form-control" type="text" name="field2" [(ngModel)]="field2" required/>
			<ob-error-messages></ob-error-messages>
		</div>
	</ng-template>
	<ob-nested-form name="grandchild" [(ngModel)]="grandchild" [nestedForm]="grandChildTD.ngForm.control">
		<app-nested-form-grandchild-td-sample #grandChildTD></app-nested-form-grandchild-td-sample>
	</ob-nested-form>
</div>
