<ul class="nav nav-tree nav-bordered nav-indented nav-hover" role="tree">
	<ng-content></ng-content>
	<ng-template ngFor [ngForOf]="items" let-item>
		<li class="nav-item open" role="presentation"
		    *ngIf="visible(item)">
			<a class="nav-link" role="treeitem" aria-selected="false"
			   [routerLink]="linkBuilder(item)" routerLinkActive="active"
			   (click)="item.collapsed = !item.collapsed"
			   [class.collapsed]="item.collapsed"
			   [attr.data-toggle]="item.items ? 'collapse' : null"
			   [attr.disabled]="item.disabled === true || null"
			   [attr.aria-controls]="item.items ? itemKey(item) : null">
				<span [innerHTML]="labelFormatter(item, filterPattern)"></span>
			</a>
			<div id="#{{itemKey(item)}}" class="collapse show"
			     *ngIf="item.items" [ngbCollapse]="item.collapsed">
				<nav-tree [items]="item.items"
				          [prefix]="itemKey(item)"
				          [filterPattern]="filterPattern"
				          [labelFormatter]="labelFormatter"
				          [linkBuilder]="linkBuilder"></nav-tree>
			</div>
		</li>
	</ng-template>
</ul>
