<table mat-table class="ob-table" [dataSource]="tableManager.dataSource">
	<caption>
		Characteristics of periodical elements
	</caption>
	<ng-container matColumnDef="select">
		<th *matHeaderCellDef mat-header-cell scope="col">
			<ng-container [ngTemplateOutlet]="selectHeader" [ngTemplateOutletContext]="{ tableManager }" />
		</th>
		<td *matCellDef="let row" mat-cell>
			<ng-container [ngTemplateOutlet]="selectContent" [ngTemplateOutletContext]="{ row, tableManager }" />
		</td>
	</ng-container>

	<ng-container *ngFor="let column of columns">
		<ng-container [matColumnDef]="column.key">
			<th *matHeaderCellDef mat-header-cell scope="col">
				<ng-container [ngTemplateOutlet]="columnHeader" [ngTemplateOutletContext]="{ column }" />
			</th>
			@if (column.key === "name") {
				<th *matCellDef="let element" mat-header-cell scope="row" [attr.data-title]="column.name">
					<ng-container [ngTemplateOutlet]="columnContent" [ngTemplateOutletContext]="{ column, element }" />
				</th>
			} @else {
				<td *matCellDef="let element" mat-cell [attr.data-title]="column.name">
					<ng-container [ngTemplateOutlet]="columnContent" [ngTemplateOutletContext]="{ column, element }" />
				</td>
			}
		</ng-container>
	</ng-container>

	<ng-container matColumnDef="actions">
		<th *matHeaderCellDef scope="col">
			<ng-container [ngTemplateOutlet]="actionsHeader" [ngTemplateOutletContext]="{ tableManager }" />
		</th>
		<td *matCellDef="let element" mat-cell [attr.data-title]="'Actions'">
			<ng-container [ngTemplateOutlet]="actionsContent" [ngTemplateOutletContext]="{ tableManager, element }" />
		</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>

<ng-template #selectHeader let-tableManager="tableManager">
	<mat-checkbox
		[checked]="(tableManager.masterToggleState$ | async) === 'checked'"
		[indeterminate]="(tableManager.masterToggleState$ | async) === 'indeterminate'"
		(change)="$event ? tableManager.masterToggle() : null"
	/>
</ng-template>

<ng-template #selectContent let-row="row" let-tableManager="tableManager">
	<mat-checkbox [checked]="row.isSelected" (click)="$event.stopPropagation()" (change)="$event ? tableManager.toggleRow(row) : null" />
</ng-template>

<ng-template #columnHeader let-column="column">
	{{ column.name }}
</ng-template>

<ng-template #columnContent let-column="column" let-element="element">
	<ng-container>
		{{ element[column.key] }}
	</ng-container>
</ng-template>

<ng-template #actionsHeader let-tableManager="tableManager">
	<div class="actions">
		<button type="button" mat-icon-button obButton="secondary" matTooltip="Add a new row" (click)="addRow()">
			<mat-icon svgIcon="plus" />
		</button>
		<button
			type="button"
			mat-icon-button
			obButton="secondary"
			matTooltip="Remove all selected rows"
			[disabled]="tableManager.isMasterRemoveDisabled$ | async"
			(click)="tableManager.removeRows()"
		>
			<mat-icon svgIcon="trash" />
		</button>
	</div>
</ng-template>

<ng-template #actionsContent let-tableManager="tableManager" let-element="element">
	<div class="actions">
		<button type="button" mat-icon-button obButton="secondary" matTooltip="Remove this row" (click)="tableManager.removeRows(element)">
			<mat-icon svgIcon="trash" />
		</button>
	</div>
</ng-template>
