<div [class.ob-cover-header]="coverLayout">
	<h1 translate>i18n.routes.samples.master-layout.title</h1>
</div>
<ob-description component="master-layout"></ob-description>
<div class="card-wrapper">
	<mat-card>
		<mat-card-title>Layout</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="isFixed">is fixed</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasCover">has cover</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasLayout">has default layout</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasMaxWidth">has max width</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasMainNavigation">has main navigation</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasOffCanvas">has off-canvas</mat-slide-toggle>
			<mat-form-field>
				<mat-label>home page route</mat-label>
				<input matInput type="text" [(ngModel)]="homePageRoute" />
			</mat-form-field>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Header</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="isHeaderSticky">is sticky</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="isHeaderSmall">is small</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="reduceOnScroll">reduce on scroll</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="isHeaderCustom">is custom</mat-slide-toggle>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Footer</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="isFooterSticky">is sticky</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasLogoOnScroll">has logo on scroll</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="isFooterCustom">is custom</mat-slide-toggle>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Navigation</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="isNavigationFullWidth">is full width</mat-slide-toggle>
			<div class="form-element">
				<label class="button-group-label">scroll mode</label>
				<mat-button-toggle-group [(ngModel)]="navigationScrollMode">
					<mat-button-toggle [value]="scrollMode.AUTO">Auto</mat-button-toggle>
					<mat-button-toggle [value]="scrollMode.ENABLED">Enabled</mat-button-toggle>
					<mat-button-toggle [value]="scrollMode.DISABLED">Disabled</mat-button-toggle>
				</mat-button-toggle-group>
			</div>
			<button mat-button obButton (click)="addItem()">
				<mat-icon obIcon svgIcon="plus"></mat-icon>
				Add a main navigation item
			</button>
			<button mat-button obButton (click)="removeItem()"><mat-icon obIcon svgIcon="minus"></mat-icon> Remove the last navigation item</button>
			<mat-form-field>
				<mat-label>home page route</mat-label>
				<input matInput type="text" [(ngModel)]="homePageRoute" />
			</mat-form-field>
		</mat-card-content>
	</mat-card>
</div>
<ob-api component="master-layout"></ob-api>
