<div [class.ob-cover-header]="coverLayout">
	<h1 translate>i18n.routes.samples.master-layout.title</h1>
</div>
<sc-description component="master-layout"></sc-description>
<div class="card-wrapper">
	<mat-card>
		<mat-card-title>Layout</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="hasCover">has cover</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasLayout">has default layout</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasMaxWidth">has max width</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasMainNavigation">has main navigation</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasOffCanvas">has off-canvas</mat-slide-toggle>
			<mat-form-field>
				<mat-label>home page route</mat-label>
				<input matInput type="text" [(ngModel)]="homePageRoute" />
			</mat-form-field>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Header</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="isHeaderSticky">is sticky</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="isHeaderSmall">is small</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="reduceOnScroll">reduce on scroll</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="isHeaderCustom">is custom</mat-slide-toggle>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Footer</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="isFooterSticky">is sticky</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasLogoOnScroll">has logo on scroll</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="isFooterCustom">is custom</mat-slide-toggle>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Navigation</mat-card-title>
		<mat-card-content>
			<mat-slide-toggle [(ngModel)]="isNavigationFullWidth">is full width</mat-slide-toggle>
			<div class="form-element">
				<label class="button-group-label">scroll mode</label>
				<mat-button-toggle-group [(ngModel)]="navigationScrollMode">
					<mat-button-toggle [value]="scrollMode.AUTO">Auto</mat-button-toggle>
					<mat-button-toggle [value]="scrollMode.ENABLED">Enabled</mat-button-toggle>
					<mat-button-toggle [value]="scrollMode.DISABLED">Disabled</mat-button-toggle>
				</mat-button-toggle-group>
			</div>
			<button type="button" mat-button obButton (click)="addItem()">
				<mat-icon obIcon svgIcon="plus"></mat-icon>
				Add a main navigation item
			</button>
			<button type="button" mat-button obButton (click)="removeItem()">
				<mat-icon obIcon svgIcon="minus"></mat-icon>
				Remove the last navigation item
			</button>
			<mat-form-field>
				<mat-label>home page route</mat-label>
				<input matInput type="text" [(ngModel)]="homePageRoute" />
			</mat-form-field>
		</mat-card-content>
	</mat-card>
	<mat-card>
		<mat-card-title>Service navigation</mat-card-title>
		<mat-card-content class="columns">
			<fieldset>
				<legend>Widget visibility settings</legend>
				<mat-slide-toggle [(ngModel)]="hasApplicationsWidget">has applications</mat-slide-toggle>
				<mat-slide-toggle
					[(ngModel)]="hasAuthenticationWidget"
					[disabled]="isLoggedOut$ | async"
					[matTooltip]="(isLoggedOut$ | async) ? 'You need to be logged in to activate this setting.' : undefined"
					>has authentication</mat-slide-toggle
				>
				<mat-slide-toggle [(ngModel)]="hasInfoWidget">has info</mat-slide-toggle>
				<mat-slide-toggle [(ngModel)]="hasLanguagesWidget">has language selection</mat-slide-toggle>
				<mat-slide-toggle
					[(ngModel)]="hasMessageWidget"
					[disabled]="isLoggedOut$ | async"
					[matTooltip]="(isLoggedOut$ | async) ? 'You need to be logged in to activate this setting.' : undefined"
					>has message</mat-slide-toggle
				>
				<mat-slide-toggle
					[(ngModel)]="hasProfileWidget"
					[disabled]="isLoggedOut$ | async"
					[matTooltip]="(isLoggedOut$ | async) ? 'You need to be logged in to activate this setting.' : undefined"
					>has profile</mat-slide-toggle
				>
			</fieldset>
			<fieldset>
				<legend>Profile settings</legend>
				<mat-slide-toggle
					[(ngModel)]="hasProfileLinks"
					[disabled]="isLoggedOut$ | async"
					[matTooltip]="(isLoggedOut$ | async) ? 'You need to be logged in to activate this setting.' : undefined"
					>has profile links</mat-slide-toggle
				>
			</fieldset>
			<fieldset>
				<legend>Info settings</legend>
				<mat-slide-toggle [(ngModel)]="hasInfoLinks">has info links</mat-slide-toggle>
				<mat-slide-toggle [(ngModel)]="hasContactEmail">has contact email</mat-slide-toggle>
				<mat-slide-toggle [(ngModel)]="hasContactPhone">has contact phone</mat-slide-toggle>
			</fieldset>
			<fieldset class="toggles">
				<legend>Applications settings</legend>
				<mat-form-field>
					<mat-label>Max last used applications</mat-label>
					<input
						type="number"
						matInput
						[(ngModel)]="maxLastUsedApplications"
						[disabled]="isLoggedOut$ | async"
						[matTooltip]="(isLoggedOut$ | async) ? 'You need to be logged in to activate this setting.' : undefined"
					/>
				</mat-form-field>
				<mat-form-field>
					<mat-label>Max favorite applications</mat-label>
					<input
						type="number"
						matInput
						[(ngModel)]="maxFavoriteApplications"
						[disabled]="isLoggedOut$ | async"
						[matTooltip]="(isLoggedOut$ | async) ? 'You need to be logged in to activate this setting.' : undefined"
					/>
				</mat-form-field>
			</fieldset>
			<p>
				current login state: <output>{{ loginState$ | async }}</output>
			</p>
		</mat-card-content>
	</mat-card>
</div>
<sc-api component="master-layout"></sc-api>
