<div class="default-layout">
	<div [class.cover-header]="coverLayout">
		<h1 translate>i18n.routes.samples.master-layout.title</h1>
	</div>
	<or-description component="master-layout"></or-description>
	<h4>Master Layout</h4>
	<div [(ngModel)]="applicationFixed" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="false"> Continuous
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="true"> Fixed
		</label>
	</div>
	<h4>Content Disposition</h4>
	<div [(ngModel)]="cover" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="false"> Default
		</label>
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="true"> Cover
		</label>
	</div>
	<h4>Primary Navigation</h4>
	<div [(ngModel)]="navigation" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="true"> Yes
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="false"> No
		</label>
	</div>
	<h4>Footer</h4>
	<div [(ngModel)]="footerSM" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="false"> Default
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="true"> Small
		</label>
	</div>
	<h4>Footer transition</h4>
	<div [(ngModel)]="footerTransition" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="true"> Yes
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="false"> No
		</label>
	</div>
	<h4>Header size</h4>
	<div [(ngModel)]="headerMD" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="false"> Default
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="true"> Medium
		</label>
	</div>
	<h4>Header sticky</h4>
	<div [(ngModel)]="headerSticky" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="true"> Yes
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="false"> No
		</label>
	</div>
	<h4>Header animate</h4>
	<div [(ngModel)]="headerAnimate" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="true"> Yes
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="false"> No
		</label>
	</div>
	<h4>Full width navigation</h4>
	<div [(ngModel)]="navigationFW" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="true"> Yes
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="false"> No
		</label>
	</div>
	<h4>Scrollable navigation</h4>
	<div [(ngModel)]="navigationScrollMode" ngbRadioGroup class="btn-group btn-group-toggle">
		<label ngbButtonLabel class="btn-secondary active">
			<input ngbButton type="radio" [value]="scrollMode.AUTO"> Auto
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="scrollMode.ENABLED"> Enabled
		</label>
		<label ngbButtonLabel class="btn-secondary">
			<input ngbButton type="radio" [value]="scrollMode.DISABLED"> Disabled
		</label>
	</div>
	<or-api component="master-layout"></or-api>
</div>
