<div>
	<div class="input-group control-action datepicker" data-ng-class="{'input-group-sm' : orDatepickerCtrl.controlSize == 'sm'}">
		<label data-ng-if="orDatepickerCtrl.label" for="{{orDatepickerCtrl.controlId}}" class="input-group-addon">{{orDatepickerCtrl.label}}</label>
		<div class="control-action" data-ng-class="{'control-mandatory' : !ngModel && orDatepickerCtrl.required}">
			<input name="{{orDatepickerCtrl.name}}" type="text" class="form-control"
			       placeholder="{{orDatepickerCtrl.placeholder | translate}}"
			       data-ng-attr-id="{{orDatepickerCtrl.controlId}}"
			       data-ng-model="orDatepickerCtrl.ngModel"
			       data-ng-class="{'form-control-activable' : !orDatepickerCtrl.disabled && !orDatepickerCtrl.editable}"
			       data-ng-disabled="orDatepickerCtrl.disabled"
			       data-ng-required="orDatepickerCtrl.required"
			       data-ng-readonly="orDatepickerCtrl.disabled || !orDatepickerCtrl.editable"
			       data-uib-datepicker-popup
			       data-datepicker-options="orDatepickerCtrl.dpOptions"
			       data-alt-input-formats="orDatepickerCtrl.dpAltInputFormats"
			       data-is-open="orDatepickerCtrl.opened"
			       data-enter="orDatepickerCtrl.close()"
			       data-ng-model-options="{ debounce: { 'default': 250, 'blur': 0 } }"/>
			<button class="control-action-trigger" type="button" data-ng-click="orDatepickerCtrl.clear($event)"
			        data-ng-if="orDatepickerCtrl.showClearControl" data-ng-disabled="orDatepickerCtrl.disabled">
				<span class="fa fa-times-circle"></span>
			</button>
		</div>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" data-ng-click="orDatepickerCtrl.toggle($event)" data-ng-disabled="orDatepickerCtrl.disabled">
				<span class="fa fa-calendar"></span>
			</button>
		</span>
	</div>
	<error-messages field-name="{{orDatepickerCtrl.name}}" ng-if="orDatepickerCtrl.dpOptions.showErrorMessages">
		<ng-message when="required" translate="i18n.oblique.validation.basic.required"></ng-message>
		<ng-message when="date" translate="i18n.oblique.validation.date.format"></ng-message>
		<ng-message when="minDate" translate="i18n.oblique.validation.date.min"></ng-message>
		<ng-message when="maxDate" translate="i18n.oblique.validation.date.max"></ng-message>
	</error-messages>
</div>
