<div class="default-layout">
	<h2 class="page-header">{{'i18n.routes.samples.nav-tree.title' | translate}}</h2>
	<p class="lead">Recursive navigation trees with for label formatting, submenu collapsing and item counting (TODO).</p>
	<div class="row">
		<div class="col-6">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Preview</h3>
				</div>
				<div class="card-block">
					<nav-tree [items]="items"
					          [prefix]="'nav-tree-sample'"
					          [header]="search.pattern ? ('i18n.common.search.results' | translate) : null"
					          [filterPattern]="search.pattern"></nav-tree>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Selected navigation</h3>
				</div>
				<div class="card-block">
					<span class="fa fa-link"></span> <router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>
