<h1>Lists</h1>
<ul>
	<li>Unordered <code>ul li</code>list item</li>
	<li>Unordered <code>ul li</code>list item</li>
	<li>Unordered <code>ul li</code>list item</li>
</ul>
<ol>
	<li>Ordered <code>ol li</code>list item</li>
	<li>Ordered <code>ol li</code>list item</li>
	<li>Ordered <code>ol li</code>list item</li>
</ol>
<dl>
	<dt>Description list title 1 <code>dl dt</code></dt>
	<dd>Description list data 1.1 <code>dl dd</code></dd>
	<dd>Description list data 1.2 <code>dl dd</code></dd>
	<dt>Description list title 2 <code>dl dt</code></dt>
	<dd>Description list data 2.1 <code>dl dd</code></dd>
	<dt>Description list title 3 <code>dl dt</code></dt>
	<dd>Description list data 3.1 <code>dl dd</code></dd>
</dl>
<dl class="ob-horizontal ob-horizontal-small">
	<dt>Small</dt>
	<dd>Small horizontal list data 1</dd>
	<dd>Small horizontal list data 2</dd>
	<dt>Title 2</dt>
	<dd>Description list data 2</dd>
	<dt>Title 3</dt>
	<dd>Description list data 3</dd>
</dl>
<dl class="ob-horizontal">
	<dt>Horizontal</dt>
	<dd>Normal horizontal list data 1</dd>
	<dd>Normal horizontal list data 2</dd>
	<dt>Long title for description list</dt>
	<dd>Description list data 2</dd>
	<dt>List title 3</dt>
	<dd>
		A data that is waaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaay too long. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam
		nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
		clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
		eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita
		kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
	</dd>
</dl>
<dl class="ob-horizontal ob-horizontal-large">
	<dt>Large horizontal</dt>
	<dd>Large horizontal list data 1</dd>
	<dd>Large horizontal list data 2</dd>
	<dt>Description list title 2</dt>
	<dd>Description list data 2</dd>
	<dt>Description list title 3</dt>
	<dd>Description list data 3</dd>
</dl>
<dl class="ob-horizontal ob-horizontal-small ob-right-align">
	<dt>Right</dt>
	<dd>Right aligned small horizontal list data 1</dd>
	<dd>Right aligned small horizontal list data 2</dd>
	<dt>Title 2</dt>
	<dd>Description list data 2</dd>
	<dt>Title 3</dt>
	<dd>Description list data 3</dd>
</dl>
<dl class="ob-horizontal ob-right-align">
	<dt>Horizontal</dt>
	<dd>Right aligned normal horizontal list data</dd>
	<dd>Description list data</dd>
	<dt>List title</dt>
	<dd>Description list data</dd>
	<dt>List title</dt>
	<dd>Description list data</dd>
</dl>
<dl class="ob-horizontal ob-horizontal-large ob-right-align">
	<dt>large horizontal right</dt>
	<dd>Right aligned large horizontal list data</dd>
	<dd>Description list data</dd>
	<dt>Description list title</dt>
	<dd>Description list data</dd>
	<dt>Description list title</dt>
	<dd>Description list data</dd>
</dl>
