@use "../../../../../styles/scss/core/mixins/layout";

.paginator-container {
	display: flex;
	align-items: center;
	width: 100%;

	@include layout.ob-media-breakpoint-up(md) {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	@include layout.ob-media-breakpoint-down(lg) {
		flex-direction: column;
	}

	@include layout.ob-media-breakpoint-up(lg) {
		flex-wrap: wrap;
		justify-content: space-between;
	}

	@include layout.ob-media-breakpoint-up(xl) {
		padding-left: 4rem;
		padding-right: 4rem;
	}

	& > * {
		margin: 0;
		padding: 0;
	}
}
