<div>
	<div class="input-group control-action datepicker" data-ng-class="{'input-group-sm' : controlSize == 'sm'}">
		<label data-ng-if="label" for="{{orDatepickerCtrl.controlId}}" class="input-group-addon">{{orDatepickerCtrl.label}}</label>
		<div class="control-action" data-ng-class="{'control-mandatory' : !ngModel && required}">
			<input name="{{orDatepickerCtrl.name}}" type="text" class="form-control"
			       placeholder="{{('i18n.common.date.format.' + orDatepickerCtrl.dpOptions.datepickerPopup) | translate}}"
			       data-ng-attr-id="{{orDatepickerCtrl.controlId}}"
			       data-ng-model="orDatepickerCtrl.ngModel"
			       data-ng-class="{'form-control-activable' : !orDatepickerCtrl.disabled && !orDatepickerCtrl.editable}"
			       data-ng-disabled="orDatepickerCtrl.disabled"
			       data-ng-required="required"
			       data-ng-readonly="orDatepickerCtrl.disabled || !orDatepickerCtrl.editable"
			       data-uib-datepicker-popup
			       data-datepicker-options="orDatepickerCtrl.dpOptions"
			       data-alt-input-formats="orDatepickerCtrl.dpAltInputFormats"
			       data-is-open="orDatepickerCtrl.opened"
			       data-enter="orDatepickerCtrl.close()"
			       data-ng-model-options="{ debounce: { 'default': 250, 'blur': 0 } }"/>
			<button class="control-action-trigger" type="button" data-ng-click="orDatepickerCtrl.clear($event)"
			        data-ng-if="!orDatepickerCtrl.required && orDatepickerCtrl.showClearControl" data-ng-disabled="orDatepickerCtrl.disabled">
				<span class="fa fa-times-circle"></span>
			</button>
		</div>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" data-ng-click="orDatepickerCtrl.toggle($event)" data-ng-disabled="orDatepickerCtrl.disabled">
				<span class="fa fa-calendar"></span>
			</button>
		</span>
	</div>
	<div class="help-block" data-ng-show="form.$dirty && form.$error && form.$error.required">
		{{'i18n.validation.basic.required'| translate}}
	</div>
	<div class="help-block" data-ng-show="form.$dirty && form.$error && form.$error.date">
		{{'i18n.common.date.format.invalid' | translate}}
	</div>
</div>
