<div>
	<div class="input-group control-action datepicker" data-ng-class="{'input-group-sm' : controlSize == 'sm'}">
		<label data-ng-if="label" for="{{ctrl.controlId}}" class="input-group-addon">{{ctrl.label}}</label>
		<div class="control-action" data-ng-class="{'control-mandatory' : !ngModel && required}">
			<input name="{{ctrl.name}}" type="text" class="form-control"
			       placeholder="{{('common.date.format.' + ctrl.dpOptions.datepickerPopup) | translate}}"
			       data-ng-attr-id="{{ctrl.controlId}}"
			       data-ng-model="ctrl.ngModel"
			       data-ng-class="{'form-control-activable' : !ctrl.disabled && !ctrl.editable}"
			       data-ng-disabled="ctrl.disabled"
			       data-ng-required="required"
			       data-ng-readonly="ctrl.disabled || !ctrl.editable"
			       data-uib-datepicker-popup
			       data-datepicker-options="ctrl.dpOptions"
			       data-alt-input-formats="ctrl.dpAltInputFormats"
			       data-is-open="ctrl.opened"
			       data-enter="ctrl.close()"
			       data-ng-model-options="{ debounce: { 'default': 250, 'blur': 0 } }"/>
			<button class="control-action-trigger" type="button" data-ng-click="ctrl.clear($event)"
			        data-ng-if="!ctrl.required && ctrl.showClearControl" data-ng-disabled="ctrl.disabled">
				<span class="fa fa-times-circle"></span>
			</button>
		</div>
		<span class="input-group-btn">
			<button class="btn btn-default" type="button" data-ng-click="ctrl.toggle($event)" data-ng-disabled="ctrl.disabled">
				<span class="fa fa-calendar"></span>
			</button>
		</span>
	</div>
	<div class="help-block" data-ng-show="form.$dirty && form.$error && form.$error.required">
		* {{'tv4.OBJECT_REQUIRED'| translate}}
	</div>
	<div class="help-block" data-ng-show="form.$dirty && form.$error && form.$error.date">
		* {{'common.date.format.invalid' | translate}}
	</div>
</div>
