# Angular uses the autoprefixer dependency to add vendor prefixes to CSS properties as necessary.
# This dependency can be configured through a file called `.browserslistrc`  at the root of the project.
# The configuration defines which browsers have to be supported by the application, which will influence which vendor prefix will be added.
# This file is added by Oblique to ensure the application supports the necessary browsers as defined by the BK.

last 2 Chrome version
last 2 Firefox version
last 2 Edge major versions
last 2 Safari major versions
last 2 iOS major versions
Firefox ESR
