@use '@oblique/oblique/styles/scss/core/variables';

h1, h2, h3 {
	text-align: center;
}

.mat-card,
.card {
	max-width: 300px;
}

.content {
	text-align: center;
}

.title {
	font-size: variables.$ob-font-size-lg;
}

.version {
	font-size: variables.$ob-font-size-xl;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 400px;
	vertical-align: middle;
}

.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin-top: 2*variables.$ob-spacing-lg;

	.mat-card,
	.card {
		margin-bottom: variables.$ob-spacing-lg;
	}

	.mat-card-actions,
	.card-actions {
		display: flex;
		justify-content: space-between;
	}
}

.square {
	animation: square-animation 2000ms linear 1 normal forwards
}

@keyframes square-animation {
	0% {
		opacity: 0
	}
	25% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

.big-line-position {
	animation: big-line-position-animate 2000ms linear 1 normal forwards
}

@keyframes big-line-position-animate {
	0% {
		transform: translate(-65.802660px, 700.287892px)
	}
	55% {
		transform: translate(-65.802660px, 700.287892px)
	}
	65% {
		transform: translate(-124.200000px, 836.100000px)
	}
	100% {
		transform: translate(-124.200000px, 836.100000px)
	}
}

#big-line {
	animation: big-line-animate 2000ms linear 1 normal forwards
}

@keyframes big-line-animate {
	0% {
		opacity: 0
	}
	55% {
		opacity: 0
	}
	65% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

.medium-line-position {
	animation: medium-line-animate 2000ms linear 1 normal forwards
}

@keyframes medium-line-animate {
	0% {
		transform: translate(-72.326608px, 663.786657px)
	}
	65% {
		transform: translate(-72.326608px, 663.786657px)
	}
	75% {
		transform: translate(-130.840000px, 797.760000px)
	}
	100% {
		transform: translate(-130.840000px, 797.760000px)
	}
}

.medium-line {
	animation: medium-line-opacity 2000ms linear 1 normal forwards
}

@keyframes medium-line-opacity {
	0% {
		opacity: 0
	}
	65% {
		opacity: 0
	}
	75% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

.small-line-to {
	animation: small-line-animate 2000ms linear 1 normal forwards
}

@keyframes small-line-animate {
	0% {
		transform: translate(-72.104310px, 626.369708px)
	}
	75% {
		transform: translate(-72.104310px, 626.369708px)
	}
	85% {
		transform: translate(-132.760000px, 762.180000px)
	}
	100% {
		transform: translate(-132.760000px, 762.180000px)
	}
}

.small-line {
	animation: small-line-opacity 2000ms linear 1 normal forwards
}

@keyframes small-line-opacity {
	0% {
		opacity: 0
	}
	75% {
		opacity: 0
	}
	85% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}

.semicircle-animation {
	animation: semicircle-animate 2000ms linear 1 normal forwards
}

@keyframes semicircle-animate {
	0% {
		transform: translate(585.345000px, 516.954988px) rotate(0deg)
	}
	55% {
		transform: translate(585.345000px, 516.954988px) rotate(1080deg)
	}
	100% {
		transform: translate(585.345000px, 516.954988px) rotate(1080deg)
	}
}

.oblique-char-group-animation {
	animation: oblique-char-group-animate 2000ms linear 1 normal forwards
}

@keyframes oblique-char-group-animate {
	0% {
		transform: translate(-761.905462px, 0px)
	}
	25% {
		transform: translate(-761.905462px, 0px)
	}
	45% {
		transform: translate(0px, 0px)
	}
	100% {
		transform: translate(0px, 0px)
	}
}

#oblique-char-group {
	animation: oblique-char-opacity 2000ms linear 1 normal forwards
}

@keyframes oblique-char-opacity {
	0% {
		opacity: 0
	}
	25% {
		opacity: 0
	}
	45% {
		opacity: 1
	}
	100% {
		opacity: 1
	}
}
