@use "../../styles/scss/core/mixins/layout";
@use "../../../../oblique/src/styles/scss/core/variables";

:host {
	grid-column-start: 2;
	grid-row-start: 1;
	min-height: calc(100vh - 150px);
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: auto;
	padding: variables.$ob-spacing-default variables.$ob-spacing-default variables.$ob-spacing-xxl;
}
@include layout.ob-media-breakpoint-down(md) {
	:host {
		margin-top: 104px; // free space for the header, with 20px padding-like space around the logo
		border-radius: 0;
	}
}

.title-container {
	display: flex;
	gap: 16px;
}
