<h2 class="page-header">{{ "i18n.routes.samples.notification.title" | translate }}</h2>
<sc-description component="notification"></sc-description>
<ob-column-layout [left]="false">
	<div column-main-content>
		<ob-notification [channel]="sampleChannel"></ob-notification>
	</div>
	<div column-right-content>
		<h3>Controls</h3>
		<fieldset>
			<legend>Mandatory parameter</legend>
			<mat-slide-toggle [(ngModel)]="messageWithParams" matTooltip="Simple key or translation key with parameters"
				>Translation key with parameters</mat-slide-toggle
			>
			<mat-form-field *ngIf="!messageWithParams">
				<mat-label>Message</mat-label>
				<textarea matInput [(ngModel)]="message"></textarea>
			</mat-form-field>
			<div *ngIf="messageWithParams">
				<mat-form-field>
					<mat-label>Message key</mat-label>
					<input matInput [(ngModel)]="messageKey" disabled type="text" />
					<mat-hint ngNonBindable>This {{ message }} do accepts 2 {{ parameters }} .</mat-hint>
				</mat-form-field>
				<mat-form-field>
					<mat-label>"message" parameter</mat-label>
					<input matInput [(ngModel)]="messageParams.message" type="text" />
				</mat-form-field>
				<mat-form-field>
					<mat-label>"parameters" parameter</mat-label>
					<input matInput [(ngModel)]="messageParams.parameters" type="text" />
				</mat-form-field>
			</div>
		</fieldset>
		<fieldset>
			<legend>Optional parameters</legend>
			<mat-slide-toggle [(ngModel)]="titleWithParams" matTooltip="Simple key or translation key with parameters"
				>Translation key with parameters</mat-slide-toggle
			>
			<mat-form-field *ngIf="!titleWithParams">
				<mat-label>Title</mat-label>
				<input matInput [(ngModel)]="title" type="text" placeholder="Notification title..." />
			</mat-form-field>
			<div *ngIf="titleWithParams">
				<mat-form-field>
					<mat-label>Message key</mat-label>
					<input matInput [(ngModel)]="titleKey" disabled type="text" placeholder="Notification title..." />
					<mat-hint ngNonBindable>This {{ title }} do accepts 2 {{ parameters }} .</mat-hint>
				</mat-form-field>
				<mat-form-field>
					<mat-label>"title" parameter</mat-label>
					<input matInput [(ngModel)]="titleParams.title" type="text" />
				</mat-form-field>
				<mat-form-field>
					<mat-label>"parameters" parameter</mat-label>
					<input matInput [(ngModel)]="titleParams.parameters" type="text" />
				</mat-form-field>
			</div>
			<mat-form-field>
				<mat-label>Variant</mat-label>
				<mat-select [(ngModel)]="variant">
					<mat-option *ngFor="let variant of variants | keyvalue" [value]="variant.value">{{ variant.key }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Channel</mat-label>
				<mat-select [(ngModel)]="channel">
					<mat-option [value]="sampleChannel">{{ sampleChannel }}</mat-option>
					<mat-option [value]="appChannel">{{ appChannel }} (from NotificationConfig)</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Placement</mat-label>
				<mat-select [(ngModel)]="placement">
					<mat-option *ngFor="let placement of placements | keyvalue" [value]="placement.value">{{ placement.key }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-slide-toggle [(ngModel)]="clearAllOnNavigate">ClearAll on navigate</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="group">Group similar</mat-slide-toggle>
			<div *ngIf="variant.toString() !== 'error'">
				<mat-checkbox [(ngModel)]="sticky">Sticky?</mat-checkbox>
				<mat-form-field *ngIf="!sticky">
					<mat-label>Timeout</mat-label>
					<input
						matInput
						[(ngModel)]="timeout"
						type="number"
						placeholder="Notification timeout..."
						matTooltip="The duration delay to wait before closing non-sticky notifications."
					/>
				</mat-form-field>
			</div>
		</fieldset>
		<div class="form-actions">
			<button
				obButton="tertiary"
				mat-button
				type="button"
				(click)="clear()"
				matTooltip="Clears notifications from current selected channel."
			>
				<mat-icon svgIcon="trash"></mat-icon>
				<span>Clear</span>
			</button>
			<button
				obButton="tertiary"
				mat-button
				type="button"
				(click)="clearAllChannels()"
				matTooltip="Clears notifications from all channels."
			>
				<mat-icon svgIcon="trash"></mat-icon>
				<span>Clear all</span>
			</button>
			<button obButton="secondary" mat-button type="button" (click)="send()">
				<mat-icon svgIcon="paper-plane"></mat-icon>
				<span>Send notification</span>
			</button>
		</div>
	</div>
</ob-column-layout>
<sc-api component="notification"></sc-api>
