<p class="explanation">
	*The items below will change their layout (row or column) based on the viewport width. The breakpoints are:
	<span class="breakpoints">
		<span class="breakpoint"><code>xs</code> (0)</span> <span class="breakpoint"><code>sm</code> (600)</span>
		<span class="breakpoint"><code>md</code> (905)</span> <span class="breakpoint"><code>lg</code> (1240)</span
		><span class="breakpoint"><code>xl</code> (1440)</span>
	</span>
</p>
<div class="container">
	<h5>row - column below <code>xs</code> (always row)</h5>
	<div class="row xs-down-column">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>row - column below <code>sm</code></h5>
	<div class="row sm-down-column">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>row - column below <code>md</code></h5>
	<div class="row md-down-column">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>row - column below <code>lg</code></h5>
	<div class="row lg-down-column">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>row - column below <code>xl</code></h5>
	<div class="row xl-down-column">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>column - <code>xs</code> & up row (always row)</h5>
	<div class="column xs-up-row">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>column - <code>sm</code> & up row</h5>
	<div class="column sm-up-row">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>column - <code>md</code> & up row</h5>
	<div class="column md-up-row">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>column - <code>lg</code> & up row</h5>
	<div class="column lg-up-row">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
<div class="container">
	<h5>column - <code>xl</code> & up row</h5>
	<div class="column xl-up-row">
		<div class="item">1</div>
		<div class="item">2</div>
		<div class="item">3</div>
	</div>
</div>
