@use "../variables";

@mixin ob-form-field-size($padding-top, $padding-bottom, $icon-size) {
	$label-padding: variables.$ob-form-field-label-height + $padding-top;

	.mat-form-field-infix {
		padding: $padding-top 0 $padding-bottom 0;
		border-top-width: variables.$ob-form-field-label-height;
	}

	.mat-form-field-label-wrapper {
		top: -(variables.$ob-form-field-label-height);
		padding-top: $label-padding;
	}

	.mat-form-field-label {
		top: $label-padding;
	}

	&.mat-form-field-can-float {
		&.mat-form-field-should-float,
		.mat-input-server:focus + .mat-form-field-label-wrapper {
			.mat-form-field-label {
				transform: translateY(-$label-padding) scale(0.75);
			}
		}
	}

	.mat-form-field-suffix .mat-datepicker-toggle .mdc-icon-button {
		height: $icon-size;
		width: $icon-size;
		display: inline-flex;
		align-items: center;
		font-size: inherit;
	}
}
