<div>
	<p>Format with 4 decimals</p>
	<mat-form-field>
		<input type="number" matInput obNumberFormat name="example4decimals" [decimals]="4" [(ngModel)]="example4decimals" />
	</mat-form-field>
	<p>Model value : {{ example4decimals }}</p>
</div>
<div>
	<p>Without persistent changes</p>
	<mat-form-field>
		<input
			type="number"
			matInput
			obNumberFormat
			name="examplePersistentChanges"
			[persistent]="false"
			[(ngModel)]="examplePersistentChanges"
		/>
	</mat-form-field>
	<br />
	<p>Model value : {{ examplePersistentChanges }}</p>
</div>
