@if (environmentParsed !== undefined) {
	<ob-service-navigation
		[environment]="environmentParsed"
		[infoDescription]="infoDescription()"
		[infoContactText]="infoContactText()"
		[infoContact]="infoContactParsed"
		[infoHelpText]="infoHelpText()"
		[infoLinks]="infoLinksParsed"
		[useInfoBackend]="useInfoBackend()"
		[profileLinks]="profileLinksParsed"
		[maxLastUsedApplications]="maxLastUsedApplications()"
		[maxFavoriteApplications]="maxFavoriteApplications()"
		[pamsAppId]="pamsAppId()"
		[handleLogout]="handleLogout()"
		[displayLanguages]="displayLanguages()"
		[displayMessage]="displayMessage()"
		[displayInfo]="displayInfo()"
		[displayApplications]="displayApplications()"
		[displayProfile]="displayProfile()"
		[displayAuthentication]="displayAuthentication()"
		[rootUrl]="rootUrl()"
		[returnUrl]="returnUrl()"
		(loginState)="loginState.emit($event)"
		(logoutTriggered)="logoutTriggered.emit($event)"
	>
		@for (button of customButtonsParsed; track button.obliqueIconName) {
			<ng-template #customWidgetTemplate>
				<button
					type="button"
					mat-icon-button
					obButton="tertiary"
					matBadgeColor="warn"
					[matTooltip]="button.tooltip"
					[matBadge]="button.badge"
					(click)="buttonClickedEmitter.emit(button.obliqueIconName)"
				>
					<mat-icon [svgIcon]="button.obliqueIconName" />
					@if (button.accessibilityText) {
						<span class="ob-screen-reader-only">{{ button.accessibilityText }}</span>
					}
				</button>
			</ng-template>
		}
	</ob-service-navigation>
}
