@use "@oblique/oblique/src/styles/scss/core/variables";

.ob-service-navigation,
.ob-language-dropdown {
	font-family: variables.$ob-font;
}

.ob-service-navigation-list {
	flex-wrap: wrap;
}

.ob-screen-reader-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border: 0;
}
