<ob-service-navigation
	*ngIf="environmentParsed"
	[environment]="environmentParsed"
	[infoContact]="infoContactParsed"
	[maxLastUsedApplications]="maxLastUsedApplications"
	[maxFavoriteApplications]="maxFavoriteApplications"
	[displayLanguages]="displayLanguages"
	[displayMessage]="displayMessage"
	[displayInfo]="displayInfo"
	[displayApplications]="displayApplications"
	[displayProfile]="displayProfile"
	[displayAuthentication]="displayAuthentication"
	[rootUrl]="rootUrl"
	[returnUrl]="returnUrl"
/>
