<form [formGroup]="formGroup">
	<h1>Please provide your feedback</h1>
	<mat-form-field>
		<mat-label>Summary</mat-label>
		<input matInput formControlName="summary" />
		<mat-error>{{ errors.summary$ | async }}</mat-error>
	</mat-form-field>
	<mat-form-field class="ob-form-field-textarea">
		<mat-label>Description</mat-label>
		<textarea matInput formControlName="description"></textarea>
		<mat-error>{{ errors.description$ | async }}</mat-error>
		<mat-hint>{{ charactersUsed$ | async }} / 3000</mat-hint>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Documentation URL</mat-label>
		<input matInput formControlName="url" />
		<mat-error>{{ errors.url$ | async }}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Name</mat-label>
		<input matInput formControlName="name" />
		<mat-error>{{ errors.name$ | async }}</mat-error>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Email</mat-label>
		<input matInput formControlName="email" />
		<mat-error>{{ errors.email$ | async }}</mat-error>
	</mat-form-field>
	<div class="form-actions">
		<button type="reset" mat-button obButton="secondary" (click)="reset($event)">Reset</button>
		<a
			mat-button
			obButton
			color="primary"
			[href]="'mailto:oblique@bit.admin.ch?subject=Oblique Feedback&body=' + (body$ | async)"
			[disabled]="formGroup.invalid"
			(click)="close()"
			>Send email</a
		>
	</div>
</form>
