<p>The files to look at in the StackBlitz Date example are:</p>
<ul>
	<li><code>preview.component.html</code></li>
	<li><code>preview.component.ts</code></li>
</ul>
<p>
	The url of the following link is configured to open in editor mode with <code>preview.component.html</code> displayed next to the
	application preview.
</p>
<a
	href="https://stackblitz.com/edit/language-change-for-date-pipe-in-master-layout-example?file=src%2Fapp%2Fapp.component.html,src%2Fapp%2Fapp.component.ts,src%2Fapp%2Fapp-routing.module.ts,src%2Fapp%2Fapp.module.ts,src%2Fapp%2Fpreview%2Fpreview.component.html,src%2Fapp%2Fpreview%2Fpreview.component.html"
	mat-button
	obButton="primary"
	>Stackblitz Example</a
>
