@import "../../../core/variables";

@mixin ob-button($color) {
	line-height: 34px;
	color: $color;
	border: 1px solid transparent;

	&:not(.mat-button-disabled) {
		&:hover {
			color: $primary-700;
			background-color: $primary-200;
		}

		&:focus {
			outline: none;
		}

		.ob-outline &:focus {
			border-color: $brand-default;
			box-shadow: 0 0 $spacing-xs 0 $brand-default;
			outline: 1px solid $color;
			outline-offset: -3px;
		}

		.mat-ripple-element {
			background-color: $primary-900;
		}
	}
}
