<p>
	Stay informed and never miss out on new Oblique releases!<br />
	Get updates directly to your inbox.
</p>
<form [formGroup]="formGroup">
	<mat-form-field obErrorMessages>
		<mat-label>Your Email</mat-label>
		<input name="email" type="email" matInput formControlName="email" />
		<mat-error />
	</mat-form-field>
	<div class="actions">
		<button mat-button obButton="primary" type="submit" [disabled]="formGroup.invalid" (click)="handleRequest(false)">
			Subscribe
		</button>
		<button mat-button obButton="secondary" type="submit" [disabled]="formGroup.invalid" (click)="handleRequest(true)">
			Unsubscribe
		</button>
	</div>
</form>
<ob-notification />
