<h2 class="page-header">Card</h2>
<ob-column-layout [left]="false">
	<ng-container column-main-content>
		<div class="container" obSelectableGroup>
			<mat-card>
				@if (pictureVisible) {
					<img
						mat-card-image
						alt="A person in a space suit holding luminous balloons"
						ngSrc="assets/images/alex-shuper_person-in-a-space-suit.jpg"
						[height]="580"
						[width]="550"
					/>
				}
				@if (alertVisible) {
					<ob-alert type="info"> New feature </ob-alert>
				}
				@if (headerVisible) {
					<mat-card-header>
						@if (avatarVisible) {
							<div mat-card-avatar></div>
						}
						@if (titleVisible) {
							<mat-card-title>Default Card</mat-card-title>
						}
						@if (subtitleVisible) {
							<mat-card-subtitle>Subtitle</mat-card-subtitle>
						}
					</mat-card-header>
				}
				@if (contentVisible) {
					<mat-card-content>
						<p>The default card is only a presentational artifact, without any form of interaction except for eventual buttons inside.</p>
						@if (signatureVisible) {
							<div class="ob-signature">
								<span>OFIT</span>
								<span>Last login 20.07.2022</span>
							</div>
						}
					</mat-card-content>
				}
				@if (actionsVisible) {
					<mat-card-actions>
						<button type="button" mat-button obButton="secondary">Like</button>
						<button type="button" mat-button obButton="primary">Share</button>
					</mat-card-actions>
				}
			</mat-card>
			<mat-card>
				@if (pictureVisible) {
					<img
						mat-card-image
						alt="A person in a space suit holding luminous balloons"
						ngSrc="assets/images/alex-shuper_person-in-a-space-suit.jpg"
						[height]="200"
						[width]="200"
					/>
				}
				@if (alertVisible) {
					<ob-alert type="info"> New feature </ob-alert>
				}
				@if (headerVisible) {
					<mat-card-header>
						@if (avatarVisible) {
							<div mat-card-avatar></div>
						}
						@if (titleVisible) {
							<mat-card-title>Default Card</mat-card-title>
						}
						@if (subtitleVisible) {
							<mat-card-subtitle>Subtitle</mat-card-subtitle>
						}
					</mat-card-header>
				}
				@if (contentVisible) {
					<mat-card-content>
						<p>This card shows a small image.</p>
						@if (signatureVisible) {
							<div class="ob-signature">
								<span>OFIT</span>
								<span>Last login 20.07.2022</span>
							</div>
						}
					</mat-card-content>
				}
				@if (actionsVisible) {
					<mat-card-actions>
						<button type="button" mat-button obButton="secondary">Like</button>
						<button type="button" mat-button obButton="primary">Share</button>
					</mat-card-actions>
				}
			</mat-card>
			<button type="button" mat-button obButton="primary" class="ob-button-card" [attr.disabled]="disabled ? '' : undefined">
				<mat-card>
					@if (pictureVisible) {
						<img
							mat-card-image
							alt="A person in a space suit holding luminous balloons"
							ngSrc="assets/images/alex-shuper_person-in-a-space-suit.jpg"
							[height]="580"
							[width]="550"
						/>
					}
					@if (alertVisible) {
						<ob-alert type="info"> New feature </ob-alert>
					}
					@if (headerVisible) {
						<mat-card-header>
							@if (avatarVisible) {
								<div mat-card-avatar></div>
							}
							@if (titleVisible) {
								<mat-card-title>Button Card</mat-card-title>
							}
							@if (subtitleVisible) {
								<mat-card-subtitle>Subtitle</mat-card-subtitle>
							}
						</mat-card-header>
					}
					@if (contentVisible) {
						<mat-card-content>
							<p>The Button Card is a card wrapped in a button. The Whole card is clickable</p>
							@if (signatureVisible) {
								<div class="ob-signature">
									<span>OFIT</span>
									<span>Last login 20.07.2022</span>
								</div>
							}
						</mat-card-content>
					}
				</mat-card>
			</button>
			<a href="/material/card" class="ob-link-card" [attr.disabled]="disabled ? '' : undefined">
				<mat-card>
					@if (pictureVisible) {
						<img
							mat-card-image
							alt="A person in a space suit holding luminous balloons"
							ngSrc="assets/images/alex-shuper_person-in-a-space-suit.jpg"
							[height]="580"
							[width]="550"
						/>
					}
					@if (alertVisible) {
						<ob-alert type="info"> New feature </ob-alert>
					}
					@if (headerVisible) {
						<mat-card-header>
							@if (avatarVisible) {
								<div mat-card-avatar></div>
							}
							@if (titleVisible) {
								<mat-card-title>Link Card</mat-card-title>
							}
							@if (subtitleVisible) {
								<mat-card-subtitle>Subtitle</mat-card-subtitle>
							}
						</mat-card-header>
					}
					@if (contentVisible) {
						<mat-card-content>
							<p>Same concept as the Button Card, but wrapped in a link.</p>
							@if (signatureVisible) {
								<div class="ob-signature">
									<span>OFIT</span>
									<span>Last login 20.07.2022</span>
								</div>
							}
						</mat-card-content>
					}
				</mat-card>
			</a>
			<mat-card obSelectable [attr.disabled]="disabled ? '' : undefined">
				@if (pictureVisible) {
					<img
						mat-card-image
						alt="A person in a space suit holding luminous balloons"
						ngSrc="assets/images/alex-shuper_person-in-a-space-suit.jpg"
						[height]="580"
						[width]="550"
					/>
				}
				@if (alertVisible) {
					<ob-alert type="info"> New feature </ob-alert>
				}
				@if (headerVisible) {
					<mat-card-header>
						@if (avatarVisible) {
							<div mat-card-avatar></div>
						}
						@if (titleVisible) {
							<mat-card-title>A person in a space suit</mat-card-title>
						}
						@if (subtitleVisible) {
							<mat-card-subtitle>luminous balloons</mat-card-subtitle>
						}
					</mat-card-header>
				}
				@if (contentVisible) {
					<mat-card-content>
						<p>A person in a space suit holding luminous balloons</p>
						@if (signatureVisible) {
							<div class="ob-signature">
								<span>OFIT</span>
								<span>Last login 20.07.2022</span>
							</div>
						}
					</mat-card-content>
				}
			</mat-card>
			<mat-card obSelectable [attr.disabled]="disabled ? '' : undefined">
				@if (pictureVisible) {
					<img
						mat-card-image
						alt="A person in a space suit holding luminous balloons"
						ngSrc="assets/images/alex-shuper_person-in-a-space-suit.jpg"
						[height]="580"
						[width]="550"
					/>
				}
				@if (alertVisible) {
					<ob-alert type="info"> New feature </ob-alert>
				}
				@if (headerVisible) {
					<mat-card-header>
						@if (avatarVisible) {
							<div mat-card-avatar></div>
						}
						@if (titleVisible) {
							<mat-card-title>A person in a space suit</mat-card-title>
						}
						@if (subtitleVisible) {
							<mat-card-subtitle>luminous balloons</mat-card-subtitle>
						}
					</mat-card-header>
				}
				@if (contentVisible) {
					<mat-card-content>
						<p>A person in a space suit holding luminous balloons</p>
						@if (signatureVisible) {
							<div class="ob-signature">
								<span>OFIT</span>
								<span>Last login 20.07.2022</span>
							</div>
						}
					</mat-card-content>
				}
			</mat-card>
		</div>
	</ng-container>
	<ng-container column-right-content>
		<h3>Controls</h3>
		<mat-list>
			<fieldset>
				<legend>Toggle features</legend>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle avatar" [checked]="true" (click)="toggleAvatarVisibility()"> Avatar </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle title" [checked]="true" (click)="toggleTitleVisibility()"> Title </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle subtitle" [checked]="true" (click)="toggleSubtitleVisibility()">Subtitle </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle header" [checked]="true" (click)="toggleHeaderVisibility()"> Header </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle picture" [checked]="true" (click)="togglePictureVisibility()"> Picture </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle content" [checked]="true" (click)="toggleContentVisibility()"> Content </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle actions" [checked]="true" (click)="toggleActionsVisibility()"> Actions </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle checkbox mode" [checked]="true" (click)="toggleCheckboxMode()">
						Checkbox Mode
					</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle alert" [checked]="true" (click)="toggleAlertVisibility()"> Alert </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle disabled mode" [checked]="false" (click)="toggleDisabledMode()"> Disabled </mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle matTooltip="Toggle signature" [checked]="true" (click)="toggleSignature()"> Signature </mat-slide-toggle>
				</mat-list-item>
			</fieldset>
		</mat-list>
	</ng-container>
</ob-column-layout>
