@import "projects/oblique/src/styles/scss/core/variables";

.container {
	display: flex;
	flex-wrap: wrap;
	gap: $ob-spacing-sm;
	align-items: flex-start;

	> * {
		flex: 1 1 400px;
		max-width: calc(50% - ($ob-spacing-sm / 2));
	}
}

.mat-mdc-card-avatar {
	background-image: url("../../../assets/images/alex-shuper_person-in-a-space-suit_40x53.jpg");
	background-size: cover;
}
