<h2 class="page-header">Service navigation</h2>
<sc-description component="service-navigation"></sc-description>
<ob-column-layout [left]="false">
	<section column-main-content>
		<ob-service-navigation
			[environment]="environment"
			[rootUrl]="rootUrl"
			[returnUrl]="returnUrl"
			[profileLinks]="profileLinks"
			[infoLinks]="infoLinks"
			[infoContact]="infoContact"
			[maxLastUsedApplications]="maxLastUsedApplications"
			[maxFavoriteApplications]="maxFavoriteApplications"
			[displayMessage]="displayMessage"
			[displayInfo]="displayInfo"
			[displayApplications]="displayApplications"
			[displayProfile]="displayProfile"
			[displayAuthentication]="displayAuthentication"
			[displayLanguages]="displayLanguages"
		>
			<ng-container *ngIf="hasCustomWidgets">
				<ng-template #customWidgetTemplate>
					<button type="button" class="ob-widget" mat-icon-button obButton="secondary">
						<mat-icon svgIcon="smile"></mat-icon>
					</button>
				</ng-template>
				<ng-template #customWidgetTemplate>
					<button type="button" class="ob-widget" mat-icon-button obButton="secondary">
						<mat-icon svgIcon="thumbs-up"></mat-icon>
					</button>
				</ng-template>
			</ng-container>
		</ob-service-navigation>
	</section>
	<ng-container column-right-content>
		<fieldset class="toggles">
			<legend>Info widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayInfo">toggle info</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasInfoLinks" [disabled]="!displayInfo">toggle info links</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasContactEmail" [disabled]="!displayInfo" (change)="handleContactInfo()"
				>toggle contact email</mat-slide-toggle
			>
			<mat-slide-toggle [(ngModel)]="hasContactPhone" [disabled]="!displayInfo" (change)="handleContactInfo()"
				>toggle contact phone</mat-slide-toggle
			>
		</fieldset>
		<fieldset class="toggles">
			<legend>Profile widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayProfile">toggle profile</mat-slide-toggle>
			<mat-slide-toggle [(ngModel)]="hasProfileLinks" [disabled]="!displayProfile">toggle profile links</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Messages widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayMessage">toggle message</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Authentication widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayAuthentication">toggle authentication</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Languages widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayLanguages">toggle language</mat-slide-toggle>
		</fieldset>
		<fieldset class="toggles">
			<legend>Applications widget settings</legend>
			<mat-slide-toggle [(ngModel)]="displayApplications">toggle applications</mat-slide-toggle>
			<mat-form-field>
				<mat-label>Max last used applications</mat-label>
				<input type="number" matInput [(ngModel)]="maxLastUsedApplications" [disabled]="!displayApplications" />
				<mat-hint
					>Display only {{ maxLastUsedApplications }} applications out of a total of {{ lastUsedApplicationsLength$ | async }}.</mat-hint
				>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Max favorite applications</mat-label>
				<input type="number" matInput [(ngModel)]="maxFavoriteApplications" [disabled]="!displayApplications" />
				<mat-hint
					>Display only {{ maxFavoriteApplications }} applications out of a total of {{ favoriteApplicationsLength$ | async }}.</mat-hint
				>
			</mat-form-field>
		</fieldset>
		<fieldset class="toggles">
			<legend>Custom widgets settings</legend>
			<mat-slide-toggle [(ngModel)]="hasCustomWidgets">toggle custom widgets</mat-slide-toggle>
		</fieldset>
	</ng-container>
</ob-column-layout>
<sc-api component="service-navigation"></sc-api>
