<div class="columns-2">
	<section class="info">
		@if (uiUx().purpose) {
			<div [innerHTML]="uiUx().purpose | safeHtml"></div>
		}
		@if (uiUx().generalRules?.length) {
			<section>
				<h2>General rules</h2>
				<ul>
					@for (item of uiUx().generalRules; track item) {
						<li [innerHtml]="item | safeHtml"></li>
					}
				</ul>
			</section>
		}

		<div class="columns-2">
			@if (uiUx().do?.length) {
				<section class="dos">
					<h2>Dos</h2>
					<ul>
						@for (item of uiUx().do; track item) {
							<li [innerHtml]="item | safeHtml"></li>
						}
					</ul>
				</section>
			}
			@if (uiUx().doNot?.length) {
				<section class="do-nots">
					<h2>Don'ts</h2>
					<ul>
						@for (item of uiUx().doNot; track item) {
							<li [innerHtml]="item | safeHtml"></li>
						}
					</ul>
				</section>
			}
		</div>
		@if (uiUx().additionalInfo) {
			<p [innerHtml]="uiUx().additionalInfo | safeHtml"></p>
		}
	</section>
	@if (uiUx().designFileLatest || uiUx().relatedLinks?.length) {
		<aside>
			@if (uiUx().designFileLatest) {
				<section class="design-files">
					<h2>Design Figma Files</h2>
					<a class="figma" [href]="uiUx().designFileLatest"
						><span>Community Lib {{ currentObliqueVersion }} </span></a
					>
					<div class="designer">
						<div class="title" id="older-libraries">Looking for previous version?</div>
						<ul class="link-list" aria-labelledby="older-libraries">
							<li>
								<a [href]="uiUx().designFilePrevious"
									><span>Community Lib {{ lastObliqueVersion }}</span></a
								>
							</li>
						</ul>
						<div class="title" id="intern">Are you part of BIT?</div>
						<p aria-labelledby="intern">
							Please read <a routerLink="/introductions/getting-started-as-a-designer">Getting started as a designer</a> and submit there a
							request for accessing the FIGMA file in the BIT space.
						</p>
					</div>
				</section>
			}
			@if (uiUx().relatedLinks?.length) {
				<section class="related-links">
					<h2>Related</h2>
					<ul class="link-list">
						@for (item of uiUx().relatedLinks; track item) {
							<li>
								<a class="related" [routerLink]="item">{{ item | relatedLink }}</a>
							</li>
						}
					</ul>
				</section>
			}
		</aside>
	}
</div>
