:host {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.columns-2 {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	justify-content: space-between;
}

.info {
	flex: 1 1 60%;
}

aside {
	display: flex;
	flex-direction: column;
	flex: 0 0 395px;
	gap: 16px;

	.design-files,
	.related-links {
		padding: 24px;
	}

	.design-files {
		background-color: #dadcfb9c;
	}

	.related-links {
		background-color: #e5e5e5;
	}

	.figma {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 16px;
		line-height: 45px;
		border-radius: 4px;
		color: #ffffff;
		background-color: #1e1e1e;

		&:hover {
			background-color: rgb(0, 79, 128);
		}
	}

	.related {
		display: block; // necessary for text-transform to have any effect

		&::first-letter {
			text-transform: uppercase;
		}
	}
}

.dos,
.do-nots {
	flex: 1 0 395px;
	flex-wrap: wrap;

	h2 {
		padding-left: 46px;
		background: 0 -2px no-repeat;
		background-size: contain;
	}
}

.dos h2 {
	background-image: url("/assets/images/CheckmarkCircle.svg");
}

.do-nots h2 {
	background-image: url("/assets/images/Stop.svg");
}

a {
	text-decoration: none;
}

section {
	border-bottom: unset;
	margin: 0;
}
