<div class="ob-alert ob-alert-success" role="alert">
	<button type="button" class="ob-close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Well done!</strong> You successfully read <a href="javascript:" class="ob-alert-link">this important alert message</a>.
</div>
<div class="ob-alert ob-alert-info" role="alert">
	<button type="button" class="ob-close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Heads up!</strong> This <a href="javascript:" class="ob-alert-link">alert needs your attention</a>, but it's not super important.
</div>
<div class="ob-alert ob-alert-warning" role="alert">
	<button type="button" class="ob-close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Warning!</strong> Better check yourself, you're <a href="javascript:" class="ob-alert-link">not looking too good</a>.
</div>
<div class="ob-alert ob-alert-error" role="alert">
	<button type="button" class="ob-close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<strong>Oh snap!</strong> <a href="javascript:" class="ob-alert-link">Change a few things up</a> and try submitting again.
</div>
