<section>
	<div class="overline">Regular headings</div>
	<h1>Heading 1: A Cats' life</h1>
	<p>
		For meow meow, you are my owner, so here's a dead rat. Meow meow mama, take a deep sniff of sock then walk around
		with mouth half open.
	</p>
	<h2>Heading 2: Quirky Behaviors</h2>
	<p>
		Really likes hummus, chew foot, so meow meow mew. Side-eyes your "jerk" other hand while being petted. Sees bird in
		air, breaks into cage, and attacks creature. Ha ha, you're funny; I'll kill you last, plays league of legends.
	</p>
	<h3>Heading 3: Protest Poop</h3>
	<p>
		My slave human didn't give me any food, so I pooped on the floor. The cat was chasing the mouse, tuxedo cats always
		looking dapper.
	</p>
	<h4>Heading 4: Munch and Hide</h4>
	<p>
		Munch, munch, chomp, chomp. Sit on the laptop, hiding behind the couch until lured out by a feathery toy. Cuddle, no
		cuddle, cuddle, love, scratch, scratch.
	</p>
	<h5>Heading 5: Nap and Dominate</h5>
	<p>
		Sleeps on my head, enslave the hooman for sleeping in the box. Chase after silly colored fish toys around the house,
		make plans to dominate the world, then take a nap. Happily ignore when being called, purr like a car engine. Oh yes,
		there is my human slave woman; she does the best pats ever, that's all I like about her, hiss meow.
	</p>
	<h6>Heading 6: Mischief Maker</h6>
	<p>
		Murf pratt ungow ungow, push your water glass on the floor. Human is washing you, why halp, oh the horror, flee,
		scratch, hiss, bite. Cough hairball, eat toilet paper, haha you hold me hooman, I scratch. Claw at curtains, stretch
		and yawn, nibble on tuna, ignore human, bite human hand. Refuse to leave cardboard box. Meoooow, happily ignore when
		being called.
	</p>
</section>
<section class="ob-prose">
	<div class="overline">Prose headings</div>
	<h1>Prose Heading 1: A Cats' life</h1>
	<p>
		For meow meow, you are my owner, so here's a dead rat. Meow meow mama, take a deep sniff of sock then walk around
		with mouth half open.
	</p>
	<h2>Prose Heading 2: Quirky Behaviors</h2>
	<p>
		Really likes hummus, chew foot, so meow meow mew. Side-eyes your "jerk" other hand while being petted. Sees bird in
		air, breaks into cage, and attacks creature. Ha ha, you're funny; I'll kill you last, plays league of legends.
	</p>
	<h3>Prose Heading 3: Protest Poop</h3>
	<p>
		My slave human didn't give me any food, so I pooped on the floor. The cat was chasing the mouse, tuxedo cats always
		looking dapper.
	</p>
	<h4>Prose Heading 4: Munch and Hide</h4>
	<p>
		Munch, munch, chomp, chomp. Sit on the laptop, hiding behind the couch until lured out by a feathery toy. Cuddle, no
		cuddle, cuddle, love, scratch, scratch.
	</p>
	<h5>Prose Heading 5: Nap and Dominate</h5>
	<p>
		Sleeps on my head, enslave the hooman for sleeping in the box. Chase after silly colored fish toys around the house,
		make plans to dominate the world, then take a nap. Happily ignore when being called, purr like a car engine. Oh yes,
		there is my human slave woman; she does the best pats ever, that's all I like about her, hiss meow.
	</p>
	<h6>Prose Heading 6: Mischief Maker</h6>
	<p>
		Murf pratt ungow ungow, push your water glass on the floor. Human is washing you, why halp, oh the horror, flee,
		scratch, hiss, bite. Cough hairball, eat toilet paper, haha you hold me hooman, I scratch. Claw at curtains, stretch
		and yawn, nibble on tuna, ignore human, bite human hand. Refuse to leave cardboard box. Meoooow, happily ignore when
		being called.
	</p>
</section>
