<mat-accordion>
	<mat-expansion-panel togglePosition="before">
		<mat-expansion-panel-header>
			<mat-panel-title>On Earth - Launch the Rocket!</mat-panel-title>
			<mat-panel-description>This example shows a toggle on the left</mat-panel-description>
		</mat-expansion-panel-header>
		<p>In space - Land back on earth.</p>
	</mat-expansion-panel>
	<mat-expansion-panel togglePosition="after">
		<mat-expansion-panel-header>
			<mat-panel-title>Where You Are - Click to find the Treasure!</mat-panel-title>
			<mat-panel-description>This example shows the toggle on the right</mat-panel-description>
		</mat-expansion-panel-header>
		<p>You've found the treasure! - Close to hide it.</p>
	</mat-expansion-panel>
	<mat-expansion-panel hideToggle="true">
		<mat-expansion-panel-header>
			<mat-panel-title>Nothing Interesting Here - Or is there?</mat-panel-title>
			<mat-panel-description>This example shows the expansion-panel without a toggle</mat-panel-description>
		</mat-expansion-panel-header>
		<p>Now you know! - Smarter than before?</p>
	</mat-expansion-panel>
</mat-accordion>
