<div class="paginator-container">
	<h6>Default</h6>
	<mat-paginator aria-label="Select page" />
</div>
<div class="paginator-container">
	<h6>Length only</h6>
	<mat-paginator aria-label="Select page" [length]="1000" />
</div>
<div class="paginator-container">
	<h6>Page size</h6>
	<mat-paginator aria-label="Select page" [length]="1000" [pageSize]="10" />
</div>
<div class="paginator-container">
	<h6>Page size options</h6>
	<mat-paginator aria-label="Select page" [length]="1000" [pageSizeOptions]="[5, 10, 25, 100]" />
</div>
<div class="paginator-container">
	<h6>Show first & last buttons</h6>
	<mat-paginator aria-label="Select page" showFirstLastButtons [length]="1000" />
</div>
<p>It is mandatory to use the aria-label attribute (or aria-labelledby) in order to ensure the accessibility of the paginator.</p>
