<h1>Focus Sample</h1>

<div class="container">
	<div class="additional-field" obSelectableGroup>
		<mat-card obSelectable #card>
			<mat-card-content>Selectable card 1</mat-card-content>
		</mat-card>
	</div>
	<div class="additional-field">
		<div #contentEditable class="content-editable" contenteditable="true"></div>
	</div>
	<mat-form-field>
		<mat-label>Default Input</mat-label>
		<input #input type="text" matInput placeholder="Default Input" />
	</mat-form-field>
	<mat-form-field>
		<mat-label>Default Select</mat-label>
		<mat-select #select>
			<mat-option [value]="1">One</mat-option>
			<mat-option [value]="2">Two</mat-option>
			<mat-option [value]="3">Three</mat-option>
			<mat-option [value]="4">Four</mat-option>
			<mat-option [value]="5">Five</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Default Textarea</mat-label>
		<textarea #textArea matInput placeholder="Default Textarea"></textarea>
	</mat-form-field>
	<div>
		<button mat-button obButton="primary" type="button" (click)="focusNext()">Move focus</button>
	</div>
</div>
