<div class="default-layout">
	<h2 class="page-header">Dropdown</h2>
	<ob-description component="dropdown"></ob-description>
	<ng-container *ngIf="material | async; else bootstrap">
		<table class="ob-table ob-table-collapse ob-table-hover">
			<thead>
				<tr>
					<th>right</th>
					<th>middle</th>
					<th>left</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<ob-dropdown position="right">
							<ng-container dropdown-toggle>Text only</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="middle">
							<ng-container dropdown-toggle>Text only</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="left">
							<ng-container dropdown-toggle>Text only</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
				</tr>
				<tr>
					<td>
						<ob-dropdown position="right">
							<ng-container dropdown-toggle>Loooooooooooooooooooooonnnnnnnnnnnnnnnnnnnnnnnnnnnnnng text only</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="middle">
							<ng-container dropdown-toggle>Loooooooooooooooooooooonnnnnnnnnnnnnnnnnnnnnnnnnnnnnng text only</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="left">
							<ng-container dropdown-toggle>Loooooooooooooooooooooonnnnnnnnnnnnnnnnnnnnnnnnnnnnnng text only</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
				</tr>
				<tr>
					<td>
						<ob-dropdown position="right">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
								Text with icon
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="middle">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
								Text with icon
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="left">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
								Text with icon
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
				</tr>
				<tr>
					<td>
						<ob-dropdown position="right">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
								Loooooooooooooooooooonnnnnnnnnnnnnnnnnnnnnnnnnnnng text with icon
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="middle">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
								Loooooooooooooooooooonnnnnnnnnnnnnnnnnnnnnnnnnnnng text with icon
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="left">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
								Loooooooooooooooooooonnnnnnnnnnnnnnnnnnnnnnnnnnnng text with icon
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
				</tr>
				<tr>
					<td>
						<ob-dropdown position="right">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="middle">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
					<td>
						<ob-dropdown position="left">
							<ng-container dropdown-toggle>
								<mat-icon fontIcon="fa-cog"></mat-icon>
							</ng-container>

							<ng-container dropdown-content>
								<h4>Dropdown title</h4>
								<ul role="menu" class="ob-nav-tree" aria-hidden="false">
									<li role="menuitem">
										<a role="button">FR</a>
									</li>
									<li role="menuitem">
										<a role="button">DE</a>
									</li>
									<li role="menuitem">
										<a role="button">EN</a>
									</li>
								</ul>
							</ng-container>
						</ob-dropdown>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-container>
	<ng-template #bootstrap>
		<table class="ob-table ob-table-collapse ob-table-hover">
			<thead>
				<tr>
					<th>Normal</th>
					<th>Split</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<div class="btn-group">
							<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
								<button class="btn btn-primary" ngbDropdownToggle>Dropdown</button>
								<div class="dropdown-menu" ngbDropdownMenu>
									<button class="dropdown-item">One</button>
									<button class="dropdown-item">Two</button>
									<button class="dropdown-item">Four!</button>
								</div>
							</div>
						</div>
					</td>
					<td>
						<div class="btn-group">
							<button type="button" class="btn btn-primary">Split</button>
							<div class="btn-group" ngbDropdown role="group" aria-label="Button group with nested dropdown">
								<button class="btn btn-primary dropdown-toggle-split" ngbDropdownToggle></button>
								<div class="dropdown-menu" ngbDropdownMenu>
									<button class="dropdown-item">One</button>
									<button class="dropdown-item">Two</button>
									<button class="dropdown-item">Four!</button>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</ng-template>
</div>
