<mat-card>
	<img
		mat-card-image
		alt="A person in a space suit holding luminous balloons"
		ngSrc="assets/images/alex-shuper_person-in-a-space-suit.jpg"
		[width]="398"
		[height]="420"
	/>
	<ob-alert type="info"> New feature </ob-alert>
	<mat-card-header>
		<mat-card-title>Default Card</mat-card-title>
		<mat-card-subtitle>Subtitle</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<p>The default card is only a presentational artifact, without any form of interaction except for eventual buttons inside.</p>
		<div class="ob-signature">
			<span>OFIT</span>
			<span>Last login 20.07.2022</span>
		</div>
	</mat-card-content>
	<mat-card-actions>
		<button type="button" mat-button obButton="secondary">Like</button>
		<button type="button" mat-button obButton="primary">Share</button>
	</mat-card-actions>
</mat-card>
