<div class="default-layout">
	<header class="page-header">
		<div class="row">
			<div class="col-md-6">
				<h1 class="page-title">{{'states.movies.title' | translate}}</h1>
			</div>
			<div class="col-md-6">
				<div class="input-group">
					<input ng-model="query" type="text" class="form-control" placeholder="Search for movies">
					<span class="input-group-btn">
						<button class="btn btn-default btn-primary" type="submit">
							<span class="fa fa-search"></span>
						</button>
					</span>
				</div>
				<!--div class="btn-group pull-right" data-toggle="buttons">
					<label class="btn btn-primary active">
						<input type="radio" name="source" value="local" autocomplete="off" checked> Local
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="source" value="remote" autocomplete="off"> Remote
					</label>
				</div-->
			</div>
		</div>
	</header>

	<div class="callout callout-info" ng-repeat="movie in movies | filter:query">
		<div class="row">
			<div class="col-xs-8 col-md-10">
				<h2>{{movie.title}}</h2>
				<dl class="lead">
					<dt>
						<span class="fa fa-calendar-o"></span>
					</dt>
					<dd>
						<span>{{movie.release_date}}</span>
					</dd>
					<dt>
						<span class="fa fa-heart-o"></span>
					</dt>
					<dd>
						<span>{{movie.vote_average}}</span>
					</dd>
					<dt>
						<span class="fa fa-star-o"></span>
					</dt>
					<dd>
						<span>{{movie.vote_count}}</span>
					</dd>
				</dl>
			</div>
			<div class="col-xs-4 col-md-2" ng-if="movie.poster_path">
				<img ng-src="http://image.tmdb.org/t/p/w500/{{movie.poster_path}}" title="{{movie.original_title}}" class="img-responsive" />
			</div>
		</div>
	</div>
</div>
