<ng-container *ngIf="schema$ | async as schema">
	<h2 class="page-header">
		{{ "i18n.routes.samples.schema-validation.title" | translate }}
	</h2>
	<sc-description component="schema-validation"></sc-description>
	<ng-container *ngIf="material | async; else bootstrap">
		<form [formGroup]="materialTestForm">
			<mat-form-field class="mat-form-field-sm" obErrorMessages>
				<mat-label>Choose a date</mat-label>
				<input matInput [matDatepicker]="picker" formControlName="dateField" />
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
				<mat-error></mat-error>
			</mat-form-field>
			<mat-form-field class="mat-form-field-sm" obErrorMessages>
				<mat-label>Enter text</mat-label>
				<input matInput name="text" type="text" placeholder="Text" formControlName="textField" />
				<mat-error></mat-error>
			</mat-form-field>
		</form>
	</ng-container>
	<ng-template #bootstrap>
		<div class="row">
			<div class="col">
				<form
					id="schemaValidationForm"
					class="form-horizontal has-validation card"
					name="validationForm"
					role="form"
					[obSchemaValidation]="schema"
					#templateForm="ngForm"
					(submit)="check(templateForm)"
					(reset)="reset(templateForm)"
				>
					<div class="card-header">
						<h3 class="card-title d-flex justify-content-between">
							Preview with template driven form
							<span class="fa fa-check text-success" ngbTooltip="Form is valid" placement="bottom" *ngIf="templateForm.valid"></span>
							<span class="fa fa-exclamation-triangle text-danger" ngbTooltip="Form is not valid" placement="bottom" *ngIf="!templateForm.valid"></span>
						</h3>
					</div>
					<div class="card-body">
						<div obFormControlState class="row form-group" [pristineValidation]="true">
							<label class="col-3 col-form-label">Text</label>
							<div class="col-8">
								<input name="text" type="text" placeholder="Text" class="form-control" ngModel obSchemaValidate />
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<ng-template #textSchema>
									<pre>{{ schema.properties.text | json }}</pre>
								</ng-template>
								<a class="form-control-static" role="button" [ngbPopover]="textSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label">Number</label>
							<div class="col-8">
								<input name="number" type="number" placeholder="Number" class="form-control" ngModel obSchemaValidate />
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<ng-template #numberSchema>
									<pre>{{ schema.properties.number | json }}</pre>
								</ng-template>
								<a class="form-control-static" role="button" [ngbPopover]="numberSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label">Integer</label>
							<div class="col-8">
								<input name="integer" type="number" placeholder="integer" class="form-control" ngModel obSchemaValidate />
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<ng-template #integerSchema>
									<pre>{{ schema.properties.integer | json }}</pre>
								</ng-template>
								<a class="form-control-static" role="button" [ngbPopover]="integerSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label" for="templateDate">Date</label>
							<div class="col-8">
								<ob-date-picker id="templateDate" ngModel name="date"></ob-date-picker>
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<ng-template #dateSchema>
									<pre>{{ schema.properties.date | json }}</pre>
								</ng-template>
								<a class="form-control-static" role="button" [ngbPopover]="dateSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label" for="templateSelect">Select</label>
							<div class="col-8">
								<select id="templateSelect" name="select" class="form-control" ngModel obSchemaValidate>
									<option value="">Select</option>
									<option *ngFor="let item of selectOptions" value="{{ item.value }}">{{ item.label }}</option>
								</select>
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<ng-template #selectSchema>
									<pre>{{ schema.properties.select | json }}</pre>
								</ng-template>
								<a class="form-control-static" role="button" [ngbPopover]="selectSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label">Textarea</label>
							<div class="col-8">
								<textarea name="textarea" type="text" class="form-control" placeholder="Textarea" ngModel rows="1" obSchemaValidate></textarea>
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<ng-template #textareaSchema>
									<pre>{{ schema.properties.textarea | json }}</pre>
								</ng-template>
								<a class="form-control-static" role="button" [ngbPopover]="numberSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<fieldset ngModelGroup="name">
							<legend>
								<span>Name</span>
								<span class="pull-right">
									<ng-template #nameSchema>
										<pre>{{ schema.properties.name | json }}</pre>
									</ng-template>
									<a class="form-control-static" role="button" [ngbPopover]="nameSchema" popoverTitle="Schema" placement="left">
										<span class="fa fa-sitemap"></span>
									</a>
								</span>
							</legend>
							<div obFormControlState class="row form-group">
								<label class="col-3 col-form-label">First name</label>
								<div class="col-8">
									<input type="text" name="firstName" class="form-control" placeholder="First name" ngModel obSchemaValidate />
									<ob-error-messages></ob-error-messages>
								</div>
								<div class="col-1">
									<ng-template #firstNameSchema>
										<pre>{{ schema.properties.name.properties.firstName | json }}</pre>
									</ng-template>
									<a class="form-control-static" role="button" [ngbPopover]="firstNameSchema" popoverTitle="Schema" placement="left">
										<span class="fa fa-sitemap"></span>
									</a>
								</div>
							</div>
							<div obFormControlState class="row form-group">
								<label class="col-3 col-form-label">Last name</label>
								<div class="col-8">
									<input type="text" name="lastName" class="form-control" placeholder="Last name" ngModel obSchemaValidate />
									<ob-error-messages></ob-error-messages>
								</div>
								<div class="col-1">
									<ng-template #lastNameSchema>
										<pre>{{ schema.properties.name.properties.lastName | json }}</pre>
									</ng-template>
									<a class="form-control-static" role="button" [ngbPopover]="lastNameSchema" popoverTitle="Schema" placement="left">
										<span class="fa fa-sitemap"></span>
									</a>
								</div>
							</div>
							<fieldset ngModelGroup="address">
								<legend>
									<span>Address</span>
									<span class="pull-right">
										<ng-template #addressSchema>
											<pre>{{ schema.properties.name.properties.address | json }}</pre>
										</ng-template>
										<a class="form-control-static" role="button" [ngbPopover]="addressSchema" popoverTitle="Schema" placement="left">
											<span class="fa fa-sitemap"></span>
										</a>
									</span>
								</legend>
								<div obFormControlState class="row form-group">
									<label class="col-3 col-form-label">Street</label>
									<div class="col-8">
										<input type="text" name="street" class="form-control" placeholder="Street" ngModel obSchemaValidate />
										<ob-error-messages></ob-error-messages>
									</div>
									<div class="col-1">
										<ng-template #streetSchema>
											<pre>{{ schema.properties.name.properties.address.properties.street | json }}</pre>
										</ng-template>
										<a class="form-control-static" role="button" [ngbPopover]="streetSchema" popoverTitle="Schema" placement="left">
											<span class="fa fa-sitemap"></span>
										</a>
									</div>
								</div>
								<div obFormControlState class="row form-group">
									<label class="col-3 col-form-label">Number</label>
									<div class="col-8">
										<input type="number" name="number" class="form-control" placeholder="Number" ngModel obSchemaValidate />
										<ob-error-messages></ob-error-messages>
									</div>
									<div class="col-1">
										<ng-template #streetNumberSchema>
											<pre>{{ schema.properties.name.properties.address.properties.number | json }}</pre>
										</ng-template>
										<a class="form-control-static" role="button" [ngbPopover]="streetNumberSchema" popoverTitle="Schema" placement="left">
											<span class="fa fa-sitemap"></span>
										</a>
									</div>
								</div>
							</fieldset>
						</fieldset>
					</div>
					<div class="card-footer">
						<div class="form-actions">
							<button type="reset" class="btn btn-secondary">Reset</button>
							<button type="submit" class="btn btn-primary">Check</button>
						</div>
					</div>
				</form>
				<h4 class="mt-4">Model data</h4>
				<pre>{{ templateForm.value | json }}</pre>
			</div>
			<div class="col">
				<form class="form-horizontal has-validation card" role="form" [obSchemaValidation]="schema" [formGroup]="formData" (submit)="check()" (reset)="reset()">
					<div class="card-header">
						<h3 class="card-title d-flex justify-content-between">
							Preview with reactive form
							<span class="fa fa-check text-success" ngbTooltip="Form is valid" placement="bottom" *ngIf="formData.valid"></span>
							<span class="fa fa-exclamation-triangle text-danger" ngbTooltip="Form is not valid" placement="bottom" *ngIf="!formData.valid"></span>
						</h3>
					</div>
					<div class="card-body">
						<div obFormControlState class="row form-group" [pristineValidation]="true">
							<label class="col-3 col-form-label">Text</label>
							<div class="col-8">
								<input formControlName="text" type="text" placeholder="Text" class="form-control" obSchemaValidate />
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<a class="form-control-static" role="button" [ngbPopover]="textSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label">Number</label>
							<div class="col-8">
								<input formControlName="number" type="number" placeholder="Number" class="form-control" obSchemaValidate />
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<a class="form-control-static" role="button" [ngbPopover]="numberSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label">Integer</label>
							<div class="col-8">
								<input formControlName="integer" type="number" placeholder="integer" class="form-control" obSchemaValidate />
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<a class="form-control-static" role="button" [ngbPopover]="integerSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label" for="reactiveDate">Date</label>
							<div class="col-8">
								<ob-date-picker id="reactiveDate" formControlName="date" obSchemaValidate></ob-date-picker>
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<a class="form-control-static" role="button" [ngbPopover]="dateSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label" for="reactiveSelect">Select</label>
							<div class="col-8">
								<select id="reactiveSelect" formControlName="select" class="form-control" obSchemaValidate>
									<option value="">Select</option>
									<option *ngFor="let item of selectOptions" value="{{ item.value }}">{{ item.label }}</option>
								</select>
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<a class="form-control-static" role="button" [ngbPopover]="selectSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<div obFormControlState class="row form-group">
							<label class="col-3 col-form-label">Textarea</label>
							<div class="col-8">
								<textarea formControlName="textarea" type="text" class="form-control" placeholder="Textarea" rows="1" obSchemaValidate></textarea>
								<ob-error-messages></ob-error-messages>
							</div>
							<div class="col-1">
								<a class="form-control-static" role="button" [ngbPopover]="numberSchema" popoverTitle="Schema" placement="left">
									<span class="fa fa-sitemap"></span>
								</a>
							</div>
						</div>
						<fieldset formGroupName="name">
							<legend>
								<span>Name</span>
								<span class="pull-right">
									<a class="form-control-static" role="button" [ngbPopover]="nameSchema" popoverTitle="Schema" placement="left">
										<span class="fa fa-sitemap"></span>
									</a>
								</span>
							</legend>
							<div obFormControlState class="row form-group">
								<label class="col-3 col-form-label">First name</label>
								<div class="col-8">
									<input type="text" formControlName="firstName" class="form-control" placeholder="First name" obSchemaValidate />
									<ob-error-messages></ob-error-messages>
								</div>
								<div class="col-1">
									<a class="form-control-static" role="button" [ngbPopover]="firstNameSchema" popoverTitle="Schema" placement="left">
										<span class="fa fa-sitemap"></span>
									</a>
								</div>
							</div>
							<div obFormControlState class="row form-group">
								<label class="col-3 col-form-label">Last name</label>
								<div class="col-8">
									<input type="text" formControlName="lastName" class="form-control" placeholder="Last name" obSchemaValidate />
									<ob-error-messages></ob-error-messages>
								</div>
								<div class="col-1">
									<a class="form-control-static" role="button" [ngbPopover]="lastNameSchema" popoverTitle="Schema" placement="left">
										<span class="fa fa-sitemap"></span>
									</a>
								</div>
							</div>
							<fieldset formGroupName="address">
								<legend>
									<span>Address</span>
									<span class="pull-right">
										<a class="form-control-static" role="button" [ngbPopover]="addressSchema" popoverTitle="Schema" placement="left">
											<span class="fa fa-sitemap"></span>
										</a>
									</span>
								</legend>
								<div obFormControlState class="row form-group">
									<label class="col-3 col-form-label">Street</label>
									<div class="col-8">
										<input type="text" formControlName="street" class="form-control" placeholder="Street" obSchemaValidate />
										<ob-error-messages></ob-error-messages>
									</div>
									<div class="col-1">
										<ng-template #streetSchema>
											<pre>{{ schema.properties.name.properties.address.properties.street | json }}</pre>
										</ng-template>
										<a class="form-control-static" role="button" [ngbPopover]="streetSchema" popoverTitle="Schema" placement="left">
											<span class="fa fa-sitemap"></span>
										</a>
									</div>
								</div>
								<div obFormControlState class="row form-group">
									<label class="col-3 col-form-label">Number</label>
									<div class="col-8">
										<input type="number" formControlName="number" class="form-control" placeholder="Number" obSchemaValidate />
										<ob-error-messages></ob-error-messages>
									</div>
									<div class="col-1">
										<a class="form-control-static" role="button" [ngbPopover]="streetNumberSchema" popoverTitle="Schema" placement="left">
											<span class="fa fa-sitemap"></span>
										</a>
									</div>
								</div>
							</fieldset>
						</fieldset>
					</div>
					<div class="card-footer">
						<div class="form-actions">
							<button type="reset" class="btn btn-secondary">Reset</button>
							<button type="submit" class="btn btn-primary">Check</button>
						</div>
					</div>
				</form>
				<h4 class="mt-4">Model data</h4>
				<pre>{{ formData.value | json }}</pre>
			</div>
		</div>
		<div class="row mt-2">
			<div class="col">
				<h4>Full JSON schema</h4>
				<pre>{{ schema | json }}</pre>
			</div>
		</div>
	</ng-template>
	<sc-api component="schema-validation"></sc-api>
</ng-container>
