<h2>Global events</h2>
<ob-description component="global-events"></ob-description>
<section>
	<dl>
		<dt>Click</dt>
		<dd>{{ (globalEvents.click$ | async)?.target || "-" }}</dd>
		<dt>MouseDown</dt>
		<dd>{{ (globalEvents.mouseDown$ | async)?.target || "-" }}</dd>
		<dt>MouseMove</dt>
		<dd>{{ (globalEvents.mouseMove$ | async)?.target || "-" }}</dd>
		<dt>KeyDown</dt>
		<dd>{{ (globalEvents.keyDown$ | async)?.target || "-" }}</dd>
		<dt>KeyUp</dt>
		<dd>{{ (globalEvents.keyUp$ | async)?.target || "-" }}</dd>
		<dt>Scroll</dt>
		<dd>{{ (globalEvents.scroll$ | async)?.target || "-" }}</dd>
		<dt>Resize</dt>
		<dd>{{ (globalEvents.resize$ | async)?.target || "-" }}</dd>
	</dl>

	<h3>ObOutsideFilter</h3>
	<button #outsideClick mat-button obButton="primary">Click on this buttons are ignored</button>
	<ul>
		<li *ngFor="let event of this.events">{{ event }}</li>
	</ul>
</section>
<ob-api component="global-events"></ob-api>
