<form class="form-horizontal has-validation" name="hasErrorForm" role="form" novalidate
	ng-submit="ctrl.check(hasErrorForm)">
	<h2 class="page-header">{{'i18n.states.samples.validation.validationState.title' | translate}}</h2>
	<p class="lead">Enables validation styling using Bootstrap <a href="http://getbootstrap.com/css/#forms-control-validation">validation states</a> on form controls.</p>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Preview</h3>
		</div>
		<div class="panel-body">
			<div class="form-group" has-error>
				<label class="col-sm-3 control-label">Number</label>
				<div class="col-sm-4">
					<input name="number" type="text"class="form-control"
					       placeholder="This field is optional..."
					       ng-model="ctrl.number" number-format />
					<span class="help-block" ng-show="hasErrorForm.number.$invalid">Please, enter a valid number!</span>
				</div>
				<div class="col-sm-4">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.setInvalid(hasErrorForm.number)"
						        uib-tooltip="Sets model to an invalid value" tooltip-append-to-body="true">
							Set invalid value
						</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.setValid(hasErrorForm.number)"
						        uib-tooltip="Sets model to an valid value" tooltip-append-to-body="true">
							Set valid value
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<a href="" class="form-control-static" role="button"
					   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'"
					   uib-popover-html="'<ul class=list-unstyled><li><code>[has-error]</code></li><li><code>[number-format]</code></li></ul>'">
						<span class="fa fa-info-circle"></span>
					</a>
				</div>
			</div>
			<div class="form-group" has-error>
				<label class="col-sm-3 control-label">Number</label>
				<div class="col-sm-4" ng-class="{'control-mandatory': hasErrorForm.numberRequired.$invalid || hasErrorForm.numberRequired.$error.required}">
					<input name="numberRequired" type="text" class="form-control"
					       placeholder="This field is mandatory..."
					       ng-model="ctrl.numberRequired" number-format
					       ng-required="true" />
					<span class="help-block" ng-if="hasErrorForm.numberRequired.$invalid && (hasErrorForm.numberRequired.$dirty || hasErrorForm.$submitted)">Please, enter a valid number!</span>
				</div>
				<div class="col-sm-4">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.setInvalid(hasErrorForm.numberRequired)"
						        uib-tooltip="Sets model to an invalid value" tooltip-append-to-body="true">
							Set invalid value
						</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.setValid(hasErrorForm.numberRequired)"
						        uib-tooltip="Sets model to an valid value" tooltip-append-to-body="true">
							Set valid value
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<a href="" class="form-control-static" role="button"
					   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'"
					   uib-popover-html="'<ul class=list-unstyled><li><code>[has-error]</code></li><li><code>[ng-required]</code></li><li><code>[number-format]</code></li></ul>'">
						<span class="fa fa-info-circle"></span>
					</a>
				</div>
			</div>
			<div class="form-group" has-error has-error-pristine>
				<label class="col-sm-3 control-label">Number</label>
				<div class="col-sm-4" ng-class="{'control-mandatory': hasErrorForm.numberRequiredPristine.$invalid || hasErrorForm.numberRequiredPristine.$error.required}">
					<input name="numberRequiredPristine" type="text" class="form-control"
					       placeholder="This field is already in error on load..."
					       ng-model="ctrl.numberRequiredPristine" number-format
					       ng-required="true" />
					<span class="help-block" ng-if="hasErrorForm.numberRequiredPristine.$invalid">Please, enter a valid number!</span>
				</div>
				<div class="col-sm-4">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.setInvalid(hasErrorForm.numberRequiredPristine)"
						        uib-tooltip="Sets model to an invalid value" tooltip-append-to-body="true">
							Set invalid value
						</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.setValid(hasErrorForm.numberRequiredPristine)"
						        uib-tooltip="Sets model to an valid value" tooltip-append-to-body="true">
							Set valid value
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<a href="" class="form-control-static" role="button"
					   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'"
					   uib-popover-html="'<ul class=list-unstyled><li><code>[has-error][has-error-pristine]</code></li><li><code>[ng-required]</code></li><li><code>[number-format]</code></li></ul>'">
						<span class="fa fa-info-circle"></span>
					</a>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" ng-disabled="!hasErrorForm.$valid && hasErrorForm.$submitted">Check</button>
			</div>
		</div>
	</div>
</form>
