<h4>Collapse Active</h4>
<ob-collapse [active]="true">
	<span obCollapseHeader> Silent Mystery </span>
	<div obCollapseMain>
		<p>The content is hiding so well that even it doesn't know it's here! Shhh... it's a secret!</p>
	</div>
</ob-collapse>

<h4>Collapse Inactive</h4>
<ob-collapse [active]="false">
	<span obCollapseHeader> The Hidden Void </span>
	<div obCollapseMain>
		<p>
			Click if you dare! Or maybe don't, because there's absolutely nothing to see here. It's like a black hole of
			content.
		</p>
	</div>
</ob-collapse>
