<h4>Left</h4>
<ob-collapse iconPosition="left">
	<span obCollapseHeader> The Lefty Lunacy </span>
	<div obCollapseMain>
		<p>Did you hear about the left-aligned content? It's so left, it's practically always right!</p>
	</div>
</ob-collapse>

<h4>Right</h4>
<ob-collapse iconPosition="right">
	<span obCollapseHeader> The Righteous Reveal </span>
	<div obCollapseMain>
		<p>This one's all about the right-aligned secrets. Click, and they shall be revealed on the right side of life!</p>
	</div>
</ob-collapse>

<h4>Justified</h4>
<ob-collapse iconPosition="justified">
	<span obCollapseHeader> Justified Jokes </span>
	<div obCollapseMain>
		<p>Prepare for the justified hilarity! Click here, and watch as these jokes are justifiably presented for your amusement!</p>
	</div>
</ob-collapse>

<h4>None</h4>
<ob-collapse iconPosition="none">
	<span obCollapseHeader> No Tricks, No Icons </span>
	<div obCollapseMain>
		<p>Sometimes, simplicity is key. No fancy icons here, just straightforward content.</p>
	</div>
</ob-collapse>
