//
// Button - Component
// --------------------------------------------------
@import "../variables";
@import "../mixins";

.btn-primary {
	@include btn-variant(
		$btn-primary-color, $btn-primary-bg, $btn-primary-border,
		$btn-primary-color, $btn-primary-accent, $btn-primary-selected,
		$gray-lighter-2
	);
}

.btn-secondary {
	@include btn-variant(
			$btn-secondary-color, $btn-secondary-bg, $btn-secondary-border,
			$btn-secondary-color, $btn-secondary-accent, $btn-secondary-selected,
			$btn-secondary-color
	);

	&:not([disabled]):not(.disabled) {
		&:active,
		&.active {
			box-shadow: 0 0 0 0.2rem rgba(0, 94, 142, 0.25);
		}
	}
}

.btn-success {
	@include btn-variant(
		$btn-success-color, $btn-success-bg, $btn-success-border,
		$btn-success-color, $btn-success-accent, $btn-success-selected,
		$gray-lighter-2
	);
}

.btn-warning {
	@include btn-variant(
		$btn-warning-color, $btn-warning-bg, $btn-warning-border,
		$btn-warning-color, $btn-warning-accent, $gray-dark,
		$btn-warning-color
	);
}

.btn-danger {
	@include btn-variant(
		$btn-danger-color, $btn-danger-bg, $btn-danger-border,
		$btn-danger-color, $btn-danger-accent, $btn-danger-selected,
		$gray-lighter-2
	);
}

.btn-link {
	@include btn-variant(
		$link-color, transparent, transparent,
		$link-hover-color, $btn-secondary-accent, $btn-secondary-selected,
		$link-hover-color
	);

	border-radius: $border-radius-base;

	&:not([disabled]):not(.disabled) {
		&:active,
		&.active,
		&:focus,
		&.focus{
			box-shadow: 0 0 0 0.2rem rgba(0, 94, 142, 0.25);
		}
	}
}
