//
// Checkbox - Component
// --------------------------------------------------
@mixin checkbox-variant($color) {
	.form-check-input[type="checkbox"]:checked + .form-check-label {
		&::before {
			background-color: $color;
			border-color: $color;
		}
		&::after {
			color: #fff;
		}
	}
}

.form-check {
	.form-check-input[type="checkbox"] {
		& + .form-check-label::before {
			border-radius: 3px;
		}

		&:checked + .form-check-label::after {
			font-family: $font-family-icon;
			content: $fa-var-check;
		}
	}

	&.form-check-primary {
		@include checkbox-variant($brand-primary);
	}
	&.form-check-success {
		@include checkbox-variant($brand-success);
	}
	&.form-check-warning {
		@include checkbox-variant($brand-warning);
	}
	&.form-check-danger {
		@include checkbox-variant($brand-danger);
	}
}
