@import "../variables";

//
// Dropcap - Component
// ------------------------------------------------
.dropcap {
	font-size: 6vw;

	@include layout-collapse-up() {
		font-size: 4vw;
	}

	&.dropcap-block {
		width: 100%;
		text-align: center;
	}
}
