@import "../mixins";

//
// Form  - Component
// ------------------------------------------------
fieldset + fieldset {
	margin-top: $line-height-base;
}

legend {
	border-bottom: 1px dotted $gray;
	font-size: 12px;
	font-weight: 600;
	margin-bottom: $line-height-base / 2;
}

//
// Form control variants
// ------------------------------------------------
@mixin form-control-validation($color, $focus-color, $shadow-color, $help-color) {
	.form-control {
		border-color: $color;
		&:focus {
			border-color: $focus-color;
			box-shadow: 0 0 6px 1px fade-out($shadow-color, 0.60);
		}
	}
	.form-control-feedback {
		color: $color;
	}
	.help-block {
		color: $help-color;
	}
}

@include form-control-validation($gray, $brand-secondary, $brand-secondary, $gray-dark);

.has-success {
	@include form-control-validation($brand-success, $brand-success-dark, $brand-success, $brand-success-dark);
}

.has-warning {
	@include form-control-validation($brand-warning, $brand-warning-dark, $brand-warning, $brand-warning-dark);
}

.has-error {
	@include form-control-validation($brand-danger, $brand-danger-dark, $brand-danger, $brand-danger-dark);
}

// Readonly plain text - Links
// ------------------------------------------------
a.form-control-plaintext {
	display: inline-block;
	color: $gray-dark;

	&:hover {
		color: $brand-default;
		text-decoration: none;
	}
}

// Actions
// ------------------------------------------------
.form-actions {
	text-align: right;

	.float-right {
		margin-left: 4px;
	}

	.dropdown-menu {
		text-align: left;
	}

	.form-inline & {
		float: right !important;
	}
}

// Informative feedback
// ------------------------------------------------
.help-block {
	font-size: 12px;
}

// Input groups
// ------------------------------------------------
.input-group .has-feedback .form-control-feedback {
	z-index: 5;
	top: 0;
	font-size: 1.5em;
}

// Mandatory controls
// ------------------------------------------------
.control-mandatory {
	position: relative;

	&::before {
		z-index: 5;
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display: inline;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 8px 8px 0 0;
		border-color: $brand-primary transparent transparent transparent;

		@at-root #{selector-append('.row:not(.no-gutters) [class*="col-"]', &)} {
			left: 15px;
		}

		@at-root #{selector-append('.form-row [class*="col-"]', &)} {
			left: 5px;
		}
	}

	&.form-check::before {
		top: 1px;
	}

	&.form-check.form-check-lg::before {
		top: 2px;
	}

	&.form-control::before {
		top: -1px;
		left: -1px;
	}

	@include firefox() {
		&.form-check:not(.form-check-sm)::before {
			top: 2px;
		}

		&.form-check.form-check-lg::before {
			top: 3px;
		}

		&.form-check.form-check-lg.mandatory-radio::before {
			top: 2px;
		}
	}

	@include ms() {
		&.form-check::before,
		&.form-check.form-check-lg::before {
			top: 3px;
		}
		&.form-check.mandatory-radio::before {
			top: 2px;
		}
		&.form-check.form-check-lg.mandatory-radio::before {
			top: 4px;
		}
	}
}
