@import "../variables";

//
// Headline - Component
// ------------------------------------------------
.headline {
	position: relative;
	font-size: 24px;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	padding: $spacing-default;

	@include layout-collapse-up() {
		padding-top: $spacing-default * 2;
		padding-bottom: $spacing-default * 2;
	}

	h1 {
		font-size: $font-size-lg * 2;
		font-weight: 300;
		line-height: 1;

		@include layout-collapse-up() {
			font-size: $font-size-lg * 3;
		}
	}

	.lead {
		font-size: 20px;
	}

	.btn {
		padding: 15px 30px;
		font-size: 20px;
	}

	// Variations:
	&.headline-lg {
		text-align: center;
		padding: $spacing-default * 2;

		h1 {
			font-size: $font-size-base * 3;

			@include layout-collapse-up() {
				font-size: $font-size-base * 4.5;
			}
		}


		.lead {
			font-size: 28px;
		}
	}
}
