@import "../variables";

//
// Nav - Component
// --------------------------------------------------
.nav {
	> .nav-item-title {
		font-size: 16px;
		line-height: 22px;
		margin-top: $spacing-xs;
	}
}

// Nav link:
.nav-link {
	position: relative;
	color: $gray-darker;

	&:hover,
	&:focus,
	&:active {
		color: $brand-default;
		font-weight: 400;
	}

	&.active {
		&,
		&:hover,
		&:focus {
			color: $black;
			font-weight: 600;
		}
	}

	&.disabled,
	&[disabled],
	.nav-item.disabled & {
		color: $nav-link-disabled-color;
		cursor: not-allowed;

		&:hover {
			color: inherit;
		}
	}

	.nav .nav & {
		padding-top: $spacing-xs;
		padding-bottom: $spacing-xs;
	}

	.nav-condensed & {
		padding-top: $spacing-xs;
		padding-bottom: $spacing-xs;
	}
}

// Nav item:
.nav-item {
	.nav-link {
		padding-left: 0;
	}
}

// Nav header:
.nav-header {
	position: relative;
	color: $brand-default;
	font-size: $font-size-base;
	border: none;

	// Space them out when they follow another nav item:
	.nav-item + & {
		margin-top: $spacing-sm;
	}
}

.nav-header-title {
	display: block;
	font-size: inherit;
	font-weight: bold;
	color: $brand-default;
	border-bottom: 1px solid $gray-light;
	padding: $spacing-default - 5 $spacing-default $spacing-default - 5 0;
	margin: 0;

	&:hover,
	&:hover {
		color: $brand-default;
		text-decoration: none;
	}
}

// Vertical navigation
// --------------------------------------------------
.nav-vertical {
	flex-direction: column;
}

// Hoverable navigation items
// --------------------------------------------------
.nav-hover {
	.nav-item:not(.nav-header) .nav-link {
		 &.active:after,
		 &:hover:after,
		 &:focus:after {
			 @include nav-hover();
		 }
	}

	// For backwards compatibility:
	.nav-item.active:not(.nav-header) .nav-link:after {
		@include nav-hover();
	}
}

// Indented navigation
// --------------------------------------------------
.nav-indented {
	@extend .nav-vertical;
	@include nav-indentation();
}

// Bordered navigation
// --------------------------------------------------
.nav-bordered {
	@extend .nav-vertical;
	.nav-link {
		border-bottom: 1px solid $gray-light;
		border-color: $gray-light;
	}

	.nav {
		.nav-link {
			padding-top: $spacing-xs;
			padding-bottom: $spacing-xs;
		}
	}
}

// Tree navigation
// --------------------------------------------------
.nav-tree {
	@extend .nav-vertical;

	.nav-link.nav-toggle {
		@include icon($fa-var-angle-down, before);

		&.collapsed {
			@include icon-content($fa-var-angle-right, before);
		}

		&:before {
			margin-left: -$spacing-default;
		}
	}

	@include nav-indentation($spacing-default);
}

// Tabs
// --------------------------------------------------
.nav-tabs {

	.nav-item + .nav-item {
		margin-left: 2px;
	}

	.nav-link {
		padding-left: $spacing-default;

		&:focus {
			border-color: $nav-tabs-link-hover-border-color $nav-tabs-link-hover-border-color transparent;
		}

		&:hover:before,
		&.active:before {
			content: "";
			border-radius: 3px 3px 0 0;
			background-color: $brand-accent;
			height: 3px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}

		&:not(.active):hover:before {
			background-color: $gray-light;
		}
	}
}
