//
// Reveal - Component
// ------------------------------------------------

.reveal-control {
	@include animatable(opacity);
	opacity: 0;

	&.form-control,
	&.input-group {
		width: auto;
	}

	&:focus,
	.open & {
		opacity: 1;
	}
}

.has-reveal {
	position: relative;
	display: block;

	.reveal-control {
		position: absolute;
		top: 0;
		right: 0;

		&.form-control,
		&.input-group {
			width: 100%;
		}
	}
}
