@import "../variables";
@import "../mixins";

//
// Select - Component
// ------------------------------------------------
.select {
	position: relative;
}

.select {
	select:not([multiple]) {
		padding-right: 24px;

		// Hide native arrow symbol:
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		&::-ms-expand {
			display: none;
		}
	}

	&:not([disabled]):not(.select-disabled) {

		@include icon($fa-var-chevron-down, after);

		&::after {
			display: flex;
			position: absolute;
			right: 2px;
			top: 2px;
			bottom: 2px;
			pointer-events: none;
			width: 22px;
			align-items: center;
			justify-content: center;
			font-size: 90%;
		}
	}
}
