@import "../variables";
@import "../mixins/layout";

$sticky-element-height: 64px;
$sticky-element-height-sm: 45px;
$sticky-element-height-lg: 98px;

.sticky {
	height: 100%;
}

.sticky-main {
	@include layout-collapse-up() {
		overflow-y: auto;
		height: calc(100% - #{$sticky-element-height});
		// Restrict container width to avoid unwanted horizontal scrollbar
		// when elements are injected to container or when viewport is resized:
		width: 100%;
	}
}

.sticky-header,
.sticky-footer {
	z-index: 1;
	position: relative;
	padding: 13px 15px;

	@include layout-collapse-up() {
		height: $sticky-element-height;

		&:not(.sticky-header-no-shadow):not(.sticky-footer-no-shadow) {
			z-index: 5;
			box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.08),
			0 -2px 0 rgba(0, 0, 0, 0.06),
			0 -3px 0 rgba(0, 0, 0, 0.04),
			0 -4px 0 rgba(0, 0, 0, 0.02),
			0 -5px 0 rgba(0, 0, 0, 0.01),
			0 1px 0 rgba(0, 0, 0, 0.08),
			0 2px 0 rgba(0, 0, 0, 0.06),
			0 3px 0 rgba(0, 0, 0, 0.04),
			0 4px 0 rgba(0, 0, 0, 0.02),
			0 5px 0 rgba(0, 0, 0, 0.01);
		}
	}
}

.sticky-actions {
	display: flex;
	justify-content: flex-end;
}

.sticky-header,
.sticky-footer {
	display: flex;
	min-width: 0; // Important, for text ellipsis of .sticky-title (cf. https://css-tricks.com/flexbox-truncated-text/)!

	.sticky-title {
		margin: 0;
		padding: 0;

		color: $gray-darker;
		font-size: 22px;
		line-height: 38px;

		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}

	.sticky-actions {
		margin-left: auto;
	}
}

.sticky-sm {
	> .sticky-main {
		@include layout-collapse-up() {
			height: calc(100% - #{$sticky-element-height-sm});
		}
	}

	> .sticky-header,
	> .sticky-footer {
		padding-top: 7px;
		padding-bottom: 7px;

		@include layout-collapse-up() {
			height: $sticky-element-height-sm;
		}
	}
}

.sticky-lg {
	> .sticky-main {
		@include layout-collapse-up() {
			height: calc(100% - #{$sticky-element-height-lg});
		}
	}

	> .sticky-header,
	> .sticky-footer {
		padding-top: 24px;
		padding-bottom: 24px;

		@include layout-collapse-up() {
			height: $sticky-element-height-lg;
		}

		h1, h2, h3, h4, h5, h6 {
			font-size: 28px;
			line-height: 50px;
		}

		.sticky-actions {
			line-height: 50px;
		}
	}
}
