<table class="ob-table ob-table-collapse">
	<caption>
		<code>ob-table-collapse</code
		>: will display the table in a condensed form as soon as the layout collapses (< 992px). The header of each cell is to be provided
		through the
		<code>data-title</code>
		attribute.
	</caption>
	<thead>
		<tr>
			<th>NO.</th>
			<th>NAME</th>
			<th>WEIGHT</th>
			<th>SYMBOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td data-title="NAME">Hydrogen</td>
			<td data-title="WEIGHT">1.0079</td>
			<td data-title="SYMBOL">H</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td data-title="NAME">Helium</td>
			<td data-title="WEIGHT">4.0026</td>
			<td data-title="SYMBOL">He</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td data-title="NAME">Lithium</td>
			<td data-title="WEIGHT">6.941</td>
			<td data-title="SYMBOL">Li</td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td data-title="NAME">Beryllium</td>
			<td data-title="WEIGHT">9.0122</td>
			<td data-title="SYMBOL">Be</td>
		</tr>
		<tr>
			<th scope="row">5</th>
			<td data-title="NAME">Boron</td>
			<td data-title="WEIGHT">10.811</td>
			<td data-title="SYMBOL">B</td>
		</tr>
		<tr>
			<th scope="row">6</th>
			<td data-title="NAME">Carbon</td>
			<td data-title="WEIGHT">12.0107</td>
			<td data-title="SYMBOL">C</td>
		</tr>
		<tr>
			<th scope="row">7</th>
			<td data-title="NAME">Nitrogen</td>
			<td data-title="WEIGHT">14.0067</td>
			<td data-title="SYMBOL">N</td>
		</tr>
		<tr>
			<th scope="row">8</th>
			<td data-title="NAME">Oxygen</td>
			<td data-title="WEIGHT">15.9994</td>
			<td data-title="SYMBOL">O</td>
		</tr>
		<tr>
			<th scope="row">9</th>
			<td data-title="NAME">Fluorine</td>
			<td data-title="WEIGHT">18.9984</td>
			<td data-title="SYMBOL">F</td>
		</tr>
		<tr>
			<th scope="row">10</th>
			<td data-title="NAME">Neon</td>
			<td data-title="WEIGHT">20.1797</td>
			<td data-title="SYMBOL">Ne</td>
		</tr>
	</tbody>
</table>

<table class="ob-table ob-table-collapse-sm">
	<caption>
		<code>ob-table-collapse-sm</code
		>: same as
		<code>ob-table-collapse</code
		>, but on a breakpoint lower than 576px.
	</caption>
	<thead>
		<tr>
			<th>NO.</th>
			<th>NAME</th>
			<th>WEIGHT</th>
			<th>SYMBOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td data-title="NAME">Hydrogen</td>
			<td data-title="WEIGHT">1.0079</td>
			<td data-title="SYMBOL">H</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td data-title="NAME">Helium</td>
			<td data-title="WEIGHT">4.0026</td>
			<td data-title="SYMBOL">He</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td data-title="NAME">Lithium</td>
			<td data-title="WEIGHT">6.941</td>
			<td data-title="SYMBOL">Li</td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td data-title="NAME">Beryllium</td>
			<td data-title="WEIGHT">9.0122</td>
			<td data-title="SYMBOL">Be</td>
		</tr>
		<tr>
			<th scope="row">5</th>
			<td data-title="NAME">Boron</td>
			<td data-title="WEIGHT">10.811</td>
			<td data-title="SYMBOL">B</td>
		</tr>
		<tr>
			<th scope="row">6</th>
			<td data-title="NAME">Carbon</td>
			<td data-title="WEIGHT">6.941</td>
			<td data-title="SYMBOL">C</td>
		</tr>
		<tr>
			<th scope="row">7</th>
			<td data-title="NAME">Nitrogen</td>
			<td data-title="WEIGHT">14.0067</td>
			<td data-title="SYMBOL">N</td>
		</tr>
		<tr>
			<th scope="row">8</th>
			<td data-title="NAME">Oxygen</td>
			<td data-title="WEIGHT">15.9994</td>
			<td data-title="SYMBOL">O</td>
		</tr>
		<tr>
			<th scope="row">9</th>
			<td data-title="NAME">Fluorine</td>
			<td data-title="WEIGHT">18.9984</td>
			<td data-title="SYMBOL">F</td>
		</tr>
		<tr>
			<th scope="row">10</th>
			<td data-title="NAME">Neon</td>
			<td data-title="WEIGHT">20.1797</td>
			<td data-title="SYMBOL">Ne</td>
		</tr>
	</tbody>
</table>

<table class="ob-table ob-table-collapse-md">
	<caption>
		<code>ob-table-collapse-md</code
		>: same as
		<code>ob-table-collapse</code
		>, but on a breakpoint lower than 768px
	</caption>
	<thead>
		<tr>
			<th>NO.</th>
			<th>NAME</th>
			<th>WEIGHT</th>
			<th>SYMBOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">1</th>
			<td data-title="NAME">Hydrogen</td>
			<td data-title="WEIGHT">1.0079</td>
			<td data-title="SYMBOL">H</td>
		</tr>
		<tr>
			<th scope="row">2</th>
			<td data-title="NAME">Helium</td>
			<td data-title="WEIGHT">4.0026</td>
			<td data-title="SYMBOL">He</td>
		</tr>
		<tr>
			<th scope="row">3</th>
			<td data-title="NAME">Lithium</td>
			<td data-title="WEIGHT">6.941</td>
			<td data-title="SYMBOL">Li</td>
		</tr>
		<tr>
			<th scope="row">4</th>
			<td data-title="NAME">Beryllium</td>
			<td data-title="WEIGHT">9.0122</td>
			<td data-title="SYMBOL">Be</td>
		</tr>
		<tr>
			<th scope="row">5</th>
			<td data-title="NAME">Boron</td>
			<td data-title="WEIGHT">10.811</td>
			<td data-title="SYMBOL">B</td>
		</tr>
		<tr>
			<th scope="row">6</th>
			<td data-title="NAME">Carbon</td>
			<td data-title="WEIGHT">12.0107</td>
			<td data-title="SYMBOL">C</td>
		</tr>
		<tr>
			<th scope="row">7</th>
			<td data-title="NAME">Nitrogen</td>
			<td data-title="WEIGHT">14.0067</td>
			<td data-title="SYMBOL">N</td>
		</tr>
		<tr>
			<th scope="row">8</th>
			<td data-title="NAME">Oxygen</td>
			<td data-title="WEIGHT">15.9994</td>
			<td data-title="SYMBOL">O</td>
		</tr>
		<tr>
			<th scope="row">9</th>
			<td data-title="NAME">Fluorine</td>
			<td data-title="WEIGHT">18.9984</td>
			<td data-title="SYMBOL">F</td>
		</tr>
		<tr>
			<th scope="row">10</th>
			<td data-title="NAME">Neon</td>
			<td data-title="WEIGHT">20.1797</td>
			<td data-title="SYMBOL">Ne</td>
		</tr>
	</tbody>
</table>
