/*
	This file is used to enhance the appearance of one or more of the Oblique code examples.
	It is NOT required in order to use any Oblique features.
*/
:host {
	display: flex;
	flex-direction: column;
	gap: 2em;
}

tbody th {
	font-weight: normal;
}
