@import "projects/oblique/src/styles/scss/core/variables";
@import "projects/oblique/src/styles/scss/core/mixins/layout";

$label-width: 25%;

:host::ng-deep {
	@include ob-media-breakpoint-down(md) {
		dt {
			border-top: 1px solid $ob-gray;
			padding-top: $ob-spacing-xs;
		}

		dd {
			padding-left: $ob-spacing-default;
			margin-bottom: 0;

			+ dt {
				margin-top: $ob-spacing-default;
			}
		}
	}

	@include ob-media-breakpoint-up(md) {
		dl {
			display: flex;
			flex-flow: row wrap;
			margin-top: -$ob-spacing-default;
			margin-bottom: 2 * $ob-spacing-default;
		}

		dt,
		dd {
			padding: 0;
			margin: 0;
			word-wrap: break-word;
		}

		dt {
			width: $label-width;
			display: flex;
			align-items: center;
			justify-content: flex-start;

			&,
			& + dd {
				margin-top: $ob-spacing-default;
				padding-top: $ob-spacing-xs;
				border-top: 1px solid $ob-gray;
			}
		}

		dd {
			padding-left: $ob-spacing-default;
			width: calc(100% - #{$label-width});

			+ dd {
				width: 100%;
				padding-left: calc(#{$label-width} + #{$ob-spacing-default});
			}
		}
	}

	b ~ code {
		margin-left: 4px;
	}
}
