<div type="div" class="item ob-venetian-red"><p>ob-venetian-red</p></div>
<div type="div" class="item ob-primary-50"><p>ob-primary-50</p></div>
<div type="div" class="item ob-red-100"><p>ob-red-100</p></div>
<div type="div" class="item ob-error-200"><p>ob-error-200</p></div>
<div type="div" class="item ob-gray-300"><p>ob-gray-300</p></div>
<div type="div" class="item ob-green-400"><p>ob-green-400</p></div>
<div type="div" class="item ob-success-500"><p>ob-success-500</p></div>
<div type="div" class="item ob-orange-600"><p>ob-orange-600</p></div>
<div type="div" class="item ob-warning-700"><p>ob-warning-700</p></div>
<div type="div" class="item ob-secondary-800"><p>ob-secondary-800</p></div>
<div type="div" class="item ob-text-900"><p>ob-text-900</p></div>
<div type="div" class="item ob-blue-900"><p>ob-blue-900</p></div>
<div type="div" class="item ob-indigo-800"><p>ob-indigo-800</p></div>
<div type="div" class="item ob-pink-700"><p>ob-pink-700</p></div>
<div type="div" class="item ob-purple-600"><p>ob-purple-600</p></div>
<div type="div" class="item ob-teal-500"><p>ob-teal-500</p></div>
<div type="div" class="item ob-yellow-400"><p>ob-yellow-400</p></div>
