{{#compose "default-layout" ui-layout="{{appController.page.layout}}" description="{{appController.page.description | translate}}"}}
	{{#content "default"}}
		<div ui-view></div>
	{{/content}}
{{/compose}}
