{{#compose "default-layout" ui-layout="{{appController.page.layout}}" description="{{appController.page.description | translate}}"}}
	{{#content "default"}}
		<div notifications></div>
		<div ui-view class="default-layout"></div>
	{{/content}}
{{/compose}}
