//
// Spacer - Utilities
// --------------------------------------------------
// TODO: refactor in favor of Bootstrap m-* & p-* classes
.spacer-top {
	margin-top: $grid-gutter-width;
}

.spacer-top-sm {
	margin-top: $grid-gutter-width / 2;
}

@media (min-width: $layout-collapse), (min-height: $layout-collapse) {
	.spacer-top {
		margin-top: $grid-gutter-width * 2;
	}

	.spacer-top-sm {
		margin-top: $grid-gutter-width;
	}
}

.spacer-bottom {
	margin-bottom: $grid-gutter-width;

	@media (min-width: $layout-collapse), (min-height: $layout-collapse) {
		margin-bottom: $grid-gutter-width * 2;
	}
}

.spacer-bottom-sm {
	margin-bottom: $grid-gutter-width / 2;

	@media (min-width: $layout-collapse), (min-height: $layout-collapse) {
		margin-bottom: $grid-gutter-width;
	}
}

.spacer {
	@extend .spacer-top;
	@extend .spacer-bottom;
}

.spacer-sm {
	@extend .spacer-top-sm;
	@extend .spacer-bottom-sm;
}
