<h2>Error messages</h2>
<ob-description component="error-messages"></ob-description>
<form>
	<h3>Template</h3>
	<mat-form-field class="form-element" obErrorMessages>
		<mat-label>Text</mat-label>
		<input matInput ngModel name="text" required />
		<mat-error></mat-error>
	</mat-form-field>
	<div class="form-element form-actions">
		<button mat-raised-button type="reset">Cancel</button>
		<button mat-raised-button color="primary" type="submit">Check</button>
	</div>
</form>
<form [formGroup]="form">
	<h3>Reactive</h3>
	<mat-form-field class="form-element" obErrorMessages>
		<mat-label>Text</mat-label>
		<input matInput formControlName="email" />
		<mat-error></mat-error>
	</mat-form-field>
	<mat-form-field class="form-element mat-form-field-sm" obErrorMessages>
		<mat-label>Text</mat-label>
		<input matInput formControlName="email" />
		<mat-error></mat-error>
	</mat-form-field>
	<mat-form-field class="form-element mat-form-field-lg" obErrorMessages>
		<mat-label>Text</mat-label>
		<input matInput formControlName="email" />
		<mat-error></mat-error>
	</mat-form-field>
	<div class="form-element form-actions">
		<button mat-raised-button type="reset">Cancel</button>
		<button mat-raised-button color="primary" type="submit">Check</button>
	</div>
</form>
<ob-api component="error-messages"></ob-api>
