<h2 class="page-header">Breadcrumb</h2>

<hr />

<h3>Demo</h3>

<p>Try out the links below to see different features of the breadcrumb component in action.</p>

<p>
	Here's a breadcrumb component with default configuration:<br />
	<code> &lt;ob-breadcrumb>&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb /></p>

<p>
	Here's a breadcrumb component with a max-width configuration:<br />
	<code> &lt;ob-breadcrumb maxWidth="8ch">&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb maxWidth="8ch" /></p>

<p>
	<em>This doesn't work in Firefox:</em>
	Here's a breadcrumb component with a max-width configuration of 2ch:<br />
	<code> &lt;ob-breadcrumb maxWidth="2ch">&lt;/ob-breadcrumb> </code>
</p>
<ob-breadcrumb maxWidth="2ch" />

<p>
	<em>This works in Firefox:</em>
	Here's a breadcrumb component with a max-width configuration of 3ch:<br />
	<code> &lt;ob-breadcrumb maxWidth="3ch">&lt;/ob-breadcrumb> </code>
</p>
<ob-breadcrumb maxWidth="3ch" />
<p>
	The max width property can be freely set by consumers of the component. It should be noted that very small width
	values expressed in character units such as 1ch or 2ch do not reliably produce overflow in Firefox. Firefox calculates
	the minimal text width differently from Chromium in these boundary cases and will not generate visible overflow.
	Consumers are therefore advised not to use max width values below 3ch if consistent ellipsis behavior is required in
	Firefox. This is a technical characteristic of the Firefox layout engine.
</p>
<p>
	Here's a breadcrumb component with a max-width configuration of 2rem:<br />
	<code> &lt;ob-breadcrumb maxWidth="2rem">&lt;/ob-breadcrumb> </code>
</p>
<ob-breadcrumb maxWidth="2rem" />

<p>
	Here's a breadcrumb component with url beautifing disabled (only applies to routes with no label and parameter
	values):<br />
	<code> &lt;ob-breadcrumb [beautifyUrls]="false">&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb [beautifyUrls]="false" /></p>

<p>
	Here's a breadcrumb component with a custom separator (only applies to routes with no label and more than one part in
	the path):<br />
	<code> &lt;ob-breadcrumb parameterSeparator=" | ">&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb parameterSeparator=" | " /></p>

<hr />

<h3>Static routes</h3>

<ol>
	<li>
		<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', 'some-page']">Some Page</a>
		<ol>
			<li>
				<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', 'some-page', 'some-sub-page']"
					>Sub-Page</a
				>
			</li>
		</ol>
	</li>
	<li>
		<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', 'missing-label']"
			>Route with missing breadcrumb label</a
		>
	</li>
	<li>
		<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', 'i18n-label']"
			>Route with a translated label</a
		>
	</li>
</ol>

<h3>Dynamic routes</h3>

The content of this input is used for the param value:
<input #i type="text" value="param-value-123" />

<p>
	<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', 'with-params', i.value]"
		>Route with path/param, no label</a
	>
	<br />
	<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', 'with-params-and-label', i.value]"
		>Route with path/param and transalted label</a
	>
	<br />
	<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', i.value, 'details']"
		>Route with param/path, label using the parameter placeholder</a
	>
	<br />
	<a
		routerLinkActive="router-link-active"
		[routerLink]="['/samples', 'breadcrumb', i.value, 'details', 'missing-label']"
		>Child of route with param/path and parameter label (used to test a link with parameter values)</a
	>
	<br />
	<a routerLinkActive="router-link-active" [routerLink]="['/samples', 'breadcrumb', i.value]">Param-only route</a>
</p>
