<div class="container-with-fixed-height">
	<ob-sticky headerSize="md" footerSize="md">
		<ng-template #obStickyHeader>
			<h4>Header</h4>
		</ng-template>
		<ng-template #obStickyMain>
			<h4>Content</h4>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
				imperdiet massa tincidunt nunc. Maecenas accumsan lacus vel facilisis volutpat est velit. Sed cras ornare arcu dui vivamus arcu
				felis bibendum ut. Et tortor consequat id porta. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Congue
				quisque egestas diam in arcu cursus. Facilisis magna etiam tempor orci. Enim lobortis scelerisque fermentum dui faucibus in ornare
				quam. Mi eget mauris pharetra et ultrices neque. Viverra mauris in aliquam sem fringilla. Purus gravida quis blandit turpis cursus
				in hac. Duis at consectetur lorem donec massa. At erat pellentesque adipiscing commodo elit at imperdiet dui. Congue mauris rhoncus
				aenean vel. Facilisi nullam vehicula ipsum a arcu cursus. Mattis rhoncus urna neque viverra justo nec.
			</p>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis
				imperdiet massa tincidunt nunc. Maecenas accumsan lacus vel facilisis volutpat est velit. Sed cras ornare arcu dui vivamus arcu
				felis bibendum ut. Et tortor consequat id porta. Orci phasellus egestas tellus rutrum tellus pellentesque eu tincidunt. Congue
				quisque egestas diam in arcu cursus. Facilisis magna etiam tempor orci. Enim lobortis scelerisque fermentum dui faucibus in ornare
				quam. Mi eget mauris pharetra et ultrices neque. Viverra mauris in aliquam sem fringilla. Purus gravida quis blandit turpis cursus
				in hac. Duis at consectetur lorem donec massa. At erat pellentesque adipiscing commodo elit at imperdiet dui. Congue mauris rhoncus
				aenean vel. Facilisi nullam vehicula ipsum a arcu cursus. Mattis rhoncus urna neque viverra justo nec.
			</p>
		</ng-template>
		<ng-template #obStickyFooter>
			<h4>Footer</h4>
		</ng-template>
	</ob-sticky>
</div>
