<h2 class="page-header">Breadcrumb</h2>
<sc-description component="breadcrumb"></sc-description>

<hr />

<h3>Demo</h3>

<p>Try out the links below to see different features of the breadcrumb component in action.</p>

<p>
	Here's a breadcrumb component with default configuration:<br />
	<code> &lt;ob-breadcrumb>&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb></ob-breadcrumb></p>

<p>
	Here's a breadcrumb component with a max-width configuration:<br />
	<code> &lt;ob-breadcrumb maxWidth="8ch">&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb maxWidth="8ch"></ob-breadcrumb></p>

<p>
	Here's a breadcrumb component with url beautifing disabled (only applies to routes with no label and parameter values):<br />
	<code> &lt;ob-breadcrumb [beautifyUrls]="false">&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb [beautifyUrls]="false"></ob-breadcrumb></p>

<p>
	Here's a breadcrumb component with a custom separator (only applies to routes with no label and more than one part in the path):<br />
	<code> &lt;ob-breadcrumb parameterSeparator=" | ">&lt;/ob-breadcrumb> </code>
</p>
<p><ob-breadcrumb parameterSeparator=" | "></ob-breadcrumb></p>

<hr />

<h3>Static routes</h3>

<ol>
	<li>
		<a [routerLink]="['/samples', 'breadcrumb', 'some-page']" routerLinkActive="router-link-active">Some Page</a>
		<ol>
			<li>
				<a [routerLink]="['/samples', 'breadcrumb', 'some-page', 'some-sub-page']" routerLinkActive="router-link-active">Sub-Page</a>
			</li>
		</ol>
	</li>
	<li>
		<a [routerLink]="['/samples', 'breadcrumb', 'missing-label']" routerLinkActive="router-link-active"
			>Route with missing breadcrumb label</a
		>
	</li>
	<li>
		<a [routerLink]="['/samples', 'breadcrumb', 'i18n-label']" routerLinkActive="router-link-active">Route with a translated label</a>
	</li>
</ol>

<h3>Dynamic routes</h3>

The content of this input is used for the param value:
<input type="text" #i value="param-value-123" />

<p>
	<a [routerLink]="['/samples', 'breadcrumb', 'with-params', i.value]" routerLinkActive="router-link-active"
		>Route with path/param, no label</a
	>
	<br />
	<a [routerLink]="['/samples', 'breadcrumb', 'with-params-and-label', i.value]" routerLinkActive="router-link-active"
		>Route with path/param and transalted label</a
	>
	<br />
	<a [routerLink]="['/samples', 'breadcrumb', i.value, 'details']" routerLinkActive="router-link-active"
		>Route with param/path, label using the parameter placeholder</a
	>
	<br />
	<a [routerLink]="['/samples', 'breadcrumb', i.value, 'details', 'missing-label']" routerLinkActive="router-link-active"
		>Child of route with param/path and parameter label (used to test a link with parameter values)</a
	>
	<br />
	<a [routerLink]="['/samples', 'breadcrumb', i.value]" routerLinkActive="router-link-active">Param-only route</a>
</p>

<sc-api component="breadcrumb"></sc-api>
