@use "projects/oblique/src/styles/scss/core/variables";

.rotate180 {
	transform: rotate(180deg);
	transition: transform variables.$ob-duration-default;
}

a.ob-external-link {
	display: inline-block;
}
