@import "~projects/oblique/src/styles/scss/core/variables";

mat-icon[svgIcon="login"] {
	transition: transform $ob-duration-default;

	&.rotate180 {
		transform: rotate(180deg);
	}
}

a.ob-external-link {
	display: inline-block;
}
