<ob-master-layout [skipLinks]="skipLinks" [navigation]="navigation" *ngIf="font$ | async as font">
	<ng-container obHeaderTitle>Oblique</ng-container>
	<ng-template #obHeaderControl>
		<ob-autocomplete [autocompleteOptions]="autocompleteItems$ | async" [formControl]="search">
			<mat-icon svgIcon="search" matSuffix></mat-icon>
		</ob-autocomplete>
	</ng-template>
	<ng-template #obHeaderControl>
		<a
			class="ob-widget"
			href="https://stash.eap.bit.admin.ch/projects/OUI/repos/oblique/"
			[icon]="'none'"
			matTooltip="Go to Oblique GIT repository"
			obButton="secondary"
			mat-icon-button
		>
			<mat-icon class="ob-control-icon" svgIcon="git-hub"></mat-icon>
		</a>
	</ng-template>
	<ng-template #obHeaderControl>
		<button
			type="button"
			class="ob-widget"
			obOffCanvasToggle
			matTooltip="Toggle Off-Canvas"
			(click)="offCanvasOpen = !offCanvasOpen"
			tabindex="0"
			mat-icon-button
			obButton="secondary"
		>
			<mat-icon class="ob-control-icon" dropdown-toggle svgIcon="login" [class.rotate180]="!offCanvasOpen"></mat-icon>
		</button>
	</ng-template>
	<ng-template #obHeaderControl>
		<button
			type="button"
			class="ob-widget"
			mat-icon-button
			obButton="secondary"
			[obPopover]="languageButton"
			matTooltip="Open example popover"
		>
			<mat-icon svgIcon="cog"></mat-icon>
		</button>
		<ng-template #languageButton>
			<h4 translate>i18n.rtfas.nav.bar-header.language</h4>
			<ul role="menu" class="ob-nav-tree" aria-hidden="false">
				<li role="menuitem">
					<a role="button">FR</a>
				</li>
				<li role="menuitem">
					<a role="button">DE</a>
				</li>
				<li role="menuitem">
					<a role="button">EN</a>
				</li>
			</ul>
		</ng-template>
	</ng-template>
	<ng-template #obHeaderControl>
		<button
			type="button"
			(click)="toggleFont(font)"
			mat-button
			obButton="secondary"
			class="ob-widget"
			[matTooltip]="'Use ' + font + 'font'"
		>
			{{ font }}
		</button>
	</ng-template>

	<ng-template #obHeaderMobileControl>
		<button
			type="button"
			(click)="toggleFont(font)"
			mat-button
			obButton="secondary"
			class="ob-widget"
			[matTooltip]="'Use ' + font + 'font'"
		>
			{{ font }}
		</button>
	</ng-template>

	<ng-container obHeaderCustomControl>
		<ul class="ob-header-controls" role="menu">
			<li class="ob-control-item" role="menuitem">Custom 1</li>
			<li class="ob-control-item" role="menuitem">Custom 2</li>
		</ul>
	</ng-container>

	<ng-template #obFooterLink>
		<a href="http://www.google.ch" role="button" matTooltip="google.ch" [matTooltipPosition]="'left'" target="_blank">Google</a>
	</ng-template>
	<ng-template #obFooterLink>
		<a class="ob-show-external-link-icon" href="http://www.blick.ch" role="button" target="_blank" placement="left">Blick</a>
	</ng-template>

	<ng-container obFooterInfo>
		<p>&copy; {{ year }} {{ "i18n.application.organization.name" | translate }}</p>
	</ng-container>
	<ng-container obOffCanvasTitle>Hello world title</ng-container>
	<ng-container obOffCanvasContent>Hello world content</ng-container>
</ob-master-layout>
