<ob-master-layout [jumpLinks]="jumpLinks" [navigation]="navigation" [ngClass]="theme" *ngIf="theme$ | async as theme">
	<ng-container obHeaderTitle>Oblique</ng-container>
	<ng-template #obHeaderControl>
		<ob-search-box [items]="searchItems"></ob-search-box>
	</ng-template>
	<ng-template #obHeaderControl>
		<a href="https://stash.eap.bit.admin.ch/projects/OUI/repos/oblique/" [icon]="'none'" ngbTooltip="Go to Oblique GIT repository" placement="left">
			<span class="fab fa-bitbucket"></span>
		</a>
	</ng-template>
	<ng-template #obHeaderControl>
		<button obOffCanvasToggle ngbTooltip="Toggle Off-Canvas" placement="left" (click)="offCanvasOpen = !offCanvasOpen" tabindex="0">
			<span class="fa fa-sign-in-alt" [class.fa-rotate-180]="!offCanvasOpen"></span>
		</button>
	</ng-template>
	<ng-template #obHeaderControl>
		<button obOffCanvasToggle matTooltip="Toggle Off-Canvas">
			<mat-icon class="ob-control-icon" svgIcon="logout"></mat-icon>
		</button>
	</ng-template>
	<ng-template #obHeaderControl>
		<ob-dropdown position="left">
			<span dropdown-toggle class="fa fa-cog"></span>
			<ng-container dropdown-content>
				<h4 translate>i18n.rtfas.nav.bar-header.language</h4>
				<ul role="menu" class="ob-nav-tree" aria-hidden="false">
					<li role="menuitem">
						<a role="button">FR</a>
					</li>
					<li role="menuitem">
						<a role="button">DE</a>
					</li>
					<li role="menuitem">
						<a role="button">EN</a>
					</li>
				</ul>
			</ng-container>
		</ob-dropdown>
	</ng-template>
	<!--	<ng-template #obHeaderControl *ngIf="!material">-->
	<!--		<div placement="bottom-right" ngbDropdown>-->
	<!--			<a id="navbar-header-user-language" tabindex="0" role="menuitem" ngbDropdownToggle>-->
	<!--				<span class="fa fa-cog ob-control-icon"></span>-->
	<!--			</a>-->
	<!--			<h3 class="ob-screen-reader-only" translate>i18n.rtfas.nav.bar-header.configuration</h3>-->
	<!--			<div ngbDropdownMenu aria-labelledby="navbar-header-user-language" class="control-content">-->
	<!--				<h4 class="nav-header" translate>i18n.rtfas.nav.bar-header.language</h4>-->
	<!--				<ul role="menu" class="nav nav-vertical nav-hover" aria-hidden="false">-->
	<!--					<li class="nav-item" role="menuitem">-->
	<!--						<a class="dropdown-item" role="button">FR</a>-->
	<!--					</li>-->
	<!--					<li class="nav-item" role="menuitem">-->
	<!--						<a class="dropdown-item" role="button">DE</a>-->
	<!--					</li>-->
	<!--					<li class="nav-item" role="menuitem">-->
	<!--						<a class="dropdown-item" role="button">EN</a>-->
	<!--					</li>-->
	<!--				</ul>-->
	<!--			</div>-->
	<!--		</div>-->
	<!--	</ng-template>-->
	<ng-template #obHeaderControl>
		<div class="wrapper">
			<button (click)="toggleTheme()">
				{{ theme }}
			</button>
		</div>
	</ng-template>
	<ng-template #obHeaderControl>
		<button (click)="toggleFont(font)" *ngIf="font$ | async as font">
			{{ font }}
		</button>
	</ng-template>

	<ng-template #obHeaderMobileControl>
		<button (click)="toggleTheme()">
			{{ theme }}
		</button>
	</ng-template>

	<ng-container obHeaderCustomControl>
		<ul class="ob-header-controls" role="menu">
			<li class="ob-control-item" role="menuitem">Custom 1</li>
			<li class="ob-control-item" role="menuitem">Custom 2</li>
		</ul>
	</ng-container>

	<ng-template #obFooterLink>
		<a href="http://www.google.ch" role="button" ngbTooltip="google.ch" target="_blank" placement="left">Google</a>
	</ng-template>
	<ng-template #obFooterLink>
		<a href="http://www.blick.ch" role="button" target="_blank" placement="left">Blick</a>
	</ng-template>

	<ng-container obFooterInfo>
		<p>&copy; 2018 {{ "i18n.application.organization.name" | translate }}</p>
		<p>
			<span>Built with </span>
			<span class="fa fa-heart-o" title="Love"><span class="ob-screen-reader-only">love</span></span>
			<span>, </span>
			<a href="https://eui.bit.admin.ch/oblique-ui/" title="The front-end framework for your Swiss branded UI.">ObliqueUI</a>
			<span class="version">(2.0.0)</span>
			<span>, </span>
			<a href="https://eui.bit.admin.ch/oblique/" title="Reactive front-end framework for your business web application.">Oblique</a>
			<span class="version">(2.0.0)</span>
			<span> and </span>
			<a href="https://angular.io/" title="One framework. Mobile & desktop.">Angular</a>
			<span class="version">(6.0.9)</span>
			<span>.</span>
		</p>
	</ng-container>
	<ng-container obOffCanvasTitle>Hello world title</ng-container>
	<ng-container obOffCanvasContent>Hello world content</ng-container>
</ob-master-layout>
