<ob-master-layout [skipLinks]="skipLinks" [navigation]="navigation" *ngIf="font$ | async as font">
	<ng-container obHeaderTitle>Oblique</ng-container>
	<ng-template #obHeaderControl>
		<ob-search-box [items]="searchItems"></ob-search-box>
	</ng-template>
	<ng-template #obHeaderControl>
		<a
			href="https://stash.eap.bit.admin.ch/projects/OUI/repos/oblique/"
			[icon]="'none'"
			matTooltip="Go to Oblique GIT repository"
			[matTooltipPosition]="'left'"
		>
			<span class="fab fa-bitbucket"></span>
		</a>
	</ng-template>
	<ng-template #obHeaderControl>
		<button
			type="button"
			obOffCanvasToggle
			matTooltip="Toggle Off-Canvas"
			[matTooltipPosition]="'left'"
			(click)="offCanvasOpen = !offCanvasOpen"
			tabindex="0"
		>
			<span class="fa fa-sign-in-alt" [class.fa-rotate-180]="!offCanvasOpen"></span>
		</button>
	</ng-template>
	<ng-template #obHeaderControl>
		<button type="button" obOffCanvasToggle matTooltip="Toggle Off-Canvas">
			<mat-icon class="ob-control-icon" svgIcon="logout"></mat-icon>
		</button>
	</ng-template>
	<ng-template #obHeaderControl>
		<ob-dropdown position="left">
			<span dropdown-toggle class="fa fa-cog"></span>
			<ng-container dropdown-content>
				<h4 translate>i18n.rtfas.nav.bar-header.language</h4>
				<ul role="menu" class="ob-nav-tree" aria-hidden="false">
					<li role="menuitem">
						<a role="button">FR</a>
					</li>
					<li role="menuitem">
						<a role="button">DE</a>
					</li>
					<li role="menuitem">
						<a role="button">EN</a>
					</li>
				</ul>
			</ng-container>
		</ob-dropdown>
	</ng-template>
	<ng-template #obHeaderControl>
		<button type="button" (click)="toggleFont(font)">
			{{ font }}
		</button>
	</ng-template>

	<ng-template #obHeaderMobileControl>
		<button type="button" (click)="toggleFont(font)">
			{{ font }}
		</button>
	</ng-template>

	<ng-container obHeaderCustomControl>
		<ul class="ob-header-controls" role="menu">
			<li class="ob-control-item" role="menuitem">Custom 1</li>
			<li class="ob-control-item" role="menuitem">Custom 2</li>
		</ul>
	</ng-container>

	<ng-template #obFooterLink>
		<a href="http://www.google.ch" role="button" matTooltip="google.ch" [matTooltipPosition]="'left'" target="_blank">Google</a>
	</ng-template>
	<ng-template #obFooterLink>
		<a href="http://www.blick.ch" role="button" target="_blank" placement="left">Blick</a>
	</ng-template>

	<ng-container obFooterInfo>
		<p>&copy; {{ year }} {{ "i18n.application.organization.name" | translate }}</p>
	</ng-container>
	<ng-container obOffCanvasTitle>Hello world title</ng-container>
	<ng-container obOffCanvasContent>Hello world content</ng-container>
</ob-master-layout>
