//
// Print - Media
// --------------------------------------------------

@media print {
  *,
  *:before,
  *:after,
  *:focus {
    box-shadow: none !important;
    text-shadow: none !important;
    transition: none !important;
  }

  .application-header {
    display: none;
  }

  .column-left,
  .column-right {
    display: none;
  }
  .column-main {
    width: 100% !important;
  }

  body.modal-open {
    .application,
    .modal-backdrop {
      display: none;
    }

    .modal,
    .modal-dialog {
      position: static !important;
      width: 100% !important;
      margin: 0 !important;
    }
  }
}
