@use "sass:map";
@use "../../styles/scss/core/variables";
@use "../../styles/scss/core/mixins/layout";

.banner-container {
	width: 100%;
	height: 100%;
	background-color: variables.$active;
	color: white;
}

.banner-content {
	width: 100%;
	max-width: map.get(variables.$ob-grid-breakpoints, xl);
	margin: 0 auto;
	font-size: 14px;
	font-weight: bold;

	p {
		margin-bottom: 0;
	}

	a {
		color: white;
	}

	@include layout.ob-media-breakpoint-down(md) {
		font-size: 11px;
		line-height: 13px;
	}
}
