<p>The files to look at in the StackBlitz Language example are:</p>
<ul>
	<li><code>datepicker-sample.component.html</code></li>
	<li><code>datepicker-sample.component.ts</code></li>
</ul>
<p>
	The url of the following link is configured to open in editor mode with <code>datepicker-sample.component.html</code> displayed next to
	the application preview.
</p>
<a
	href="https://stackblitz.com/edit/language-change-in-master-layout-example-6rv6d7?file=src%2Fapp%2Fdatepicker-sample%2Fdatepicker-sample.component.html"
	mat-button
	obButton="primary"
	>Stackblitz Example</a
>
