<form [obSchemaValidation]="schema">
	<mat-form-field obErrorMessages>
		<mat-label>First name</mat-label>
		<input matInput obSchemaValidate type="text" name="firstName" [(ngModel)]="firstName" />
		<mat-error />
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>Last name</mat-label>
		<input matInput obSchemaValidate type="text" name="lastName" [(ngModel)]="lastName" />
		<mat-error />
	</mat-form-field>

	<mat-form-field obErrorMessages>
		<mat-label>Age</mat-label>
		<input matInput obSchemaValidate type="number" name="age" [(ngModel)]="age" />
		<mat-error />
	</mat-form-field>
</form>
