<p>
	Small HTML table with the
	<code>ob-table-sm</code>
	class.
</p>
<table class="ob-table ob-table-sm">
	<caption>
		Characteristics of periodical elements
	</caption>
	<thead>
		<tr>
			<th scope="col">NO.</th>
			<th scope="col">NAME</th>
			<th scope="col">WEIGHT</th>
			<th scope="col">SYMBOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-title="POSITION">1</td>
			<th scope="row" data-title="NAME">Hydrogen</th>
			<td data-title="WEIGHT">1.0079</td>
			<td data-title="SYMBOL">H</td>
		</tr>
		<tr>
			<td data-title="POSITION">2</td>
			<th scope="row" data-title="NAME">Helium</th>
			<td data-title="WEIGHT">4.0026</td>
			<td data-title="SYMBOL">He</td>
		</tr>
		<tr>
			<td data-title="POSITION">3</td>
			<th scope="row" data-title="NAME">Lithium</th>
			<td data-title="WEIGHT">6.941</td>
			<td data-title="SYMBOL">Li</td>
		</tr>
		<tr>
			<td data-title="POSITION">4</td>
			<th scope="row" data-title="NAME">Beryllium</th>
			<td data-title="WEIGHT">9.0122</td>
			<td data-title="SYMBOL">Be</td>
		</tr>
		<tr>
			<td data-title="POSITION">5</td>
			<th scope="row" data-title="NAME">Boron</th>
			<td data-title="WEIGHT">10.811</td>
			<td data-title="SYMBOL">B</td>
		</tr>
		<tr>
			<td data-title="POSITION">6</td>
			<th scope="row" data-title="NAME">Carbon</th>
			<td data-title="WEIGHT">12.0107</td>
			<td data-title="SYMBOL">C</td>
		</tr>
		<tr>
			<td data-title="POSITION">7</td>
			<th scope="row" data-title="NAME">Nitrogen</th>
			<td data-title="WEIGHT">14.0067</td>
			<td data-title="SYMBOL">N</td>
		</tr>
		<tr>
			<td data-title="POSITION">8</td>
			<th scope="row" data-title="NAME">Oxygen</th>
			<td data-title="WEIGHT">15.9994</td>
			<td data-title="SYMBOL">O</td>
		</tr>
		<tr>
			<td data-title="POSITION">9</td>
			<th scope="row" data-title="NAME">Fluorine</th>
			<td data-title="WEIGHT">18.9984</td>
			<td data-title="SYMBOL">F</td>
		</tr>
		<tr>
			<td data-title="POSITION">10</td>
			<th scope="row" data-title="NAME">Neon</th>
			<td data-title="WEIGHT">20.1797</td>
			<td data-title="SYMBOL">Ne</td>
		</tr>
	</tbody>
</table>

<p>
	Large HTML table with the
	<code>ob-table-lg</code>
	class.
</p>
<table class="ob-table ob-table-lg">
	<caption>
		Characteristics of periodical elements
	</caption>
	<thead>
		<tr>
			<th scope="col">NO.</th>
			<th scope="col">NAME</th>
			<th scope="col">WEIGHT</th>
			<th scope="col">SYMBOL</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td data-title="POSITION">1</td>
			<th scope="row" data-title="NAME">Hydrogen</th>
			<td data-title="WEIGHT">1.0079</td>
			<td data-title="SYMBOL">H</td>
		</tr>
		<tr>
			<td data-title="POSITION">2</td>
			<th scope="row" data-title="NAME">Helium</th>
			<td data-title="WEIGHT">4.0026</td>
			<td data-title="SYMBOL">He</td>
		</tr>
		<tr>
			<td data-title="POSITION">3</td>
			<th scope="row" data-title="NAME">Lithium</th>
			<td data-title="WEIGHT">6.941</td>
			<td data-title="SYMBOL">Li</td>
		</tr>
		<tr>
			<td data-title="POSITION">4</td>
			<th scope="row" data-title="NAME">Beryllium</th>
			<td data-title="WEIGHT">9.0122</td>
			<td data-title="SYMBOL">Be</td>
		</tr>
		<tr>
			<td data-title="POSITION">5</td>
			<th scope="row" data-title="NAME">Boron</th>
			<td data-title="WEIGHT">10.811</td>
			<td data-title="SYMBOL">B</td>
		</tr>
		<tr>
			<td data-title="POSITION">6</td>
			<th scope="row" data-title="NAME">Carbon</th>
			<td data-title="WEIGHT">12.0107</td>
			<td data-title="SYMBOL">C</td>
		</tr>
		<tr>
			<td data-title="POSITION">7</td>
			<th scope="row" data-title="NAME">Nitrogen</th>
			<td data-title="WEIGHT">14.0067</td>
			<td data-title="SYMBOL">N</td>
		</tr>
		<tr>
			<td data-title="POSITION">8</td>
			<th scope="row" data-title="NAME">Oxygen</th>
			<td data-title="WEIGHT">15.9994</td>
			<td data-title="SYMBOL">O</td>
		</tr>
		<tr>
			<td data-title="POSITION">9</td>
			<th scope="row" data-title="NAME">Fluorine</th>
			<td data-title="WEIGHT">18.9984</td>
			<td data-title="SYMBOL">F</td>
		</tr>
		<tr>
			<td data-title="POSITION">10</td>
			<th scope="row" data-title="NAME">Neon</th>
			<td data-title="WEIGHT">20.1797</td>
			<td data-title="SYMBOL">Ne</td>
		</tr>
	</tbody>
</table>
