<h1>Tabs</h1>
<ul class="ob-tabs" role="tablist">
	<li class="ob-tab-item">
		<a class="ob-tab-link ob-active" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
	</li>
	<li class="ob-tab-item">
		<a class="ob-tab-link" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
	</li>
	<li class="ob-tab-item">
		<a class="ob-tab-link" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
	</li>
</ul>
<div>
	<div role="tabpanel">Tab Home</div>
</div>
