/* ../../../ is to cancel assets/styles/css path while keeping an eventual baseHref */
@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-Bd.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-It.woff2') format('woff2');
	font-weight: normal;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-Regular.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-Light.woff2') format('woff2');
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
}
