@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-Bd.woff2') format('woff2'), url('/assets/fonts/FrutigerNeueW02-Bd.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-It.woff2') format('woff2'), url('/assets/fonts/FrutigerNeueW02-It.woff') format('woff');
	font-weight: normal;
	font-style: italic;
	font-display: fallback;
}

@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-Regular.woff2') format('woff2'), url('/assets/fonts/FrutigerNeueW02-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: fallback;
}

@font-face {
	font-family: 'Frutiger Neue';
	src: local('Frutiger Neue'), url('/assets/fonts/FrutigerNeueW02-Light.woff2') format('woff2'), url('/assets/fonts/FrutigerNeueW02-Light.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: fallback;
}
