<form class="form-horizontal has-validation" name="datepickerForm" role="form" novalidate>
	<h2 class="page-header">
		<span>Datepicker</span>
	</h2>
	<div class="form-group" has-error="date">
		<label class="col-sm-4 col-lg-3 control-label">Date</label>
		<div class="col-sm-8 col-lg-9">
			<div class="row">
				<div class="col-md-6">
					<date-picker name="date" ng-model="ctrl.data.date"></date-picker>
				</div>
				<div class="col-md-6">
					<div class="btn-group">
						<button type="button" class="btn btn-info" ng-click="ctrl.today()" tooltip-append-to-body="true"
						        uib-tooltip="Sets model to today's date using the standard JavaScript Date object">Today</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.toISO()" tooltip-append-to-body="true"
						        uib-tooltip="Sets model to today's date using the ISO 8601 format">ISO</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.toTimestamp()" tooltip-append-to-body="true"
						        uib-tooltip="Sets model to today's date using a timestamp">Timestamp</button>
					</div>
				</div>
			</div>
			<span class="help-block" ng-show="datepickerForm.date.$invalid">{{datepickerForm.date.$errorMessage}}</span>
		</div>
	</div>
	<div class="form-group" has-error>
		<label class="col-sm-4 col-lg-3 control-label">Min / Max</label>
		<div class="col-sm-8 col-lg-9">
			<div class="row">
				<div class="col-md-6">
					<date-picker name="minMax" ng-model="ctrl.data.minMax.date" options="{'minDate': ctrl.data.minMax.min, 'maxDate': ctrl.data.minMax.max}"></date-picker>
				</div>
				<div class="col-md-6">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.invalidMin()" tooltip-append-to-body="true"
						        uib-tooltip="Sets model to some invalid date after the minimum limit">
							<span class="fa fa-chevron-left"></span> Min
						</button>
						<button type="button" class="btn btn-warning" ng-click="ctrl.invalidMax()" tooltip-append-to-body="true"
						        uib-tooltip="Sets model to some invalid date after the maximum limit">
							<span class="fa fa-chevron-right"></span> Max
						</button>
					</div>
				</div>
			</div>
			<span class="help-block" ng-if="datepickerForm.minMax.$error.minDate">{{'i18n.common.date.min.invalid' | translate:ctrl.translationData.min }}</span>
			<span class="help-block" ng-if="datepickerForm.minMax.$error.maxDate">{{'i18n.common.date.max.invalid' | translate:ctrl.translationData.max }}</span>
		</div>
	</div>
	<div class="form-group" has-error>
		<label class="col-sm-4 col-lg-3 control-label">Range</label>
		<div class="col-sm-8 col-lg-9">
			<div class="row">
				<div class="col-md-6">
					<date-picker label="From" name="rangeFrom" ng-model="ctrl.data.range.from" options="{maxDate: ctrl.data.range.to}"></date-picker>
					<span class="help-block" ng-show="datepickerForm.rangeFrom.$invalid">{{datepickerForm.rangeFrom.$errorMessage}}</span>
				</div>
				<div class="col-md-6" has-error="rangeTo">
					<date-picker label="To" name="rangeTo" ng-model="ctrl.data.range.to" min-date="ctrl.data.range.from"></date-picker>
					<span class="help-block" ng-show="datepickerForm.rangeTo.$invalid">{{datepickerForm.rangeTo.$errorMessage}}</span>
					<span class="help-block" ng-show="datepickerForm.rangeTo.$error.minDate && !datepickerForm.rangeTo.$errorMessage">{{'i18n.common.date.min.invalid' | translate:'{ p0: ctrl.data.minDate }' }}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group" has-error>
		<label class="col-sm-4 col-lg-3 control-label">Editable</label>
		<div class="col-sm-8 col-lg-9">
			<div class="row">
				<div class="col-md-6">
					<date-picker name="date" ng-model="ctrl.data.editable.date" editable="ctrl.data.editable.enabled" ng-disabled="!ctrl.data.editable.enabled"></date-picker>
				</div>
				<div class="col-md-6">
					<div class="btn-group">
						<button type="button" class="btn btn-info" ng-click="ctrl.toggleEditable()" tooltip-append-to-body="true"
						        uib-tooltip="Toggles manual edition of Datepicker input control.">Toggle edition</button>
					</div>
				</div>
			</div>
			<span class="help-block" ng-show="datepickerForm.date.$invalid">{{datepickerForm.date.$errorMessage}}</span>
			<span class="help-block" ng-show="datepickerForm.date.$error.date && !datepickerForm.date.$errorMessage">{{'i18n.common.date.format.invalid' | translate}}</span>
		</div>
	</div>
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" ng-click="ctrl.check(datepickerForm)" ng-disabled="!datepickerForm.$valid">Check</button>
	</div>
</form>
<hr />
<div class="spacer-top">
	<h4>Model data</h4>
	<pre>{{ctrl.data | json}}</pre>
</div>



