@use "../../../styles/scss/core/variables";
@use "../../../styles/scss/core/mixins/layout";

.feedback-button {
	position: fixed;
	right: -75px;
	top: 45%;
	height: 40px;
	transform: rotate(-90deg);
	padding: 3px 38px;
	border: none;
	font-weight: 700;
	color: white;
	background-color: variables.$active;
	text-decoration: none;
	cursor: pointer;
}
@include layout.ob-media-breakpoint-down(md) {
	.feedback-button {
		top: unset;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
	}
}
