@use "../../../styles/scss/core/variables";

.feedback-button {
	position: fixed;
	right: -75px;
	top: 45%;
	height: 40px;
	transform: rotate(-90deg);
	padding: 3px 38px;
	border: none;
	font-weight: 700;
	color: white;
	background-color: variables.$active;
	text-decoration: none;
	cursor: pointer;
}
