@use "@oblique/oblique/src/styles/scss/core/variables";

/*
	In the rare occurences where this component is used outside of the master-layout component,
	then it is necessary to give to the parent element of ob-notification a position: relative;
	in order to have the notification displayed within this parent component.
*/
.channel {
	position: relative;
}

/*
	The rest of this file is used to enhance the appearance of one or more of the Oblique code examples.
	It is NOT required in order to use any Oblique features.
*/
div.channel {
	width: 100%;
	height: 350px;
	outline: 3px solid red;
}

.buttons {
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
	padding: 1rem;
	border: 3px solid variables.$ob-gray-darker;
	border-radius: 5px;
	justify-content: center;
}

/* layouting */
.container {
	flex-basis: calc(50% - 1.5rem); // 1.5rem is half of parent's column-gap
}

.container.notification-container {
	flex-basis: 100%;
}
