<p>The most important files to look at in the StackBlitz Off Canvas example are:</p>
<ul>
	<li><code>off-canvas/off-canvas-container.component.html</code></li>
	<li><code>app.component.html</code></li>
	<li><code>app.module.ts</code></li>
</ul>
<p>
	The url of the following link is configured to open in editor mode with
	<code>off-canvas-container.component.html</code> displayed next to the application preview.
</p>
<a
	href="https://stackblitz.com/github/oblique-bit/oblique-stackblitz/tree/master/oblique-off-canvas?file=src%2Fapp%2Foff-canvas%2Foff-canvas-container.component.html"
	mat-button
	obButton="primary"
	>Stackblitz Example</a
>
