<ob-description component="button"></ob-description>
<table class="table">
	<ng-container *ngIf="material | async; else bootstrap">
		<thead>
			<tr>
				<th></th>
				<th>Primary</th>
				<th>Secondary</th>
				<th>Tertiary</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<label>Default</label>
				</td>
				<td>
					<button mat-button obButton="primary">Primary</button>
				</td>
				<td>
					<button mat-button obButton="secondary">Secondary</button>
				</td>
				<td>
					<button mat-button obButton="tertiary">Tertiary</button>
				</td>
			</tr>
			<tr>
				<td>
					<label>Icon</label>
				</td>
				<td>
					<button mat-button obButton="primary"><span class="fas fa-sign-in-alt"></span>Primary</button>
				</td>
				<td>
					<button mat-button obButton="secondary"><span class="fas fa-sign-in-alt"></span>Secondary</button>
				</td>
				<td>
					<button mat-button obButton="tertiary"><span class="fas fa-sign-in-alt"></span>Tertiary</button>
				</td>
			</tr>
			<tr>
				<td>
					<label>Disabled</label>
				</td>
				<td>
					<button mat-button obButton="primary" disabled>Primary</button>
				</td>
				<td>
					<button mat-button obButton="secondary" disabled>Secondary</button>
				</td>
				<td>
					<button mat-button obButton="tertiary" disabled>Tertiary</button>
				</td>
			</tr>
		</tbody>
	</ng-container>
	<ng-template #bootstrap>
		<thead>
			<tr>
				<th></th>
				<th>Normal & Hover</th>
				<th>Focus</th>
				<th>Active</th>
				<th>Disabled</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<label class="form-control-static">Primary</label>
				</td>
				<td>
					<button type="button" class="btn btn-primary">Primary</button>
				</td>
				<td>
					<button type="button" class="btn btn-primary focus">Primary</button>
				</td>
				<td>
					<button type="button" class="btn btn-primary active">Primary</button>
				</td>
				<td>
					<button type="button" class="btn btn-primary" disabled="disabled">Primary</button>
				</td>
			</tr>
			<tr>
				<td>
					<label class="form-control-static">Secondary</label>
				</td>
				<td>
					<button type="button" class="btn btn-secondary">Secondary</button>
				</td>
				<td>
					<button type="button" class="btn btn-secondary focus">Secondary</button>
				</td>
				<td>
					<button type="button" class="btn btn-secondary active">Secondary</button>
				</td>
				<td>
					<button type="button" class="btn btn-secondary" disabled="disabled">Secondary</button>
				</td>
			</tr>
			<tr>
				<td>
					<label class="form-control-static">Success</label>
				</td>
				<td>
					<button type="button" class="btn btn-success">Success</button>
				</td>
				<td>
					<button type="button" class="btn btn-success focus">Success</button>
				</td>
				<td>
					<button type="button" class="btn btn-success active">Success</button>
				</td>
				<td>
					<button type="button" class="btn btn-success" disabled="disabled">Success</button>
				</td>
			</tr>
			<tr>
				<td>
					<label class="form-control-static">Warning</label>
				</td>
				<td>
					<button type="button" class="btn btn-warning">Warning</button>
				</td>
				<td>
					<button type="button" class="btn btn-warning focus">Warning</button>
				</td>
				<td>
					<button type="button" class="btn btn-warning active">Warning</button>
				</td>
				<td>
					<button type="button" class="btn btn-warning" disabled="disabled">Warning</button>
				</td>
			</tr>
			<tr>
				<td>
					<label class="form-control-static">Danger</label>
				</td>
				<td>
					<button type="button" class="btn btn-danger">Danger</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger focus">Danger</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger active">Danger</button>
				</td>
				<td>
					<button type="button" class="btn btn-danger" disabled="disabled">Danger</button>
				</td>
			</tr>
			<tr>
				<td>
					<label class="form-control-static">Link</label>
				</td>
				<td>
					<button type="button" class="btn btn-link">Link</button>
				</td>
				<td>
					<button type="button" class="btn btn-link focus">Link</button>
				</td>
				<td>
					<button type="button" class="btn btn-link active">Link</button>
				</td>
				<td>
					<button type="button" class="btn btn-link" disabled="disabled">Link</button>
				</td>
			</tr>
		</tbody>
	</ng-template>
</table>
<ob-api component="button"></ob-api>
