<h2 class="page-header">Dialog</h2>
<or-column-layout [left]="false">
	<ng-container column-main-content>
		<mat-list>
			<mat-list-item>
				<mat-form-field>
					<mat-label>Name</mat-label>
					<input matInput [(ngModel)]="name">
				</mat-form-field>
			</mat-list-item>
			<mat-list-item>
				<button mat-raised-button (click)="openDialog()">Open dialog</button>
			</mat-list-item>
			<mat-list-item *ngIf="animal">
				Your favorite animal is: <i>{{animal}}</i>
			</mat-list-item>
		</mat-list>
	</ng-container>
	<ng-container column-right-content>
		<h3>Controls</h3>
		<mat-list>
			<fieldset>
				<legend>Values</legend>
				<mat-list-item>
					<p><b>Dialog state:</b> {{dialogState}}</p>
				</mat-list-item>
				<mat-list-item>
					<p><b>Your name:</b> {{name}}</p>
				</mat-list-item>
				<mat-list-item>
					<p><b>Animal:</b> {{animal}}</p>
				</mat-list-item>
			</fieldset>
		</mat-list>
	</ng-container>
</or-column-layout>
