<h1>Inline elements</h1>
<p><code>&lt;a&gt;</code> A sample <a href="#">anchor</a>.</p>
<p><code>&lt;abbr&gt;</code> A sample <abbr>abbreviation</abbr>. And another with a <abbr title="abbreviation">title</abbr>.</p>
<p><code>&lt;b&gt;</code> A sample <b>bold</b> text.</p>
<p><code>&lt;strong&gt;</code> A sample <strong>strong</strong> text.</p>
<p><code>&lt;cite&gt;</code> A sample <cite>citation</cite>.</p>
<p><code>&lt;dfn&gt;</code> A sample <dfn>definition</dfn>.</p>
<p><code>&lt;em&gt;</code> A sample <em>emphasised</em> text.</p>
<p><code>&lt;i&gt;</code> A sample <i>italic</i> text.</p>
<p><code>&lt;q&gt;</code> A sample <q>quotation</q>.</p>
<p><code>&lt;var&gt;</code> A sample <var>variable</var>.</p>
<p><code>&lt;mark&gt;</code> A sample<mark>marked</mark>text.</p>
<p><code>&lt;code&gt;</code> A sample <code>code</code> input.</p>
<p><code>&lt;kbd&gt;</code> A sample <kbd>keyboard</kbd> key.</p>
<p><code>&lt;samp&gt;</code> A <samp>sample</samp> text.</p>
<p><code>&lt;small&gt;</code> A sample <small>small</small> text.</p>
<p><code>&lt;s&gt;</code> A sample <s>strike through</s> text.</p>
<p><code>&lt;del&gt;</code> A sample<del>deleted</del>text.</p>
<p><code>&lt;output&gt;</code> A sample<output>output</output>.</p>
<p><code>&lt;u&gt;</code> A sample <u>underlined</u> text.</p>
<p><code>&lt;sub&gt;</code> A sample <sub>subscript</sub> text.</p>
<p><code>&lt;sup&gt;</code> A sample <sup>superscript</sup> text.</p>
<p><code>&lt;label&gt;</code> A sample <label>label</label>.</p>
<p><code>&lt;ins&gt;</code> A sample <ins>insert</ins>.</p>
