<div ng-show="appController.spinner.active" class="overlay overlay-inverse">
	<div class="spinner-viewport">
		<span class="spinner fa fa-spinner fa-4x"></span>
	</div>
</div>

<!-- build:jsvendors min/vendors.min.js -->
{{#each env.resources.vendor.js}}
	<script src="{{../paths.vendor}}{{this}}"></script>
{{/each}}
<!-- endbuild -->

<!-- build:jsapp min/app.min.js -->
{{#each env.resources.app}}
	<script src="{{this}}"></script>
{{/each}}
<!-- endbuild -->
