@use "projects/oblique/src/styles/scss/core/mixins/layout";
@import "projects/oblique/src/styles/scss/core/variables";

.card-wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: $ob-spacing-default;
	margin-bottom: $ob-spacing-xl;
}

.mat-slide-toggle,
.mat-card .mat-button {
	display: block;
	margin-bottom: $ob-spacing-default;
}

.form-element {
	margin-bottom: $ob-spacing-default;

	label {
		margin-right: $ob-spacing-default;
	}
}

@include layout.ob-media-breakpoint-up(sm) {
	.columns {
		column-count: 2;
	}
}
