<h1>Spinner</h1>
<mat-label></mat-label>
<mat-form-field style="width: fit-content">
	<mat-label>Channel</mat-label>
	<mat-select [(value)]="this.channel">
		<mat-option value="demo">Demo</mat-option>
		<mat-option value="default">Default</mat-option>
	</mat-select>
</mat-form-field>
<button type="button" class="block" mat-flat-button color="primary" (click)="toggleSpinner()">Toggle Spinner</button>
<div class="spinner-channel">
	<h3>Demo Channel</h3>
	<p>
		Franz Xaver von Stubenrauch wurde 1718 in Vohburg an der Donau als Sohn des Vohburger Gerichtsschreibers Marx Christoph Adam Stubenrauch
		und der Maria Theresia Zwickh, einer Tochter des Vohburger Pfleg- und Kastenamtsschreibers Franz Zwickh geboren. Der 1693 verstorbene
		Großvater väterlicherseits Johann Christoph Stubenrauch stammte aus Hannover und hatte einen Ruf als Hof- und Leibchirurg an den Hof des
		Kurfürsten Maximilian Emmanuel von Bayern erhalten[1]. Franz Xaver Anton von Stubenrauch war mit der ebenfalls 1793 verstorbenen Anna
		Johanna Müllauer aus Ingolstadt verheiratet.
	</p>
	<p>source: Wikipedia.random()</p>
	<ob-spinner [channel]="'demo'"></ob-spinner>
</div>
