<h1>Spinner</h1>

<section>
	<button type="button" mat-flat-button color="primary" (click)="toggleSpinner()">Default channel</button>
	<p>The spinner covers the entire viewport and automatically disappears after 5 seconds.</p>
</section>
<section>
	<button type="button" mat-flat-button color="primary" (click)="toggleSpinner(demoChannel)">Demo channel</button>
	<p>The spinner covers only the content section below. Click again to dismiss it.</p>
</section>
<section>
	<button type="button" mat-flat-button color="primary" (click)="toggleSpinner('nonExistent')">
		Non existent channel
	</button>
	<p>
		This channel does not correspond to an existing spinner component, so no spinner is displayed. A warning is logged
		to the console to demonstrate error handling.
	</p>
</section>

<div class="spinner-channel">
	<h3>Demo Channel</h3>
	<p>
		Franz Xaver von Stubenrauch wurde 1718 in Vohburg an der Donau als Sohn des Vohburger Gerichtsschreibers Marx
		Christoph Adam Stubenrauch und der Maria Theresia Zwickh, einer Tochter des Vohburger Pfleg- und
		Kastenamtsschreibers Franz Zwickh geboren. Der 1693 verstorbene Großvater väterlicherseits Johann Christoph
		Stubenrauch stammte aus Hannover und hatte einen Ruf als Hof- und Leibchirurg an den Hof des Kurfürsten Maximilian
		Emmanuel von Bayern erhalten[1]. Franz Xaver Anton von Stubenrauch war mit der ebenfalls 1793 verstorbenen Anna
		Johanna Müllauer aus Ingolstadt verheiratet.
	</p>
	<p>source: Wikipedia.random()</p>
	<ob-spinner [channel]="demoChannel" />
</div>
