<ng-template #previewPrimaryLinkFrown>
	<app-button-example-primary-link-frown></app-button-example-primary-link-frown>
</ng-template>
<app-code-example
	[codeSnippets]="codeSnippetsPrimaryLinkFrown"
	[id]="componentId | id : ['primary', 'link', 'frown']"
	[idPrefix]="componentId"
	[preview]="previewPrimaryLinkFrown"
></app-code-example>

<ng-template #previewPrimaryLoginDisabled>
	<app-button-example-primary-login-disabled></app-button-example-primary-login-disabled>
</ng-template>
<app-code-example
	[codeSnippets]="codeSnippetsPrimaryLoginDisabled"
	[id]="componentId | id : ['primary', 'login', 'disabled']"
	[idPrefix]="componentId"
	[preview]="previewPrimaryLoginDisabled"
></app-code-example>

<ng-template #previewSecondaryNoIcon>
	<app-button-example-secondary-link-no-icon></app-button-example-secondary-link-no-icon>
</ng-template>
<app-code-example
	[codeSnippets]="codeSnippetsSecondaryNoIcon"
	[id]="componentId | id : ['secondary', 'no-icon']"
	[idPrefix]="componentId"
	[preview]="previewSecondaryNoIcon"
></app-code-example>

<ng-template #previewSecondaryWheelchair>
	<app-button-example-secondary-wheelchair></app-button-example-secondary-wheelchair>
</ng-template>
<app-code-example
	[codeSnippets]="codeSnippetsSecondaryWheelchair"
	[id]="componentId | id : ['secondary', 'wheelchair']"
	[idPrefix]="componentId"
	[preview]="previewSecondaryWheelchair"
></app-code-example>

<ng-template #previewTertiaryLinkNoIconDisabled>
	<app-button-example-tertiary-link-no-icon-disabled></app-button-example-tertiary-link-no-icon-disabled>
</ng-template>
<app-code-example
	[codeSnippets]="codeSnippetsTertiaryLinkNoIconDisabled"
	[id]="componentId | id : ['tertiary', 'link', 'no-icon', 'disabled']"
	[idPrefix]="componentId"
	[preview]="previewTertiaryLinkNoIconDisabled"
></app-code-example>

<ng-template #previewTertiaryRepeatNoText>
	<app-button-example-tertiary-repeat-no-text></app-button-example-tertiary-repeat-no-text>
</ng-template>
<app-code-example
	[codeSnippets]="codeSnippetsTertiaryRepeatNoText"
	[id]="componentId | id : ['tertiary', 'repeat', 'no-text']"
	[idPrefix]="componentId"
	[preview]="previewTertiaryRepeatNoText"
></app-code-example>
