<app-code-example
	[codeSnippets]="codeSnippetsPrimaryLinkFrown"
	[id]="componentId | id : ['primary', 'link', 'frown']"
	[idPrefix]="componentId"
	[preview]="previews[0].component"
></app-code-example>

<app-code-example
	[codeSnippets]="codeSnippetsPrimaryLoginDisabled"
	[id]="componentId | id : ['primary', 'login', 'disabled']"
	[idPrefix]="componentId"
	[preview]="previews[1].component"
></app-code-example>

<app-code-example
	[codeSnippets]="codeSnippetsSecondaryNoIcon"
	[id]="componentId | id : ['secondary', 'no-icon']"
	[idPrefix]="componentId"
	[preview]="previews[2].component"
></app-code-example>

<app-code-example
	[codeSnippets]="codeSnippetsSecondaryWheelchair"
	[id]="componentId | id : ['secondary', 'wheelchair']"
	[idPrefix]="componentId"
	[preview]="previews[3].component"
></app-code-example>

<app-code-example
	[codeSnippets]="codeSnippetsTertiaryLinkNoIconDisabled"
	[id]="componentId | id : ['tertiary', 'link', 'no-icon', 'disabled']"
	[idPrefix]="componentId"
	[preview]="previews[4].component"
></app-code-example>

<app-code-example
	[codeSnippets]="codeSnippetsTertiaryRepeatNoText"
	[id]="componentId | id : ['tertiary', 'repeat', 'no-text']"
	[idPrefix]="componentId"
	[preview]="previews[5].component"
></app-code-example>
