@use "variables";
@use "mixins/layout";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	@include layout.ob-media-breakpoint-down(md) {
		// Ensure fixed elements keep scrolling smoothly on iOS:
		-webkit-overflow-scrolling: touch;
	}
}

html {
	line-height: variables.$ob-line-height;
	-webkit-text-size-adjust: 100%;
}

body {
	min-width: variables.$ob-body-width;
	margin: 0;
	font-family: variables.$ob-font;
	font-size: variables.$ob-font-size-base;
	word-break: break-word;
	color: variables.$ob-default;
}

.bg-secondary {
	background-color: variables.$ob-extra-light !important;
	height: 100%;
}

.hover-visible {
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: variables.$ob-duration-fast, 0s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s, variables.$ob-duration-fast;

	*:hover > & {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}
