@import "variables";
@import "mixins/layout";

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;

	@include layout-collapse-down() {
		// Ensure fixed elements keep scrolling smoothly on iOS:
		-webkit-overflow-scrolling: touch;
	}
}

html {
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
}

body {
	min-width: $body-width;
	margin: 0;
	font-family: $font;
	font-size: $font-size-base;
	word-break: break-word;
	color: $brand-default;
}

main {
	display: block; // IE
}

.bg-secondary {
	background-color: $brand-extra-light !important;
	height: 100%;
}

.hover-visible {
	visibility: hidden;
	opacity: 0;
	transition-property: opacity, visibility;
	transition-duration: $duration-fast, 0s;
	transition-timing-function: ease-in-out;
	transition-delay: 0s, $duration-fast;

	*:hover > & {
		visibility: visible;
		opacity: 1;
		transition-delay: 0s;
	}
}
