@import "variables";
@import "mixins/layout";

html,
body {
	height: 100%;

	@include layout-collapse-down() {
		// Ensure fixed elements keep scrolling smoothly on iOS:
		-webkit-overflow-scrolling: touch;
	}
}

body {
	min-width: 320px;
}

.default-layout {
	padding: $spacing-default;
}

.bg-secondary {
	background-color: $brand-extralight !important;
}
