// CI/CD colors
$venetian-red: #dc0018;
$red: #f7001d;	// unused
$cerulean: #006699;
$malibu: #66afe9;	// used only for bootstrap
$pattens-blue: #d8e8ef;	// unused
$solitude: #e7edef;		// unused
$clear-day: #f2f7f9;	// unused
$mocassin: #fffab2;	// unused
$white: #ffffff;
$smoke: #f5f5f5;
$gainsboro: #e5e5e5;
$light-gray: #d5d5d5;
$silver: #cccccc;	// unused
$empress: #757575;
$coal: #454545;
$night-rider: #333333;
$black: #000000;

// Oblique colors
// http://mcg.mbitson.com/#!?mcgpalette0=%23ffc81b&themename=mcgtheme
$primary-50: #f2f7fa;
$primary-100: #cce0eb;
$primary-200: #99c2d6;
$primary-300: #66a3c2;
$primary-400: #267da8;
$primary-500: $cerulean;
$primary-600: #0a5b84;
$primary-700: #14516f;		// was #003552
$primary-800: #214456;
$primary-900: #293d47;
$primary-a100: #90c0ff;		// not from Fridolin
$primary-a200: #5da3ff;		// not from Fridolin
$primary-a400: #2a85ff;		// not from Fridolin
$primary-a700: #1077ff;		// not from Fridolin

$error-50: #f6e0e4;		// not from Fridolin
$error-100: #ffdddd;
$error-200: #d88090;		// not from Fridolin
$error-300: #c84d63;		// not from Fridolin
$error-400: #bc2641;		// not from Fridolin
$error-500: #b00020;
$error-600: #a9001c;		// not from Fridolin
$error-700: #770000;
$error-800: #970013;		// not from Fridolin
$error-900: #87000b;		// not from Fridolin
$error-a100: #ffb3b6;		// not from Fridolin
$error-a200: #ff8085;	// not from Fridolin
$error-a400: #ff4d53;	// not from Fridolin
$error-a700: #ff343b;	// not from Fridolin

$gray-50: $white;
$gray-100: $smoke;
$gray-200: $gainsboro;
$gray-300: $light-gray;
$gray-400: #b4b4b4;
$gray-500: $empress;
$gray-600: $coal;
$gray-700: $night-rider;
$gray-800: #171717;
$gray-900: $black;

$success-100: #cfe6c2;
$success-500: #00813a;
$success-700: #004d22;

$warning-100: #ffe2c2;
$warning-500: #e75e00;
$warning-700: #9c3c0a;
