// CI/CD colors
$venetian-red: #dc0018;
$red: #f7001d;	// unused
$cerulean: #006699;
$malibu: #66afe9;	// used only for bootstrap
$pattens-blue: #d8e8ef;	// unused
$solitude: #e7edef;		// unused
$clear-day: #f2f7f9;	// unused
$mocassin: #fffab2;	// unused
$white: #ffffff;
$smoke: #f5f5f5;
$gainsboro: #e5e5e5;
$light-gray: #d5d5d5;
$silver: #cccccc;	// unused
$empress: #757575;
$coal: #454545;
$night-rider: #333333;
$black: #000000;

// Oblique colors
// http://mcg.mbitson.com/#!?mcgpalette0=%23ffc81b&themename=mcgtheme
$primary-50: #f2f7fa;	// $brand-default
$primary-100: #cce0eb;
$primary-200: #99c2d6;
$primary-300: #66a3c2;
$primary-400: #267da8;	// $white
$primary-500: $cerulean;
$primary-600: #0a5b84;
$primary-700: #14516f;
$primary-800: #214456;
$primary-900: #293d47;
$primary-a100: #90c0ff;		// not from Fridolin
$primary-a200: #5da3ff;		// not from Fridolin
$primary-a400: #2a85ff;		// not from Fridolin
$primary-a700: #1077ff;		// not from Fridolin

$error-50: #fdeaee;	// $brand-default
$error-100: #fbcad2;
$error-200: #ea959b;
$error-300: #de6c74;	// $white
$error-400: #de2839;
$error-500: #b00020;
$error-600: #a31a17;
$error-700: #931012;
$error-800: #86090c;
$error-900: #630012;
$error-a100: #ffb3b6;	// not from Fridolin
$error-a200: #ff8085;	// not from Fridolin
$error-a400: #ff4d53;	// not from Fridolin
$error-a700: #ff343b;	// not from Fridolin

$gray-50: $white;	// $brand-default
$gray-100: $smoke;
$gray-200: $gainsboro;
$gray-300: $light-gray;
$gray-400: #b4b4b4;
$gray-500: $empress;	// $white
$gray-600: $coal;
$gray-700: $night-rider;
$gray-800: #171717;
$gray-900: $black;

$success-50: #e6f6eb;	// $brand-default
$success-100: #c3e8cd;
$success-200: #9cd9ad;
$success-300: #72cb8c;
$success-400: #50bf73;	// $white
$success-500: #27b45b;
$success-600: #1da451;
$success-700: #0f9245;
$success-800: #00813a;
$success-900: #006226;

$warning-50: #fee3b5;	// $brand-default
$warning-100: #fed284;
$warning-200: #ffbf52;
$warning-300: #fb970b;
$warning-400: #f07703;
$warning-500: #e75e00;
$warning-600: #af4600;	// $white
$warning-700: #80310d;
$warning-800: #5f1a00;
$warning-900: #501900;
