// CI / CD
$venetian-red: #dc0018;	// error message, red line
$red: #f7001d;	// unused
$cerulean: #006699;
$malibu: #66afe9;
$pattens-blue: #d8e8ef;
$solitude: #e7edef;		// unused
$clear-day: #f2f7f9;
$mocassin: #fffab2;	// unused
$white: #ffffff;
$smoke: #f5f5f5;
$gainsboro: #e5e5e5;
$light-grey: #d5d5d5;
$silver: #cccccc;	// unused
$empress: #757575;	// unused
$coal: #454545;	 // unused, default font color
$night-rider: #333333;
$black: #000000;	// unused, default for headings and table headers


// Oblique
$gray-lighter:              $smoke !default;
$gray-lighter-2:            $gainsboro !default;
$gray-light:                $light-grey !default;
$gray:                      #b4b4b4 !default;
$gray-dark:                 #707070 !default;
$gray-darker:               $night-rider !default;

$brand-default:             #171717 !default;
$brand-extralight:          $clear-day !default;
$brand-light:               $pattens-blue !default;
$brand-secondary:           $malibu !default;
$brand-primary:             $cerulean !default;
$brand-dark:                #003552 !default;
$brand-accent:              $venetian-red !default;

$brand-success-light:       #cfe6c2 !default;
$brand-success:             #00813a !default;
$brand-success-dark:        #004d22 !default;

$brand-info-light:          #e6eff3 !default;
$brand-info:                $cerulean !default;
$brand-info-dark:           #004569 !default;

$brand-warning-light:       #ffe2c2 !default;
$brand-warning:             #e75e00 !default;
$brand-warning-dark:        #c63d00 !default;

$brand-error-light:        #ffdddd !default;
$brand-error:              #dc0018 !default;
$brand-error-dark:         #b30014 !default;

$duration-default:              .6s !default;
$duration-fast:                .25s !default;

$smaller:                       .875 !default;
$smallest:                      .8 !default;
$bigger:                        1.25 !default;
$biggest:                       1.65 !default;
$font-size-base:                1rem !default;
$font-size-xl:                  $font-size-base * $biggest !default;
$font-size-lg:                  $font-size-base * $bigger !default;
$font-size-sm:                  $font-size-base * $smaller !default;
$font-size-xs:                  $font-size-base * $smallest !default;
$font-size-normal:              1em !default;
$font-size-biggest:             $font-size-normal * $biggest !default;
$font-size-bigger:              $font-size-normal * $bigger !default;
$font-size-smaller:             $font-size-normal * $smaller !default;
$font-size-smallest:            $font-size-normal * $smallest !default;

$spacing-default:              15px !default;
$spacing-xs:                    5px !default;
$spacing-sm:                   10px !default;
$spacing-md:                   12px !default;

$brand-logo-width:            216px !default;
$brand-logo-height:            55px !default;
$brand-logo-height-collapsed:  34px !default;
$brand-logo-width-collapsed:   30px !default;

$header-height:               141px !default;
$header-height-md:            106px !default;
$header-height-no-navigation:  90px !default;
$header-height-collapsed:      61px !default;
$brand-line-width:              5px !default;
$navigation-height:            51px !default;

$footer-height:                84px !default;
$footer-height-md:             60px !default;
$footer-height-sm:             34px !default;
$footer-height-collapsed:     162px !default;

$layout-collapse:               992px !default; // Breakpoint at which the layout becomes expanded.

$border-radius-base:            4px !default;

$navigation-scrollable-padding: 2 * $spacing-default !default;

$column-width: 20% !default;

$off-canvas-sidebar-width: 40% !default;
$off-canvas-sidebar-collapsed-width: 80% !default;

$alert-symbol-width: 54px;
$column-layout-toggle-height: 60px;
$column-layout-toggle-width: 20px;
$column-layout-toggle-radius: 20px;

$sticky-element-height: 64px;
$sticky-element-height-sm: 45px;
$sticky-element-height-lg: 98px;

$table-collapsed-header-width: 150px;

$cover-layout-background: '../../../styles/images/cover-background.jpg' !default;	// relative to oblique/lib/master-layout/master-layout

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$font: 'Frutiger Neue', Arial, system-ui, -apple-system, BlinkMacSystemFont, sans-serif !default;
