@import "palette";

$gray-extra-light:          $gray-100 !default;
$gray-lighter:              $gray-200 !default;
$gray-light:                $gray-300 !default;
$gray:                      $gray-400 !default;
$gray-dark:                 $gray-500 !default;
$gray-darker:               $gray-700 !default;

$brand-default:             $gray-800 !default;
$brand-accent:              $venetian-red !default;

$brand-extra-light:         $primary-50 !default;
$brand-light:               $primary-100 !default;
$brand-primary:             $primary-500 !default;
$brand-dark:                $primary-700 !default;

$brand-success-light:       $success-100 !default;
$brand-success:             $success-800 !default;
$brand-success-dark:        $success-900 !default;

$brand-warning-light:       $warning-50 !default;
$brand-warning:             $warning-500 !default;
$brand-warning-dark:        $warning-700 !default;

$brand-error-light:         $error-100 !default;
$brand-error:               $error-500 !default;
$brand-error-dark:          $error-700 !default;

$duration-default:              .6s !default;
$duration-fast:                .25s !default;

$smaller:                       .875 !default;
$smallest:                      .8 !default;
$bigger:                        1.25 !default;
$biggest:                       1.65 !default;
$font-size-base:                1rem !default;
$font-size-xl:                  $font-size-base * $biggest !default;
$font-size-lg:                  $font-size-base * $bigger !default;
$font-size-sm:                  $font-size-base * $smaller !default;
$font-size-xs:                  $font-size-base * $smallest !default;
$font-size-normal:              1em !default;
$font-size-biggest:             $font-size-normal * $biggest !default;
$font-size-bigger:              $font-size-normal * $bigger !default;
$font-size-smaller:             $font-size-normal * $smaller !default;
$font-size-smallest:            $font-size-normal * $smallest !default;

$spacing-xl:                   32px !default;
$spacing-lg:                   24px !default;
$spacing-default:              16px !default;
$spacing-sm:                    8px !default;
$spacing-xs:                    4px !default;

$body-width:                  248px !default;

$z-index-default:                 0 !default;
$z-index-controls:               10 !default;
$z-index-layout:                101 !default;
$z-index-widget:                200 !default;
$z-index-overlay:               300 !default;
$z-index-overlay-top:           400 !default;

$brand-logo-width:            216px !default;
$brand-logo-height:            55px !default;
$brand-logo-height-collapsed:  34px !default;
$brand-logo-width-collapsed:   30px !default;

$header-height:               145px !default;
$header-height-md:            108px !default;
$header-height-no-navigation:  92px !default;
$header-height-collapsed:      55px !default;
$brand-line-width:              5px !default;
$navigation-height:            53px !default;

$footer-height:                75px !default;
$footer-height-md:             60px !default;
$footer-height-sm:             28px !default;
$footer-height-collapsed:     151px !default;

$layout-collapse:               992px !default; // Breakpoint at which the layout becomes expanded.

$border-radius-base:            4px !default;

$navigation-scrollable-padding: 2 * $spacing-default !default;

$column-width: 20% !default;

$off-canvas-sidebar-width: 40% !default;
$off-canvas-sidebar-collapsed-width: 80% !default;

$alert-symbol-width: 54px !default;
$column-layout-toggle-height: 60px !default;
$column-layout-toggle-width: $spacing-default !default;
$column-layout-toggle-radius: $spacing-default !default;

$sticky-element-height: 64px !default;
$sticky-element-height-sm: 45px !default;
$sticky-element-height-lg: 98px !default;

$stepper-size: 26px !default;
$stepper-size-sm: 16px !default;
$stepper-size-lg: 38px !default;
$stepper-font-size: 12px !default;
$stepper-sm-font-size: 10px !default;
$stepper-lg-font-size: 16px !default;

$table-collapsed-header-width: 150px !default;

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$font: 'Frutiger Neue', Roboto, Arial, system-ui, -apple-system, BlinkMacSystemFont, sans-serif !default;
$icon-font-family: 'Font Awesome 5 Free' !default;
