$white:                     #ffffff !default;
$gray-lighter:              #f5f5f5 !default;
$gray-lighter-2:            #e5e5e5 !default;
$gray-light:                #d5d5d5 !default;
$gray:                      #b4b4b4 !default;
$gray-dark:                 #707070 !default;
$gray-darker:               #333333 !default;
$black:                     #000000 !default;

$brand-default:             #171717 !default;
$brand-extralight:          #f2f7f9 !default;
$brand-light:               #d8e8ef !default;
$brand-secondary:           #0c76ad !default;
$brand-primary:             #005e8e !default;
$brand-dark:                #003552 !default;
$brand-accent:              #f7001d !default;

$brand-success-light:       #cfe6c2 !default;
$brand-success:             #00813a !default;
$brand-success-dark:        #004d22 !default;

$brand-warning-light:       #fffab2 !default;
$brand-warning-semilight:   #ffc81b !default;
$brand-warning:             #e75e00 !default;
$brand-warning-dark:        #983d00 !default;

$brand-danger-light:        #ffdddd !default;
$brand-danger:              #dc0018 !default;
$brand-danger-dark:         #b30014 !default;

$duration-default:              .6s !default;
$duration-fast:                .25s !default;

$spacing-default:              15px !default;
$spacing-xs:                    5px !default;
$spacing-sm:                   10px !default;
$spacing-md:                   12px !default;

$brand-logo-width:            216px !default;
$brand-logo-height:            55px !default;
$brand-logo-height-collapsed:  34px !default;
$brand-logo-width-collapsed:   30px !default;

$header-height:               141px !default;
$header-height-md:            112px !default;
$header-height-no-navigation:  90px !default;
$header-height-collapsed:      61px !default;
$brand-line-width:              5px !default;
$navigation-height:            51px !default;

$footer-height:                84px !default;
$footer-height-md:             60px !default;
$footer-height-sm:             34px !default;
$footer-height-collapsed:     162px !default;

$font-size-base:                1rem !default;
$font-size-xl:                  $font-size-base * 1.65 !default;
$font-size-lg:                  $font-size-base * 1.25 !default;
$font-size-sm:                  $font-size-base * .875 !default;
$font-size-xs:                  $font-size-base * .8 !default;

$layout-collapse:               992px !default; // Breakpoint at which the layout becomes expanded.

$border-radius-base:            4px !default;

$navigation-scrollable-padding: 2 * $spacing-default !default;

$column-width: 20% !default;

$off-canvas-sidebar-width: 40% !default;
$off-canvas-sidebar-collapsed-width: 80% !default;

$alert-symbol-width: 54px;
$column-layout-toggle-height: 60px;
$column-layout-toggle-width: 20px;
$column-layout-toggle-radius: 20px;

$table-collapsed-header-width: 150px;

$cover-layout-background: '../../../styles/images/cover-background.jpg' !default;	// relative to oblique/lib/master-layout/master-layout

$grid-breakpoints: (
	xs: 0,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
) !default;

$font: "Open Sans", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !default;
