@use "palette";
@forward "palette";

$ob-gray-extra-light: palette.$ob-gray-100 !default;
$ob-gray-lighter: palette.$ob-gray-200 !default;
$ob-gray-light: palette.$ob-gray-300 !default;
$ob-gray: palette.$ob-gray-400 !default;
$ob-gray-dark: palette.$ob-gray-500 !default;
$ob-gray-darker: palette.$ob-gray-700 !default;
$ob-default: palette.$ob-gray-800 !default;
$ob-accent: palette.$ob-venetian-red !default;
$ob-extra-light: palette.$ob-primary-50 !default;
$ob-light: palette.$ob-primary-100 !default;
$ob-primary: palette.$ob-primary-500 !default;
$ob-dark: palette.$ob-primary-700 !default;
$ob-success-light: palette.$ob-success-100 !default;
$ob-success: palette.$ob-success-800 !default;
$ob-success-dark: palette.$ob-success-900 !default;
$ob-warning-light: palette.$ob-warning-50 !default;
$ob-warning: palette.$ob-warning-500 !default;
$ob-warning-dark: palette.$ob-warning-700 !default;
$ob-error-light: palette.$ob-error-100 !default;
$ob-error: palette.$ob-error-500 !default;
$ob-error-dark: palette.$ob-error-700 !default;
$ob-duration-default: 0.6s !default;
$ob-duration-fast: 0.25s !default;
$ob-smaller: 0.875 !default;
$ob-smallest: 0.8 !default;
$ob-bigger: 1.25 !default;
$ob-biggest: 1.65 !default;
$ob-font-size-base: 1rem !default;
$ob-font-size-xl: $ob-font-size-base * $ob-biggest !default;
$ob-font-size-lg: $ob-font-size-base * $ob-bigger !default;
$ob-font-size-sm: $ob-font-size-base * $ob-smaller !default;
$ob-font-size-xs: $ob-font-size-base * $ob-smallest !default;
$ob-font-size-normal: 1em !default;
$ob-font-size-biggest: $ob-font-size-normal * $ob-biggest !default;
$ob-font-size-bigger: $ob-font-size-normal * $ob-bigger !default;
$ob-font-size-smaller: $ob-font-size-normal * $ob-smaller !default;
$ob-font-size-smallest: $ob-font-size-normal * $ob-smallest !default;
$ob-font-size-subheading-1: $ob-font-size-base * 0.9375 !default;
$ob-line-height: 1.5 !default;
$ob-spacing-xl: 32px !default;
$ob-spacing-lg: 24px !default;
$ob-spacing-default: 16px !default;
$ob-spacing-md: 12px !default;
$ob-spacing-sm: 8px !default;
$ob-spacing-xs: 4px !default;
$ob-body-width: 248px !default;
$ob-z-index-default: 0 !default;
$ob-z-index-controls: 10 !default;
$ob-z-index-layout: 101 !default;
$ob-z-index-widget: 200 !default;
$ob-z-index-overlay: 1005 !default; // because material overlay is 1000
$ob-z-index-overlay-top: 1010 !default;
$ob-logo-width: 216px !default;
$ob-logo-height: 55px !default;
$ob-logo-height-collapsed: 34px !default;
$ob-logo-width-collapsed: 30px !default;
$ob-line-width: 5px !default;
$ob-border-radius-base: 4px !default;
$ob-border-radius-button: 2px !default;
$ob-navigation-scrollable-padding: 2 * $ob-spacing-default !default;
$ob-column-width: 20% !default;
$ob-off-canvas-sidebar-width: 40% !default;
$ob-off-canvas-sidebar-collapsed-width: 80% !default;
$ob-alert-symbol-width: 54px !default;
$ob-column-layout-toggle-height: 60px !default;
$ob-column-layout-toggle-width: $ob-spacing-default !default;
$ob-column-layout-toggle-radius: $ob-spacing-default !default;
$ob-sticky-element-height: 64px !default;
$ob-sticky-element-height-sm: 45px !default;
$ob-sticky-element-height-lg: 98px !default;
$ob-stepper-size: 26px !default;
$ob-stepper-size-sm: 16px !default;
$ob-stepper-size-lg: 38px !default;
$ob-stepper-font-size: 12px !default;
$ob-stepper-sm-font-size: 10px !default;
$ob-stepper-lg-font-size: 16px !default;
$ob-table-collapsed-header-width: 150px !default;
$ob-grid-breakpoints: (
	xs: 0,
	sm: 600px,
	md: 905px,
	lg: 1240px,
	xl: 1440px,
) !default;
$ob-font: "Frutiger Neue", Roboto, Arial, system-ui, -apple-system, BlinkMacSystemFont, sans-serif !default;
$ob-service-navigation-applications-width: 100px !default;
$ob-service-navigation-messages-many-count-width: 30px !default;
$ob-service-navigation-messages-many-count-border-radius: 20px !default;
