@import "palette";

$ob-gray-extra-light:          $ob-gray-100 !default;
$ob-gray-lighter:              $ob-gray-200 !default;
$ob-gray-light:                $ob-gray-300 !default;
$ob-gray:                      $ob-gray-400 !default;
$ob-gray-dark:                 $ob-gray-500 !default;
$ob-gray-darker:               $ob-gray-700 !default;

$ob-default:             $ob-gray-800 !default;
$ob-accent:              $ob-venetian-red !default;

$ob-extra-light:         $ob-primary-50 !default;
$ob-light:               $ob-primary-100 !default;
$ob-primary:             $ob-primary-500 !default;
$ob-dark:                $ob-primary-700 !default;

$ob-success-light:       $ob-success-100 !default;
$ob-success:             $ob-success-800 !default;
$ob-success-dark:        $ob-success-900 !default;

$ob-warning-light:       $ob-warning-50 !default;
$ob-warning:             $ob-warning-500 !default;
$ob-warning-dark:        $ob-warning-700 !default;

$ob-error-light:         $ob-error-100 !default;
$ob-error:               $ob-error-500 !default;
$ob-error-dark:          $ob-error-700 !default;

$ob-duration-default:              .6s !default;
$ob-duration-fast:                .25s !default;

$ob-smaller:                       .875 !default;
$ob-smallest:                      .8 !default;
$ob-bigger:                        1.25 !default;
$ob-biggest:                       1.65 !default;
$ob-font-size-base:                1rem !default;
$ob-font-size-xl:                  $ob-font-size-base * $ob-biggest !default;
$ob-font-size-lg:                  $ob-font-size-base * $ob-bigger !default;
$ob-font-size-sm:                  $ob-font-size-base * $ob-smaller !default;
$ob-font-size-xs:                  $ob-font-size-base * $ob-smallest !default;
$ob-font-size-normal:              1em !default;
$ob-font-size-biggest:             $ob-font-size-normal * $ob-biggest !default;
$ob-font-size-bigger:              $ob-font-size-normal * $ob-bigger !default;
$ob-font-size-smaller:             $ob-font-size-normal * $ob-smaller !default;
$ob-font-size-smallest:            $ob-font-size-normal * $ob-smallest !default;

$ob-spacing-xl:                   32px !default;
$ob-spacing-lg:                   24px !default;
$ob-spacing-default:              16px !default;
$ob-spacing-sm:                    8px !default;
$ob-spacing-xs:                    4px !default;

$ob-body-width:                  248px !default;

$ob-z-index-defaul:                 0 !default;
$ob-z-index-controls:               10 !default;
$ob-z-index-layout:                101 !default;
$ob-z-index-widget:                200 !default;
$ob-z-index-overlay:               1005 !default;	// because material overlay is 1000
$ob-z-index-overlay-top:           1010 !default;

$ob-logo-width:            216px !default;
$ob-logo-height:            55px !default;
$ob-logo-height-collapsed:  34px !default;
$ob-logo-width-collapsed:   30px !default;

$ob-header-height:               145px !default;
$ob-header-height-md:            108px !default;
$ob-header-height-no-navigation:  92px !default;
$ob-header-height-collapsed:      55px !default;
$ob-line-width:                    5px !default;
$ob-navigation-height:            53px !default;

$ob-footer-height:                75px !default;
$ob-footer-height-md:             60px !default;
$ob-footer-height-sm:             28px !default;
$ob-footer-height-collapsed:     151px !default;

$ob-border-radius-base:            4px !default;

$ob-navigation-scrollable-padding: 2 * $ob-spacing-default !default;

$ob-column-width: 20% !default;

$ob-off-canvas-sidebar-width: 40% !default;
$ob-off-canvas-sidebar-collapsed-width: 80% !default;

$ob-alert-symbol-width: 54px !default;
$ob-column-layout-toggle-height: 60px !default;
$ob-column-layout-toggle-width: $ob-spacing-default !default;
$ob-column-layout-toggle-radius: $ob-spacing-default !default;

$ob-sticky-element-height: 64px !default;
$ob-sticky-element-height-sm: 45px !default;
$ob-sticky-element-height-lg: 98px !default;

$ob-stepper-size: 26px !default;
$ob-stepper-size-sm: 16px !default;
$ob-stepper-size-lg: 38px !default;
$ob-stepper-font-size: 12px !default;
$ob-stepper-sm-font-size: 10px !default;
$ob-stepper-lg-font-size: 16px !default;

$ob-table-collapsed-header-width: 150px !default;

$ob-grid-breakpoints: (
	xs: 0,
	sm: 600px,
	md: 905px,
	lg: 1240px,
	xl: 1440px
) !default;

$ob-font: 'Frutiger Neue', Roboto, Arial, system-ui, -apple-system, BlinkMacSystemFont, sans-serif !default;
$ob-icon-font-family: 'Font Awesome 5 Free' !default;
