<a routerLink="/introductions/design-principles" class="ob-link-card">
	<mat-card>
		<mat-card-content>Card as link</mat-card-content>
	</mat-card>
</a>

<button type="button" mat-button obButton="primary" class="ob-button-card">
	<mat-card>
		<mat-card-content>Card as button</mat-card-content>
	</mat-card>
</button>

<div obSelectableGroup>
	<mat-card obSelectable>
		<mat-card-content>Selectable card 1</mat-card-content>
	</mat-card>

	<mat-card obSelectable>
		<mat-card-content>Selectable card 2</mat-card-content>
	</mat-card>
</div>
