<mat-form-field>
	<mat-label>Default Input</mat-label>
	<input type="text" matInput placeholder="Default Input" />
</mat-form-field>
<mat-form-field>
	<mat-label>Default Select</mat-label>
	<mat-select>
		<mat-option [value]="1">One</mat-option>
		<mat-option [value]="2">Two</mat-option>
		<mat-option [value]="3">Three</mat-option>
		<mat-option [value]="4">Four</mat-option>
		<mat-option [value]="5">Five</mat-option>
	</mat-select>
</mat-form-field>
<button mat-button obButton="primary" type="button" (click)="focusNext()">Focus next element</button>
