<div class="container">
	<ng-template #popoverDefault>
		<p>Popover example. Here goes your content!</p>
	</ng-template>
	<h3>Simple example</h3>
	<div class="buttons">
		<button type="button" mat-button obButton="primary" [obPopover]="popoverDefault">Open Popover</button>
	</div>
</div>
<div class="container">
	<ng-template #popoverOverflow>
		<h3>Lorem Ipsum about New Possibilities</h3>
		<p>
			Imagine a world where privilege is like a secret cheat code in a video game. You didn't ask for it, but somehow you start with extra
			lives and power-ups. Privileges are those invisible boosts that make life's obstacles a bit easier to navigate. They can be anything
			from the ability to walk into a room and see people who look like you, to having access to education, healthcare, and job
			opportunities without extra hurdles.
		</p>
		<p>
			Randomus advantages appear in life’s maze like hidden treasure chests. Sometimes it’s obvious, like finding a shortcut in a race, and
			other times it's subtle, like having a map when everyone else is lost. Why does this matter? Because recognizing privilege is the
			first step to sharing the loot and making the game fair for everyone.
		</p>
		<p>
			Laughing about privilege might seem weird, but think of it like this: Privilege is that friend who always gets the extra fries without
			asking. They don’t even know how they do it, but it happens. Imagine if they started sharing those fries with everyone at the table.
			Now we’re talking! Sharing the fries makes everyone happier, and it’s way more fun than watching one person eat all the good stuff.
		</p>
		<p>
			Imagine a world where differences are celebrated like a grand fiesta. Picture this: every shade of skin, every kind of background,
			every unique perspective coming together in a symphony of harmony. It's not just about tolerance; it's about throwing open the doors
			of acceptance wide.
		</p>
		<p>
			In this world, labels are for jars, not people. We have to dance to the rhythm of diversity, where every voice is heard, every story
			cherished. It's about understanding that our differences aren't dividers but bridges that connect us all.
		</p>
		<p>
			Let's talk about inclusion—like a potluck where everyone brings their own flavor to the table. No one left standing alone in the
			corner; we're all part of the same cosmic dance floor. It's about creating spaces where gender, race, sexuality, ability—none of it
			dictates your worth or your welcome.
		</p>
		<p>
			And hey, let's not forget the power of education and empathy. It's not just about being kind; it's about actively dismantling the
			barriers that society has built. It's rolling up our sleeves and saying, 'Hey world, we're rewriting the rules.'
		</p>
		<p>
			So here's to a future where anti-discrimination isn't a buzzword but a way of life. Where fairness isn't a favor but a fundamental
			right. Let's paint this canvas with the colors of equality, one brushstroke at a time. Because together, we're stronger, kinder, and
			unstoppable.
		</p>
		<h3>Lorem Ipsum with a Little Suggestion</h3>
		<p>
			Hello, I am a little Lorem Ipsum. If you're still reading this text, then this text is really good or you have my respect for your
			perseverance! Just WOW! I'm just here to show you what a popover looks like when the content gets very, very long. I have no other
			purpose. So, if you're still reading, you must be REALLY bored! Do you want a hug? Maybe you could try a hobby? Just a small
			suggestion... Or think about your own privileges. Look around and make the world better for everyone!
		</p>
	</ng-template>
	<h3>Popover with Large Content</h3>
	<div class="buttons">
		<button type="button" mat-button obButton="primary" [obPopover]="popoverOverflow">Large Content Popover</button>
	</div>
</div>
