{{#extend "default-layout"
	appHome=app.home
	description="{{appController.page.description | translate}}"
	bodyClass="has-overlay"
	applicationClass="{{appController.page.layout.variant}}"
	applicationFixed=app.theme.application.fixed
	headerTransitions=app.theme.header.transitions
	headerVariant=app.theme.header.variant}}
	{{#content "default"}}
		<notifications></notifications>
		<div ui-view class="application-content-viewport"></div>
	{{/content}}
{{/extend}}
