{{#extend "application"
		  applicationFixed=app.theme.application.fixed
		  headerVariant=app.theme.header.variant}}
	{{#content "content"}}
		<div class="application-content-viewport">
			<or-notification></or-notification>
			<div class="empty-layout">
				<router-outlet></router-outlet>
			</div>
			<or-spinner></or-spinner>
		</div>
	{{/content}}
{{/extend}}

