<h1>Tabs</h1>
<ul class="tabs" role="tablist">
	<li class="tab-item">
		<a class="tab-link active" href="#home" role="tab" aria-controls="home" aria-selected="true">Home</a>
	</li>
	<li class="tab-item">
		<a class="tab-link" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Profile</a>
	</li>
	<li class="tab-item">
		<a class="tab-link" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Contact</a>
	</li>
</ul>
<div>
	<div role="tabpanel">Tab Home</div>
</div>
