.list-group {
	margin-bottom: 30px;
}

.list-group-item {
	margin-bottom: -2px;

	&.navigable {
		line-height: 34px;

		.navigable-actions {
			white-space: nowrap;
		}
	}

	&.disabled {
		width: 100%;

		border: 1px solid $gray-light;
		border-top: none;
	}

	.text-muted {
		color: $gray-darker;
		font-size: 90%;
	}

	p {
		&:last-child {
			margin-bottom: 0;
		}
	}

	.table {
		font-size: 90%;
		background-color: $white;
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.list-group-header {
	background-color: $gray-darkest;
	border-color: $gray-darkest;
	color: $white;
}

.list-group-item-before {
	padding: 10px 15px;
	background-color: lighten($brand-warning-bg, 8%);
}

.list-group {
	$list-group-border: 4px solid $brand-primary;
	.list-group {
		margin: 0 0 0 -4px;
		border-left: $list-group-border;

		+ .list-group:not(.list-group-start) {
			border-top: none;
			margin-top: -1px;
		}
	}

	&.list-group-start {
		margin-top: 10px;
	}

	&.list-group-end {
		margin-bottom: 8px;
	}
}

.list-individual {
	padding: 0;
	border: none;

	.list-group-item {
	}
}
