$navigable-height: 38px;

.navigable {
	@include animatable(background-color, $duration-fast);

	.navigable-actions {
		display: flex;
		justify-content: flex-end;

		&:not(.navigable-actions-fluid) {
			min-height: $navigable-height;
			min-width: 113px;

			&.navigable-actions-md {
				min-width: 150px;
			}
		}

		&:not(.text-left) {
			text-align: right;
		}

		.navigable-reveal {
			display: none;
		}

		.navigable-show {
			visibility: hidden;
		}

		.navigable-collapse {
			display: inline-flex;
		}

		&.navigable-actions-center {
			text-align: center;
		}
	}

	&:hover,
	&.navigable-highlight:hover,
	&.navigable-active,
	&.navigable-selected {
		&, > td, &.list-group-item {
			@include animatable(background-color);
			background-color: $brand-lighter;
		}
	}

	&:hover,
	&.navigable-active {
		.navigable-actions {
			.navigable-reveal {
				display: inline-flex;
			}

			.navigable-show {
				visibility: visible;
			}

			.navigable-collapse {
				display: none;
			}
		}
	}

	&.navigable-active,
	&:focus {
		z-index: 1;
	}

	&.navigable-highlight {
		background-color: $brand-warning-light !important;
		transition-duration: 3.5s;
	}

	// Context-specific:
	&.list-group-item {
		.navigable-actions {
			white-space: nowrap;
		}
	}

	@media screen {
		> td {
			height: $navigable-height + 16;
		}
	}
}
