<div class="default-layout">
	<h2 class="page-header">
		{{'i18n.routes.samples.filterBox.title' | translate}}
	</h2>
	<p class="lead">Provides a user specified pattern for array filtering.</p>
	<div class="card-deck">
		<div class="card">
			<div class="card-header">Simple filter</div>
			<div class="card-block">
				<p>The pattern is linked to a variable from the controller using <code>[(pattern)]</code>.</p>
				<or-filter-box [(pattern)]="patterns[0]"></or-filter-box>
				<ul>
					<li *ngFor="let item of items | patternFilter:patterns[0]">{{item}}</li>
				</ul>
			</div>
		</div>
		<div class="card">
			<div class="card-header">With preceding input add-on</div>
			<div class="card-block">
				<p>A preceding custom input add-on has been used with <code>filter-box-before</code>.</p>
				<or-filter-box [(pattern)]="patterns[2]">
					<span class="input-group-addon" filter-box-before><i class="fa fa-search"></i></span>
				</or-filter-box>
				<ul>
					<li *ngFor="let item of items | patternFilter:patterns[2]">{{item}}</li>
				</ul>
			</div>
		</div>
		<div class="card">
			<div class="card-header">With following input add-on</div>
			<div class="card-block">
				<p>A following custom input add-on has been used with <code>filter-box-after</code>.</p>
				<or-filter-box [(pattern)]="patterns[3]">
					<span class="input-group-btn" filter-box-after>
						<button id="search-actions-dropdown" class="btn btn-default dropdown-toggle"
								type="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"
								ngbTooltip="{{'i18n.common.actions' | translate}}"
								placement="left">
							<span class="sr-only">{{'i18n.common.actions' | translate}}</span>
						</button>
						<span class="dropdown-menu dropdown-menu-right" role="menu"
							  aria-labelledby="search-actions-dropdown"
							  aria-hidden="true">
							<a class="dropdown-item" role="button" tabindex="0"
							   (click)="toggleColor('red')">
								Toggle red color
							</a>
							<a class="dropdown-item" role="button" tabindex="0"
							   (click)="toggleColor('blue')">
								Toggle blue color
							</a>
						</span>
					</span>
				</or-filter-box>
				<ul>
					<li *ngFor="let item of items | patternFilter:patterns[3]" [style.color]="color">{{item}}</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="card-deck">
		<div class="card">
			<div class="card-header">With custom placeholder</div>
			<div class="card-block">
				<p>A custom <code>placeholder</code> has been used instead of the default one.</p>
				<or-filter-box [(pattern)]="patterns[1]" placeholder="My custom placeholder"></or-filter-box>
				<ul>
					<li *ngFor="let item of items | patternFilter:patterns[1]">{{item}}</li>
				</ul>
			</div>
		</div>
		<div class="card">
			<div class="card-header">With "cleared" feedback</div>
			<div class="card-block">
				<p>The <code>patternCleared</code> event is used to count the number of times the search pattern has been cleared: <span class="badge badge-default">{{cleared}}</span>.</p>
				<or-filter-box [(pattern)]="patterns[4]" (patternCleared)="incrementCleared()"></or-filter-box>
				<ul>
					<li *ngFor="let item of items | patternFilter:patterns[4]">{{item}}</li>
				</ul>
			</div>
		</div>
		<div class="card">
			<div class="card-header">With "changed" feedback</div>
			<div class="card-block">
				<p>The <code>patternChanged</code> event is used to count the number of times the search pattern has been changed: <span class="badge badge-default">{{changed}}</span>.</p>
				<or-filter-box [(pattern)]="patterns[5]" (patternChanged)="incrementChanged()"></or-filter-box>
				<ul>
					<li *ngFor="let item of items | patternFilter:patterns[5]">{{item}}</li>
				</ul>
			</div>
		</div>
	</div>
</div>

