@use "projects/oblique/src/styles/scss/core/variables";

.item {
	background-color: variables.$ob-gray-lighter;
	text-align: center;
}

details {
	margin-bottom: variables.$ob-spacing-default;
}

section + section {
	margin-top: variables.$ob-spacing-xl;
}
