<h2>{{ "i18n.routes.samples.http-interceptor.title" | translate }}</h2>
<sb-description component="http-api-interceptor" />
<ob-column-layout [left]="false" [right]="true">
	<div column-right-content>
		<h3>Logs</h3>
		<div class="notification-sample-preview">
			<div class="smaller" *ngFor="let log of logs">{{ log }}</div>
		</div>
	</div>
	<ng-container column-main-content>
		<h3>Controls</h3>
		<fieldset>
			<legend>Request</legend>
			<button type="button" obButton mat-button (click)="request(200)">200 OK</button>
			<button type="button" obButton="secondary" mat-button (click)="request(404)">404 NOT FOUND</button>
			<button type="button" obButton="secondary" mat-button (click)="request(401)">401 UNAUTHORIZED</button>
			<button type="button" obButton="tertiary" mat-button (click)="parallelRequest()">Parallel 200</button>
			<mat-form-field>
				<mat-label>Number of parallel queries</mat-label>
				<input matInput type="number" [(ngModel)]="parallelRequests" />
			</mat-form-field>
		</fieldset>
		<mat-slide-toggle [(ngModel)]="spinner">show spinner</mat-slide-toggle>
		<mat-slide-toggle [(ngModel)]="notification.active">show notification on error</mat-slide-toggle>
		<fieldset>
			<legend>Customize default notification</legend>
			<mat-form-field>
				<mat-label>Severity</mat-label>
				<mat-select [(ngModel)]="notification.severity">
					<mat-option *ngFor="let variant of variants | keyvalue" [value]="variant.value">{{ variant.key }}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<mat-label>Title</mat-label>
				<input matInput [(ngModel)]="notification.title" type="text" placeholder="Notification title..." />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Message</mat-label>
				<input matInput [(ngModel)]="notification.text" type="text" placeholder="Notification text..." />
			</mat-form-field>
			<mat-form-field>
				<mat-label>Timeout</mat-label>
				<input matInput [(ngModel)]="notification.timeout" type="text" placeholder="Notification timeout..." />
			</mat-form-field>
			<mat-slide-toggle [(ngModel)]="notification.sticky">Sticky</mat-slide-toggle>
		</fieldset>
	</ng-container>
</ob-column-layout>
<sb-api component="http-api-interceptor" />
