<h2 class="page-header">{{ "i18n.routes.samples.datepicker.title" | translate }}</h2>
<ob-description component="datepicker"></ob-description>
<ob-column-layout [left]="false" [right]="true">
	<form novalidate column-main-content>
		<ng-container *ngIf="material | async; else bootstrap">
			<mat-form-field class="ms-fix">
				<mat-label>Datepicker</mat-label>
				<input matInput [matDatepicker]="picker" />
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
		</ng-container>
		<ng-template #bootstrap>
			<div class="form-group row" obFormControlState pristineValidation="true">
				<label class="col-sm-4 col-lg-3 col-control-label">Date</label>
				<div class="col-sm-8 col-lg-9">
					<div class="row">
						<div class="col-md-6">
							<ob-date-picker [ngModel]="model.date" name="date" required></ob-date-picker>
							<ob-error-messages></ob-error-messages>
						</div>
						<div class="col-md-6">
							<div class="btn-group">
								<button
									type="button"
									class="btn btn-info"
									(click)="setToday()"
									ngbTooltip="Sets model to today's date using the standard JavaScript Date object"
								>
									Today
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div obFormControlState pristineValidation="true" class="form-group row">
				<label class="col-sm-4 col-lg-3 control-label">Min / Max</label>
				<div class="col-sm-8 col-lg-9">
					<div class="row">
						<div class="col-md-6">
							<ob-date-picker
								#obDatePicker
								[placeholder]="'Enter a date between ' + (minDate | obDateFormatter) + ' and ' + (maxDate | obDateFormatter)"
								[(ngModel)]="model.minMax"
								name="minMax"
								[minDate]="minDate"
								[maxDate]="maxDate"
							></ob-date-picker>
							<ob-error-messages></ob-error-messages>
						</div>
						<div class="col-md-6">
							<div class="btn-group">
								<button
									type="button"
									class="btn btn-warning"
									(click)="min()"
									tooltip-append-to-body="true"
									ngbTooltip="Sets model to some invalid date after the minimum limit"
								>
									<span class="fa fa-chevron-left"></span> Min
								</button>
								<button
									type="button"
									class="btn btn-warning"
									(click)="max()"
									tooltip-append-to-body="true"
									ngbTooltip="Sets model to some invalid date after the maximum limit"
								>
									<span class="fa fa-chevron-right"></span> Max
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row" ngModelGroup="range">
				<label class="col-sm-4 col-lg-3 control-label">Range</label>
				<div class="col-sm-8 col-lg-9">
					<div class="row">
						<div obFormControlState class="col-md-6">
							<ob-date-picker [(ngModel)]="model.range.from" name="from" [maxDate]="model.range.to"></ob-date-picker>
							<ob-error-messages></ob-error-messages>
						</div>
						<div obFormControlState class="col-md-6">
							<div name="rangeTo">
								<ob-date-picker [(ngModel)]="model.range.to" name="to" [minDate]="model.range.from"></ob-date-picker>
								<ob-error-messages></ob-error-messages>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div obFormControlState class="form-group row">
				<label class="col-sm-4 col-lg-3 control-label">Disabled</label>
				<div class="col-sm-8 col-lg-9">
					<div class="row">
						<div class="col-md-6">
							<ob-date-picker [disabled]="isDatepickerDisabled" ngModel name="disabled"></ob-date-picker>
							<ob-error-messages></ob-error-messages>
						</div>
						<div class="col-md-6">
							<div class="btn-group">
								<button
									type="button"
									class="btn btn-info"
									(click)="isDatepickerDisabled = !isDatepickerDisabled"
									tooltip-append-to-body="true"
									ngbTooltip="Enables/Disables Datepicker control. Date can not be updated until control gets enabled again."
								>
									Toggle disabled
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</form>
	<ng-container column-right-content>
		<h3>Controls</h3>
		<pre>{{ model | json }}</pre>
	</ng-container>
</ob-column-layout>
<ob-api component="datepicker"></ob-api>
