<form class="form-horizontal has-validation" name="formControlForm" role="form" novalidate
	ng-submit="ctrl.check(formControlForm)">
	<h2 class="page-header">{{'i18n.states.samples.validation.formControl.title' | translate}}</h2>
	<p class="lead">Enables validation styling using Bootstrap <a href="http://getbootstrap.com/css/#forms-control-validation">validation states</a> and ObliqueUI <a href="https://eui.bit.admin.ch/oblique-ui/1.2.7/css.html#css-forms-feedback-mandatory">mandatory state</a> on form controls.</p>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Preview</h3>
		</div>
		<div class="panel-body">
			<form-control class="form-group">
				<label class="col-sm-3 control-label">Number</label>
				<div class="col-sm-4">
					<input name="number" type="text" class="form-control"
					       placeholder="This field is optional..."
					       ng-model="ctrl.number" number-format />
					<error-message field-name="number">
						<ng-message when="parse" class="help-block">Please, enter a valid number!</ng-message>
					</error-message>
				</div>
				<div class="col-sm-4">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.setInvalid(formControlForm.number)"
						        uib-tooltip="Sets model to an invalid value" tooltip-append-to-body="true">
							Set invalid value
						</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.setValid(formControlForm.number)"
						        uib-tooltip="Sets model to an valid value" tooltip-append-to-body="true">
							Set valid value
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<a href="" class="form-control-static" role="button"
					   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'"
					   uib-popover-html="'<ul class=list-unstyled><li><code>form-control</code></li><li><code>[number-format]</code></li></ul>'">
						<span class="fa fa-info-circle"></span>
					</a>
				</div>
			</form-control>
			<form-control class="form-group" mandatory="true">
				<label class="col-sm-3 control-label">Number</label>
				<div class="col-sm-4">
					<input name="numberRequired" type="text" class="form-control"
					       placeholder="This field is mandatory..."
					       ng-model="ctrl.numberRequired" number-format
					       ng-required="true" />
					<error-message field-name="numberRequired">
						<ng-message when="parse" class="help-block">Please, enter a valid number!</ng-message>
					</error-message>
				</div>
				<div class="col-sm-4">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.setInvalid(formControlForm.numberRequired)"
						        uib-tooltip="Sets model to an invalid value" tooltip-append-to-body="true">
							Set invalid value
						</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.setValid(formControlForm.numberRequired)"
						        uib-tooltip="Sets model to an valid value" tooltip-append-to-body="true">
							Set valid value
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<a href="" class="form-control-static" role="button"
					   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'"
					   uib-popover-html="'<ul class=list-unstyled><li><code>form-control</code></li><li><code>[ng-required]</code></li><li><code>[number-format]</code></li></ul>'">
						<span class="fa fa-info-circle"></span>
					</a>
				</div>
			</form-control>
			<form-control class="form-group" pristine-validation="true" mandatory="true">
				<label class="col-sm-3 control-label">Number</label>
				<div class="col-sm-4">
					<input name="numberRequiredPristine" type="text" class="form-control"
					       placeholder="This field is already in error on load..."
					       ng-model="ctrl.numberRequiredPristine" number-format
					       ng-required="true" />
					<error-message field-name="numberRequiredPristine">
						<ng-message when="parse" class="help-block">Please, enter a valid number!</ng-message>
					</error-message>
				</div>
				<div class="col-sm-4">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.setInvalid(formControlForm.numberRequiredPristine)"
						        uib-tooltip="Sets model to an invalid value" tooltip-append-to-body="true">
							Set invalid value
						</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.setValid(formControlForm.numberRequiredPristine)"
						        uib-tooltip="Sets model to an valid value" tooltip-append-to-body="true">
							Set valid value
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<a href="" class="form-control-static" role="button"
					   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'"
					   uib-popover-html="'<ul class=list-unstyled><li><code>form-control[pristine-validation]</code></li><li><code>[ng-required]</code></li><li><code>[number-format]</code></li></ul>'">
						<span class="fa fa-info-circle"></span>
					</a>
				</div>
			</form-control>
			<form-control class="form-group" mandatory="true">
				<label class="col-sm-3 control-label">Address</label>
				<div class="col-sm-4">
					<div class="row">
						<div class="col-sm-7">
							<div class="input-group">
								<label class="input-group-addon">Street</label>
								<input name="addressStreet" type="text" class="form-control"
								       placeholder="Street address..."
								       ng-model="ctrl.addressStreet" />
							</div>
						</div>
						<form-control class="col-sm-5" mandatory="true">
							<div class="input-group">
								<label class="input-group-addon">Number</label>
								<input name="addressNumber" type="text" class="form-control"
								       placeholder="Street number..."
								       ng-model="ctrl.addressNumber" number-format
								       ng-required="true" />
							</div>
							<error-message field-name="addressNumber">
								<ng-message when="parse" class="help-block">Please, enter a valid number!</ng-message>
							</error-message>
						</form-control>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="ctrl.setInvalid(formControlForm.addressNumber)"
						        uib-tooltip="Sets model to an invalid value" tooltip-append-to-body="true">
							Set invalid value
						</button>
						<button type="button" class="btn btn-info" ng-click="ctrl.setValid(formControlForm.addressNumber)"
						        uib-tooltip="Sets model to an valid value" tooltip-append-to-body="true">
							Set valid value
						</button>
					</div>
				</div>
				<div class="col-sm-1">
					<a href="" class="form-control-static" role="button"
					   popover-title="Usage" popover-placement="bottom" popover-trigger="'focus'"
					   uib-popover-html="'<ul class=list-unstyled><li><code>form-control</code></li><li><code>[number-format]</code></li></ul>'">
						<span class="fa fa-info-circle"></span>
					</a>
				</div>
			</form-control>
		</div>
		<div class="panel-footer">
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" ng-disabled="!formControlForm.$valid && formControlForm.$submitted">Check</button>
			</div>
		</div>
	</div>
</form>
