:host {
	grid-column-start: 2;
	grid-row-start: 1;
	margin-top: 10px;
	min-height: calc(100vh - 150px);
	border-radius: 4px;
	background-color: rgb(255, 255, 255);
	border-width: 1px;
	border-style: solid;
	border-color: #e5e7eb;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	overflow-x: auto;
}

h1 {
	padding-top: 0.75rem;
	padding-left: 0.75rem;
}
