<div class="cover-viewport">
	<div class="cover-header">
		<h1>{{'states.auth.title' | translate}}</h1>
	</div>
	<div class="cover-content">
		<form novalidate class="form-horizontal" role="form" name="loginForm" ng-submit="login()">
			<h3 class="page-header">{{'states.auth.login.title' | translate}}</h3>
			<div class="form-group" has-error>
				<label class="col-sm-3 control-label">Email</label>
				<div class="col-sm-9">
					<input ng-model="user.email" type="email" class="form-control" placeholder="Email" required />
				</div>
			</div>
			<div class="form-group" has-error>
				<label class="col-sm-3 control-label">Password</label>
				<div class="col-sm-9">
					<input ng-model="user.password" type="password" class="form-control" placeholder="Password" required />
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<div class="checkbox">
						<input id="rememberme" type="checkbox">
						<label for="rememberme">Remember me</label>
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-primary">Sign in</button>
					<button type="reset" class="btn btn-link">Forgot password?</button>
				</div>
			</div>
		</form>
		<form novalidate role="form" name="registerForm" ng-submit="register()">
			<h3 class="page-header" translate translate-values="{'title': appController.title}">states.auth.register.title</h3>
			<div class="form-group">
				<input type="email" ng-model="user.email" placeholder="Email" required="" class="form-control"/>
			</div>
			<div class="form-group">
				<input type="password" ng-model="user.password" placeholder="Password" required="" class="form-control"/>
			</div>
			<div class="form-group">
				<input type="text" ng-model="user.firstname" placeholder="First Name" class="form-control"/>
			</div>
			<div class="form-group">
				<input type="text" ng-model="user.lastname" placeholder="Last Name" required="" class="form-control"/>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-lg btn-primary btn-block">{{'states.auth.register.submit' | translate}}</button>
			</div>
		</form>
	</div>
</div>
