<h2 class="page-header">{{'i18n.routes.samples.number-format.title' | translate}}</h2>
<or-description component="number-format"></or-description>
<h3>Preview with template form</h3>
<form>
	<div class="form-group row">
		<label class="col-sm-8">Inputs</label>
		<label class="col-sm-2">Model value</label>
	</div>
	<div class="form-group row">
		<div class="col-sm-8">
			<input class="form-control" type="number" orNumberFormat
				   name="number1" [(ngModel)]="number1" aria-labelledby="number1Label"/>
			<span id="number1Label" class="form-text text-muted">Default format with 2 decimals and persistent changes.</span>
		</div>
		<div class="col-sm-2 form-control-plaintext">{{number1}}</div>
		<div class="col-sm-2">
			<button class="btn btn-secondary" (click)="number1 = 6.2654987">Set value</button>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-8">
			<input class="form-control" type="number" orNumberFormat [persistent]="false"
				   name="number2" [(ngModel)]="number2" aria-labelledby="number2Label"/>
			<span id="number2Label" class="form-text text-muted">2 decimals format without persistent change.</span>
		</div>
		<div class="col-sm-2 form-control-plaintext">{{number2}}</div>
		<div class="col-sm-2">
			<button class="btn btn-secondary" (click)="number2 = 6.2356487">Set value</button>
		</div>
	</div>
</form>

<h3>Preview with reactive form</h3>
<form [formGroup]="formData">
	<div class="form-group row">
		<label class="col-sm-8">Inputs</label>
		<label class="col-sm-2">Model value</label>
	</div>
	<div class="form-group row">
		<div class="col-sm-8">
			<input class="form-control" type="number" orNumberFormat [decimals]="4"
				   formControlName="number5" aria-labelledby="number5Label"/>
			<span id="number5Label" class="form-text text-muted">4 decimals and persistent changes.</span>
		</div>
		<div class="col-sm-2 form-control-plaintext">{{formData.value.number5}}</div>
		<div class="col-sm-2">
			<button class="btn btn-secondary" (click)="setNumber5()">Set value</button>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-sm-8">
			<input class="form-control" type="number" orNumberFormat [decimals]="4" [persistent]="false"
				   formControlName="number6" aria-labelledby="number6Label"/>
			<span id="number6Label" class="form-text text-muted">4 decimals format without persistent change.</span>
		</div>
		<div class="col-sm-2 form-control-plaintext">{{formData.value.number6}}</div>
		<div class="col-sm-2">
			<button class="btn btn-secondary" (click)="setNumber6()">Set value</button>
		</div>
	</div>
</form>
<or-api component="number-format"></or-api>
