//
// Alert - Mixins
// --------------------------------------------------

@mixin alert-style($bg, $icon, $icon-bg, $close, $close-hover) {

	@include notification-style($bg, $icon, $icon-bg);

	&.alert-dismissible {
		.close {
			opacity: 1;
			color: $close;
			&:hover {
				color: $close-hover;
			}
		}
	}
}
