@import "layout";
//
// Icon - Mixins
// --------------------------------------------------
// Based on FontAwesome icons.
// Usage:
//   .foo {
//      @include icon($fa-var-flag);
//   }

@mixin icon-base() {
	display: inline-block;
	font: normal normal normal 1rem FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin icon($icon, $layer: before, $min-width: 15px) {
	@include layer($layer) {
		min-width: $min-width;
		content: $icon;

		//@include fa-icon(); // TODO Uncomment & remove below when https://github.com/sass/sass/issues/739
		@include icon-base();
	}
}

@mixin icon-content($icon, $layer: before) {
	@include layer($layer) {
		content: $icon;
	}
}


