@import "../variables";

@mixin nav-hover() {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	border-left: $brand-line-width solid $brand-accent;

	.nav-modal & {
		left: -$brand-line-width;
	}
}

@mixin nav-indent($base: 0) {
	$base: $base +  2 * $spacing-default;
	$base-md: $base +  2 * $spacing-md;

	.nav-tree > li > .nav-link {
		padding-left: $base;
	}

	.nav-tree .nav-tree > li > .nav-link {
		padding-left: $base + $spacing-md;
		font-size: 90%;
	}

	.nav-tree .nav-tree .nav-tree > li > .nav-link {
		padding-left: $base-md;
		font-size: 85%;
	}

	.nav-tree .nav-tree .nav-tree .nav-tree > li > .nav-link {
		padding-left: $base-md + $spacing-sm;
		font-size: 80%;
	}

	.nav-tree .nav-tree .nav-tree .nav-tree .nav-tree > li > .nav-link {
		padding-left: $base-md + 2 * $spacing-sm;
		font-size: 75%;
	}
}
