@import "icon";
@import "../variables";

//
// Notification - Mixins
// --------------------------------------------------
$notification-symbol-width: 50px;

@mixin notification-base() {
	position: relative;
	padding-left: $notification-symbol-width + $spacing-default;

	&:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: $notification-symbol-width;
		height: 100%;
	}

	.alert-link {
		color: $brand-default;
		text-decoration: underline;
	}
}

@mixin notification-style($bg, $icon, $icon-bg, $icon-line-height: 46px) {
	@include icon($icon: $icon);
	color: $brand-default;
	background-color: $bg;

	&:before {
		background-color: $icon-bg;
		color: white;
		text-align: center;
		vertical-align: middle;
		line-height: $icon-line-height;
		font-size: 1.5rem;
	}
}
