<h3>Unordered list item: <code>&lt;ul&gt;&lt;li&gt;...&lt;/li&gt;&lt;/ul&gt;</code></h3>
<ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ul>
<hr />

<h3>Ordered list item: <code>&lt;ol&gt;&lt;li&gt;...&lt;/li&gt;&lt;/ol&gt;</code></h3>
<ol>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ol>
<hr />

<h3>Ordered list item with title: <code>ob-list-title</code></h3>
<div class="ob-list-title">List title</div>
<ol>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
</ol>
<hr />

<h3>Description list: <code>&lt;dl&gt;&lt;dt&gt;...&lt;/dt&gt;&lt;/dl&gt;</code></h3>
<dl>
	<dt>Description list title 1</dt>
	<dd>Description list data 1.1</dd>
	<dd>Description list data 1.2</dd>
</dl>
<hr />

<h3>Horizontal description list: <code>ob-horizontal</code></h3>
<dl class="ob-horizontal">
	<dt>A horizontal title 1</dt>
	<dd>Normal horizontal list data 1</dd>
	<dt>A second horizontal title 2</dt>
	<dd>Normal horizontal list data 2</dd>
	<dt>A third horizontal title 3</dt>
	<dd>Normal horizontal list data 3.1</dd>
	<dd>Normal horizontal list data 3.2</dd>
</dl>
<hr />

<h3>Right-aligned horizontal description list: <code>ob-horizontal ob-right-aligned</code></h3>
<dl class="ob-horizontal ob-right-aligned">
	<dt>A horizontal title 1</dt>
	<dd>Normal horizontal list data 1</dd>
	<dt>A second horizontal title 2</dt>
	<dd>Normal horizontal list data 2</dd>
	<dt>A third horizontal title 3</dt>
	<dd>Normal horizontal list data 3.1</dd>
	<dd>Normal horizontal list data 3.2</dd>
</dl>
