<h1>Block elements</h1>

<h2><code>&lt;p&gt;</code> paragraphs</h2>
<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a tortor id nisi hendrerit convallis. Duis ac dui et massa viverra porttitor. Quisque et ante
	ante. Nam urna turpis, aliquam ultrices euismod at, vehicula in ligula. Curabitur id lobortis odio. Nunc venenatis, nibh vel tincidunt tristique, lectus
	enim cursus risus, eu elementum risus risus ac massa. Morbi imperdiet blandit odio, vitae dapibus dolor maximus eget. Nulla ac maximus ante, ac porta eros.
	Praesent nec tristique dui, id sollicitudin dolor. Curabitur justo justo, tempor pretium auctor eu, sodales nec nisi. Curabitur iaculis mauris velit, a
	faucibus sem cursus vel. Nam fermentum malesuada tellus nec malesuada. Mauris ipsum tellus, ultricies in eros non, fermentum ultricies dui. Integer rhoncus
	tellus vitae ante bibendum, quis vulputate dui varius. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
</p>
<p>
	Sed mattis consequat erat id ullamcorper. Cras in eleifend nisl, ac pharetra urna. Sed feugiat malesuada lectus, vitae laoreet lacus blandit ac. Nunc
	porttitor, eros sit amet vulputate egestas, mi quam rhoncus urna, non tincidunt augue dolor non magna. Nam ex eros, egestas vitae interdum vel, sagittis vel
	arcu. Morbi sem risus, mollis auctor vulputate ac, sollicitudin ut urna. Suspendisse tincidunt ipsum eget ipsum imperdiet finibus. Morbi pulvinar dui vel
	mauris bibendum mollis. Donec lectus libero, lobortis quis quam nec, imperdiet accumsan sapien. Pellentesque obnare, obci id blandit ullamcorper, felis enim
	congue tellus, nec ultricies neque sem nec ipsum. Nullam tristique, libero ac pharetra venenatis, neque augue eleifend lectus, non interdum mi nisi at enim.
	Morbi volutpat id nulla eget rhoncus. Duis posuere bibendum risus, eget malesuada nunc lobortis sed. Pellentesque iaculis consequat urna. Duis ligula
	libero, tempus eget sapien vitae, eleifend congue erat.
</p>
<p>
	Nunc id aliquet nunc. Sed sed nunc erat. Mauris lacinia, turpis sit amet obnare condimentum, est tellus vestibulum lorem, ullamcorper semper leo nunc at
	felis. Donec sed arcu id nibh pulvinar pulvinar. Fusce pulvinar gravida elit feugiat tincidunt. Mauris purus sapien, blandit quis semper id, tincidunt
	semper obci. Duis eget sem non dolor lacinia aliquam eget sit amet eros. Pellentesque luctus odio nisi, at mattis dui tempus ut. Vestibulum euismod sit amet
	tortor quis vestibulum. Pellentesque tincidunt neque nec aliquet bibendum. Morbi vestibulum eros augue, ut rhoncus lacus molestie ut.
</p>
<p>
	Nunc consectetur at dolor id malesuada. Curabitur vehicula ante in sem convallis pellentesque. Integer molestie purus at metus maximus, quis sollicitudin
	eros venenatis. Sed accumsan ligula non viverra cursus. Donec neque tellus, facilisis sit amet pharetra obnare, molestie et risus. Vestibulum sed auctor
	lacus. Fusce mollis euismod est lacinia blandit. Nunc quis pharetra ex, vitae condimentum elit.
</p>

<h2><code>&lt;blockquote&gt;</code> blockquote</h2>
<blockquote cite="https://www.huxley.net/bnw/four.html">
	<p>Words can be like X-rays, if you use them properly—they’ll go through anything. You read and you’re pierced.</p>
	<footer>—Aldous Huxley, <cite>Brave New World</cite></footer>
</blockquote>

<h2><code>&lt;address&gt;</code> address</h2>
<address>
	John Doe<br />
	123 Somewhere St.<br />
	City, State<br />
	<a href="mailto:john@doe.com">jim@rock.com</a><br />
	<a href="tel:+13115552368">(311) 555-2368</a>
</address>

<h2><code>&lt;pre&gt;</code> preformatted text (usually use for code samples)</h2>
<pre>
import {{ "{" }}}MasterLayoutModule, NotificationModule, ...} from '@oblique/oblique';

@NgModule({{ "{" }}}
	declarations: [...],
	imports: [
	...,
	MasterLayoutModule,
	NotificationModule,
	...
],
...,
})
export class AppModule {{ "{" }}}}
	</pre
>

<h2><code>fieldset</code> and <code>legend</code> fieldset with a legend</h2>
<fieldset>
	<legend>Name</legend>
	<form>
		<div>
			<label>First name</label>
			<input />
		</div>
		<div>
			<label>Last name</label>
			<input />
		</div>
	</form>
</fieldset>
<fieldset>
	<legend>Credentials</legend>
	<form>
		<div>
			<label>Username</label>
			<input />
		</div>
		<div>
			<label>Password</label>
			<input />
		</div>
	</form>
</fieldset>
