<p>Default material table with the <code>ob-table</code> class.</p>
<table mat-table class="ob-table" [dataSource]="dataSource">
	<caption>
		Characteristics of periodical elements
	</caption>
	<ng-container matColumnDef="position">
		<th *matHeaderCellDef mat-header-cell scope="col">No.</th>
		<td *matCellDef="let element" mat-cell>{{ element.position }}</td>
	</ng-container>

	<ng-container matColumnDef="name">
		<th *matHeaderCellDef mat-header-cell scope="col">Name</th>
		<th *matCellDef="let element" mat-header-cell scope="row">{{ element.name }}</th>
	</ng-container>

	<ng-container matColumnDef="weight">
		<th *matHeaderCellDef mat-header-cell scope="col">Weight</th>
		<td *matCellDef="let element" mat-cell>{{ element.weight }}</td>
	</ng-container>

	<ng-container matColumnDef="symbol">
		<th *matHeaderCellDef mat-header-cell scope="col">Symbol</th>
		<td *matCellDef="let element" mat-cell>{{ element.symbol }}</td>
	</ng-container>

	<tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
	<tr *matRowDef="let row; columns: displayedColumns" mat-row></tr>
</table>
