<div class="default-layout notification-sample">
	<h2 class="page-header">{{'i18n.routes.samples.http-interceptor.title' | translate}}</h2>
	<p class="lead">Custom HTTP interception for Oblique.</p>
	<div class="row">
		<div class="col-md-6 mb-3">
			<div class="card h-100">
				<h3 class="card-header">Logs</h3>
				<div class="card-body notification-sample-preview">
					<div class="smaller" *ngFor="let log of logs">{{log}}</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="card h-100">
				<h3 class="card-header">Controls</h3>
				<div class="card-body">
					<div class="form-group">
						<label>Request</label>
						<div class="btn-group btn-group-toggle w-100" ngbRadioGroup name="messageWithParams" [(ngModel)]="messageWithParams">
							<label ngbButtonLabel class="btn-success">
								<input ngbButton type="radio" (click)="request200()"> 200 OK
							</label>
							<label ngbButtonLabel class="btn-danger">
								<input ngbButton type="radio" (click)="request404()"> 404 NOT FOUND
							</label>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-4 col-form-label">is silent</label>
						<div class="col-8">
							<div [(ngModel)]="isSilent" ngbRadioGroup name="isSilent" class="btn-group-toggle">
								<label ngbButtonLabel class="btn btn-secondary" ngbTooltip="The next request should be silenced in case of response error.">
									<input ngbButton type="radio" [value]="true"> Yes
								</label>
								<label ngbButtonLabel class="btn btn-secondary" ngbTooltip="The next request should display notification in case of response error.">
									<input ngbButton type="radio" [value]="false"> No
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-4 col-form-label">is background</label>
						<div class="col-8">
							<div [(ngModel)]="isBackground" ngbRadioGroup name="isBackground" class="btn-group-toggle">
								<label ngbButtonLabel class="btn btn-secondary" ngbTooltip="The next request should run in the background and thus no spinner will be displayed">
									<input ngbButton type="radio" [value]="true"> Yes
								</label>
								<label ngbButtonLabel class="btn btn-secondary" ngbTooltip="The next request will trigger a spinner as normal">
									<input ngbButton type="radio" [value]="false"> No
								</label>
							</div>
						</div>
					</div>
					<div class="form-group row">
						<label class="col-4 col-form-label">custom Error handling</label>
						<div class="col-8">
							<div [(ngModel)]="customError" ngbRadioGroup name="customError" class="btn-group-toggle">
								<label ngbButtonLabel class="btn btn-secondary" ngbTooltip="The next request will use custom error handling">
									<input ngbButton type="radio" [value]="true"> Yes
								</label>
								<label ngbButtonLabel class="btn btn-secondary" ngbTooltip="The next request will use default error handling">
									<input ngbButton type="radio" [value]="false"> No
								</label>
							</div>
						</div>
					</div>
				</div>
			</div>
			<router-outlet></router-outlet>
		</div>
	</div>
</div>
