<h2>Popover</h2>
<sc-description component="popover"></sc-description>
<ob-column-layout [left]="false">
	<ng-container column-main-content>
		<div class="large-popover">
			<button
				mat-raised-button
				[ngClass]="openPopoverPosition"
				[obPopover]="popover"
				[placement]="placement"
				[toggleHandle]="toggleHandle"
				[closeOnlyOnToggle]="closeOnlyOnToggle"
				id="poptest"
				*ngIf="toggleHandle === toggleTypeClick || toggleHandle === undefined"
			>
				Open Popover
			</button>
			<p
				tabindex="0"
				[ngClass]="openPopoverPosition"
				[obPopover]="popover"
				[placement]="placement"
				[toggleHandle]="toggleHandle"
				*ngIf="toggleHandle === toggleTypeHover"
			>
				Open Popover
			</p>
			<ng-template #popover>
				<p>Popover example. Here goes your content! {{ param }}</p>
				<button mat-button>Click me!</button>
			</ng-template>
		</div>
	</ng-container>
	<ng-container column-right-content>
		<fieldset>
			<legend>Alignment</legend>
			<mat-select [(ngModel)]="this.placement">
				<mat-option value="auto">Auto</mat-option>
				<mat-option value="top-start">Top left</mat-option>
				<mat-option value="top">Top center</mat-option>
				<mat-option value="top-end">Top right</mat-option>
				<mat-option value="right-start">Right top</mat-option>
				<mat-option value="right">Right center</mat-option>
				<mat-option value="right-end">Right bottom</mat-option>
				<mat-option value="bottom-start">Bottom left</mat-option>
				<mat-option value="bottom">Bottom center</mat-option>
				<mat-option value="bottom-end">Bottom right</mat-option>
				<mat-option value="left-start">Left top</mat-option>
				<mat-option value="left">Left center</mat-option>
				<mat-option value="left-end">Left bottom</mat-option>
			</mat-select>
		</fieldset>
		<fieldset>
			<legend>Toggle position</legend>
			<mat-radio-group [(ngModel)]="this.openPopoverPosition">
				<mat-radio-button value="left">Left</mat-radio-button>
				<mat-radio-button value="center">Center</mat-radio-button>
				<mat-radio-button value="right">Right</mat-radio-button>
			</mat-radio-group>
		</fieldset>
		<fieldset>
			<legend>Toggle handle</legend>
			<mat-radio-group [(ngModel)]="this.toggleHandle">
				<mat-radio-button [value]="undefined">Not set</mat-radio-button>
				<mat-radio-button [value]="toggleTypeHover">Hover</mat-radio-button>
				<mat-radio-button [value]="toggleTypeClick">Click</mat-radio-button>
			</mat-radio-group>
		</fieldset>
		<fieldset *ngIf="toggleHandle === toggleTypeClick || toggleHandle === undefined">
			<legend>Close only on toggle</legend>
			<mat-radio-group [(ngModel)]="this.closeOnlyOnToggle">
				<mat-radio-button [value]="undefined">Not set</mat-radio-button>
				<mat-radio-button [value]="true">true</mat-radio-button>
				<mat-radio-button [value]="false">false</mat-radio-button>
			</mat-radio-group>
		</fieldset>
	</ng-container>
</ob-column-layout>
<sc-api component="popover"></sc-api>
