<h2>Popover</h2>
<sc-description component="popover"></sc-description>
<ob-column-layout [left]="false">
	<ng-container column-main-content>
		<div class="large-popover">
			<button mat-raised-button [ngClass]="this.openPopoverPosition" [obPopover]="popover" [placement]="placement" id="poptest">Open Popover</button>
			<ng-template #popover>
				<p>Popover example. Here goes your content! {{ param }}</p>
				<button mat-button>Click me!</button>
			</ng-template>
		</div>
	</ng-container>
	<ng-container column-right-content>
		<legend>Alignment</legend>
		<mat-select [(ngModel)]="this.placement">
			<mat-option value="auto">Auto</mat-option>
			<mat-option value="top-start">Top left</mat-option>
			<mat-option value="top">Top center</mat-option>
			<mat-option value="top-end">Top right</mat-option>
			<mat-option value="right-start">Right top</mat-option>
			<mat-option value="right">Right center</mat-option>
			<mat-option value="right-end">Right bottom</mat-option>
			<mat-option value="bottom-start">Bottom left</mat-option>
			<mat-option value="bottom">Bottom center</mat-option>
			<mat-option value="bottom-end">Bottom right</mat-option>
			<mat-option value="left-start">Left top</mat-option>
			<mat-option value="left">Left center</mat-option>
			<mat-option value="left-end">Left bottom</mat-option>
		</mat-select>
		<legend>Button position</legend>
		<mat-radio-group [(ngModel)]="this.openPopoverPosition">
			<mat-radio-button value="left">Left</mat-radio-button>
			<mat-radio-button value="center">Center</mat-radio-button>
			<mat-radio-button value="right">Right</mat-radio-button>
		</mat-radio-group>
	</ng-container>
</ob-column-layout>
<sc-api component="popover"></sc-api>
