.left {
	float: left;
}

.right {
	float: right;
}

.center {
	margin: auto;
	display: block;
}

.large-popover {
	overflow-y: scroll;
	border-radius: 1em;
	height: 600px;
	width: 600px;
	border: solid black 1px;
	position: relative;
}

.large-popover:before {
	height: 300px;
	content: "";
	width: 1px;
	display: block;
}

.large-popover:after {
	height: 600px;
	content: "";
	width: 1px;
	display: block;
}
