<table class="ob-table">
	<thead>
		<tr>
			<th></th>
			<th>Text</th>
			<th>Checkbox</th>
			<th>Radio</th>
			<th>Select</th>
			<th>Textarea</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<label>Default</label>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Default</mat-label>
					<input type="text" matInput placeholder="Default" />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox>Default</mat-checkbox>
			</td>
			<td>
				<mat-radio-group>
					<mat-radio-button value="1">Default</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Default</mat-label>
					<mat-select>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Default</mat-label>
					<textarea matInput placeholder="Default"></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Primary</label>
			</td>
			<td>
				<mat-form-field color="primary">
					<mat-label>Primary</mat-label>
					<input type="text" matInput placeholder="Primary" />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox color="primary">Primary</mat-checkbox>
			</td>
			<td>
				<mat-radio-group color="primary">
					<mat-radio-button value="1">Primary</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field color="primary">
					<mat-label>Primary</mat-label>
					<mat-select>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field color="primary">
					<mat-label>Primary</mat-label>
					<textarea matInput placeholder="Primary"></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Accent</label>
			</td>
			<td>
				<mat-form-field color="accent">
					<mat-label>Accent</mat-label>
					<input type="text" matInput placeholder="Accent" />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox color="accent">Accent</mat-checkbox>
			</td>
			<td>
				<mat-radio-group color="accent">
					<mat-radio-button value="1">Accent</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field color="accent">
					<mat-label>Accent</mat-label>
					<mat-select>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field color="accent">
					<mat-label>Accent</mat-label>
					<textarea matInput placeholder="Accent"></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Warn</label>
			</td>
			<td>
				<mat-form-field color="warn">
					<mat-label>Warn</mat-label>
					<input type="text" matInput placeholder="Warn" />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox color="warn">Warn</mat-checkbox>
			</td>
			<td>
				<mat-radio-group color="warn">
					<mat-radio-button value="1">Warn</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field color="warn">
					<mat-label>Warn</mat-label>
					<mat-select>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field color="warn">
					<mat-label>Warn</mat-label>
					<textarea matInput placeholder="Warn"></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Disabled</label>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Disabled</mat-label>
					<input type="text" matInput placeholder="Disabled" disabled />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox disabled>Disabled</mat-checkbox>
			</td>
			<td>
				<mat-radio-group disabled>
					<mat-radio-button value="1">Disabled</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Disabled</mat-label>
					<mat-select disabled>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Disabled</mat-label>
					<textarea matInput placeholder="Disabled" disabled></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Read only</label>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Read only</mat-label>
					<input type="text" matInput placeholder="Read only" readonly />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox readonly>Read only</mat-checkbox>
			</td>
			<td>
				<mat-radio-group readonly>
					<mat-radio-button value="1">Read only</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Read only</mat-label>
					<mat-select readonly>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Read only</mat-label>
					<textarea matInput placeholder="Read only" readonly></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Large</label>
			</td>
			<td>
				<mat-form-field class="mat-form-field-lg">
					<mat-label>Large</mat-label>
					<input type="text" matInput placeholder="Large" />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox class="mat-form-field-lg">Large</mat-checkbox>
			</td>
			<td>
				<mat-radio-group class="mat-form-field-lg">
					<mat-radio-button value="1">Large</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field class="mat-form-field-lg">
					<mat-label>Large</mat-label>
					<mat-select>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="mat-form-field-lg">
					<mat-label>Large</mat-label>
					<textarea matInput placeholder="Large"></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Small</label>
			</td>
			<td>
				<mat-form-field class="mat-form-field-sm">
					<mat-label>Small</mat-label>
					<input type="text" matInput placeholder="Small" />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox class="mat-form-field-sm">Small</mat-checkbox>
			</td>
			<td>
				<mat-radio-group class="mat-form-field-sm">
					<mat-radio-button value="1">Small</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field class="mat-form-field-sm">
					<mat-label>Small</mat-label>
					<mat-select>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="mat-form-field-sm">
					<mat-label>Small</mat-label>
					<textarea matInput placeholder="Small"></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Mandatory</label>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Mandatory</mat-label>
					<input type="text" matInput placeholder="Mandatory" required ngModel />
				</mat-form-field>
			</td>
			<td>
				<mat-checkbox required ngModel>Mandatory</mat-checkbox>
			</td>
			<td>
				<mat-radio-group>
					<mat-radio-button value="1" required>Mandatory</mat-radio-button>
				</mat-radio-group>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Mandatory</mat-label>
					<mat-select required ngModel>
						<mat-option [value]=""></mat-option>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Mandatory</mat-label>
					<textarea matInput placeholder="Mandatory" required ngModel></textarea>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Hints</label>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Hint</mat-label>
					<input type="text" matInput placeholder="Hint" />
					<mat-hint>Hint text</mat-hint>
					<mat-error>Error text</mat-error>
				</mat-form-field>
			</td>
			<td>N / A</td>
			<td>N / A</td>
			<td>
				<mat-form-field>
					<mat-label>Hint</mat-label>
					<mat-select>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
					<mat-hint>Hint text</mat-hint>
					<mat-error>Error text</mat-error>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Hint</mat-label>
					<textarea matInput placeholder="Hint"></textarea>
					<mat-hint>Hint text</mat-hint>
					<mat-error>Error text</mat-error>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Multiline</label>
			</td>
			<td>
				<mat-form-field>
					<mat-label>Multiline</mat-label>
					<input type="text" matInput placeholder="Multiline" required ngModel />
					<mat-hint>Trigger an error by setting a value and deleting it</mat-hint>
					<mat-error
						>A really loooooooooong error message that will span over multiple rows. This demonstrate how the message remains readable
						without breaking the layout.</mat-error
					>
				</mat-form-field>
			</td>
			<td>N / A</td>
			<td>N / A</td>
			<td>
				<mat-form-field class="mat-form-field-lg">
					<mat-label>Multiline</mat-label>
					<mat-select required ngModel>
						<mat-option [value]=""></mat-option>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
					<mat-hint>Trigger an error by setting a value and deleting it</mat-hint>
					<mat-error
						>A really loooooooooong error message that will span over multiple rows. This demonstrate how the message remains readable
						without breaking the layout.</mat-error
					>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="mat-form-field-lg">
					<mat-label>Multiline</mat-label>
					<textarea matInput placeholder="Mandatory" required ngModel></textarea>
					<mat-hint>Trigger an error by setting a value and deleting it</mat-hint>
					<mat-error
						>A really loooooooooong error message that will span over multiple rows. This demonstrate how the message remains readable
						without breaking the layout.</mat-error
					>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td>
				<label>Multiline small</label>
			</td>
			<td>
				<mat-form-field class="mat-form-field-sm">
					<mat-label>Multiline</mat-label>
					<input type="text" matInput placeholder="Multiline" required ngModel />
					<mat-hint>Trigger an error by setting a value and deleting it</mat-hint>
					<mat-error
						>A really loooooooooong lllllllllllllll<br />
						llllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllllll</mat-error
					>
				</mat-form-field>
			</td>
			<td>N / A</td>
			<td>N / A</td>
			<td>
				<mat-form-field class="mat-form-field-sm">
					<mat-label>Multiline</mat-label>
					<mat-select required ngModel>
						<mat-option [value]=""></mat-option>
						<mat-option [value]="1">One</mat-option>
						<mat-option [value]="2">Two</mat-option>
						<mat-option [value]="3">Three</mat-option>
						<mat-option [value]="4">Four</mat-option>
						<mat-option [value]="5">Five</mat-option>
					</mat-select>
					<mat-hint>Trigger an error by setting a value and deleting it</mat-hint>
					<mat-error
						>A really loooooooooong error message that will span over multiple rows. This demonstrate how the message remains readable
						without breaking the layout.</mat-error
					>
				</mat-form-field>
			</td>
			<td>
				<mat-form-field class="mat-form-field-sm">
					<mat-label>Multiline</mat-label>
					<textarea matInput placeholder="Mandatory" required ngModel></textarea>
					<mat-hint>Trigger an error by setting a value and deleting it</mat-hint>
					<mat-error
						>A really loooooooooong error message that will span over multiple rows. This demonstrate how the message remains readable
						without breaking the layout.</mat-error
					>
				</mat-form-field>
			</td>
		</tr>
	</tbody>
</table>
