@if (cmsData$ | async; as cmsData) {
	<div class="title-container">
		<h1>{{ cmsData.title }}</h1>
		@if (cmsData.deprecation) {
			<mat-chip-set>
				<mat-chip class="error">Deprecated</mat-chip>
			</mat-chip-set>
		}
	</div>
	@if (cmsData.deprecation) {
		<div class="deprecation-container" [innerHtml]="cmsData.deprecation | safeHtml"></div>
	}
	<app-tabs [idPrefix]="componentId" [id]="componentId | id: ['tabs']" [selectedTab]="cmsData.tab" (tabChanged)="handleTabChanged($event)">
		<app-tab name="Examples" [hidden]="!!!cmsData.source" [id]="componentId | id: ['examples-tab']">
			<ng-template appCodeExample [codeExampleComponent]="cmsData.source" />
		</app-tab>
		<app-tab name="UI/UX" [hidden]="!!!cmsData.uiUx" [id]="componentId | id: ['ui-ux-tab']">
			<div [id]="componentId | id: ['html-container']" [innerHtml]="cmsData.uiUx | safeHtml"></div
		></app-tab>
		<app-tab name="API" [hidden]="!!!cmsData.api" [id]="componentId | id: ['api-tab']">
			<div [id]="componentId | id: ['html-container']" [innerHtml]="cmsData.api | safeHtml"></div>
		</app-tab>
	</app-tabs>
}
