<h1>{{ (cmsData$ | async)?.title }}</h1>
<app-tabs #tabs [idPrefix]="componentId" [id]="componentId | id: ['tabs']" (tabChanged)="handleTabChanged($event)">
	<app-tab name="Examples" [hidden]="!!!(cmsData$ | async)?.source" [id]="componentId | id: ['examples-tab']">
		<ng-template appCodeExample />
	</app-tab>
	<app-tab name="UI/UX" [hidden]="!!!(cmsData$ | async)?.uiUx" [id]="componentId | id: ['ui-ux-tab']">
		<div [id]="componentId | id: ['html-container']" [innerHtml]="(cmsData$ | async)?.uiUx | safeHtml"></div
	></app-tab>
	<app-tab name="API" [hidden]="!!!(cmsData$ | async)?.api" [id]="componentId | id: ['api-tab']">
		<div [id]="componentId | id: ['html-container']" [innerHtml]="(cmsData$ | async)?.api | safeHtml"></div>
	</app-tab>
</app-tabs>
