<h1>{{ title }}</h1>
<app-tabs #tabs [idPrefix]="componentId" [id]="componentId | id: ['tabs']" (tabChanged)="handleTabChanged($event)">
	<app-tab name="Examples" [hidden]="!!!(codeExampleComponent$ | async)" [id]="componentId | id: ['examples-tab']">
		<ng-template appCodeExample />
	</app-tab>
	<app-tab name="UI/UX" [hidden]="!!!(uiUxContent$ | async)" [id]="componentId | id: ['ui-ux-tab']">
		<div [id]="componentId | id: ['html-container']" [innerHtml]="uiUxContent$ | async | safeHtml"></div
	></app-tab>
	<app-tab name="API" [hidden]="!!!(apiContent$ | async)" [id]="componentId | id: ['api-tab']">
		<div [id]="componentId | id: ['html-container']" [innerHtml]="apiContent$ | async | safeHtml"></div>
	</app-tab>
</app-tabs>
