<h2 id="navTreeSampleTitle" class="page-header">{{ "i18n.routes.samples.nav-tree.title" | translate }}</h2>
<ob-column-layout [left]="false" [right]="true">
	<div class="wrapper" column-main-content>
		<ob-nav-tree
			#obNavTree
			treeAriaLabelledBy="navTreeSampleTitle"
			prefix="nav-tree-sample"
			[items]="items()"
			[filterPattern]="filter.pattern"
			[hasFilter]="hasEmbeddedFilter"
		/>
		<div>
			<p>These elements are targets to be focused by the navigation tree links:</p>
			<div class="focusable-elements">
				<h3 id="alpha">Title example for alpha fragment</h3>
				<button type="button" id="beta">beta</button>
				<input type="text" id="gamma" placeholder="gamma" />
			</div>
			<router-outlet #outlet="outlet" />
			@if (!outlet.isActivated) {
				<ob-alert>
					<strong>Empty page</strong>
					<p>
						No link of the <code>nav-tree</code> has been clicked, which means the <code>router-outlet</code> is empty and there's nothing
						to see. Click on one of the navigation tree link to activate a route and see content.
					</p>
				</ob-alert>
			}
		</div>
	</div>
	<div column-right-content>
		<h2>Controls</h2>
		<fieldset>
			<legend>Options</legend>
			<mat-form-field>
				<mat-label>Filter</mat-label>
				<input #obFilterBox type="text" matInput [(ngModel)]="filter.pattern" />
			</mat-form-field>
			<mat-slide-toggle [(ngModel)]="hasEmbeddedFilter">Embedded filter?</mat-slide-toggle>
		</fieldset>
		<fieldset>
			<legend>Actions</legend>
			<button type="button" obButton mat-button (click)="obNavTree.collapseAll()"><mat-icon svgIcon="collapse" /> Collapse All</button>
			<button type="button" obButton mat-button (click)="obNavTree.expandAll()"><mat-icon svgIcon="expand" /> Expand All</button>
			<mat-slide-toggle (click)="setDisabled(0)">Disable Tree Item 1</mat-slide-toggle>
			<mat-slide-toggle (click)="setDisabled(1)">Disable Tree Item 2</mat-slide-toggle>
		</fieldset>
	</div>
</ob-column-layout>
