<h3>Router outlet</h3>
<p>In this example, all links target the very same component that displays the different parts of the url.</p>
<dl class="ob-horizontal">
	@if (url()) {
		<dt>URL segments</dt>
		<dd>
			<dl class="ob-horizontal">
				@for (url of url(); track url.param) {
					<dt>{{ url.param }}</dt>
					<dd>
						<code>{{ url.value }}</code>
					</dd>
				}
			</dl>
		</dd>
	}
	@if (queryParams()) {
		<dt>Query parameters</dt>
		<dd>
			<dl class="ob-horizontal">
				@for (queryParam of queryParams(); track queryParam.param) {
					<dt>{{ queryParam.param }}</dt>
					<dd>
						<code>{{ queryParam.value }}</code>
					</dd>
				}
			</dl>
		</dd>
	}
	@if (fragment()) {
		<dt>Fragment</dt>
		<dd>
			<code>{{ fragment() }}</code>
		</dd>
	}
</dl>
<a routerLink="/samples/nav-tree">Go back to the navigation tree root</a>
