/*
    This file is used to enhance the appearance of one or more of the Oblique code examples.
    It is NOT required in order to use any Oblique features.
*/

.ob-grid,
.ob-flex {
	& > * {
		background-color: dimgray;
		color: white;
		padding: 0.5rem;
		text-align: center;
		border: 3px solid black;
		border-radius: 0.5rem;
		font-size: larger;
		font-weight: bold;
	}
}
