<form class="form-horizontal has-validation" name="unsavedChangesForm" role="form" novalidate unsaved-changes>
	<h2 class="page-header">
		<span translate="i18n.states.samples.validation.unsavedChanges.title"></span>
		<div class="pull-right">
			<span class="fa fa-pencil-square-o text-success"
			     uib-tooltip="Form does not contain unsaved changes" tooltip-placement="bottom"
			     ng-if="!unsavedChangesForm.$dirty"></span>
			<span class="fa fa-pencil-square-o text-warning"
			      uib-tooltip="Form contains unsaved changes" tooltip-placement="bottom"
			      ng-if="unsavedChangesForm.$dirty"></span>
		</div>
	</h2>
	<uib-tabset>
		<uib-tab index="0" heading="Form One (tab tracked)"
		         deselect="orUnsavedChangesController.check($event, tabOneForm)">
			<ng-form name="tabOneForm">
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Text</label>
					<div class="col-sm-8">
						<input name="text" type="text" class="form-control" ng-model="ctrl.one.text" />
					</div>
				</div>
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Number</label>
					<div class="col-sm-8">
						<input name="number" type="text" class="form-control" ng-model="ctrl.one.number" number-format />
					</div>
				</div>
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Integer</label>
					<div class="col-sm-8">
						<input name="integer" type="number" class="form-control"
						       ng-model="ctrl.one.integer" />
					</div>
				</div>
				<div class="form-group" has-error="date">
					<label class="col-sm-4 control-label">Date</label>
					<div class="col-sm-4">
						<date-picker name="date" ng-model="ctrl.one.date"></date-picker>
					</div>
				</div>
				<hr />
				<div class="row">
					<label class="col-sm-4 control-label">Model data</label>
					<div class="col-sm-8">
						<pre>{{ctrl.one | json}}</pre>
					</div>
				</div>
			</ng-form>
		</uib-tab>
		<uib-tab index="1" heading="Form Two">
			<ng-form name="tabTwoForm">
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Text</label>
					<div class="col-sm-8">
						<input name="text" type="text" class="form-control" ng-model="ctrl.two.text" />
					</div>
				</div>
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Number</label>
					<div class="col-sm-8">
						<input name="number" type="text" class="form-control" ng-model="ctrl.two.number" number-format />
					</div>
				</div>
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Integer</label>
					<div class="col-sm-8">
						<input name="integer" type="number" class="form-control"
						       ng-model="ctrl.two.integer" />
					</div>
				</div>
				<div class="form-group" has-error="date">
					<label class="col-sm-4 control-label">Date</label>
					<div class="col-sm-4">
						<date-picker name="date" ng-model="ctrl.two.date"></date-picker>
					</div>
				</div>
				<hr />
				<div class="row">
					<label class="col-sm-4 control-label">Model data</label>
					<div class="col-sm-8">
						<pre>{{ctrl.two | json}}</pre>
					</div>
				</div>
			</ng-form>
		</uib-tab>
		<uib-tab index="2" heading="Tab Three (tab tracked)"
		         deselect="orUnsavedChangesController.check($event, tabThreeForm)">
			<ng-form name="tabThreeForm">
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Text</label>
					<div class="col-sm-8">
						<input name="text" type="text" class="form-control" ng-model="ctrl.three.text" />
					</div>
				</div>
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Number</label>
					<div class="col-sm-8">
						<input name="number" type="text" class="form-control" ng-model="ctrl.three.number" number-format />
					</div>
				</div>
				<div class="form-group" has-error>
					<label class="col-sm-4 control-label">Integer</label>
					<div class="col-sm-8">
						<input name="integer" type="number" class="form-control"
						       ng-model="ctrl.three.integer" />
					</div>
				</div>
				<div class="form-group" has-error="date">
					<label class="col-sm-4 control-label">Date</label>
					<div class="col-sm-4">
						<date-picker name="date" ng-model="ctrl.three.date"></date-picker>
					</div>
				</div>
				<hr />
				<div class="row">
					<label class="col-sm-4 control-label">Model data</label>
					<div class="col-sm-8">
						<pre>{{ctrl.three | json}}</pre>
					</div>
				</div>
			</ng-form>
		</uib-tab>
	</uib-tabset>
	<hr />
	<div class="form-actions">
		<button type="submit" class="btn btn-primary" ng-click="ctrl.save(unsavedChangesForm)" ng-disabled="!unsavedChangesForm.$valid">Save</button>
	</div>
</form>



