<div class="input-group control-action datepicker" ng-class="{'input-group-sm' : controlSize == 'sm'}">
	<span ng-if="label" for="{{controlId}}" class="input-group-addon">{{label}}</span>
	<div class="control-action">
		<input name="{{name}}" type="text" class="form-control" placeholder="{{('common.date.format.' + config.datepickerPopup) | translate}}"
		       ng-attr-id="{{controlId}}"
		       ng-model="ngModel" 
		       min-date="minDate"
		       max-date="maxDate"
		       ng-class="{'form-control-activable' : !disabled && !editable}"
		       ng-disabled="disabled" ng-required="required" ng-readonly="disabled || !editable"
		       datepicker-popup
		       is-open="opened" enter="close()"
		       ng-model-options="{ debounce: { 'default': 650, 'blur': 0 } }"
		       schema-validate />
		<button class="control-action-trigger" type="button" ng-click="clear($event)" ng-if="!required && showClearControl" ng-disabled="disabled">
			<span class="fa fa-times-circle"></span>
		</button>
	</div>
	<span class="input-group-btn">
		<button class="btn btn-default" type="button" ng-click="toggle($event)" ng-disabled="disabled">
			<span class="fa fa-calendar"></span>
		</button>
	</span>
</div>
