<form class="ob-inline-form">
	<mat-form-field>
		<mat-label>Input</mat-label>
		<input type="text" matInput placeholder="Input" />
	</mat-form-field>
	<mat-checkbox>Checkbox</mat-checkbox>
	<mat-radio-group>
		<mat-radio-button>Radio button</mat-radio-button>
	</mat-radio-group>
	<mat-form-field>
		<mat-label>Select</mat-label>
		<mat-select>
			<mat-option [value]="1">One</mat-option>
			<mat-option [value]="2">Two</mat-option>
			<mat-option [value]="3">Three</mat-option>
			<mat-option [value]="4">Four</mat-option>
			<mat-option [value]="5">Five</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field>
		<mat-label>Textarea</mat-label>
		<textarea matInput placeholder="Default"></textarea>
	</mat-form-field>
</form>
