/*
	This file is used to style one or more of the Oblique code examples.
	It is NOT required in order to use any Oblique components.
*/
@use "sass:selector";

/*
	The .right-align block below has been added specifically to demonstrate how an input field can be right aligned.
*/
.right-align {
	&.ob-form-field-has-text-suffix {
		.mat-mdc-input-element {
			padding-right: 0;
		}
	}

	.mat-mdc-input-element {
		text-align: right;
	}

	&::ng-deep {
		:host & {
			.mdc-notched-outline .mdc-notched-outline__leading {
				flex-grow: 1;
			}

			.mdc-notched-outline__leading {
				flex-grow: 0;
			}

			.mat-mdc-form-field-hint-wrapper {
				justify-content: flex-end;

				.mat-mdc-form-field-hint-spacer {
					flex: unset;
				}
			}
		}

		@at-root #{selector.append(".mat-mdc-form-field.ob-form-field", &)} {
			:host & {
				.mdc-notched-outline .mdc-notched-outline__notch {
					border-left: unset;
				}
			}
		}

		@at-root #{selector.append(".mat-form-field-invalid", &)} .mat-mdc-form-field-infix::after {
			:host & {
				right: unset;
				left: 0;
			}
		}

		@at-root #{selector.append(".distance", &)} {
			:host & {
				.mdc-floating-label:not(.mdc-floating-label--float-above) {
					// This value is specific to the .distance form field and would need to be adjusted if you want to right align your own form field.
					padding-left: 64px;
					margin-left: 0;
				}
			}
		}

		@at-root #{selector.append(".edge-case", &)} {
			:host & {
				.mdc-floating-label:not(.mdc-floating-label--float-above) {
					// These values are specific to the .edge-case form field and would need to be adjusted if you want to right align your own form field.
					padding-left: 48px;
					padding-right: 30px;
					margin-left: 0;
				}
			}
		}
	}
}

/*
	This is just to ensure that the text prefix and suffix don't get wrapped
*/
.text-prefix-and-suffix {
	min-width: 23rem;
}
