<div>
	<mat-form-field>
		<mat-label>Icon prefix</mat-label>
		<input type="text" matInput placeholder="Icon prefix" ngModel name="icon-prefix" />
		<mat-icon svgIcon="user" matIconPrefix />
	</mat-form-field>
</div>
<div>
	<mat-form-field>
		<mat-label>Distance</mat-label>
		<input type="number" matInput placeholder="Distance" ngModel name="distance-km-suffix" />
		<span matTextSuffix>km</span>
		<mat-hint>Default alignment</mat-hint>
	</mat-form-field>
</div>
<div>
	<mat-form-field class="right-align distance">
		<mat-label>Distance</mat-label>
		<input type="number" matInput placeholder="Distance" ngModel name="distance-km-suffix" />
		<span matTextSuffix>km</span>
		<mat-hint>Right aligned</mat-hint>
	</mat-form-field>
</div>
<div>
	<mat-form-field class="text-prefix-and-suffix">
		<mat-label>Text prefix & suffix</mat-label>
		<input type="text" matInput placeholder="Text prefix & suffix" ngModel name="text-prefix-and-suffix" />
		<span matTextPrefix>Text Prefix</span>
		<span matTextSuffix>Text Suffix</span>
	</mat-form-field>
</div>
<div>
	<mat-form-field>
		<mat-label>Icon prefix & suffix</mat-label>
		<input type="text" matInput placeholder="Icon prefix & suffix" ngModel name="icon-prefix-and-suffix" />
		<mat-icon svgIcon="user" matIconPrefix />
		<mat-icon svgIcon="star" matIconSuffix />
	</mat-form-field>
</div>
<div>
	<mat-form-field class="right-align edge-case">
		<mat-label>Edge case</mat-label>
		<input #htmlControl type="text" matInput placeholder="Edge case" name="edge-case" ngModel required />
		<mat-icon svgIcon="star" matIconSuffix />
		<mat-hint>Right aligned, required, icon suffix</mat-hint>
	</mat-form-field>
</div>
