<button type="button" mat-button obButton="primary" [obPopover]="popover" (visibilityChange)="setVisibility($event)">
	{{ popoverVisible ? "Close" : "Open" }} Popover
</button>
<p class="label">
	The Popover is <span class="visibility">{{ popoverVisible ? "visible" : "hidden" }}</span>
	<span *ngIf="lastVisibilityEventTimestamp"> (last event emitted at {{ lastVisibilityEventTimestamp | date: "HH:mm:ss.SSS" }})</span>.
</p>

<ng-template #popover>
	<p>Popover example. Here goes your content!</p>
</ng-template>
