<h2 class="page-header">Mandatory</h2>
<div [formGroup]="testForm">
	<mat-form-field data-test="input-required">
		<mat-label>Test input required</mat-label>
		<input type="text" matInput formControlName="inputRequired" />
	</mat-form-field>
	<mat-form-field data-test="input-dynamic-required">
		<mat-label>Test input dynamic required</mat-label>
		<input type="text" matInput formControlName="inputDynamicRequired" />
	</mat-form-field>
	<mat-form-field data-test="input-optional">
		<mat-label>Test input optional</mat-label>
		<input type="text" matInput formControlName="inputOptional" />
	</mat-form-field>
	<mat-form-field data-test="input-date-required">
		<mat-label>Test input datepicker required</mat-label>
		<input matInput [matDatepicker]="pickerRequired" formControlName="inputDateRequired" />
		<mat-datepicker-toggle matSuffix [for]="pickerRequired" />
		<mat-datepicker #pickerRequired />
	</mat-form-field>
	<mat-form-field data-test="input-date-dynamic-required">
		<mat-label>Test input datepicker dynamic required</mat-label>
		<input matInput [matDatepicker]="pickerDynamicRequired" formControlName="inputDateDynamicRequired" />
		<mat-datepicker-toggle matSuffix [for]="pickerDynamicRequired" />
		<mat-datepicker #pickerDynamicRequired />
	</mat-form-field>
	<mat-form-field data-test="input-date-optional">
		<mat-label>Test input datepicker optional</mat-label>
		<input matInput [matDatepicker]="pickerOptional" formControlName="inputDateNonRequired" />
		<mat-datepicker-toggle matSuffix [for]="pickerOptional" />
		<mat-datepicker #pickerOptional />
	</mat-form-field>
	<mat-form-field data-test="mat-select-required">
		<mat-label>Test mat-select required</mat-label>
		<mat-select formControlName="matSelectRequired">
			<mat-option [value]="1">One</mat-option>
			<mat-option [value]="2">Two</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field data-test="mat-select-dynamic-required">
		<mat-label>Test mat-select dynamic required</mat-label>
		<mat-select formControlName="matSelectDynamicRequired">
			<mat-option [value]="1">One</mat-option>
			<mat-option [value]="2">Two</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field data-test="mat-select-optional">
		<mat-label>Test mat-select optional</mat-label>
		<mat-select formControlName="matSelectOptional">
			<mat-option [value]="1">One</mat-option>
			<mat-option [value]="2">Two</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-form-field data-test="select-required">
		<mat-label>Test select required</mat-label>
		<select formControlName="selectRequired" matNativeControl>
			<option [value]="1">One</option>
			<option [value]="2">Two</option>
		</select>
	</mat-form-field>
	<mat-form-field data-test="select-dynamic-required">
		<mat-label>Test select dynamic required</mat-label>
		<select formControlName="selectDynamicRequired" matNativeControl>
			<option [value]="1">One</option>
			<option [value]="2">Two</option>
		</select>
	</mat-form-field>
	<mat-form-field data-test="select-optional">
		<mat-label>Test select optional</mat-label>
		<select formControlName="selectOptional" matNativeControl>
			<option [value]="1">One</option>
			<option [value]="2">Two</option>
		</select>
	</mat-form-field>
	<mat-form-field data-test="textarea-required">
		<mat-label>Test textarea required</mat-label>
		<textarea matInput formControlName="textareaRequired"></textarea>
	</mat-form-field>
	<mat-form-field data-test="textarea-dynamic-required">
		<mat-label>Test textarea dynamic required</mat-label>
		<textarea matInput formControlName="textareaDynamicRequired"></textarea>
	</mat-form-field>
	<mat-form-field data-test="textarea-optional">
		<mat-label>Test textarea optional</mat-label>
		<textarea matInput formControlName="textareaOptional"></textarea>
	</mat-form-field>
	<mat-label>Test mat-chip-list required</mat-label>
	<mat-chip-listbox formControlName="matChipListRequired">
		<mat-chip-option>One</mat-chip-option>
		<mat-chip-option>Two</mat-chip-option>
	</mat-chip-listbox>
	<mat-label>Test mat-chip-list dynamic required</mat-label>
	<mat-chip-listbox formControlName="matChipListDynamicRequired">
		<mat-chip-option>One</mat-chip-option>
		<mat-chip-option>Two</mat-chip-option>
	</mat-chip-listbox>
	<mat-label>Test mat-chip-list non required</mat-label>
	<mat-chip-listbox formControlName="matChipListNonRequired">
		<mat-chip-option>One</mat-chip-option>
		<mat-chip-option>Two</mat-chip-option>
	</mat-chip-listbox>
</div>

<div class="buttons-container">
	<button type="button" color="warn" mat-raised-button (click)="setRequired()">Set required</button>
	<button type="button" color="primary" mat-raised-button (click)="removeRequired()">Remove required</button>
</div>
