@import "projects/oblique/src/styles/scss/core/variables";
@import "projects/oblique/src/styles/scss/themes/bootstrap/variables";

// Mixin for generating new callout styles:
@mixin callout-styles($text, $bg, $border) {
	background-color: $bg;
	border-color: $border;

	h2, h3, h4 {
		color: $text;

		&.lead {
			border-color: fade-out($text, 0.10);
		}
	}
}

.callout {
	padding: 1.25rem;
	margin-bottom: $spacing-default;
	border-left: 3px solid transparent;

	h2, h3, h4 {
		margin-top: 0;
		margin-bottom: 5px;

		&.lead {
			border-bottom: 1px solid transparent;
			margin-bottom: 10px;
		}

		small {
			font-weight: 600;
		}
	}

	p {
		&.lead {
			font-size: 16px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	.callout-link {
		color: $brand-default;
		text-decoration: underline;
		font-weight: 700;
	}
}

.callout-default {
	@include callout-styles($brand-light, $gray-extra-light, $secondary);
}

.callout-success {
	@include callout-styles($brand-success-dark, $brand-success-light, $brand-success);
}

.callout-info {
	@include callout-styles($secondary, $brand-light, $secondary);
}

.callout-warning {
	@include callout-styles($brand-warning-dark, $brand-warning-light, $brand-warning);
}

.callout-danger {
	@include callout-styles($brand-error-dark, $brand-error-light, $brand-error);
}
