@import "../core/variables";
@import "../themes/bootstrap/variables";

// Mixin for generating new callout styles:
@mixin ob-callout-styles($text, $bg, $border) {
	background-color: $bg;
	border-color: $border;

	h2, h3, h4 {
		color: $text;

		&.lead {
			border-color: fade-out($text, 0.10);
		}
	}
}

.callout {
	padding: 1.25rem;
	margin-bottom: $ob-spacing-default;
	border-left: 3px solid transparent;

	h2, h3, h4 {
		margin-top: 0;
		margin-bottom: 5px;

		&.lead {
			border-bottom: 1px solid transparent;
			margin-bottom: 10px;
		}

		small {
			font-weight: 600;
		}
	}

	p {
		&.lead {
			font-size: 16px;
		}
		&:last-child {
			margin-bottom: 0;
		}
	}

	.callout-link {
		color: $ob-default;
		text-decoration: underline;
		font-weight: 700;
	}
}

.callout-default {
	@include ob-callout-styles($ob-light, $ob-gray-extra-light, $ob-secondary);
}

.callout-success {
	@include ob-callout-styles($ob-success-dark, $ob-success-light, $ob-success);
}

.callout-info {
	@include ob-callout-styles($ob-secondary, $ob-light, $ob-secondary);
}

.callout-warning {
	@include ob-callout-styles($ob-warning-dark, $ob-warning-light, $ob-warning);
}

.callout-danger {
	@include ob-callout-styles($ob-error-dark, $ob-error-light, $ob-error);
}
