@import "../core/variables";

.ob-nav-header {
	position: relative;
	color: $ob-default;
	font-size: $ob-font-size-base;
	border: none;

	.ob-nav-item + & {
		margin-top: $ob-spacing-sm;
	}
}

.ob-nav-header-title {
	display: block;
	font-size: inherit;
	font-weight: bold;
	color: $ob-default;
	border-bottom: 1px solid $ob-gray-light;
	padding: $ob-spacing-default - 5 $ob-spacing-default $ob-spacing-default - 5 0;
	margin: 0;

	&:hover {
		color: $ob-default;
		text-decoration: none;
	}
}
