@import "../core/variables";
@import "../core/mixins/typography";

.application {
	.tabs {
		border-bottom: 1px solid $gray-light;

		.tab-item {
			margin-bottom: -1px;
		}

		.tab-link {
			position: relative;
			padding: $spacing-xs $spacing-default;
			font-size: 1rem;
			line-height: 1.5;
			letter-spacing: 0;
			color: $brand-default;
			background-color: $white;
			text-decoration: none;
			border: 1px solid transparent;
			border-bottom-color: $gray-light;
			border-top-left-radius: $border-radius-base;
			border-top-right-radius: $border-radius-base;

			&.active {
				font-weight: bold;
			}

			&:hover,
			&:focus,
			&.active,
			&:active {
				background-color: inherit;
				color: inherit;
				border-color: $gray-light $gray-light $white;
			}

			&:hover:before,
			&.active:before {
				content: "";
				position: absolute;
				height: 3px;
				top: 0;
				left: 0;
				right: 0;
				background-color: $brand-accent;
				border-radius: $border-radius-base $border-radius-base 0 0;
			}

			&:not(.active):hover:before {
				background-color: $gray-light;
			}
		}
	}
}
