@import "../core/variables";
@import "../core/mixins/typography";

.ob-master-layout {
	.ob-tabs {
		border-bottom: 1px solid $ob-gray-light;

		.ob-tab-item {
			margin-bottom: -1px;
		}

		.ob-tab-link {
			position: relative;
			padding: $ob-spacing-xs $ob-spacing-default;
			font-size: 1rem;
			line-height: 1.5;
			letter-spacing: 0;
			color: $ob-default;
			background-color: $ob-white;
			text-decoration: none;
			border: 1px solid transparent;
			border-bottom-color: $ob-gray-light;
			border-top-left-radius: $ob-border-radius-base;
			border-top-right-radius: $ob-border-radius-base;

			&.ob-active {
				font-weight: bold;
			}

			&:hover,
			&:focus,
			&.active,
			&:active {
				background-color: inherit;
				color: inherit;
				border-color: $ob-gray-light $ob-gray-light $ob-white;
			}

			&:hover:before,
			&.active:before {
				content: "";
				position: absolute;
				height: 3px;
				top: 0;
				left: 0;
				right: 0;
				background-color: $ob-accent;
				border-radius: $ob-border-radius-base $ob-border-radius-base 0 0;
			}

			&:not(.active):hover:before {
				background-color: $ob-gray-light;
			}
		}
	}
}
