@import "projects/oblique/src/styles/scss/core/variables";

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	line-height: 1.4;
}

h1 {
	line-height: 1.5;
	font-size: 2.5rem;
	font-weight: 300;
	margin-bottom: $spacing-default;
}

h2 {
	line-height: 1.5;
	font-size: 1.75rem;
	font-weight: 400;
	margin-bottom: $spacing-default * 0.75;
}

h3 {
	font-size: 1.25rem;
	font-weight: 600;
}

h4 {
	font-size: 1rem;
	font-weight: 600;
}

h5 {
	font-size: 0.875rem;
	font-weight: 600;
}

h6 {
	font-size: 0.75rem;
	font-weight: 600;
}
