@import "~projects/oblique/src/styles/scss/core/mixins/layout";

$snippet-default-height: 350px;

.headline {
	text-align: center;
}

// Samples:
.card-footer pre {
	border: 0;
	padding: 0;
	margin: 0;

	code {
		color: #bd4147;
	}
}

.notification-sample .notification-sample-preview {
	position: relative;
	overflow: hidden;
	height: $snippet-default-height + 50;

	.notification-container {
		position: absolute;
		top: 0;
		bottom: 0;

		@include media-breakpoint-down(md) {
			// Remove padding from parent:
			right: -#{$spacing-default};
		}

		@include media-breakpoint-up(md) {
			// Remove padding from parent:
			bottom: -#{$spacing-default};
		}
	}
}

