@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins/breakpoints';

// Vendor overrides:
@import 'vendor/oblique-ui';

$snippet-default-height: 350px;

// Samples:
.card-footer pre {
	border: 0;
	padding: 0;
	margin: 0;

	code {
		color: #bd4147;
	}
}

.notification-sample .notification-sample-preview {
	position: relative;
	overflow: hidden;
	height: $snippet-default-height + 50;

	.notification-container {
		position: absolute;
		top: 0;
		bottom: 0;

		@include media-breakpoint-down(md) {
			// Remove padding from parent:
			right: -#{$spacing-default};
		}

		@include media-breakpoint-up(md) {
			// Remove padding from parent:
			bottom: -#{$spacing-default};
		}
	}
}
