<p>The most important files to look at in the StackBlitz Unsaved changes example are:</p>
<ul>
	<li><code>app-routing.module.ts</code></li>
	<li><code>./unsaved-changes/unsaved-changes.component.ts</code></li>
	<li><code>./unsaved-changes/unsaved-changes.component.html</code></li>
</ul>
<p>
	The url of the following link is configured to open in editor mode with <code>unsaved-changes.component.html</code> displayed next to the
	application preview.
</p>
<a
	href="https://stackblitz.com/edit/oblique-unsaved-changes-example?file=src%2Fapp%2Funsaved-changes%2Funsaved-changes.component.html"
	mat-button
	obButton="primary"
	>Stackblitz Example</a
>
