<h2 class="page-header">{{ "i18n.routes.samples.sticky.title" | translate }}</h2>
<ob-column-layout [left]="false" [style.height]="parentHeight + 'px'">
	<ob-sticky [headerSize]="headerSize" [footerSize]="footerSize" [noLayout]="noLayout" column-main-content>
		<ng-template #obStickyHeader *ngIf="stickyHeader">
			<div role="group" aria-label="Basic example">
				<button type="button">Left</button>
				<button type="button">Middle</button>
				<button type="button">Right</button>
			</div>
		</ng-template>
		<ng-template #obStickyMain>
			<h1>Default Layout</h1>
			<ob-autocomplete [autocompleteOptions]="[{ label: 'test' }]"></ob-autocomplete>
			<div>
				<div>Featured</div>
				<div>
					<h4>Special title treatment</h4>
					<p>With supporting text below as a natural lead-in to additional content.</p>
					<a href="#">Go somewhere</a>
				</div>
			</div>
			<span class="ob-screen-reader-only">Message</span>
			<strong>Ok!</strong> You read <a href="#">this default callout message</a>.
		</ng-template>
		<ng-template #obStickyFooter *ngIf="stickyFooter">
			<div class="ob-sticky-actions">
				<div role="group" aria-label="Basic example">
					<button type="button">Left</button>
					<button type="button">Middle</button>
					<button type="button">Right</button>
				</div>
			</div>
		</ng-template>
	</ob-sticky>
	<div column-right-content>
		<h3>Controls</h3>
		<mat-slide-toggle [(ngModel)]="stickyHeader">Sticky header?</mat-slide-toggle>
		<mat-form-field>
			<mat-label>Header size</mat-label>
			<mat-select [(ngModel)]="headerSize" [disabled]="!stickyHeader">
				<mat-option *ngFor="let size of sizes" [value]="size.num">{{ size.name }}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-slide-toggle [(ngModel)]="stickyFooter">Sticky footer?</mat-slide-toggle>
		<mat-form-field>
			<mat-label>Footer size</mat-label>
			<mat-select [(ngModel)]="headerSize" [disabled]="!stickyFooter">
				<mat-option *ngFor="let size of sizes" [value]="size.num">{{ size.name }}</mat-option>
			</mat-select>
		</mat-form-field>
		<mat-slide-toggle [(ngModel)]="noLayout">remove main content layout?</mat-slide-toggle>
		<mat-form-field>
			<mat-label>Parent height</mat-label>
			<input type="number" matInput [(ngModel)]="parentHeight" />
			<mat-hint>Change this value to demonstrate the effect of the parent height</mat-hint>
		</mat-form-field>
	</div>
</ob-column-layout>
