<h2 class="page-header">{{ "i18n.routes.samples.navigator.title" | translate }}</h2>
<ul id="nav-components" class="nav nav-hover nav-indented nav-bordered nav-vertical nav-activable" role="menu">
	<li class="nav-item" role="presentation">
		<a [routerLink]="['/samples/navigator']" class="nav-link" role="menuitem" routerLinkActive="active">
			<span>Root</span>
		</a>

		<ul class="nav nav-hover nav-indented nav-bordered nav-vertical nav-indented" role="menu">
			<li class="nav-item" role="presentation">
				<a [routerLink]="['/samples/navigator/1']" class="nav-link" role="menuitem" routerLinkActive="active">
					<span>Child state 1</span>
				</a>

				<ul class="nav nav-hover nav-indented nav-bordered nav-vertical nav-indented" data-provides="inner-navigation" role="menu">
					<li class="nav-item" role="presentation">
						<a [routerLink]="['/samples/navigator/1/1']" class="nav-link" role="menuitem" routerLinkActive="active">
							<span>Child state 1.1</span>
						</a>

						<ul class="nav nav-hover nav-indented nav-bordered nav-vertical nav-indented" role="menu">
							<li class="nav-item" role="presentation">
								<a [routerLink]="['/samples/navigator/1/1/1']" class="nav-link" role="menuitem" routerLinkActive="active">
									<span>Child state 1.1.1</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a [routerLink]="['/samples/navigator/1/1/2']" class="nav-link" role="menuitem" routerLinkActive="active">
									<span>Child state 1.1.2 (navigates <em>UP</em> directly to Root state)</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item" role="presentation">
						<a [routerLink]="['/samples/navigator/1/2']" class="nav-link" role="menuitem" routerLinkActive="active">
							<span>Child state 1.2</span>
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>
<div class="column-main">
	<ob-navigator class="btn btn-primary btn-md pull-right pull-over">
		<span class="fa fa-chevron-up"></span>
		<span>Go UP!</span>
	</ob-navigator>
	<ul role="menu" class="nav nav-bordered nav-indented nav-tree">
		<li class="nav-header" role="presentation">
			<h3 class="nav-header-title">Nested State(s) Content</h3>
		</li>
		<li>
			<p class="lead">
				<a [routerLink]="['/samples/navigator']" class="thumbnail well pull-left">Root state</a>
				<router-outlet></router-outlet>
			</p>
		</li>
	</ul>
</div>
