<div class="ob-grid">
	<div class="ob-span-6">ob-span-6</div>
	<div class="ob-span-6">ob-span-6</div>
	<div class="ob-span-3">ob-span-3</div>
	<div class="ob-span-3">ob-span-3</div>
	<div class="ob-span-3">ob-span-3</div>
	<div class="ob-span-3">ob-span-3</div>
	<div class="ob-span-2">ob-span-2</div>
	<div class="ob-span-5">ob-span-5</div>
	<div class="ob-span-3">ob-span-3</div>
	<div class="ob-span-2">ob-span-2</div>
	<div class="ob-full">ob-full</div>
	<div class="ob-half">ob-half</div>
	<div class="ob-half">ob-half</div>
	<div class="ob-third">ob-third</div>
	<div class="ob-third ob-third-flexible">ob-third ob-third-flexible</div>
	<div class="ob-third">ob-third</div>
	<div class="ob-quarter">ob-quarter</div>
	<div class="ob-quarter">ob-quarter</div>
	<div class="ob-quarter">ob-quarter</div>
	<div class="ob-quarter">ob-quarter</div>
	<div class="ob-two-thirds">ob-two-thirds</div>
	<div class="ob-third">ob-third</div>
	<div class="ob-three-quarters">ob-three-quarters</div>
	<div class="ob-quarter">ob-quarter</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
	<div>default</div>
</div>
