<div class="default-layout">
	<h1>Stepper</h1>
	<div class="columns">
		<div>
			<ol class="nav-stepper nav-stepper-sm" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
		</div>
		<div>
			<ol class="nav-stepper" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
		</div>
		<div>
			<ol class="nav-stepper nav-stepper-lg" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
		</div>
		<div>
			<ol class="nav-stepper nav-stepper-sm nav-horizontal" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
			<ol class="nav-stepper nav-horizontal" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
			<ol class="nav-stepper nav-stepper-lg nav-horizontal" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
			<ol class="nav-stepper nav-stepper-sm nav-horizontal full-width" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
			<ol class="nav-stepper nav-horizontal full-width" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
			<ol class="nav-stepper nav-stepper-lg nav-horizontal full-width" role="menu">
				<li class="nav-step" role="presentation">
					<a href="#nav-stepper-1" class="step-link" role="menuitem">Step</a>
				</li>
				<li class="nav-step active" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Active</a>
				</li>
				<li class="nav-step success feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Success</a>
				</li>
				<li class="nav-step warning feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Warning</a>
				</li>
				<li class="nav-step error feedback" role="presentation">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Error</a>
				</li>
				<li class="nav-step" role="presentation" data-step-label="A">
					<a href="#nav-stepper-3" class="step-link" role="menuitem">Custom</a>
				</li>
				<li class="nav-step active disabled" role="presentation">
					<a href="#nav-stepper-4" class="step-link" role="menuitem">Disabled</a>
				</li>
			</ol>
		</div>
	</div>
</div>
