@import '../../../../projects/oblique/src/styles/scss/core/variables';

.columns {
	display: flex;

	div:last-child {
		flex-grow: 1;
	}

	div + div {
		margin-left: 2 * $ob-spacing-default;
	}
}

ol + ol {
	margin-top: $ob-spacing-default;
}
