@import '~projects/oblique/src/styles/scss/core/variables';

.content {
	text-align: center;
}

img {
	max-width: 100%;
}

.title {
	font-size: $font-size-lg;
}

.version {
	font-size: $font-size-xl;
}
