@import '../../../projects/oblique-reactive/src/styles/scss/core/variables';

.default-layout {
	display: flex;
	justify-content: center;
}

.content {
	text-align: center;
}

.title {
	font-size: $font-size-lg;
}

.version {
	font-size: $font-size-xl;
}
