@use "projects/oblique/src/styles/scss/core/variables";

.ob-selectable-sample {
	background-color: variables.$ob-extra-light;
}

.ob-selectable:hover {
	box-shadow: 0 0 5px 5px variables.$ob-extra-light;
}

.ob-selected {
	background-color: variables.$ob-extra-light;
}
