<ul id="navigation" role="menubar"
    class="nav navbar-nav navbar-primary navbar-fw navigation-scrollable-content"
    orMasterLayoutNavigation>
	<li class="nav-item" role="presentation"
	    orMasterLayoutNavigationItem>
		<a class="nav-link" href="" role="menuitem"
		   [routerLink]="['/home']" routerLinkActive="active"
		   orMasterLayoutNavigationToggle>
			{{'i18n.routes.home.title' | translate}}
		</a>
	</li>
	<li class="nav-item" role="presentation"
	    orMasterLayoutNavigationItem>
		<a class="nav-link" href="" role="button"
		   [class.active]="isActive('/samples')"
		   orMasterLayoutNavigationToggle>
			<span id="navbar-primary-samples-title">
				{{'i18n.routes.samples.title' | translate}}
			</span>
			<span class="toggle"></span>
		</a>
		<div class="navbar-primary-menu"
		     role="menu" aria-labelledby="navbar-primary-samples-title"
		     orMasterLayoutNavigationMenu>
			<ul class="nav nav-hover">
				<li class="nav-item nav-header" role="presentation">
					<a class="nav-header-title navbar-primary-back" role="button"
					    orMasterLayoutNavigationToggle>
						<span class="toggle d-layout-collapsed"></span>
						<span>{{'i18n.routes.samples.title' | translate}}</span>
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/column-layout']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.column-layout.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/datepicker']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.datepicker.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/filter-box']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.filter-box.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/validation/form-control-state']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.form-control-state.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/http-interceptor']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.http-interceptor.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/master-layout']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.master-layout.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/multiselect']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.multiselect.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/navigable']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.navigable.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/navigator/1/1']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.navigator.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/nav-tree']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.nav-tree.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/notification']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.notification.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/number-format']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.number-format.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/validation/schema-validation']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.schema-validation.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/toggle']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.toggle.title' | translate}}
					</a>
				</li>
				<li class="nav-item" role="presentation"
					orMasterLayoutNavigationItem>
					<a class="nav-link" href="" role="menuitem"
					   [routerLink]="['/samples/validation/unsaved-changes']" routerLinkActive="active"
					   orMasterLayoutNavigationToggle>
						{{'i18n.routes.samples.unsaved-changes.title' | translate}}
					</a>
				</li>
			</ul>
		</div>
	</li>
</ul>
