<ul id="nav-global" class="nav navbar-nav navbar-primary navbar-fw navigation-scrollable-content" role="menu">
	<li class="nav-item" role="presentation">
		<a class="nav-link" href="" [routerLink]="['/home']" routerLinkActive="active"
		   role="menuitem" data-toggle="header navigation">{{'i18n.routes.home.title' | translate}}</a>
	</li>
	<li class="nav-item" role="presentation">
		<a class="nav-link" href="" role="menuitem" aria-expanded="false" aria-haspopup="true"
		   data-toggle="navigation" ng-class="{active: ('samples' | includedByState)}">
			<span class="toggle"></span>
			<span id="navigation-samples-title">{{'i18n.routes.samples.title' | translate}}</span>
		</a>
		<div class="navigation-menu" role="menu" aria-hidden="true" aria-labelledby="navigation-samples-title">
			<ul class="nav nav-hover">
				<li class="nav-item nav-header" role="presentation">
					<a href="" class="nav-link nav-header-title navigation-back" data-toggle="navigation">
						<span class="toggle"></span>
						<span>{{'i18n.routes.samples.title' | translate}}</span>
					</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/datepicker']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.datepicker.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/layout-manager']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.layout-manager.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/multiselect']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.multiselect.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/navigable']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.navigable.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/navigator/1/1']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.navigator.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/nav-tree']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.nav-tree.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/samples.typeahead']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.typeahead.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href="" uib-tooltip="Aka infinite scrolling"
					   [routerLink]="['/ui-scroll']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.ui-scroll.title' |
						translate}}</a>
				</li>
				<li class="nav-item" role="presentation">
					<a class="nav-link" href=""
					   [routerLink]="['/form-control-state']" routerLinkActive="active"
					   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.formControlState.title' |
						translate}}</a>
				</li>
				<li class="nav-item navigation-section" role="presentation">
					<a class="nav-link" href="" role="menuitem" aria-expanded="false" aria-haspopup="true"
					   data-toggle="navigation" ng-class="{active: ('validation' | includedByState)}">
						<span class="toggle"></span>
						<span
							id="navigation-validation-title">{{'i18n.routes.samples.validation.title' | translate}}</span>
					</a>
					<div class="nav navigation-menu" role="menu" aria-hidden="true"
						 aria-labelledby="navigation-validation-title">
						<ul class="nav nav-hover">
							<li class="nav-item nav-header hidden-lg-up" role="presentation">
								<a href="" class="nav-link nav-header-title navigation-back" data-toggle="navigation">
									<span class="toggle"></span>
									<span>{{'i18n.routes.samples.validation.title' | translate}}</span>
								</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" href=""
								   [routerLink]="['/schema-validation']" routerLinkActive="active"
								   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.validation.schemaValidation.title'
									| translate}}</a>
							</li>
							<li class="nav-item" role="presentation">
								<a class="nav-link" href=""
								   [routerLink]="['/unsaved-changes']" routerLinkActive="active"
								   role="menuitem" data-toggle="header navigation">{{'i18n.routes.samples.validation.unsavedChanges.title'
									| translate}}</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</li>
</ul>
