<div class="form" ngForm>
	<mat-form-field obErrorMessages>
		<mat-label>Child #1</mat-label>
		<input matInput name="field1" required [(ngModel)]="field1" />
		<mat-error />
	</mat-form-field>
	<mat-form-field obErrorMessages>
		<mat-label>Child #2</mat-label>
		<input matInput name="field2" required [(ngModel)]="field2" />
		<mat-error />
	</mat-form-field>
	<ob-nested-form name="grandchild" [nestedForm]="grandchild.ngForm.control" [(ngModel)]="grandchildModel">
		<app-nested-form-example-template-driven-preview-grandchild #grandchild />
	</ob-nested-form>
</div>
