@use "@oblique/oblique/src/styles/scss/core/variables";

.container {
	place-content: start center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 180px));
	grid-template-rows: repeat(auto-fill, minmax(180px, 180px));
	flex-wrap: wrap;
	text-align: center;

	.mat-mdc-card {
		min-height: 180px;
	}

	.mat-mdc-button-base.ob-button {
		display: flex;
		place-self: start center;
		font-size: 1em;
		line-height: variables.$ob-spacing-default;
	}

	.mat-icon.icon {
		font-size: 48px;
	}

	.mat-mdc-card .mat-mdc-card-actions {
		text-align: left; // because the popover text-alignment
		gap: 0;
		padding-bottom: 0;
	}

	.card-actions {
		display: flex;
		place-self: end start;
		padding-top: 0;
		padding-right: 0;

		.mat-icon {
			justify-content: center;
			place-self: center center;
			margin: auto;
		}
	}

	.card-content {
		display: grid;
		flex-direction: column;
		place-self: stretch stretch;
		gap: variables.$ob-spacing-md;
	}

	.icon-card {
		place-self: stretch stretch;
	}
}
