<ob-notification />
<fieldset>
	<legend>Search</legend>
	<mat-form-field>
		<mat-label>Icon name</mat-label>
		<input matInput [formControl]="iconsFilter" />
	</mat-form-field>
</fieldset>
<div class="container">
	@for (icon of filteredIcons$ | async; track icon) {
		<mat-card class="icon-card">
			<mat-card-actions class="card-actions">
				<button
					mat-icon-button
					type="button"
					obButton="tertiary"
					placement="top"
					matTooltipPosition="above"
					[matTooltip]="'i18n.icons.details.tooltip' | translate: { icon }"
					[obPopover]="iconDetails"
					[toggleHandle]="toggleType"
					[appendToBody]="true"
				>
					<mat-icon svgIcon="info-circle" />
				</button>
				<button
					mat-icon-button
					type="button"
					obButton="tertiary"
					matTooltipPosition="above"
					[matTooltip]="'i18n.icons.copy-icon-name' | translate"
					(click)="copy(icon)"
				>
					<mat-icon svgIcon="duplicate" />
				</button>
			</mat-card-actions>
			<mat-card-content class="card-content">
				<div>
					<mat-icon class="icon" [svgIcon]="icon">
						<span class="ob-screen-reader-only">
							{{ "i18n.icons.screen-reader-description" | translate: { icon } }}
							{{ "i18n.icons.descriptions." + icon + ".use-for" | translate }}
						</span>
					</mat-icon>
				</div>
				<button
					type="button"
					mat-button
					obButton="tertiary"
					matTooltipPosition="right"
					[matTooltip]="'i18n.icons.copy-icon-name' | translate"
					(click)="copy(icon)"
				>
					{{ icon }}
				</button>
			</mat-card-content>
			<ng-template #iconDetails>
				<table>
					<caption class="description-caption">
						{{
							"i18n.icons.description-caption" | translate: { icon } | uppercase
						}}
					</caption>
					<dt>{{ "i18n.icons.description-label" | translate | uppercase }}</dt>
					<dd>{{ "i18n.icons.descriptions." + icon + ".description" | translate }}</dd>
					<dt>{{ "i18n.icons.use-for-label" | translate | uppercase }}</dt>
					<dd>{{ "i18n.icons.descriptions." + icon + ".use-for" | translate }}</dd>
					<dt>{{ "i18n.icons.do-not-use-for-label" | translate | uppercase }}</dt>
					<dd>{{ "i18n.icons.descriptions." + icon + ".do-not-use-for" | translate }}</dd>
				</table>
			</ng-template>
		</mat-card>
	}
</div>
