<ob-notification />
<div class="search">
	<mat-form-field>
		<mat-label>Search icons</mat-label>
		<input matInput [formControl]="iconsFilter" />
		<button type="button" [obInputClear]="iconsFilter">
			<mat-icon svgIcon="xmark_circle" />
			<span class="ob-screen-reader-only">Clear search</span>
		</button>
		<mat-hint>Search by name</mat-hint>
	</mat-form-field>

	<mat-form-field>
		<mat-label>Category</mat-label>
		<mat-select panelClass="by-category-filter" value="'ALL'" [formControl]="byCategoryFilter">
			<mat-option value="ALL">All icons</mat-option>
			<mat-divider />
			@for (item of obECategory | keyvalue; track item) {
				<mat-option [value]="item.value">
					{{ item.value }}
				</mat-option>
			}
		</mat-select>
	</mat-form-field>
</div>
<h3 class="ob-screen-reader-only">Current icon collection</h3>
@if ((filteredIcons$ | async).length === 0) {
	<ob-alert>No results found. Refine your search and try again.</ob-alert>
}

<div class="container">
	<div class="gallery">
		@for (icon of filteredIcons$ | async; track icon) {
			<button class="icon-card" mat-button type="button" [obButton]="isButtonActive(icon)" (click)="showIconMetaData(icon)">
				<mat-icon aria-hidden="false" class="icon" [attr.aria-label]="getMetaDataOfIcon(icon)?.description" [svgIcon]="icon" />
				<span>{{ icon }}</span>
			</button>
		}
	</div>
	<div class="info-card">
		@if (isInfoCardVisible) {
			<mat-card>
				<div mat-card-image class="image-container">
					<mat-icon class="icon" [svgIcon]="selectedIconName" />
				</div>

				<button
					class="card-title"
					mat-button
					obButton="tertiary"
					type="button"
					matTooltipPosition="above"
					[matTooltip]="'i18n.icons.copy-icon-name' | translate"
					(click)="copy(selectedIconName)"
				>
					<h3 [attr.aria-label]="'i18n.icons.screen-reader-title-description' | translate: { selectedIconName }">
						{{ selectedIconName }}
					</h3>
					<mat-icon iconPositionEnd svgIcon="copy" />
				</button>

				<mat-card-content class="card-content">
					<section>
						<div class="info-card-usage-title">
							<h4>Usage</h4>
							@if (selectedIconMetaData?.purpose === "single") {
								<mat-chip class="info">Single purpose</mat-chip>
							} @else {
								<mat-chip class="success">Multi purpose</mat-chip>
							}
						</div>
						{{ selectedIconMetaData?.usage }}
					</section>
					<section>
						<h4>Alternative text <mat-icon svgIcon="info_circle" [obPopover]="alternativeText" [appendToBody]="true" /></h4>
						{{ selectedIconMetaData?.description }}
						<ng-template #alternativeText>
							<div [innerHTML]="'i18n.icons.alternative-text' | translate"></div>
						</ng-template>
					</section>
					@if (selectedIconMetaData?.oldName && selectedIconMetaData?.name !== selectedIconMetaData?.oldName) {
						<section>
							<h4>Deprecated name</h4>
							{{ selectedIconMetaData.oldName }}
						</section>
					}
				</mat-card-content>
			</mat-card>
		}
	</div>
</div>
