<ob-notification />
<mat-form-field>
	<mat-label>Search icons</mat-label>
	<input matInput [formControl]="iconsFilter" />
	<button type="button" [obInputClear]="iconsFilter">
		<mat-icon svgIcon="xmark_circle" />
		<span class="ob-screen-reader-only">Clear search</span>
	</button>
	<mat-hint>Search by name</mat-hint>
</mat-form-field>
<h3 class="ob-screen-reader-only">Current icon collection</h3>
@if ((filteredIcons$ | async).length === 0) {
	<ob-alert>No results found. Refine your search and try again.</ob-alert>
}

<div class="container">
	<div class="gallery">
		@for (icon of filteredIcons$ | async; track icon) {
			<button class="icon-card" mat-button type="button" [obButton]="isButtonActive(icon)" (click)="showIconMetaData(icon)">
				<mat-icon aria-hidden="false" class="icon" [attr.aria-label]="getMetaDataOfIcon(icon)?.description" [svgIcon]="icon" />
				<span>{{ icon }}</span>
			</button>
		}
	</div>
	@if (isInfoCardVisible) {
		<div class="card">Card preview</div>
	}
</div>
