@use "@oblique/oblique/src/styles/scss/core/variables";
@use "@oblique/oblique/src/styles/scss/core/palette";

.container {
	display: grid;
	grid-template-columns: 1fr 365px;
	gap: variables.$ob-spacing-default;
}

.info-card {
	.image-container {
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: palette.$ob-secondary-100;

		.mat-icon.icon {
			margin: variables.$ob-spacing-lg 0;
			font-size: 56px;
		}
	}

	.card-title {
		display: flex;
		justify-content: space-between;
		height: 64px;
		padding: variables.$ob-spacing-default;
		margin: variables.$ob-spacing-default 0;
	}

	.info-card-usage-title {
		display: flex;
		justify-content: space-between;
	}

	section:not(:last-child) {
		margin-bottom: variables.$ob-spacing-md;
	}
}

.gallery {
	place-content: start center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, auto));
	flex-wrap: wrap;
	text-align: center;
	gap: variables.$ob-spacing-default;

	.icon-card {
		min-width: 160px;
		height: min-content;
		flex-direction: column;
		gap: variables.$ob-spacing-md;
	}

	.mat-mdc-button-base.ob-button {
		display: flex;
		font-size: 1em;
		line-height: variables.$ob-spacing-default;
	}

	.mat-icon.icon {
		font-size: 48px;
	}
}
