@use "@oblique/oblique/src/styles/scss/core/variables";
@use "@oblique/oblique/src/styles/scss/core/palette";

.ob-notification-container.ob-top-right {
	top: 0;
}

.header {
	position: sticky;
	top: variables.$ob-spacing-md;
	background: white;
	z-index: 2;

	// prevent the scrolling gallery from showing through the gap above the sticky header
	&::before {
		content: "";
		position: absolute;
		top: -1 * variables.$ob-spacing-md;
		height: variables.$ob-spacing-md;
		width: 100%;
		margin-left: -1 * variables.$ob-spacing-default;
		background: inherit;
	}
}

.container,
.search-container {
	display: grid;
	grid-template-columns: 1fr 365px;
	gap: variables.$ob-spacing-default;

	@media (width <=1600px) {
		grid-template-columns: 1fr 273px;
	}

	@media (width <=1200px) {
		grid-template-columns: 1fr;
	}
}

.search {
	display: flex;
	gap: variables.$ob-spacing-default;

	@media (width <=1200px) {
		flex-wrap: wrap;
	}
}

.info-card {
	position: sticky;
	top: 120px; // 120 is empiric
	align-self: start;

	.image-container {
		display: flex;
		justify-content: center;
		width: 100%;
		background-color: palette.$ob-secondary-100;

		.mat-icon.icon {
			margin: variables.$ob-spacing-lg 0;
			font-size: 56px;
		}
	}

	.card-title {
		display: flex;
		justify-content: space-between;
		height: 64px;
		padding: variables.$ob-spacing-default;
		margin: variables.$ob-spacing-default 0;
	}

	.card-content {
		overflow: auto;
		max-height: calc(100vh - 349px); // 349 is empiric
	}

	.info-card-usage-title {
		display: flex;
		justify-content: space-between;
	}

	section:not(:last-child) {
		margin-bottom: variables.$ob-spacing-md;
	}
}

.gallery {
	place-content: start center;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(160px, auto));
	flex-wrap: wrap;
	text-align: center;
	gap: variables.$ob-spacing-default;

	.icon-card {
		min-width: 160px;
		height: min-content;
		flex-direction: column;
		gap: variables.$ob-spacing-md;
	}

	.mat-mdc-button-base.ob-button {
		display: flex;
		font-size: 1em;
		line-height: variables.$ob-spacing-default;
	}

	.mat-icon.icon {
		font-size: 48px;
	}

	::ng-deep {
		mark {
			font-weight: bold;
			background-color: transparent;
		}
	}
}
