.mat-icon {
	.ob-external-link &,
	&[data-mat-icon-type="svg"] {
		width: 1em;
		height: 1em;
	}

	&[data-mat-icon-type="svg"].ob-icon-text {
		position: relative;
		top: 0.15em; // empiric value
	}
}
