@use "../../core/variables";
@use "../../core/mixins/typography";
@use "../../core/mixins/shadow";

.mat-tooltip {
	@include typography.ob-caption();
	background-color: variables.$ob-gray-darker;
	padding: 6px 7px 4px;
	@include shadow.ob-dropShadow();
}
