@use "../../core/variables";
@use "../../core/mixins/typography";
@use "../../core/mixins/tab-outline";

.mat-card {
	border: 1px solid variables.$ob-default;

	&:not([class*="mat-elevation-z"]) {
		box-shadow: none;
	}

	.mat-card-header {
		&:first-child {
			padding-top: variables.$ob-spacing-xs;
		}

		.mat-card-title {
			@include typography.ob-h5;
			margin-bottom: 0;
		}

		.mat-card-subtitle {
			&,
			&:not(:first-child) {
				margin-top: 2px;
				margin-bottom: 0;
			}
		}
	}

	.mat-card-avatar {
		margin-top: variables.$ob-spacing-xs;
		border-radius: variables.$ob-border-radius-base;
	}

	.mat-card-header-text:first-child {
		margin-left: 0;
	}

	.mat-card-subtitle,
	.mat-card-content {
		@include typography.ob-body2;
	}

	.mat-card-header + .mat-card-content {
		margin-top: variables.$ob-spacing-default;
	}

	.mat-card-actions {
		text-align: right;
	}

	&.ob-selectable {
		&.ob-selected {
			background-color: variables.$ob-light;
		}

		@include tab-outline.ob-tab-outline-thick();

		&::before {
			position: absolute;
			top: variables.$ob-spacing-sm;
			right: variables.$ob-spacing-sm;
			width: variables.$ob-spacing-lg;
			height: variables.$ob-spacing-lg;
			background-color: variables.$ob-white;
			border: 3px solid variables.$ob-default;
		}

		&[role="checkbox"] {
			&::before {
				content: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHRpdGxlPkNoZWNrbWFyazwvdGl0bGU+PHBvbHlnb24gcG9pbnRzPSIyMC40NyA1LjM5MSA4Ljg0MiAxNy4wMTkgMy41MyAxMS43MDYgMi40NyAxMi43NjcgOC44NDIgMTkuMTQgMjEuNTMgNi40NTEgMjAuNDcgNS4zOTEiIGZpbGw9IiNmZmYiLz48L3N2Zz4=");
				border-radius: variables.$ob-border-radius-base;
			}

			&.ob-selected::before {
				background-color: variables.$ob-primary;
				border-color: variables.$ob-primary;
				border-width: 1px;
			}
		}

		&[role="radio"] {
			&::before {
				content: "";
				border-radius: 50%;
			}

			&.ob-selected::before {
				border-color: variables.$ob-primary;
			}

			&.ob-selected::after {
				content: "";
				position: absolute;
				top: 14px;
				right: 14px;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: variables.$ob-primary;
			}
		}
	}
}

.ob-link-card {
	text-decoration: none;

	@include tab-outline.ob-tab-outline-thick(".mat-card");
}

.ob-button-card {
	&,
	&.mat-button {
		padding: 0;
		text-align: unset;
		white-space: unset;
		border: 0 none;
		background-color: unset;
		box-shadow: none;

		&:not(.mat-button-disabled) {
			@include tab-outline.ob-tab-outline-thick(".mat-card");
		}
	}
}
