@use "../../core/variables";
@use "../../core/mixins/typography";

.mat-chip-list-stacked {
	margin-top: variables.$ob-spacing-lg;
}

.mat-chip.mat-standard-chip {
	@include typography.ob-caption();
	background-color: variables.$ob-primary-100;
	border-color: variables.$ob-primary-500;
	color: variables.$ob-primary-500;

	&.mat-chip-selected,
	&.warning,
	&.success,
	&.info,
	&.error {
		color: variables.$ob-white;
		border-color: inherit;
	}

	&.mat-chip-with-trailing-icon {
		padding-right: 0;

		> .mat-icon {
			font-size: variables.$ob-font-size-biggest;
			margin: 0 variables.$ob-spacing-xs;
			width: 1em;
			height: 1em;

			&.fa::before {
				height: unset;
				width: unset;
			}
		}
	}

	&.success {
		&,
		&.mat-chip-selected {
			background-color: variables.$ob-success-500;
		}
	}

	&.info {
		&,
		&.mat-chip-selected {
			background-color: variables.$ob-primary-500;
		}
	}

	&.warning {
		&,
		&.mat-chip-selected {
			background-color: variables.$ob-warning-500;
		}
	}

	&.error {
		&,
		&.mat-chip-selected {
			background-color: variables.$ob-error-500;
		}
	}

	&.ob-selected {
		&,
		&.mat-chip-selected {
			background-color: variables.$ob-primary-100;
			border-color: variables.$ob-primary-500;
			color: variables.$ob-primary-500;
		}
	}
}
