@use "../../core/variables";

.mat-expansion-panel-header {
	height: 48px;

	&:hover,
	&.mat-expanded:hover:not([aria-disabled="true"]) {
		background: variables.$ob-gray-lighter;
	}

	&:hover:not([aria-disabled="true"]) {
		.mat-expansion-panel:not(.mat-expanded) & {
			background: variables.$ob-gray-lighter;
		}
	}
}
