@import "variables";

.ob-inline-form {
	.mat-checkbox-layout .mat-checkbox-label {
		padding-top: -1px; //empiric value
		line-height: inherit;
	}

	> label,
	.mat-checkbox,
	.mat-radio-group {
		margin-top: $ob-form-field-label-height;
		line-height: 1;
	}

	> label {
		padding-top: $ob-form-field-label-padding-top;
	}

	.mat-checkbox,
	.mat-radio-group {
		padding-top: calc(#{$ob-form-field-padding-top} - 2px);
	}

	&.ob-form-sm {
		> label {
			padding-top: $ob-form-field-label-padding-top-sm;
		}

		.mat-checkbox,
		.mat-radio-group {
			padding-top: calc(#{$ob-form-field-padding-top-sm} - 2px);
		}

		.mat-checkbox-label {
			padding-top: 1px; //empiric value
		}
		.mat-radio-label-content {
			padding-top: 0px; //empiric value
		}
	}

	&.ob-form-lg {
		> label {
			padding-top: $ob-form-field-label-padding-top-lg;
		}

		.mat-checkbox {
			padding-top: calc(#{$ob-form-field-padding-top-lg} - 1px);
		}

		.mat-radio-group {
			padding-top: calc(#{$ob-form-field-padding-top-lg} - 2px);
		}
	}

	.mat-form-field {
		width: auto;
	}
}
