$small: .875rem;
$large: 1.25rem;

.mat-form-field {
	width: 100%;

	.mat-form-field-prefix {
		margin-right: 5px;
	}

	.mat-form-field-suffix {
		margin-left: 5px;
	}

	&.mat-form-field-sm {
		font-size: $small;
	}

	&.mat-form-field-lg {
		font-size: $large;
	}

	&.mat-form-field-appearance-outline {
		.mat-form-field-wrapper {
			margin: 0.1em 0;
		}

		.mat-form-field-infix {
			padding: 0.25em 0 0.5em 0;
		}

		.mat-form-field-label {
			margin-bottom: 0;
			top: 1.09375em;
		}

		&.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
			top: 1.84375em;
		}

		.mat-form-field-prefix,
		.mat-form-field-suffix {
			top: 0; // TODO https://github.com/angular/material2/issues/12803
		}
	}
}
