@import "../../core/variables";
@import "../../core/mixins/typography";

.mat-dialog-container {
	.mat-dialog-title {
		@include h6;
		position: relative;
		margin-bottom: $spacing-default + $spacing-sm;
	}
	.mat-button.close {
		position: absolute;
		right: -0.5em;
		top: -0.5em;
		height: 24px;
		width: 24px;
		padding: 0;
		min-width: 0;

		&::before,
		&::after {
			content: '';
			display: block;
			position: absolute;
			top: 5px;
			left: 11px;
			height: 14px;
			width: 2px;
			background-color: $black;
		}
		&::before {
			transform: rotate(45deg);
		}
		&::after {
			transform: rotate(-45deg);
		}
	}
	.mat-dialog-content {
		@include body1;
	}
	.mat-dialog-actions {
		margin-top: $spacing-default + $spacing-sm;
		justify-content: flex-end;

		.mat-button + .mat-button {
			margin-left: $spacing-default;
		}
	}
}
