@import "../../core/variables";
@import "./mixins/mat-button";

.mat-button-base {
	&:not([disabled]) {
		&:not(.mat-primary):not(.mat-accent):not(.mat-warn) {
			@include button-styles($brand-default, $gray-lighter);
		}
		&.mat-primary {
			@include button-styles($brand-primary, $brand-light);
		}
		&.mat-accent {
			@include button-styles($brand-primary, $brand-light);
		}
		&.mat-warn {
			@include button-styles($brand-error, $brand-error-light);
		}
	}

	&:not(.mat-icon-button):not(.mat-fab):not(.mat-mini-fab) .mat-button-wrapper {
		.fa,
		.fas,
		.far,
		.fal,
		.fad,
		.fab {
			margin-right: $spacing-sm;
		}
	}

	&.mat-button,
	&.mat-stroked-button,
	&.mat-flat-button,
	&.mat-raised-button {
		border-radius: 2px;
	}

	:not(.mat-icon-button) .mat-icon {
		&.fa,
		&.fas,
		&.far,
		&.fal,
		&.fad,
		&.fab,
		&.fa .fa,
		&.fas .fas,
		&.far .far,
		&.fal .fal,
		&.fad .fad,
		&.fab .fab {
			&::before {
				position: relative;
				top: 5px;
			}
		}
	}

	.mat-icon {
		margin-top: -2px;
	}
}
