@import "../../core/variables";

$small: .875rem;
$large: 1.25rem;

.mat-form-field {
	width: 100%;

	.mat-form-field-prefix {
		margin-right: $spacing-xs;
	}

	.mat-form-field-suffix {
		margin-left: $spacing-xs;
	}

	.mat-error,
	.mat-hint {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:hover,
	&:focus-within {
		.mat-form-field-subscript-wrapper {
			overflow: visible;
		}

		.mat-error,
		.mat-hint {
			white-space: unset;
			background-color: inherit;
			position: relative;
			overflow: visible;

			&::before {
				content: '';
				position: absolute;
				display: block;
				right: -12px;
				left: -12px;
				top: 0;
				bottom: -$spacing-xs;
				background-color: $white;
				opacity: 0.75;
				z-index: -1;

				.table:not(.table-plain) tbody tr:nth-child(odd) & {
					background-color: $gray-lighter;
				}
			}
		}
	}

	&.mat-form-field-sm {
		font-size: $small;
	}

	&.mat-form-field-lg {
		font-size: $large;
	}

	&.mat-form-field-appearance-outline {
		.mat-form-field-wrapper {
			margin: 0.1em 0;
		}

		.mat-form-field-infix {
			padding: 0.25em 0 0.5em 0;
		}

		.mat-form-field-label {
			margin-bottom: 0;
			top: 1.09375em;
		}

		&.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
			top: 1.84375em;
		}

		.mat-form-field-prefix,
		.mat-form-field-suffix {
			top: 0; // TODO https://github.com/angular/material2/issues/12803
		}
	}
}
