@import "projects/oblique/src/styles/scss/core/variables";

.mat-tab-nav-bar,
.mat-tab-header {
	border-bottom: none;
}

.mat-tab-label {
	color: $brand-default;
	background-color: $smoke;

	+ .mat-tab-label {
		margin-left: 2px;
	}

	&:hover,
	&:focus {
		color: $brand-primary;
		background-color: $brand-extra-light;
	}

	&.mat-tab-label-active,
	&:active {
		color: $brand-primary;
		border-color: $brand-primary;
		background-color: $brand-light;
	}
}
