@import "~@fortawesome/fontawesome-free/scss/variables";
@import "variables";
@import "mixins/mat-form-field";
@import "../../core/variables";

.mat-form-field {
	width: 100%;

	&.mat-form-field-type-mat-select.mat-form-field-disabled .mat-select-trigger {
		cursor: not-allowed;
	}

	.mat-form-field-outline {
		background-color: $white;
	}

	&.mat-form-field-appearance-outline {
		.mat-form-field-wrapper {
			margin: $form-field-margin 0;
			padding-bottom: 1.2em;
		}

		.mat-form-field-flex {
			margin-top: -$form-field-margin;
		}

		.mat-form-field-outline {
			top: $form-field-margin;
		}

		.mat-form-field-label {
			margin-top: 0;
			line-height: 1;
		}

		.mat-form-field-suffix .mat-datepicker-toggle .mat-button-wrapper {
			margin-top: 2px;
		}

		.mat-form-field-prefix,
		.mat-form-field-suffix {
			top: 0.33em;
		}

		.mat-form-field-subscript-wrapper {
			margin-top: $form-field-margin;
		}

		@include form-field-size($form-field-padding-top, 0.5em, 2em);

		.ob-form-sm & {
			@include form-field-size($form-field-padding-top-sm, 0.25em, 1.8em);
		}

		.ob-form-lg & {
			@include form-field-size($form-field-padding-top-lg, 1em, 2.5em);
		}
	}

	&.mat-form-field-invalid .mat-form-field-label-wrapper::after {
		content: '!';
		position: absolute;
		right: 0;
		padding: 0 0.4em;
		border-radius: 50%;
		background-color: $brand-error;
		color: $white;
		z-index: $z-index-controls;
	}

	.mat-error,
	.mat-hint {
		height: 1.125em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:hover,
	&:focus-within {
		z-index: 1; // so that multilines hints & errors are above next elements

		.mat-form-field-subscript-wrapper {
			overflow: visible;
		}

		.mat-error,
		.mat-hint {
			height: auto;
			white-space: normal;
			position: relative;
			overflow: visible;

			&::before {
				content: '';
				position: absolute;
				display: block;
				right: -12px;
				left: -12px;
				top: 0;
				bottom: -$spacing-xs;
				background-color: $white;
				opacity: 0.75;
				z-index: -1;

				.ob-table:not(.ob-table-plain) tbody tr:nth-child(odd) & {
					background-color: $gray-extra-light;
				}
			}
		}
	}
}
