.mat-radio-label,
.mat-checkbox-layout {
	font-weight: 400;
}

.mat-checkbox.control-mandatory::before {
	top: -2px;
}

.mat-radio-group.control-mandatory::before {
	top: -1px;
}

.mat-checkbox-label,
.mat-radio-label-content {
	padding-top: 2px;
}
