@import "../../core/variables";
@import "../../core/mixins/typography";

.mat-card {
	border: 1px solid $ob-default;

	&:not([class*='mat-elevation-z']) {
		box-shadow: none;
	}

	.mat-card-header {
		&:first-child {
			padding-top: $ob-spacing-xs;
		}

		.mat-card-title {
			@include ob-h5;
			margin-bottom: 0;
		}

		.mat-card-subtitle {
			&, &:not(:first-child) {
				margin-top: 2px;
				margin-bottom: 0;
			}
		}
	}

	.mat-card-avatar {
		margin-top: $ob-spacing-xs;
		border-radius: $ob-border-radius-base;
	}

	.mat-card-header-text:first-child {
		margin-left: 0;
	}

	.mat-card-subtitle,
	.mat-card-content {
		@include ob-body2;
	}

	.mat-card-header + .mat-card-content {
		margin-top: $ob-spacing-default;
	}

	.mat-card-actions {
		text-align: right;
	}

	&.ob-selectable {
		&.ob-selected {
			background-color: $ob-extra-light;
		}

		&::before {
			position: absolute;
			top: $ob-spacing-sm;
			right: $ob-spacing-sm;
			line-height: 1;
			font-family: $ob-icon-font-family;
			font-weight: 800;
			color: transparent;
			border: 3px solid $ob-primary;
		}

		&[role="checkbox"] {
			&::before {
				content: '\f00c';
				font-size: 13px;
				padding: 2px;
			}
			&.ob-selected::before {
				color: $ob-white;
				background-color: $ob-primary;
			}
		}

		&[role="radio"] {
			&::before {
				content: '\f111';
				font-size: 11px;
				padding: 3px;
				border-radius: 50%;
			}

			&.ob-selected::before {
				color: $ob-primary;
			}
		}
	}
}
