@import "~@fortawesome/fontawesome-free/scss/variables";
@import "../../core/variables";
@import "../../core/mixins/icon";

$small: .875rem;
$large: 1.25rem;

.mat-form-field {
	width: 100%;

	.mat-form-field-outline {
		background-color: $white;
	}

	&.mat-form-field-invalid .mat-form-field-flex {
		@include icon($fa-var-exclamation-circle, after);

		&::after {
			color: $brand-error;
			margin-left: $spacing-xs;
			z-index: $z-index-controls;
		}
	}

	.mat-form-field-prefix,
	.mat-form-field-suffix {
		> .mat-button-base {
			top: -2px;
		}
	}

	.mat-form-field-prefix > * {
		margin-right: $spacing-xs;
	}

	.mat-form-field-suffix > *:not(.mat-datepicker-toggle) {
		margin-left: $spacing-xs;
	}

	.mat-error,
	.mat-hint {
		height: 1.125em;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	&:hover,
	&:focus-within {
		z-index: 1;	// so that multilines hints & errors are above next elements

		.mat-form-field-subscript-wrapper {
			overflow: visible;
		}

		.mat-error,
		.mat-hint {
			height: auto;
			white-space: normal;
			position: relative;
			overflow: visible;

			&::before {
				content: '';
				position: absolute;
				display: block;
				right: -12px;
				left: -12px;
				top: 0;
				bottom: -$spacing-xs;
				background-color: $white;
				opacity: 0.75;
				z-index: -1;

				.ob-table:not(.ob-table-plain) tbody tr:nth-child(odd) & {
					background-color: $gray-extra-light;
				}
			}
		}
	}

	&.mat-form-field-sm {
		font-size: $small;
	}

	&.mat-form-field-lg {
		font-size: $large;
	}

	&.mat-form-field-appearance-outline {
		.mat-form-field-wrapper {
			margin: 0.2em 0;
			padding-bottom: 1.2em;
		}

		.mat-form-field-subscript-wrapper {
			margin-top: 6px;
		}

		.mat-form-field-infix {
			padding: 0.25em 0 0.5em 0;
		}

		.mat-form-field-label {
			margin-bottom: 0;
			top: 1.09375em;
		}

		&.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
			top: 1.84375em;
		}

		.mat-form-field-prefix,
		.mat-form-field-suffix {
			top: 0.05em; // TODO https://github.com/angular/material2/issues/12803
		}

		.mat-datepicker-toggle {
			position: relative;
			top: 0.25em;
		}
	}
}
