@import "../../core/variables";
@import "../../core/palette";
@import "../../core/mixins/typography";

.mat-chip-list-stacked {
	margin-top: $spacing-lg;
}

.mat-chip.mat-standard-chip {
	@include caption;
	background-color: $primary-100;
	border-color: $primary-500;
	color: $primary-500;

	&.mat-chip-selected,
	&.warning,
	&.success,
	&.info,
	&.error {
		color: $white;
		border-color: inherit;
	}

	&.mat-chip-with-trailing-icon {
		padding-right: 0;

		> .ob-icon {
			font-size: $font-size-xl;
			margin-left: 0;
			width: 1.5em;
			height: 1.5em;

			&.fa::before {
				height: unset;
				width: unset;
			}
		}
	}

	&.success {
		&,
		&.mat-chip-selected {
			background-color: $success-500;
		}
	}

	&.info {
		&,
		&.mat-chip-selected {
			background-color: $primary-500;
		}
	}

	&.warning {
		&,
		&.mat-chip-selected {
			background-color: $warning-500;
		}
	}

	&.error {
		&,
		&.mat-chip-selected {
			background-color: $error-500;
		}
	}

	&.ob-selected {
		&,
		&.mat-chip-selected {
			background-color: $primary-100;
			border-color: $primary-500;
			color: $primary-500;
		}
	}
}
