// http://mcg.mbitson.com/#!?mcgpalette0=%23ffc81b&themename=mcgtheme
@import "../../core/variables";

$oblique-primary: (
	50 : #e0ecf1,	// not from Fridolin
	100 : #cce0eb,	// lighter
	200 : #99c2d6,
	300 : #66a3c2,
	400 : #1975a3,
	500 : $brand-primary,
	600 : #005686,
	700 : #004c7b,	// darker
	800 : #004271,
	900 : #00315f,
	A100 : #90c0ff,	// not from Fridolin
	A200 : #5da3ff,	// not from Fridolin
	A400 : #2a85ff,	// not from Fridolin
	A700 : #1077ff,	// not from Fridolin
	contrast: (
		50 : $brand-default,
		100 : $brand-default,
		200 : $brand-default,
		300 : $white,
		400 : $white,
		500 : $white,
		600 : $white,
		700 : $white,
		800 : $white,
		900 : $white,
		A100 : $brand-default,
		A200 : $brand-default,
		A400 : $white,
		A700 : $white
	)
);

$oblique-accent: (
	50 : #e2eff5,
	100 : #e0effb,
	200 : #c2dff6,
	300 : #a3cff2,
	400 : #75b7eb,
	500 : $brand-secondary,
	600 : #5b96c4,
	700 : #517d9f,
	800 : #47657c,
	900 : #3d4c57,
	A100 : #b0d4ff,
	A200 : #7db9ff,
	A400 : #4a9eff,
	A700 : #3090ff,
	contrast: (
		50 : $brand-default,
		100 : $brand-default,
		200 : $brand-default,
		300 : $brand-default,
		400 : $brand-default,
		500 : $brand-default,
		600 : $white,
		700 : $white,
		800 : $white,
		900 : $white,
		A100 : $brand-default,
		A200 : $brand-default,
		A400 : $brand-default,
		A700 : $white,
	)
);

$oblique-warn: (
	50 : #fee0e4,
	100 : #fdb3bb,
	200 : #fb808e,
	300 : #f94d61,
	400 : #f8263f,
	500 : $brand-error,
	600 : #f6001a,
	700 : #f50015,
	800 : #f30011,
	900 : #f1000a,
	A100 : $white,
	A200 : #ffe5e5,
	A400 : #ffb2b3,
	A700 : #ff9899,
	contrast: (
		50 : $brand-default,
		100 : $brand-default,
		200 : $brand-default,
		300 : $brand-default,
		400 : $white,
		500 : $white,
		600 : $white,
		700 : $white,
		800 : $white,
		900 : $white,
		A100 : $brand-default,
		A200 : $brand-default,
		A400 : $brand-default,
		A700 : $brand-default
	)
);
