// http://mcg.mbitson.com/#!?mcgpalette0=%23ffc81b&themename=mcgtheme
@import "../../core/variables";

$oblique-primary: (
	50 : #e0ecf1,
	100 : #b3cfdd,	// lighter
	200 : #80afc7,
	300 : #4d8eb0,
	400 : #26769f,
	500 : $brand-primary,
	600 : #005686,
	700 : #004c7b,	// darker
	800 : #004271,
	900 : #00315f,
	A100 : #90c0ff,
	A200 : #5da3ff,
	A400 : #2a85ff,
	A700 : #1077ff,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #ffffff,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #ffffff,
		A700 : #ffffff
	)
);

$oblique-accent: (
	50 : #e2eff5,
	100 : #b6d6e6,
	200 : #86bbd6,
	300 : #559fc6,
	400 : #308bb9,
	500 : $brand-secondary,
	600 : #0a6ea6,
	700 : #08639c,
	800 : #065993,
	900 : #034683,
	A100 : #b0d4ff,
	A200 : #7db9ff,
	A400 : #4a9eff,
	A700 : #3090ff,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #ffffff,
	)
);

$oblique-warn: (
	50 : #fee0e4,
	100 : #fdb3bb,
	200 : #fb808e,
	300 : #f94d61,
	400 : #f8263f,
	500 : $brand-error,
	600 : #f6001a,
	700 : #f50015,
	800 : #f30011,
	900 : #f1000a,
	A100 : #ffffff,
	A200 : #ffe5e5,
	A400 : #ffb2b3,
	A700 : #ff9899,
	contrast: (
		50 : #000000,
		100 : #000000,
		200 : #000000,
		300 : #000000,
		400 : #ffffff,
		500 : #ffffff,
		600 : #ffffff,
		700 : #ffffff,
		800 : #ffffff,
		900 : #ffffff,
		A100 : #000000,
		A200 : #000000,
		A400 : #000000,
		A700 : #000000
	)
);
