<mat-form-field style="width: fit-content">
	<mat-label>Dynamic Type Change</mat-label>
	<mat-select [(value)]="obButton">
		<mat-option value="primary">Primary</mat-option>
		<mat-option value="secondary">Secondary</mat-option>
		<mat-option value="tertiary">Tertiary</mat-option>
	</mat-select>
</mat-form-field>
<table class="ob-table">
	<caption>
		Primary, secondary, and tertiary buttons
	</caption>
	<thead>
		<tr>
			<th scope="col">Button type</th>
			<th scope="col">Variant</th>
			<th scope="col">Primary</th>
			<th scope="col">Secondary</th>
			<th scope="col">Tertiary</th>
			<th scope="col">Dynamic</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="rowgroup" rowspan="3">Button</th>
			<th scope="row">Text only</th>
			<td>
				<button type="button" mat-button obButton="primary">Primary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="secondary">Secondary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="tertiary">Tertiary</button>
			</td>
			<td>
				<button type="button" mat-button [obButton]="obButton">Dynamic</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon and text</th>
			<td>
				<button type="button" mat-button obButton="primary"><mat-icon svgIcon="logout" /> Primary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="secondary"><mat-icon svgIcon="logout" /> Secondary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="tertiary"><mat-icon svgIcon="logout" /> Tertiary</button>
			</td>
			<td>
				<button type="button" mat-button [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" obButton="primary"><mat-icon svgIcon="logout" /></button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" obButton="secondary"><mat-icon svgIcon="logout" /></button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" obButton="tertiary"><mat-icon svgIcon="logout" /></button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" [obButton]="obButton"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th scope="rowgroup" rowspan="3">Button disabled</th>
			<th scope="row">Text only</th>
			<td>
				<button type="button" mat-button obButton="primary" disabled>Primary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="secondary" disabled>Secondary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="tertiary" disabled>Tertiary</button>
			</td>
			<td>
				<button type="button" mat-button disabled [obButton]="obButton">Dynamic</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon and text</th>
			<td>
				<button type="button" mat-button obButton="primary" disabled><mat-icon svgIcon="logout" /> Primary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="secondary" disabled><mat-icon svgIcon="logout" /> Secondary</button>
			</td>
			<td>
				<button type="button" mat-button obButton="tertiary" disabled><mat-icon svgIcon="logout" /> Tertiary</button>
			</td>
			<td>
				<button type="button" mat-button disabled [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" obButton="primary" disabled><mat-icon svgIcon="logout" /></button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" obButton="secondary" disabled><mat-icon svgIcon="logout" /></button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" obButton="tertiary" disabled><mat-icon svgIcon="logout" /></button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" disabled [obButton]="obButton"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th scope="rowgroup" rowspan="3">Button interactive disabled</th>
			<th scope="row">Text only</th>
			<td>
				<button type="button" disabledInteractive mat-button obButton="primary">Primary</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-button obButton="secondary">Secondary</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-button obButton="tertiary">Tertiary</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-button [obButton]="obButton">Dynamic</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon and text</th>
			<td>
				<button type="button" disabledInteractive mat-button obButton="primary"><mat-icon svgIcon="logout" /> Primary</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-button obButton="secondary"><mat-icon svgIcon="logout" /> Secondary</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-button obButton="tertiary"><mat-icon svgIcon="logout" /> Tertiary</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-button [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<button type="button" disabledInteractive mat-icon-button matTooltip="logout" obButton="primary">
					<mat-icon svgIcon="logout" />
				</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-icon-button matTooltip="logout" obButton="secondary">
					<mat-icon svgIcon="logout" />
				</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-icon-button matTooltip="logout" obButton="tertiary">
					<mat-icon svgIcon="logout" />
				</button>
			</td>
			<td>
				<button type="button" disabledInteractive mat-icon-button matTooltip="logout" [obButton]="obButton">
					<mat-icon svgIcon="logout" />
				</button>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th rowspan="3" scope="rowgroup">Link</th>
			<th>Text only</th>
			<td>
				<a href="" mat-button obButton="primary">Primary</a>
			</td>
			<td>
				<a href="" mat-button obButton="secondary">Secondary</a>
			</td>
			<td>
				<a href="" mat-button obButton="tertiary">Tertiary</a>
			</td>
			<td>
				<a href="" mat-button [obButton]="obButton">Dynamic</a>
			</td>
		</tr>
		<tr>
			<th>Icon and text</th>
			<td>
				<a href="" mat-button obButton="primary"><mat-icon svgIcon="logout" /> Primary</a>
			</td>
			<td>
				<a href="" mat-button obButton="secondary"><mat-icon svgIcon="logout" /> Secondary</a>
			</td>
			<td>
				<a href="" mat-button obButton="tertiary"><mat-icon svgIcon="logout" /> Tertiary</a>
			</td>
			<td>
				<a href="" mat-button [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<a mat-icon-button matTooltip="logout" obButton="primary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a mat-icon-button matTooltip="logout" obButton="secondary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a mat-icon-button matTooltip="logout" obButton="tertiary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a mat-icon-button matTooltip="logout" [obButton]="obButton"><mat-icon svgIcon="logout" /></a>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th rowspan="3" scope="rowgroup">Link disabled</th>
			<th scope="row">Text only</th>
			<td>
				<a href="" mat-button obButton="primary" disabled>Primary</a>
			</td>
			<td>
				<a href="" mat-button obButton="secondary" disabled>Secondary</a>
			</td>
			<td>
				<a href="" mat-button obButton="tertiary" disabled>Tertiary</a>
			</td>
			<td>
				<a href="" mat-button disabled [obButton]="obButton">Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon and text</th>
			<td>
				<a href="" mat-button obButton="primary" disabled><mat-icon svgIcon="logout" /> Primary</a>
			</td>
			<td>
				<a href="" mat-button obButton="secondary" disabled><mat-icon svgIcon="logout" /> Secondary</a>
			</td>
			<td>
				<a href="" mat-button obButton="tertiary" disabled><mat-icon svgIcon="logout" /> Tertiary</a>
			</td>
			<td>
				<a href="" mat-button disabled [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<a mat-icon-button matTooltip="logout" obButton="primary" disabled><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a mat-icon-button matTooltip="logout" obButton="secondary" disabled><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a mat-icon-button matTooltip="logout" obButton="tertiary" disabled><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a mat-icon-button matTooltip="logout" disabled [obButton]="obButton"><mat-icon svgIcon="logout" /></a>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th rowspan="3" scope="rowgroup">Link Interactive disabled</th>
			<th scope="row">Text only</th>
			<td>
				<a href="" disabledInteractive mat-button obButton="primary">Primary</a>
			</td>
			<td>
				<a href="" disabledInteractive mat-button obButton="secondary">Secondary</a>
			</td>
			<td>
				<a href="" disabledInteractive mat-button obButton="tertiary">Tertiary</a>
			</td>
			<td>
				<a href="" disabledInteractive mat-button [obButton]="obButton">Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon and text</th>
			<td>
				<a href="" disabledInteractive mat-button obButton="primary"><mat-icon svgIcon="logout" /> Primary</a>
			</td>
			<td>
				<a href="" disabledInteractive mat-button obButton="secondary"><mat-icon svgIcon="logout" /> Secondary</a>
			</td>
			<td>
				<a href="" disabledInteractive mat-button obButton="tertiary"><mat-icon svgIcon="logout" /> Tertiary</a>
			</td>
			<td>
				<a href="" disabledInteractive mat-button disabled [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<a disabledInteractive mat-icon-button matTooltip="logout" obButton="primary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a disabledInteractive mat-icon-button matTooltip="logout" obButton="secondary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a disabledInteractive mat-icon-button matTooltip="logout" obButton="tertiary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a disabledInteractive mat-icon-button matTooltip="logout" [obButton]="obButton"><mat-icon svgIcon="logout" /></a>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th rowspan="3" scope="rowgroup">External Link</th>
			<th scope="row">Text only</th>
			<td>
				<a href="https://www.google.ch" mat-button obButton="primary">Primary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="secondary">Secondary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="tertiary">Tertiary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button [obButton]="obButton">Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon and text</th>
			<td>
				<a href="https://www.google.ch" mat-button obButton="primary"><mat-icon svgIcon="logout" /> Primary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="secondary"><mat-icon svgIcon="logout" /> Secondary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="tertiary"><mat-icon svgIcon="logout" /> Tertiary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" obButton="primary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" obButton="secondary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" obButton="tertiary"><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" [obButton]="obButton"><mat-icon svgIcon="logout" /></a>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th rowspan="3" scope="rowgroup">External Link disabled</th>
			<th scope="row">Text only</th>
			<td>
				<a href="https://www.google.ch" mat-button obButton="primary" disabled>Primary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="secondary" disabled>Secondary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="tertiary" disabled>Tertiary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button disabled [obButton]="obButton">Dynamic</a>
			</td>
		</tr>

		<tr>
			<th scope="row">icon and text</th>
			<td>
				<a href="https://www.google.ch" mat-button obButton="primary" disabled><mat-icon svgIcon="logout" /> Primary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="secondary" disabled><mat-icon svgIcon="logout" /> Secondary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button obButton="tertiary" disabled><mat-icon svgIcon="logout" /> Tertiary</a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-button disabled [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" obButton="primary" disabled><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" obButton="secondary" disabled><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" obButton="tertiary" disabled><mat-icon svgIcon="logout" /></a>
			</td>
			<td>
				<a href="https://www.google.ch" mat-icon-button matTooltip="logout" disabled [obButton]="obButton"><mat-icon svgIcon="logout" /></a>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th rowspan="3" scope="rowgroup">External Link Interactive Disabled</th>
			<th scope="row">Text only</th>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button obButton="primary">Primary</a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button obButton="secondary">Secondary</a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button obButton="tertiary">Tertiary</a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button [obButton]="obButton">Dynamic</a>
			</td>
		</tr>

		<tr>
			<th scope="row">icon and text</th>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button obButton="primary"><mat-icon svgIcon="logout" /> Primary</a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button obButton="secondary"><mat-icon svgIcon="logout" /> Secondary</a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button obButton="tertiary"><mat-icon svgIcon="logout" /> Tertiary</a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-button [obButton]="obButton"><mat-icon svgIcon="logout" /> Dynamic</a>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon only</th>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-icon-button matTooltip="logout" obButton="primary"
					><mat-icon svgIcon="logout"
				/></a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-icon-button matTooltip="logout" obButton="secondary"
					><mat-icon svgIcon="logout"
				/></a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-icon-button matTooltip="logout" obButton="tertiary"
					><mat-icon svgIcon="logout"
				/></a>
			</td>
			<td>
				<a href="https://www.google.ch" disabledInteractive mat-icon-button matTooltip="logout" [obButton]="obButton"
					><mat-icon svgIcon="logout"
				/></a>
			</td>
		</tr>
	</tbody>
</table>
