/*
	This file is used to enhance the appearance of one or more of the Oblique code examples.
	It is NOT required in order to use any Oblique features.
*/

.buttons {
	display: flex;
	gap: 16px;
	margin-top: 16px;
}
