<mat-accordion>
	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Wanna be a hero?</mat-panel-title>
			<mat-panel-description>Save the world!</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-form-field>
			<mat-label>Your hero name</mat-label>
			<input matInput [(ngModel)]="heroName" />
		</mat-form-field>
		<p>Challenge accepted! - Use your superpowers to make a difference.</p>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Hero's Journey</mat-panel-title>
			<mat-panel-description> Embark on an adventure!</mat-panel-description>
		</mat-expansion-panel-header>
		<p>You're on the quest! - Explore the unknown, face challenges, and discover treasures.</p>
		<mat-form-field>
			<mat-label>Select Your Hero Power</mat-label>
			<mat-select [(value)]="heroPower">
				<mat-option value="flying">Flight</mat-option>
				<mat-option value="invisibility">Invisibility</mat-option>
				<mat-option value="super strength">Super Strength</mat-option>
				<mat-option value="telepathy">Telepathy</mat-option>
				<mat-option value="time traveling">Time Travel</mat-option>
			</mat-select>
		</mat-form-field>
	</mat-expansion-panel>

	<mat-expansion-panel>
		<mat-expansion-panel-header>
			<mat-panel-title>Secret Hero Base</mat-panel-title>
			<mat-panel-description>What's inside?</mat-panel-description>
		</mat-expansion-panel-header>
		<p>Welcome to your secret base, {{ heroName }}! - Plan your next heroic deed here and train your power of {{ heroPower }}.</p>
	</mat-expansion-panel>
</mat-accordion>
