<div class="default-layout">
	<h1>Typography</h1>
	<h1>H1 Heading</h1>
	<h2>H2 Heading</h2>
	<h3>H3 Heading</h3>
	<h4>H4 Heading</h4>
	<h5>H5 Heading</h5>
	<h6>H6 Heading</h6>
	<div class="subtitle1">Subtitle 1</div>
	<div class="body1">Body 1</div>
	<div class="overline">Overline</div>
	<div class="subtitle2">Subtitle 2</div>
	<div class="button">Button</div>
	<div class="body2">Body 2</div>
	<div class="caption">Caption</div>

	<h2>Typography usage</h2>
	<dl>
		<dt>H5</dt>
		<dd>H5 heading</dd>
		<dd>Card title</dd>

		<dt>H6</dt>
		<dd>H6 heading</dd>
		<dd>Dialog title</dd>

		<dt>Body 1</dt>
		<dd>dialog content</dd>

		<dt>Body 2</dt>
		<dd>Card subtitle</dd>
		<dd>Card content</dd>

		<dt>Caption</dt>
		<dd>Tooltip</dd>
	</dl>
</div>

