@use "variables";

.form-elements {
	display: flex;
	flex-direction: column;
	gap: variables.$ob-spacing-sm;

	> * {
		width: fit-content;
	}
}

fieldset + fieldset {
	margin-top: variables.$ob-spacing-default;
}

.form-elements + .form-elements {
	margin-top: variables.$ob-spacing-sm;
}
