<h2 class="page-header">Table</h2>
<ob-column-layout [left]="false">
	<ng-container column-main-content class="main-div" [ngClass]="tableParentClasses">
		<table *ngIf="!flexTable" mat-table matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table-example" [ngClass]="tableClasses">
			<ng-container [matColumnDef]="COLUMN_NAME_SELECT">
				<th mat-header-cell *matHeaderCellDef>
					<mat-checkbox
						(change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
					>
					</mat-checkbox>
				</th>
				<td mat-cell *matCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
					</mat-checkbox>
				</td>
				<td mat-footer-cell *matFooterCellDef></td>
			</ng-container>

			<ng-container [matColumnDef]="COLUMN_NAME_POSITION">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
				<td mat-cell *matCellDef="let element" title="No.">{{ element.position }}</td>
				<td mat-footer-cell *matFooterCellDef></td>
			</ng-container>

			<ng-container [matColumnDef]="COLUMN_NAME_NAME">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
				<td mat-cell *matCellDef="let element" title="Name">{{ element.name }}</td>
				<td mat-footer-cell *matFooterCellDef><b> TOTAL </b></td>
			</ng-container>

			<ng-container [matColumnDef]="COLUMN_NAME_WEIGHT">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Weight</th>
				<td mat-cell *matCellDef="let element" title="Weight">{{ element.weight }}</td>
				<td mat-footer-cell *matFooterCellDef>
					<b> {{ totalWeight }}</b>
				</td>
			</ng-container>

			<ng-container [matColumnDef]="COLUMN_NAME_SYMBOL">
				<th mat-header-cell *matHeaderCellDef mat-sort-header>Symbol</th>
				<td mat-cell *matCellDef="let element" title="Symbol">{{ element.symbol }}</td>
				<td mat-footer-cell *matFooterCellDef></td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
			<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
		</table>

		<mat-table *ngIf="flexTable" matSort (matSortChange)="sortData($event)" [dataSource]="dataSource" class="table-example" [ngClass]="tableClasses">
			<ng-container [cdkColumnDef]="COLUMN_NAME_SELECT">
				<mat-header-cell *cdkHeaderCellDef>
					<mat-checkbox
						(change)="$event ? masterToggle() : null"
						[checked]="selection.hasValue() && isAllSelected()"
						[indeterminate]="selection.hasValue() && !isAllSelected()"
					>
					</mat-checkbox>
				</mat-header-cell>
				<mat-cell *cdkCellDef="let row">
					<mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
					</mat-checkbox>
				</mat-cell>
				<mat-footer-cell *cdkFooterCellDef></mat-footer-cell>
			</ng-container>

			<ng-container [cdkColumnDef]="COLUMN_NAME_POSITION">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> No.</mat-header-cell>
				<mat-cell *cdkCellDef="let row" title="No."> {{ row.position }} </mat-cell>
				<mat-footer-cell *cdkFooterCellDef></mat-footer-cell>
			</ng-container>

			<ng-container [cdkColumnDef]="COLUMN_NAME_NAME">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Name</mat-header-cell>
				<mat-cell *cdkCellDef="let row" title="Name"> {{ row.name }} </mat-cell>
				<mat-footer-cell *cdkFooterCellDef><b>TOTAL</b></mat-footer-cell>
			</ng-container>

			<ng-container [cdkColumnDef]="COLUMN_NAME_WEIGHT">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Weight</mat-header-cell>
				<mat-cell *cdkCellDef="let row" title="Weight"> {{ row.weight }} </mat-cell>
				<mat-footer-cell *cdkFooterCellDef
					><b>{{ totalWeight }}</b></mat-footer-cell
				>
			</ng-container>

			<ng-container [cdkColumnDef]="COLUMN_NAME_SYMBOL">
				<mat-header-cell *cdkHeaderCellDef mat-sort-header> Symbol</mat-header-cell>
				<mat-cell *cdkCellDef="let row" title="Symbol"> {{ row.symbol }} </mat-cell>
				<mat-footer-cell *cdkFooterCellDef></mat-footer-cell>
			</ng-container>

			<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
			<mat-footer-row *cdkFooterRowDef="displayedColumns"></mat-footer-row>
		</mat-table>
	</ng-container>
	<ng-container column-right-content>
		<h3>Controls</h3>
		<mat-list>
			<fieldset>
				<legend>Filter</legend>
				<mat-list-item>
					<mat-form-field>
						<mat-label>Name</mat-label>
						<input matInput #filterControl (keyup)="applyFilter($event)" />
						<button type="button" role="button" [obInputClear]="filterControl" (onClear)="applyFilter($event)">
							<span class="fa fa-times-circle"></span>
						</button>
					</mat-form-field>
				</mat-list-item>
			</fieldset>
			<fieldset>
				<legend>Structure</legend>
				<mat-list-item>
					<mat-slide-toggle (click)="toggleSelectionVisibility()" matTooltip="Toggle selection">
						Selection column
					</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle (click)="toggleFlexTableVisibility()" matTooltip="Toggle flex table">
						Flex table
					</mat-slide-toggle>
				</mat-list-item>
			</fieldset>
			<fieldset>
				<legend>Oblique styling classes</legend>
				<mat-list-item>
					<mat-slide-toggle (click)="toggleTableClass(OBLIQUE_CLASS_TABLE)" matTooltip="Toggle Oblique class 'table'">
						{{ OBLIQUE_CLASS_TABLE }}
					</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle
						(click)="toggleTableClass(OBLIQUE_CLASS_TABLE_CICD)"
						matTooltip="Toggle Oblique class 'table-cicd'"
						[disabled]="!obliqueStylingActive"
					>
						{{ OBLIQUE_CLASS_TABLE_CICD }}
					</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle
						(click)="toggleTableClass(OBLIQUE_CLASS_TABLE_SM)"
						matTooltip="Toggle Oblique class 'table-sm'"
						[disabled]="!obliqueStylingActive"
					>
						{{ OBLIQUE_CLASS_TABLE_SM }}
					</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle
						(click)="toggleTableClass(OBLIQUE_CLASS_TABLE_LG)"
						matTooltip="Toggle Oblique class 'table-lg'"
						[disabled]="!obliqueStylingActive"
					>
						{{ OBLIQUE_CLASS_TABLE_LG }}
					</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle
						(click)="toggleTableClass(OBLIQUE_CLASS_TABLE_PLAIN)"
						matTooltip="Toggle Oblique class 'table-plain'"
						[disabled]="!obliqueStylingActive"
					>
						{{ OBLIQUE_CLASS_TABLE_PLAIN }}
					</mat-slide-toggle>
				</mat-list-item>
				<mat-list-item>
					<mat-slide-toggle
						(click)="toggleTableClass(OBLIQUE_CLASS_TABLE_COLLAPSE)"
						matTooltip="Toggle Oblique class 'table-collapse'"
						[disabled]="!obliqueStylingActive"
					>
						{{ OBLIQUE_CLASS_TABLE_COLLAPSE }}
					</mat-slide-toggle>
				</mat-list-item>
			</fieldset>
			<fieldset>
				<legend style="margin-bottom: 30px;">Pagination</legend>
				<mat-list-item>
					<mat-paginator [pageSizeOptions]="pageSizeOptions"></mat-paginator>
				</mat-list-item>
			</fieldset>
		</mat-list>
	</ng-container>
</ob-column-layout>
