<h2 class="page-header">Table</h2>
<ob-column-layout [left]="false">
	<div column-main-content [class.ob-table-scrollable]="isScrollable$ | async">
		<table *ngIf="isStructureDefault$ | async" mat-table matSort [dataSource]="dataSource" [ngClass]="obliqueStyles$ | async">
			<caption *ngIf="hasCaption$ | async">
				This is a table caption
			</caption>
			<ng-container [matColumnDef]="COLUMN_NAME_SELECT">
				<th mat-header-cell *matHeaderCellDef>
					<ng-container [ngTemplateOutlet]="selectHeader"></ng-container>
				</th>
				<td mat-cell *matCellDef="let row">
					<ng-container [ngTemplateOutlet]="selectContent" [ngTemplateOutletContext]="{row}"></ng-container>
				</td>
			</ng-container>

			<ng-container *ngFor="let column of columns">
				<ng-container [matColumnDef]="column.key">
					<th mat-header-cell *matHeaderCellDef mat-sort-header>
						<ng-container [ngTemplateOutlet]="columnHeader" [ngTemplateOutletContext]="{column}"></ng-container>
					</th>
					<td mat-cell *matCellDef="let element" [attr.data-title]="column.name">
						<ng-container [ngTemplateOutlet]="columnContent" [ngTemplateOutletContext]="{column, element}"></ng-container>
					</td>
				</ng-container>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
		</table>

		<mat-table *ngIf="(isStructureDefault$ | async) === false" matSort [dataSource]="dataSource" [ngClass]="obliqueStyles$ | async">
			<ng-container [cdkColumnDef]="COLUMN_NAME_SELECT">
				<mat-header-cell *cdkHeaderCellDef>
					<ng-container [ngTemplateOutlet]="selectHeader"></ng-container>
				</mat-header-cell>
				<mat-cell *cdkCellDef="let row">
					<ng-container [ngTemplateOutlet]="selectContent" [ngTemplateOutletContext]="{row}"></ng-container>
				</mat-cell>
			</ng-container>

			<ng-container *ngFor="let column of columns">
				<ng-container [matColumnDef]="column.key">
					<mat-header-cell *matHeaderCellDef mat-sort-header>
						<ng-container [ngTemplateOutlet]="columnHeader" [ngTemplateOutletContext]="{column}"></ng-container>
					</mat-header-cell>
					<mat-cell *matCellDef="let element">
						<ng-container [ngTemplateOutlet]="columnContent" [ngTemplateOutletContext]="{column, element}"></ng-container>
					</mat-cell>
				</ng-container>
			</ng-container>

			<mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
			<mat-row *cdkRowDef="let row; columns: displayedColumns"></mat-row>
		</mat-table>
		<mat-paginator [pageSizeOptions]="[10, 5, 2]"></mat-paginator>
	</div>
	<ng-container column-right-content>
		<ng-container [formGroup]="controls">
			<h3>Controls</h3>
			<fieldset>
				<legend>Filter</legend>
				<mat-form-field>
					<mat-label>Name</mat-label>
					<input matInput formControlName="filter" />
				</mat-form-field>
			</fieldset>
			<fieldset>
				<legend>Structure</legend>
				<div class="form-elements">
					<mat-slide-toggle formControlName="default" matTooltip="Toggle between default and flex table"> Default table </mat-slide-toggle>
					<mat-slide-toggle formControlName="selection" matTooltip="Toggle selection column">Selection column </mat-slide-toggle>
					<mat-slide-toggle formControlName="caption" matTooltip="Toggle caption"> Table caption </mat-slide-toggle>
				</div>
			</fieldset>
			<fieldset>
				<legend class="mat-control">Oblique styling classes</legend>
				<div formGroupName="style" class="form-elements">
					<mat-slide-toggle formControlName="ob-table" matTooltip="Toggle Oblique styling for tables"> ob-table </mat-slide-toggle>
					<mat-slide-toggle formControlName="ob-table-cicd" matTooltip="Toggle CI/CD styling for tables"> ob-table-cicd </mat-slide-toggle>
					<mat-slide-toggle formControlName="ob-table-plain" matTooltip="Toggle odd lines highlighting"> ob-table-plain </mat-slide-toggle>
					<mat-slide-toggle formControlName="ob-table-hover" matTooltip="Toggle hover effect on table's rows"
						>ob-table-hover
					</mat-slide-toggle>
					<mat-slide-toggle formControlName="ob-table-sm" matTooltip="Toggle small table variant"> ob-table-sm </mat-slide-toggle>
					<mat-slide-toggle formControlName="ob-table-lg" matTooltip="Toggle large table variant"> ob-table-lg </mat-slide-toggle>
				</div>
			</fieldset>
			<fieldset>
				<legend class="mat-control">Oblique collapsing classes</legend>
				<mat-radio-group formControlName="collapsed" class="form-elements">
					<mat-radio-button value="none">None</mat-radio-button>
					<mat-radio-button
						value="ob-table-collapse"
						matTooltip="Toggle table collapsing behavior (reduce the viewport to see it in action)"
						[disabled]="isOptionDisabled"
						>ob-table-collapse</mat-radio-button
					>
					<mat-radio-button
						value="ob-table-collapse-md"
						matTooltip="Toggle table collapsing behavior on a smaller breaking point (reduce the viewport to see it in action)"
						[disabled]="isOptionDisabled"
						>ob-table-collapse-md</mat-radio-button
					>
					<mat-radio-button
						value="ob-table-collapse-sm"
						matTooltip="Toggle table collapsing behavior on an even smaller breaking point (reduce the viewport to see it in action)"
						[disabled]="isOptionDisabled"
						>ob-table-collapse-sm</mat-radio-button
					>
					<mat-radio-button value="ob-table-scrollable" matTooltip="Toggle Oblique class 'table-scrollable'"
						>ob-table-scrollable</mat-radio-button
					>
				</mat-radio-group>
			</fieldset>
		</ng-container>
	</ng-container>
</ob-column-layout>

<ng-template #selectHeader>
	<mat-checkbox
		[checked]="selection.hasValue() && isAllSelected()"
		[indeterminate]="selection.hasValue() && !isAllSelected()"
		(change)="$event ? masterToggle() : null"
	>
	</mat-checkbox>
</ng-template>

<ng-template #selectContent let-row="row">
	<mat-checkbox [checked]="selection.isSelected(row)" (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null">
	</mat-checkbox>
</ng-template>

<ng-template #columnHeader let-column="column">
	{{ column.name }}
</ng-template>

<ng-template #columnContent let-column="column" let-element="element">
	{{ element[column.key] }}
</ng-template>
