<h2 class="page-header">Buttons</h2>
<table class="ob-table ob-table-disable-checked-style ob-table-disable-hover-style ob-table-plain">
	<caption>
		Different types of buttons
	</caption>
	<thead>
		<tr>
			<th></th>
			<th scope="col">Basic</th>
			<th scope="col">Primary</th>
			<th scope="col">Accent</th>
			<th scope="col">Warn</th>
			<th scope="col">Disabled</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="row">Basic</th>
			<td>
				<button type="button" mat-button>text</button>
			</td>
			<td>
				<button type="button" mat-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-button disabled>text</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Raised</th>
			<td>
				<button type="button" mat-raised-button>text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn" disabled>text</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Stroked</th>
			<td>
				<button type="button" mat-stroked-button>text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn" disabled>text</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Flat</th>
			<td>
				<button type="button" mat-flat-button>text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn" disabled>text</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Icon</th>
			<td>
				<button type="button" mat-icon-button matTooltip="edit">
					<mat-icon svgIcon="pencil" />
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="edit" color="primary">
					<mat-icon svgIcon="pencil" />
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="edit" color="accent">
					<mat-icon svgIcon="pencil" />
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="edit" color="warn">
					<mat-icon svgIcon="pencil" />
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="edit" color="warn" disabled>
					<mat-icon svgIcon="pencil" />
				</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Fab</th>
			<td>
				<button type="button" mat-fab matTooltip="edit"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-fab matTooltip="edit" color="primary"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-fab matTooltip="edit" color="accent"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-fab matTooltip="edit" color="warn"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-fab matTooltip="edit" color="warn" disabled><mat-icon svgIcon="pencil" /></button>
			</td>
		</tr>
		<tr>
			<th scope="row">Mini fab</th>
			<td>
				<button type="button" mat-mini-fab matTooltip="edit"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-mini-fab matTooltip="edit" color="primary"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-mini-fab matTooltip="edit" color="accent"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-mini-fab matTooltip="edit" color="warn"><mat-icon svgIcon="pencil" /></button>
			</td>
			<td>
				<button type="button" mat-mini-fab matTooltip="edit" color="warn" disabled><mat-icon svgIcon="pencil" /></button>
			</td>
		</tr>
	</tbody>
</table>
<table class="ob-table ob-table-disable-checked-style ob-table-disable-hover-style ob-table-plain">
	<caption>
		Buttons with oblique icon
	</caption>
	<thead>
		<tr>
			<th>button type</th>
			<th>text position</th>
			<th>text</th>
			<th>Oblique icon</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th scope="rowgroup" rowspan="3">Basic</th>
			<th scope="row">None</th>
			<td>
				<button type="button" mat-button>logout</button>
			</td>
			<td>
				<button type="button" mat-button matTooltip="logout" color="warn"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
		<tr>
			<th scope="row">Right</th>
			<td>
				<button type="button" mat-button>logout</button>
			</td>
			<td>
				<button type="button" mat-button color="warn"><mat-icon svgIcon="logout" />logout</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Left</th>
			<td>
				<button type="button" mat-button>logout</button>
			</td>
			<td>
				<button type="button" mat-button color="warn">text <mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th scope="rowgroup" rowspan="3">Raised</th>
			<th scope="row">None</th>
			<td>
				<button type="button" mat-raised-button>logout</button>
			</td>
			<td>
				<button type="button" mat-raised-button matTooltip="logout" color="warn"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
		<tr>
			<th scope="row">Right</th>
			<td>
				<button type="button" mat-raised-button>logout</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn"><mat-icon svgIcon="logout" />logout</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Left</th>
			<td>
				<button type="button" mat-raised-button>logout</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn">logout<mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th scope="rowgroup" rowspan="3">Stroked</th>
			<th scope="row">None</th>
			<td>
				<button type="button" mat-stroked-button>logout</button>
			</td>
			<td>
				<button type="button" mat-stroked-button matTooltip="logout" color="warn"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
		<tr>
			<th scope="row">Right</th>
			<td>
				<button type="button" mat-stroked-button>logout</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn"><mat-icon svgIcon="logout" />logout</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Left</th>
			<td>
				<button type="button" mat-stroked-button>logout</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn">logout<mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th scope="rowgroup" rowspan="3">Flat</th>
			<th scope="row">None</th>
			<td>
				<button type="button" mat-flat-button>logout</button>
			</td>
			<td>
				<button type="button" mat-flat-button matTooltip="logout" color="warn"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
		<tr>
			<th scope="row">Right</th>
			<td>
				<button type="button" mat-flat-button>logout</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn"><mat-icon svgIcon="logout" />logout</button>
			</td>
		</tr>
		<tr>
			<th scope="row">Left</th>
			<td>
				<button type="button" mat-flat-button>logout</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn">logout <mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
	</tbody>
	<tbody>
		<tr>
			<th scope="row">Icon</th>
			<td></td>
			<td>
				<button type="button" mat-icon-button>logout</button>
			</td>
			<td>
				<button type="button" mat-icon-button matTooltip="logout" color="warn"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
		<tr>
			<th scope="row">Fab</th>
			<td></td>
			<td>
				<button type="button" mat-fab>logout</button>
			</td>
			<td>
				<button type="button" mat-fab matTooltip="logout" color="warn"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
		<tr>
			<th scope="row">Mini fab</th>
			<td></td>
			<td>
				<button type="button" mat-mini-fab>logout</button>
			</td>
			<td>
				<button type="button" mat-mini-fab matTooltip="logout" color="warn"><mat-icon svgIcon="logout" /></button>
			</td>
		</tr>
	</tbody>
</table>
