<h2 class="page-header">Buttons</h2>
<table class="ob-table ob-table-plain">
	<thead>
		<tr>
			<th></th>
			<th>Basic</th>
			<th>Primary</th>
			<th>Accent</th>
			<th>Warn</th>
			<th>Disabled</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Basic</th>
			<td>
				<button type="button" mat-button>text</button>
			</td>
			<td>
				<button type="button" mat-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-button disabled>text</button>
			</td>
		</tr>
		<tr>
			<th>Raised</th>
			<td>
				<button type="button" mat-raised-button>text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn" disabled>text</button>
			</td>
		</tr>
		<tr>
			<th>Stroked</th>
			<td>
				<button type="button" mat-stroked-button>text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn" disabled>text</button>
			</td>
		</tr>
		<tr>
			<th>Flat</th>
			<td>
				<button type="button" mat-flat-button>text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="primary">text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="accent">text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn">text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn" disabled>text</button>
			</td>
		</tr>
		<tr>
			<th>Icon</th>
			<td>
				<button type="button" mat-icon-button>
					<mat-icon svgIcon="pen"></mat-icon>
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button color="primary">
					<mat-icon svgIcon="pen"></mat-icon>
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button color="accent">
					<mat-icon svgIcon="pen"></mat-icon>
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button color="warn">
					<mat-icon svgIcon="pen"></mat-icon>
				</button>
			</td>
			<td>
				<button type="button" mat-icon-button color="warn" disabled>
					<mat-icon svgIcon="pen"></mat-icon>
				</button>
			</td>
		</tr>
		<tr>
			<th>Fab</th>
			<td>
				<button type="button" mat-fab><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-fab color="primary"><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-fab color="accent"><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-fab color="warn"><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-fab color="warn" disabled><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Mini fab</th>
			<td>
				<button type="button" mat-mini-fab><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-mini-fab color="primary"><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-mini-fab color="accent"><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-mini-fab color="warn"><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
			<td>
				<button type="button" mat-mini-fab color="warn" disabled><mat-icon svgIcon="pen"></mat-icon></button>
			</td>
		</tr>
	</tbody>
</table>
<table class="ob-table ob-table-plain">
	<thead>
		<tr>
			<th></th>
			<th>text</th>
			<th>Oblique icon</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>Basic</th>
			<td>
				<button type="button" mat-button>text</button>
			</td>
			<td>
				<button type="button" mat-button color="warn"><mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Basic with right text</th>
			<td>
				<button type="button" mat-button>text</button>
			</td>
			<td>
				<button type="button" mat-button color="warn"><mat-icon svgIcon="logout"></mat-icon> text</button>
			</td>
		</tr>
		<tr>
			<th>Basic with left text</th>
			<td>
				<button type="button" mat-button>text</button>
			</td>
			<td>
				<button type="button" mat-button color="warn">text <mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Raised</th>
			<td>
				<button type="button" mat-raised-button>text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn"><mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Raised with right text</th>
			<td>
				<button type="button" mat-raised-button>text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn"><mat-icon svgIcon="logout"></mat-icon> text</button>
			</td>
		</tr>
		<tr>
			<th>Raised with left text</th>
			<td>
				<button type="button" mat-raised-button>text</button>
			</td>
			<td>
				<button type="button" mat-raised-button color="warn">text <mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Stroked</th>
			<td>
				<button type="button" mat-stroked-button>text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn"><mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Stroked with right text</th>
			<td>
				<button type="button" mat-stroked-button>text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn"><mat-icon svgIcon="logout"></mat-icon> text</button>
			</td>
		</tr>
		<tr>
			<th>Stroked with left text</th>
			<td>
				<button type="button" mat-stroked-button>text</button>
			</td>
			<td>
				<button type="button" mat-stroked-button color="warn">text <mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Flat</th>
			<td>
				<button type="button" mat-flat-button>text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn"><mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Flat with right text</th>
			<td>
				<button type="button" mat-flat-button>text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn"><mat-icon svgIcon="logout"></mat-icon> text</button>
			</td>
		</tr>
		<tr>
			<th>Flat with left text</th>
			<td>
				<button type="button" mat-flat-button>text</button>
			</td>
			<td>
				<button type="button" mat-flat-button color="warn">text <mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Icon</th>
			<td>
				<button type="button" mat-icon-button>text</button>
			</td>
			<td>
				<button type="button" mat-icon-button color="warn"><mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Fab</th>
			<td>
				<button type="button" mat-fab>text</button>
			</td>
			<td>
				<button type="button" mat-fab color="warn"><mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
		<tr>
			<th>Mini fab</th>
			<td>
				<button type="button" mat-mini-fab>text</button>
			</td>
			<td>
				<button type="button" mat-mini-fab color="warn"><mat-icon svgIcon="logout"></mat-icon></button>
			</td>
		</tr>
	</tbody>
</table>
