@use "../variables";

@mixin ob-column-separator {
	display: block;
	content: '';

	position: absolute;
	top: 0;
	@content;

	width: 1px;
	height: 100%;

	background-color: variables.$ob-gray-extra-light;
}
