@import "layout";

@mixin icon-base($icon) {
	content: $icon;
	display: inline-block;
	font: normal normal normal 1rem FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-width: $spacing-default;
}

@mixin icon($icon, $position: before) {
	@if $position == before {
		&::before {
			@include icon-base($icon);
		}
	} @else if $position == after {
		&::after {
			@include icon-base($icon);
		}
	}
}


