@use "sass:map";
@use "../variables";

@mixin ob-map-error($map, $key) {
	@if map-has-key($map, $key) {
		@content;
	} @else {
		@warn "Unknown breakpoint name: #{$key}.";
	}
}

@mixin ob-media-breakpoint-up($name) {
	@include ob-map-error(variables.$ob-grid-breakpoints, $name) {
		@media (min-width: map.get(variables.$ob-grid-breakpoints, $name)) {
			@content;
		}
	}
}

@mixin ob-media-breakpoint-down($name) {
	@include ob-map-error(variables.$ob-grid-breakpoints, $name) {
		@media (max-width: map.get(variables.$ob-grid-breakpoints, $name)) {
			@content
		}
	}
}
