@import "projects/oblique/src/styles/scss/core/variables";

@mixin layout-collapse-down() {
	@media (max-width: $layout-collapse) {
		@content;
	}
}

@mixin layout-collapse-up() {
	@media (min-width: $layout-collapse) {
		@content;
	}
}

@mixin media-breakpoint-up($name) {
	@media (min-width: map-get($grid-breakpoints, $name)) {
		@content;
	}
}

@mixin media-breakpoint-down($name) {
	@media (max-width: map-get($grid-breakpoints, $name)) {
		@content;
	}
}
