@import "projects/oblique/src/styles/scss/core/variables";

@mixin nav-hover($offset: 0) {
	position: relative;

	&.active,
	&:active,
	&:hover,
	&:focus {
		background-color: $gray-extra-light;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: #{$offset}px;
			bottom: #{$offset}px;
			left: 0;
			border-left: $brand-line-width solid $brand-accent;
		}
	}

	&.active {
		font-weight: 600;
		background-color: $gray-light;
	}
}

@mixin nav-indent($base: 0px) {
	$base: $base + $spacing-default;

	.nav-tree > li > .nav-link {
		padding-left: $base;
	}

	.nav-tree .nav-tree > li > .nav-link {
		padding-left: $base + $spacing-default;
		font-size: 90%;
	}

	.nav-tree .nav-tree .nav-tree > li > .nav-link {
		padding-left: $base + $spacing-default + $spacing-sm;
		font-size: 85%;
	}

	.nav-tree .nav-tree .nav-tree .nav-tree > li > .nav-link {
		padding-left: $base + $spacing-default + 2 * $spacing-sm;
		font-size: 80%;
	}

	.nav-tree .nav-tree .nav-tree .nav-tree .nav-tree > li > .nav-link {
		padding-left: $base + $spacing-default + 3 * $spacing-sm;
		font-size: 75%;
	}
}
