@use "../variables";
@use "./layout";

@mixin ob-nav-hover($offset: 0) {
	position: relative;

	&.active,
	&:active,
	&:hover,
	&:focus {
		z-index: variables.$ob-z-index-controls + 1;

		&::after {
			content: "";
			position: absolute;
			top: #{$offset}px;
			bottom: #{$offset}px;
			left: 0;
		}
	}

	&:hover {
		background-color: variables.$ob-secondary-50;
	}

	&:active {
		background-color: variables.$ob-secondary-100;
	}
}

@mixin ob-nav-indent($base: 0) {
	$base: $base + variables.$ob-spacing-sm;

	.ob-nav-tree > li > .ob-nav-link {
		padding-left: $base;
	}

	.ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + variables.$ob-spacing-sm;
	}

	.ob-nav-tree .ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + variables.$ob-spacing-sm + variables.$ob-spacing-sm;
	}

	.ob-nav-tree .ob-nav-tree .ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + variables.$ob-spacing-sm + 2 * variables.$ob-spacing-sm;
	}

	.ob-nav-tree .ob-nav-tree .ob-nav-tree .ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + variables.$ob-spacing-sm + 3 * variables.$ob-spacing-sm;
	}
}
