@import "../variables";

@mixin ob-nav-hover($offset: 0) {
	position: relative;

	&.active,
	&:active,
	&:hover,
	&:focus {
		background-color: $ob-gray-extra-light;
		z-index: 1;

		&:after {
			content: '';
			position: absolute;
			top: #{$offset}px;
			bottom: #{$offset}px;
			left: 0;
			border-left: $ob-line-width solid $ob-accent;
		}
	}

	&.active {
		font-weight: 600;
		background-color: $ob-gray-light;
	}
}

@mixin ob-nav-indent($base: 0px) {
	$base: $base + $ob-spacing-default;

	.ob-nav-tree > li > .ob-nav-link {
		padding-left: $base;
	}

	.ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + $ob-spacing-default;
		font-size: 90%;
	}

	.ob-nav-tree .ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + $ob-spacing-default + $ob-spacing-sm;
		font-size: 85%;
	}

	.ob-nav-tree .ob-nav-tree .ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + $ob-spacing-default + 2 * $ob-spacing-sm;
		font-size: 80%;
	}

	.ob-nav-tree .ob-nav-tree .ob-nav-tree .ob-nav-tree .ob-nav-tree > li > .ob-nav-link {
		padding-left: $base + $ob-spacing-default + 3 * $ob-spacing-sm;
		font-size: 75%;
	}
}
