@import "../variables";
@import "icon";

@mixin stepper-state($bullet-color, $bullet-bg, $bullet-border) {
	&:before {
		color: $bullet-color;
		background-color: $bullet-bg;
		border-color: $bullet-border;
	}

	&:after {
		border-color: $bullet-border;
		border-style: solid;
	}
}

@mixin stepper-feedback($icon) {
	&::before {
		content: fa-content($icon);
		font-family: $icon-font-family;
		font-weight: 900;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
}

@mixin stepper-variant($node-font-size, $node-step-size, $node-border-width) {
	$node-line-height: $node-step-size - ($node-border-width * 2);
	.nav-item {
		&:before {
			font-size: $node-font-size - 0.15;
			width: $node-step-size;
			height: $node-step-size;
			line-height: $node-line-height;
			border-width: $node-border-width;
		}

		&:not(.active):not(.disabled):hover:before {
			background-color: $brand-light;
		}

		.nav-link {
			font-size: $node-font-size;
			padding: ($node-border-width + 1) 0; // Simulates step border width
			line-height: $node-line-height;
		}

		.nav-stepper-title {
			line-height: $node-line-height;
			font-size: $node-font-size - 0.15;
		}
	}

	&:not(.nav-horizontal) {
		.nav-item {
			padding-top: $node-step-size * 0.4;
			padding-bottom: $node-step-size * 0.4;
			padding-left: $node-step-size * 1.2;
			min-height: $node-step-size + ($node-step-size * 0.4);

			&:before {
				position: absolute;
				left: 0;
			}

			&:after {
				left: $node-step-size/2 - $node-border-width/2;
				border-left-width: $node-border-width;
			}

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;

				&:after {
					bottom: auto;
					height: $node-step-size;
				}
			}
		}
	}

	&.nav-horizontal {
		flex-direction: row;
		justify-content: center;
		text-align: center;

		.nav-item {
			min-width: $node-step-size + ($node-step-size / 2);
			padding-top: $node-step-size;

			&:before {
				position: relative;
				display: block;
				margin: -$node-step-size auto 0;
			}

			&:after {
				top: $node-step-size / 2;
				border-top-width: $node-border-width;
				margin-top: -($node-border-width / 2);
			}

			&:first-child {
				&:after {
					border-top-style: solid;
					left: 50%;
				}
			}

			&:last-child {
				&:after {
					right: 50%;
				}
			}

			.nav-link {
				line-height: 1.2em;
			}
		}
	}
}
