@import "projects/oblique/src/styles/scss/core/variables";
@import "projects/oblique/src/styles/scss/core/mixins/icon";

@mixin stepper-state($bullet-color, $bullet-bg, $bullet-border, $bg-color: false, $feedback-icon: false) {
	&::before {
		color: $bullet-color;
		background-color: $bullet-bg;
		border-color: $bullet-border;
	}

	&::after {
		border-color: $bullet-border;
		border-style: solid;
	}
	@if $bg-color {
		&:hover::before {
			background-color: $bg-color;
		}
	}
	@if $feedback-icon {
		&.feedback {
			&::before {
				content: fa-content($feedback-icon);
				font-family: $icon-font-family;
				font-weight: 900;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}

@mixin stepper-variant($node-font-size, $node-step-size) {
	.nav-step {
		&::before {
			font-size: $node-font-size;
			width: $node-step-size;
			height: $node-step-size;
			line-height: $node-step-size - 1; // so that is appears better with sm variant
		}
	}

	.step-link,
	.step-title {
		font-size: $node-font-size;
		line-height: $node-step-size + 2px;
	}

	&:not(.nav-horizontal) .nav-step {
		padding-left: $node-step-size * 1.2;

		&::after {
			left: $node-step-size / 2 - 1px;
		}
	}

	&.nav-horizontal .nav-step::after {
		top: $node-step-size / 2 - 1px;
	}
}
