@import "../variables";

@mixin stepper-state($bullet-color, $bullet-bg, $bullet-border, $bg-color: false, $feedback-icon: false) {
	&::before {
		color: $bullet-color;
		background-color: $bullet-bg;
		border-color: $bullet-border;
	}

	&::after {
		border-color: $bullet-border;
		border-style: solid;
	}
	@if $bg-color {
		&:hover::before {
			background-color: $bg-color;
		}
	}
	@if $feedback-icon {
		&.ob-feedback::before {
			@at-root #{selector-append(".ob-font-awesome", &)} {
				content: fa-content($feedback-icon);
				font-family: $icon-font-family;
				font-weight: 900;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
			}
		}
	}
}

@mixin stepper-variant($node-font-size, $node-step-size) {
	.ob-nav-step {
		&::before {
			font-size: $node-font-size;
			width: $node-step-size;
			height: $node-step-size;
			line-height: $node-step-size - 1; // so that is appears better with sm variant
		}
	}

	.ob-step-link,
	.ob-step-title {
		font-size: $node-font-size;
		line-height: $node-step-size + 2px;
	}

	&:not(.ob-nav-horizontal) .ob-nav-step {
		padding-left: $node-step-size * 1.2;

		&::after {
			left: $node-step-size * 0.5 - 1px;
		}
	}

	&.ob-nav-horizontal .ob-nav-step::after {
		top: $node-step-size * 0.5 - 1px;
	}
}

.ob-nav-stepper .ob-nav-step.success.ob-feedback::before {
	content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBvbHlnb24gcG9pbnRzPSI5LjUgMTcuMzU0IDQuNTg3IDEyLjQ0MiA1LjExOCAxMS45MTEgOS41IDE2LjI5NCAxOC44ODIgNi45MTEgMTkuNDEzIDcuNDQyIDkuNSAxNy4zNTQiIGZpbGw9IiMwMDgxM2EiLz48L3N2Zz4=');
}
