@use "../variables";

@mixin ob-tab-outline-base(
	$innerSelector: '',
	$outlineThickness: 1px,
	$outlineOffset: -3px,
	$outlineColor: variables.$ob-primary,
	$bgColor: variables.$ob-light
) {
	&:focus {
		outline: none;
	}

	&:hover #{$innerSelector} {
		background-color: variables.$ob-primary-200;
	}

	.ob-outline &:focus #{$innerSelector} {
		border-color: variables.$ob-default;
		box-shadow: 0 0 variables.$ob-spacing-xs 0 variables.$ob-default;
		outline: 2px solid $outlineColor;
		outline-offset: $outlineOffset;
		background-color: $bgColor;
	}
}

@mixin ob-tab-outline-thick($innerSelector: '') {
	@include ob-tab-outline-base($innerSelector, $outlineThickness: 2px, $outlineOffset: -5px);
}
