@mixin ob-h1 {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: -0.5px;
}

@mixin ob-h2 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: -0.5px;
}

@mixin ob-h3 {
	font-size: 2rem;
	font-weight: 400;
	line-height: 1.375;
	letter-spacing: 0.18px;
}

@mixin ob-h4 {
	font-size: 1.75rem;
	font-weight: 400;
	line-height: 1.285715;
	letter-spacing: 0.1px;
}

@mixin ob-h5 {
	font-size: 1.25rem;
	font-weight: 500;
	line-height: 1.4;
	letter-spacing: 0.2px;
}

@mixin ob-h6 {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.333333;
	letter-spacing: 0.2px;
}

@mixin ob-subtitle1 {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.15px;
}

@mixin ob-subtitle2 {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.42857;
	letter-spacing: 0.1px;
}

@mixin ob-body1 {
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: 0.5px;
}

@mixin ob-body2-line-height-letter-spacing {
	line-height: 1.42857;
	letter-spacing: 0.25px;
}

@mixin ob-body2 {
	font-size: 0.875rem;
	font-weight: 400;
	@include ob-body2-line-height-letter-spacing();
}

@mixin ob-button {
	font-size: 0.875rem;
	font-weight: 500;
	line-height: 1.42857;
	letter-spacing: 0.25px;
}

@mixin ob-caption {
	font-size: 0.75rem;
	font-weight: 400;
	line-height: 1.333333;
	letter-spacing: 0.4px;
}

@mixin ob-overline {
	font-size: 0.75rem;
	font-weight: 500;
	line-height: 1.333333;
	letter-spacing: 2px;
}
