@import "~@fortawesome/fontawesome-free/scss/variables";
@import '../variables';
@import '../mixins/alert';

.alert {
	@include alert-base();

	.alert-link {
		color: $brand-default;
		text-decoration: underline;
	}

	.close {
		float: right;
		padding: 0;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1;
		border: 0;
		color: inherit;
		background-color: transparent;
		opacity: .5;
		cursor: pointer;

		&:hover {
			opacity: 1;
		}
	}

	p, ul {
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.alert-info {
	@include alert-variant($brand-info-light, $fa-var-info, $brand-info);
}

.alert-success {
	@include alert-variant($brand-success-light, $fa-var-check, $brand-success);
}

.alert-warning {
	@include alert-variant($brand-warning-light, $fa-var-exclamation, $brand-warning);
}

.alert-error {
	@include alert-variant($brand-error-light, $fa-var-times, $brand-error);
}
