@use "../../core/variables";

/**
 * @deprecated since Oblique 10. This SCSS file will no longer be distributed with Oblique 11
 */
.ob-external-link {
	display: inline-flex;
	align-items: baseline;
	gap: variables.$ob-spacing-xs;

	span.mat-icon {
		align-self: center;
		flex-shrink: 0;
	}

	&.mat-icon-button span.mat-icon {
		display: none;
	}
}
