@use "../../core/variables";

.ob-external-link {
	display: inline-flex;
	align-items: baseline;
	gap: variables.$ob-spacing-xs;

	span.mat-icon {
		overflow: visible;
		flex-shrink: 0;
	}

	&:not(.ob-button) span.mat-icon svg {
		margin-top: 2px; // empiric value
	}

	&.mat-mdc-icon-button span.mat-icon {
		display: none;
	}
}
