@use "../../core/variables";

.ob-external-link {
	display: inline-flex;
	align-items: baseline;
	gap: variables.$ob-spacing-xs;

	span.mat-icon {
		align-self: center;
		flex-shrink: 0;
	}

	&.mat-mdc-icon-button span.mat-icon {
		display: none;
	}
}
