@use "../variables";
@use "../mixins/layout";
@use "../mixins/list";

/**
 * @deprecated since Oblique 10. This SCSS file will no longer be distributed with Oblique 11
 */
@include layout.ob-media-breakpoint-up(md) {
	dl.ob-horizontal {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: variables.$ob-spacing-default;

		&.ob-right-aligned dt {
			justify-self: end;
		}

		dd,
		dt {
			margin: 0;
		}

		dd + dd {
			grid-column: 2 / 3;
		}
	}
}

.ob-list-title {
	@include list.ob-list-title();
}
