@import "../variables";
@import "../mixins/layout";
@import "../mixins/list";

@include ob-media-breakpoint-up(md) {
	dl.ob-horizontal {
		display: grid;
		grid-template-columns: auto 1fr;
		column-gap: $ob-spacing-default;

		&.ob-right-aligned dt {
			justify-self: end;
		}

		dd, dt {
			margin: 0;
		}

		dd + dd {
			grid-column-start: 2;
			grid-column-end: 3;
		}
	}
}

.ob-list-title {
	@include ob-list-title();
}
