@import "../variables";

.nav-tabs {
	.nav-item + .nav-item {
		margin-left: 2px;
	}

	.nav-link {
		padding-left: $spacing-default;

		&:focus {
			border-color: $gray-light $gray-light transparent;
		}

		&:hover:before,
		&.active:before {
			content: "";
			border-radius: 3px 3px 0 0;
			background-color: $brand-accent;
			height: 3px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
		}

		&:not(.active):hover:before {
			background-color: $gray-light;
		}
	}
}
