@import "~@fortawesome/fontawesome-free/scss/variables";
@import "../variables";
@import "../mixins/layout";
@import "../mixins/stepper";

.nav-stepper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	counter-reset: li-counter;

	.nav-step {
		flex-basis: auto;
		flex-grow: 1;
		position: relative;

		&:before {
			content: counter(li-counter);
			counter-increment: li-counter;
			text-align: center;
			color: $brand-primary;
			background-color: $white;
			border: 1px solid $brand-primary;
			border-radius: 50%;
			box-shadow: 0 0 2px 2px $white;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-width: 0;
			border-left-style: solid;
			border-top-style: solid;
			border-color: $brand-primary;
			z-index: -1;
		}

		&:hover::before {
			background-color: $brand-light;
		}

		&.active {
			@include stepper-state($white, $brand-primary, $brand-primary);
		}

		&.success {
			@include stepper-state($brand-success, $white, $brand-success, $brand-success-light, $fa-var-check);
		}

		&.disabled {
			@include stepper-state($gray-dark, $white, $gray-dark);

			.step-link {
				color: $gray-dark;
				cursor: default;
			}
		}

		&:not(.disabled) {
			cursor: pointer;
		}

		&[data-step-label]::before {
			content: attr(data-step-label);
		}
	}

	.step-link {
		display: block;
		text-decoration: none;
	}

	&:not(.nav-stepper-sm):not(.nav-stepper-lg) {
		@include stepper-variant($stepper-font-size, $stepper-size);
	}

	&.nav-stepper-sm {
		@include stepper-variant($stepper-sm-font-size, $stepper-size-sm);
	}

	&.nav-stepper-lg {
		@include stepper-variant($stepper-lg-font-size, $stepper-size-lg);
	}

	&:not(.nav-horizontal) .nav-step {
		&::before {
			position: absolute;
			left: 0;
		}

		&::after {
			border-left-width: 1px;
		}

		&:not(:first-child) {
			padding-top: $spacing-default;
		}

		&:not(:last-child) {
			padding-bottom: $spacing-default;
		}
	}

	&.nav-horizontal {
		flex-direction: row;
		text-align: center;

		.nav-step {
			flex-grow: 0;

			&:not(:first-child) {
				padding-left: $spacing-default;
			}

			&:not(:last-child) {
				padding-right: $spacing-default;
			}

			&::before {
				position: relative;
				display: block;
				margin: auto;
			}

			&::after {
				border-top-width: 1px;
			}

			&:first-child::after {
				left: 50%;
			}

			&:last-child::after {
				right: 50%;
			}
		}

		&.full-width {
			.nav-step {
				flex-grow: 1;
			}
		}
	}
}
