@use "~@fortawesome/fontawesome-free/scss/variables" as scss-variables;
@use "../variables";
@use "../mixins/stepper";

.ob-nav-stepper {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	list-style-type: none;
	margin-bottom: 0;
	padding-left: 0;
	counter-reset: li-counter;

	.ob-nav-step {
		flex-basis: auto;
		flex-grow: 1;
		position: relative;

		&:before {
			content: counter(li-counter);
			counter-increment: li-counter;
			text-align: center;
			color: variables.$ob-primary;
			background-color: variables.$ob-white;
			border: 1px solid variables.$ob-primary;
			border-radius: 50%;
			box-shadow: 0 0 2px 2px variables.$ob-white;
			z-index: 1;
		}

		&:after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			border-width: 0;
			border-left-style: solid;
			border-top-style: solid;
			border-color: variables.$ob-primary;
			z-index: -1;
		}

		&:hover::before {
			background-color: variables.$ob-light;
		}

		&.active {
			@include stepper.ob-stepper-state(variables.$ob-white, variables.$ob-primary, variables.$ob-primary);
		}

		&.success {
			@include stepper.ob-stepper-state(variables.$ob-success, variables.$ob-white, variables.$ob-success, variables.$ob-success-light, scss-variables.$fa-var-check);
		}

		&.disabled {
			@include stepper.ob-stepper-state(variables.$ob-gray-dark, variables.$ob-white, variables.$ob-gray-dark);

			.ob-step-link {
				color: variables.$ob-gray-dark;
				cursor: default;
			}
		}

		&:not(.disabled) {
			cursor: pointer;
		}

		&[data-step-label]::before {
			content: attr(data-step-label);
		}
	}

	.ob-step-link {
		display: block;
		text-decoration: none;
	}

	&:not(.ob-nav-stepper-sm):not(.ob-nav-stepper-lg) {
		@include stepper.ob-stepper-variant(variables.$ob-stepper-font-size, variables.$ob-stepper-size);
	}

	&.ob-nav-stepper-sm {
		@include stepper.ob-stepper-variant(variables.$ob-stepper-sm-font-size, variables.$ob-stepper-size-sm);
	}

	&.ob-nav-stepper-lg {
		@include stepper.ob-stepper-variant(variables.$ob-stepper-lg-font-size, variables.$ob-stepper-size-lg);
	}

	&:not(.ob-nav-horizontal) .ob-nav-step {
		&::before {
			position: absolute;
			left: 0;
		}

		&::after {
			border-left-width: 1px;
		}

		&:not(:first-child) {
			padding-top: variables.$ob-spacing-default;
		}

		&:not(:last-child) {
			padding-bottom: variables.$ob-spacing-default;
		}
	}

	&.ob-nav-horizontal {
		flex-direction: row;
		text-align: center;

		.ob-nav-step {
			flex-grow: 0;

			&:not(:first-child) {
				padding-left: variables.$ob-spacing-default;
			}

			&:not(:last-child) {
				padding-right: variables.$ob-spacing-default;
			}

			&::before {
				position: relative;
				display: block;
				margin: auto;
			}

			&::after {
				border-top-width: 1px;
			}

			&:first-child::after {
				left: 50%;
			}

			&:last-child::after {
				right: 50%;
			}
		}

		&.ob-full-width {
			.ob-nav-step {
				flex-grow: 1;
			}
		}
	}
}
