@use "../variables";

.ob-has-overlay {
	position: relative;

	.ob-overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: variables.$ob-z-index-controls;
		padding: 15px;
		opacity: 0;
		text-align: center;
		color: variables.$ob-default;
		background-color: rgba(255, 255, 255, 0.8);
		transition: opacity variables.$ob-duration-fast ease-in;

		&.ob-overlay-fixed {
			position: fixed;
			z-index: variables.$ob-z-index-overlay;
		}

		&.ob-overlay-in {
			opacity: 1;
		}
	}
}
