@use "sass:selector";
@use "../variables";
@use "../mixins/layout";
@use "../mixins/table";
@use "../mixins/typography";

table {
	border-collapse: collapse; // Prevent double borders
}

.ob-table {
	width: 100%;
	color: variables.$ob-default;
	@include typography.ob-body2-line-height-letter-spacing();

	.mat-mdc-header-row {
		background-color: variables.$ob-secondary-50;
		border-bottom: 2px solid variables.$ob-secondary-200;
	}

	&,
	thead,
	tbody,
	th,
	td,
	tr,
	caption {
		@include table.ob-table-font-size();
	}

	&.ob-table-cicd {
		thead,
		tfoot {
			background-color: variables.$ob-gray-lighter;
		}

		th {
			font-weight: 700;
		}
	}

	td,
	th {
		border-top: 1px solid variables.$ob-gray-light;
		border-bottom: 1px solid variables.$ob-gray-light;
		padding: variables.$ob-spacing-sm;
		text-align: inherit;

		@at-root #{selector.append(".ob-table-cicd", &)} {
			border-right: 1px solid variables.$ob-gray-light;
			border-left: 1px solid variables.$ob-gray-light;
		}

		@at-root #{selector.append(".ob-table-sm", &)} {
			padding: variables.$ob-spacing-xs;
		}

		@at-root #{selector.append(".ob-table-lg", &)} {
			padding: variables.$ob-spacing-default;
		}
	}

	&:not(.ob-table-cicd) thead tr:first-child th {
		border-top: none;
	}

	&:not(.ob-table-plain) {
		.mat-mdc-header-row,
		tbody tr:nth-child(even) {
			background-color: variables.$ob-secondary-50;
		}

		&:not(.ob-table-disable-hover-style) {
			tbody tr:hover:not(.mat-mdc-header-row) {
				background-color: variables.$ob-secondary-100;
			}
		}
	}

	&.ob-table-collapse {
		@include layout.ob-media-breakpoint-down(md) {
			@include table.ob-table-collapse();
		}
	}

	&.ob-table-collapse-sm {
		@include layout.ob-media-breakpoint-down(sm) {
			@include table.ob-table-collapse();
		}
	}

	&.ob-table-collapse-md {
		@include layout.ob-media-breakpoint-down(md) {
			@include table.ob-table-collapse();
		}
	}

	&:not(.ob-table-disable-hover-style) tbody {
		tr,
		.mat-mdc-row {
			&:hover,
			&.ob-active {
				&:not(.mat-mdc-header-row) {
					background-color: variables.$ob-secondary-50;
				}
			}
		}
	}

	&:not(.ob-table-disable-checked-style) {
		tr,
		.mat-mdc-row {
			&:not(.mat-mdc-header-row).ob-table-row-checked {
				background-color: variables.$ob-secondary-100;
			}
		}
	}

	&:not(.ob-table-disable-hover-style, .ob-table-disable-checked-style) tbody {
		tr,
		.mat-mdc-row {
			&:hover,
			&.ob-active {
				&:not(.mat-mdc-header-row).ob-table-row-checked {
					background-color: variables.$ob-secondary-200;
				}
			}
		}
	}

	@include layout.ob-media-breakpoint-up(md) {
		tbody {
			tr,
			.mat-mdc-row {
				&:not(.mat-mdc-header-row) {
					.mat-column-actions .actions {
						visibility: hidden;
					}

					&:hover,
					&.ob-active,
					&.ob-table-row-checked {
						.mat-column-actions .actions {
							visibility: visible;
						}
					}
				}
			}
		}
	}
}

.ob-table-scrollable {
	overflow-x: auto;
}

caption {
	padding-top: variables.$ob-spacing-sm;
	padding-bottom: variables.$ob-spacing-sm;
	color: variables.$ob-gray-dark;
	font-weight: 700;
	text-align: left;
	caption-side: top;
}
