@import "../variables";
@import "../mixins/layout";
@import "../mixins/table";
@import "../mixins/typography";

table {
	border-collapse: collapse; // Prevent double borders
}

.ob-table {
	width: 100%;
	color: $brand-default;
	@include body2;

	&.ob-table-cicd {
		thead,
		tfoot {
			background-color: $gray-lighter;
		}

		th {
			font-weight: 700;
		}
	}

	td, th {
		border-top: 1px solid $gray-light;
		border-bottom: 1px solid $gray-light;
		padding: $spacing-sm;
		text-align: inherit;

		@at-root #{selector-append(".table-cicd", &)} {
			border-right: 1px solid $gray-light;
			border-left: 1px solid $gray-light;
		}

		@at-root #{selector-append(".table-sm", &)} {
			padding: $spacing-xs;
		}

		@at-root #{selector-append(".table-lg", &)} {
			padding: $spacing-default;
		}
	}

	&:not(.ob-table-cicd) thead tr:first-child th {
		border-top: none;
	}

	&:not(.ob-table-plain) {
		tbody tr:nth-child(odd) {
			background-color: $gray-extra-light;
		}
	}

	&.ob-table-collapse {
		@include layout-collapse-down() {
			@include table-collapse();
		}
	}

	&.ob-table-collapse-sm {
		@include media-breakpoint-down(sm) {
			@include table-collapse();
		}
	}

	&.ob-table-collapse-md {
		@include media-breakpoint-down(md) {
			@include table-collapse();
		}
	}

	&.ob-table-hover tbody tr:hover,
	tr.ob-active {
		background-color: $brand-extra-light;
	}
}

.ob-table-scrollable {
	overflow-x: auto;
}

caption {
	padding-top: $spacing-sm;
	padding-bottom: $spacing-sm;
	color: $gray-dark;
	font-weight: 700;
	text-align: left;
	caption-side: top;
}
