@use "sass:selector";
@use "../variables";
@use "../mixins/layout";
@use "../mixins/shadow";
@use "../mixins/table";
@use "../mixins/typography";

table {
	border-collapse: collapse; // Prevent double borders
}

.ob-table {
	width: 100%;
	color: variables.$ob-default;
	line-height: 1.42857;
	letter-spacing: 0.25px;

	&,
	thead,
	tbody,
	th,
	td,
	tr,
	caption {
		font-size: variables.$ob-font-size-normal;
	}

	thead tr:nth-child(odd),
	&:not(.ob-table-plain) tbody tr:nth-child(even) {
		background-color: variables.$ob-secondary-50;
	}

	&:not(.ob-table-disable-hover-style) tbody tr:hover {
		background-color: variables.$ob-secondary-100;
	}

	tr {
		border-bottom: 1px solid variables.$ob-secondary-200;
	}

	thead tr:last-child {
		border-width: 2px;
	}

	thead th {
		text-transform: uppercase;
		font-weight: normal;
	}

	td,
	th {
		padding: variables.$ob-spacing-sm;
		text-align: inherit;

		@at-root #{selector.append(".ob-table-sm", &)} {
			padding: variables.$ob-spacing-xs;
		}

		@at-root #{selector.append(".ob-table-lg", &)} {
			padding: variables.$ob-spacing-default;
		}
	}

	&.ob-table-collapse {
		@include layout.ob-media-breakpoint-down(md) {
			@include table.ob-table-collapse();
		}
	}

	&.ob-table-collapse-sm {
		@include layout.ob-media-breakpoint-down(sm) {
			@include table.ob-table-collapse();
		}
	}

	&.ob-table-collapse-md {
		@include layout.ob-media-breakpoint-down(md) {
			@include table.ob-table-collapse();
		}
	}
}

.ob-table-scrollable {
	overflow-x: auto;
}

caption {
	padding-top: variables.$ob-spacing-sm;
	padding-bottom: variables.$ob-spacing-sm;
	color: variables.$ob-gray-dark;
	font-weight: 700;
	text-align: left;
	caption-side: top;
}
