@import "../variables";
@import "../mixins/_typography";

.application {
	.tabs {
		display: flex;
		flex-wrap: wrap;
		padding: 0;
		margin: 0;
		list-style: none;

		.tab-item + .tab-item {
			margin-left: 2px;
		}

		.tab-link {
			display: block;
			padding: 14px 28px;
			border-bottom: 2px solid transparent;
			text-decoration: none;
			color: $brand-default;
			background-color: $smoke;
			@include body2;

			&:hover,
			&:focus {
				color: $brand-primary;
				background-color: $brand-extra-light;
			}

			&.active,
			&:active {
				color: $brand-primary;
				border-color: $brand-primary;
				background-color: $brand-light;
			}
		}
	}
}
