@use "sass:selector";
@use "../variables";
@use "../mixins/layout";
@use "../mixins/table";
@use "../mixins/typography";

table {
	border-collapse: collapse; // Prevent double borders
}

.ob-table {
	width: 100%;
	color: variables.$ob-default;
	@include typography.ob-body2();

	&.ob-table-cicd {
		thead,
		tfoot {
			background-color: variables.$ob-gray-lighter;
		}

		th {
			font-weight: 700;
		}
	}

	td,
	th {
		border-top: 1px solid variables.$ob-gray-light;
		border-bottom: 1px solid variables.$ob-gray-light;
		padding: variables.$ob-spacing-sm;
		text-align: inherit;

		@at-root #{selector.append(".ob-table-cicd", &)} {
			border-right: 1px solid variables.$ob-gray-light;
			border-left: 1px solid variables.$ob-gray-light;
		}

		@at-root #{selector.append(".ob-table-sm", &)} {
			padding: variables.$ob-spacing-xs;
		}

		@at-root #{selector.append(".ob-table-lg", &)} {
			padding: variables.$ob-spacing-default;
		}
	}

	&:not(.ob-table-cicd) thead tr:first-child th {
		border-top: none;
	}

	&:not(.ob-table-plain) {
		tbody tr:nth-child(odd) {
			background-color: variables.$ob-gray-extra-light;
		}
	}

	&.ob-table-collapse {
		@include layout.ob-media-breakpoint-down(md) {
			@include table.ob-table-collapse();
		}
	}

	&.ob-table-collapse-sm {
		@include layout.ob-media-breakpoint-down(sm) {
			@include table.ob-table-collapse();
		}
	}

	&.ob-table-collapse-md {
		@include layout.ob-media-breakpoint-down(md) {
			@include table.ob-table-collapse();
		}
	}

	&.ob-table-hover tbody tr:hover,
	tr.ob-active {
		background-color: variables.$ob-extra-light;
	}
}

.ob-table-scrollable {
	overflow-x: auto;
}

caption {
	padding-top: variables.$ob-spacing-sm;
	padding-bottom: variables.$ob-spacing-sm;
	color: variables.$ob-gray-dark;
	font-weight: 700;
	text-align: left;
	caption-side: top;
}
