@import "../variables";
@import "../mixins/typography";

.ob-tabs {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	list-style: none;

	.ob-tab-item + .ob-tab-item {
		margin-left: 2px;
	}

	.ob-tab-link {
		display: block;
		padding: 14px 28px;
		border-bottom: 2px solid transparent;
		text-decoration: none;
		color: $ob-default;
		background-color: $ob-smoke;
		@include ob-body2;

		&:hover,
		&:focus {
			color: $ob-primary;
			background-color: $ob-extra-light;
		}

		&.ob-active,
		&:active {
			color: $ob-primary;
			border-color: $ob-primary;
			background-color: $ob-light;
		}
	}
}
