@use "../variables";

*::-ms-clear {
	display: none;
}

.mat-mdc-form-field.mat-form-field-invalid .ob-text-control-clear {
	padding-right: variables.$ob-spacing-lg + variables.$ob-spacing-sm;
}

.ob-text-control {
	display: flex !important;

	.ob-text-control-clear {
		height: 18px; // the input height according to material design
		z-index: 3;
		background-color: transparent;
		border: none;
		padding: 0;
		opacity: 0;
	}

	&:hover .ob-text-control-clear,
	input:focus + .ob-text-control-clear,
	.ob-text-control-clear:focus {
		opacity: 1;
		transition: opacity variables.$ob-duration-fast;
	}

	input[disabled] + .ob-text-control-clear,
	input[readonly] + .ob-text-control-clear {
		display: none;
	}
}
