@import "../variables";

*::-ms-clear {
	display: none;
}

.ob-text-control {
	display: flex !important;

	.ob-text-control-clear {
		height: 18px;	// the input height according to material design
		z-index: 3;
		background-color: transparent;
		border: none;
		padding: 0;
		opacity: 0;
		transition: opacity $duration-fast;

		.mat-icon.ob-icon:not(.fa) {
			position: static;
		}

		.fa {
			color: $gray;
			transition: color $duration-fast;
		}

		&:hover .fa {
			color: $gray-darker;
		}
	}

	&:hover .ob-text-control-clear,
	input:focus + .ob-text-control-clear,
	.ob-text-control-clear:focus {
		opacity: 1;
	}

	input[disabled] + .ob-text-control-clear,
	input[readonly] + .ob-text-control-clear {
		display: none;
	}
}
