@use "../variables";
@use "../mixins/typography";

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 0.25em;
	color: variables.$ob-black;
}

h1 {
	@include typography.ob-h1();
}

h2 {
	@include typography.ob-h2();
}

h3 {
	@include typography.ob-h3();
}

h4 {
	@include typography.ob-h4();
}

h5 {
	@include typography.ob-h5();
}

h6 {
	@include typography.ob-h6();
}

// inline elements
a {
	color: variables.$ob-primary;

	&:hover,
	&:visited {
		color: variables.$ob-dark;
	}

	&:not([href], [tabindex]),
	&[tabindex="-1"] {
		color: inherit;

		&:hover {
			color: inherit;
		}

		&:focus {
			outline: 0;
		}
	}
}

abbr {
	text-decoration: underline dotted;
	border-bottom: 0; // Chrome 57-
	text-decoration-skip-ink: none;

	&[title] {
		cursor: help;
	}
}

b,
strong {
	font-weight: 700;
}

cite,
dfn,
em,
i,
q,
var {
	font-weight: normal;
	font-style: italic;
}

mark,
ins {
	padding: 0;
	text-decoration: none;
}

mark {
	background-color: variables.$ob-warning-light;
}

ins {
	background-color: variables.$ob-light;
}

pre,
code,
kbd,
samp {
	font-family: monospace;
	font-size: variables.$ob-font-size-normal;
}

code,
kbd {
	border-radius: variables.$ob-border-radius-base;
	padding: 2px 4px;
}

code,
pre {
	border: 1px solid variables.$ob-gray-light;
	background-color: variables.$ob-gray-extra-light;
	color: variables.$ob-default;
}

pre {
	overflow: auto;
	padding: variables.$ob-spacing-sm;
	border-radius: variables.$ob-border-radius-base;

	code {
		border: none;
		padding: 0;
	}
}

kbd {
	background-color: variables.$ob-default;
	color: variables.$ob-gray-extra-light;
}

small {
	font-size: variables.$ob-font-size-smaller;
}

s,
del {
	text-decoration: line-through;
}

output {
	display: inline-block;
}

u {
	text-decoration: underline;
}

// prevent `sub` and `sup` elements from affecting the line height
sub,
sup {
	font-size: variables.$ob-font-size-smaller;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

label {
	font-weight: 600;
}

// lists
ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: variables.$ob-spacing-default;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: 0;
	margin-left: 0;

	+ dt {
		margin-top: variables.$ob-spacing-sm;
	}
}

// block elements
p {
	margin-top: 0;
	margin-bottom: variables.$ob-spacing-default;
}

blockquote {
	margin: 0 0 variables.$ob-spacing-default;
	font-size: 1em;
}

address {
	margin-bottom: variables.$ob-spacing-default;
	font-style: normal;
	line-height: inherit;
}

// misc elements
[tabindex="-1"]:focus {
	outline: 0 !important;
}

[hidden] {
	display: none !important;
}

hr {
	box-sizing: content-box; // Firefox
	height: 0; // Firefox
	overflow: visible; // Edge
}

img {
	vertical-align: middle;
}

progress {
	vertical-align: baseline; // Chrome, Firefox, and Opera.
}

summary {
	display: list-item;
	cursor: pointer;
}
