@import "../variables";

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	line-height: 1.4;
	color: $black;
}

h1 {
	font-size: 2.25rem;
	font-weight: 300;
}

h2 {
	font-size: 1.875rem;
	font-weight: 300;
}

h3 {
	font-size: 1.5rem;
	font-weight: 300;
}

h4 {
	font-size: 1.25rem;
	font-weight: 300;
}

h5 {
	font-size: 1.125rem;
	font-weight: 400;
}

h6 {
	font-size: 1rem;
	font-weight: 400;
}

// inline elements
a {
	color: $brand-primary;
	text-decoration: none;

	&:hover {
		color: $brand-dark;
		text-decoration: underline;
	}

	&:not([href]):not([tabindex]),
	&[tabindex="-1"] {
		color: inherit;

		&:hover {
			color: inherit;
			text-decoration: none;
		}

		&:focus {
			outline: 0;
		}
	}
}

abbr {
	text-decoration: underline dotted;
	border-bottom: 0; // Chrome 57-
	text-decoration-skip-ink: none;

	&[title] {
		cursor: help;
	}
}

b,
strong {
	font-weight: 700;
}

cite, dfn, em, i, q, var {
	font-weight: normal;
	font-style: italic;
}

mark, ins {
	padding: 0;
	text-decoration: none;
}

mark {
	background-color: $brand-warning-light;
}

ins {
	background-color: $brand-light;
}

pre, code, kbd, samp {
	font-family: monospace;
	font-size: $font-size-base;
}

code, kbd {
	border-radius: $border-radius-base;
	padding: 2px 4px;
}

code, pre {
	border: 1px solid $gray-light;
	background-color: $gray-lighter;
	color: $brand-default;
}

pre {
	overflow: auto;

	code {
		border: none;
		padding: 0;
	}
}

kbd {
	background-color: $brand-default;
	color: $gray-lighter;
}

small {
	font-size: $font-size-sm;
}

s, del {
	text-decoration: line-through;
}

output {
	display: inline-block;
}

u {
	text-decoration: underline;
}

// prevent `sub` and `sup` elements from affecting the line height
sub,
sup {
	font-size: $font-size-sm;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -.25em;
}

sup {
	top: -.5em;
}

label {
	font-weight: 600;
}

// lists
ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: $spacing-default;
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: 700;
}

dd {
	margin-bottom: $spacing-default * 0.5;
	margin-left: 0;
}

// block elements
p {
	margin-top: 0;
	margin-bottom: $spacing-default;
}

blockquote {
	margin: 0 0 $spacing-default;
	font-size: 1em;
}

address {
	margin-bottom: $spacing-default;
	font-style: normal;
	line-height: inherit;
}

pre {
	padding: $spacing-sm;
	border-radius: $border-radius-base;
}

// misc elements
[tabindex="-1"]:focus {
	outline: 0 !important;
}

[hidden] {
	display: none !important;
}

hr {
	box-sizing: content-box; // Firefox
	height: 0; // Firefox
	overflow: visible; // IE / Edge
}

img {
	vertical-align: middle;
}

svg {
	// Workaround for the SVG overflow bug in IE10/11 is still required.
	// See https://github.com/twbs/bootstrap/issues/26878
	overflow: hidden;
	vertical-align: middle;
}

progress {
	vertical-align: baseline; // Chrome, Firefox, and Opera.
}

summary {
	display: list-item;
	cursor: pointer;
}

template {
	display: none; // IE
}
