{{#extend "base-layout"
		  appHome=app.home
		  title=app.title
		  description=app.description
		  offcanvas=app.theme.offcanvas
		  htmlAttrs=app.theme.html.attributes
		  bodyAttrs=app.theme.body.attributes
		  bodyClass=app.theme.body.class}}
	{{#content "head-meta"}}
		<base href="/">
		<title>{{title}}</title>
		{{#if description}}<meta name="description" content="{{description}}"/>{{/if}}
	{{/content}}
	{{#content "head-oblique"}}{{/content}}
	{{#content "head-resources"}}
		<link href="./assets/oblique-ui/images/favicon.png" rel="shortcut icon" />
	{{/content}}
	{{#content "body-oblique"}}{{/content}}
	{{#content "base"}}
		<noscript>
			<div class="default-layout">
				<h1>{{app.title}}</h1>
				<div class="callout callout-danger">
					<span class="sr-only">Error</span>
					<h4>Javascript required!</h4>
					<p class="lead">JavaScript must be enabled to use this app.</p>
					<p>Please enable JavaScript in your browser and refresh the page.</p>
				</div>
			</div>
		</noscript>
		<app-root></app-root>
	{{/content}}
	{{#content "body-resources"}}{{/content}}
{{/extend}}
